In [142]:
# %reset
# 'http://www.bseindia.com/download/BhavCopy/Equity/EQ230110_CSV.ZIP'
import datetime as dt
from datetime import datetime
import pandas as pd
from io import BytesIO
from zipfile import ZipFile
import os
import numpy as np
data_folder="D:/SoftwareWebApps/Python/python_wb/Stocks/Data/NSE/"
dirlist=os.listdir(data_folder) # returns list
from sqlalchemy import create_engine, MetaData # database connection
# DB = {
#     'drivername': 'mysql',
#     'servername': '192.185.128.28', #dynamic server. Will change 
#     'port': '3306',
#     'username': 'thogativ_ab',
#     'password': 'Arun!23',
#     'database': 'thogativ_sthali',
# #     'driver': 'SQL Server Native Client 11.0',
#     'trusted_connection': 'yes',  
#     'legacy_schema_aliasing': False
# }
DB = {
    'drivername': 'mysql',
    'servername': 'localhost', #dynamic server. Will change 
    'port': '3306',
    'username': 'root',
    'password': 'root',
    'database': 'stocks_nse',
#     'driver': 'SQL Server Native Client 11.0',
    'trusted_connection': 'yes',  
    'legacy_schema_aliasing': False
}

db_engine = create_engine(DB['drivername'] + '://' + DB['username'] +':'+ DB['password'] +
                       '@'+ DB['servername'] +':'+ DB['port']+ '/' + DB['database']+'?charset=utf8', encoding="utf-8")

In [153]:
# dirlist.sort()
DL=pd.DataFrame(dirlist)
# tstamp=pd.Series;
tstam=[]
i=0
for fname in dirlist:
    tstam.append(datetime.strptime(fname[2:11],'%d%b%Y'))
    
DL['tstamp']=tstam   
DL=DL.sort_values(by=['tstamp'])
dirlist=DL[0].tolist()

In [143]:
# drop_database(db_engine.url)
# if(not database_exists(db_engine.url)):
#     print('yes')

In [144]:
from sqlalchemy_utils.functions import create_database, drop_database, database_exists
if(not database_exists(db_engine.url)):
    create_database(db_engine.url)

In [137]:
from sqlalchemy import Column, DateTime, String, Integer, ForeignKey, func,UniqueConstraint
from sqlalchemy.orm import relationship, backref
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.exc import IntegrityError
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.dialects.mysql import \
        BIGINT, BINARY, BIT, BLOB, BOOLEAN, CHAR, DATE, \
        DATETIME, DECIMAL, DECIMAL, DOUBLE, ENUM, FLOAT, INTEGER, \
        LONGBLOB, LONGTEXT, MEDIUMBLOB, MEDIUMINT, MEDIUMTEXT, NCHAR, \
        NUMERIC, NVARCHAR, REAL, SET, SMALLINT, TEXT, TIME, TIMESTAMP, \
        TINYBLOB, TINYINT, TINYTEXT, VARBINARY, VARCHAR, YEAR

session = sessionmaker()
session.configure(bind=db_engine)        
p= session()
Base = declarative_base()
extend_existing=True
def stock_class(table_name):
    class Stock(Base):
        
        __tablename__ = table_name
        TIMESTAMP = Column(DATE, primary_key=True)
        OPEN	=Column(FLOAT,unique=False)
        HIGH	=Column(FLOAT,unique=False)
        LOW	=Column(FLOAT,unique=False)
        CLOSE	=Column(FLOAT,unique=False)
        LAST	=Column(FLOAT,unique=False)
        TOTTRDQTY	=Column(Integer,unique=False)
        TOTTRDVAL	=Column(FLOAT,unique=False)
        TOTALTRADES=Column(Integer,unique=False)
        extend_existing=True

    #     __table_args__ = (UniqueConstraint('ContractDescriptor', 'Trade_Date', name='ContractDescriptor_Trade_Date'),)
        def __init__(self, OPEN,HIGH,LOW,CLOSE,LAST,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES):
            """"""
            self.TIMESTAMP=TIMESTAMP
            self. OPEN= OPEN
            self. HIGH= HIGH
            self. LOW= LOW
            self. CLOSE= CLOSE
            self. LAST= LAST
            self. TOTTRDQTY= TOTTRDQTY
            self. TOTTRDVAL= TOTTRDVAL
            self.TOTALTRADES=TOTALTRADES
            extend_existing=True
    return Stock

#         self. OrderRef= OrderRef
# Base.metadata.create_all(db_engine)

In [138]:
def stock_array(table_name):
    empty_array=[]
    return empty_array

def put_entry(table_arrays,symbols, valarray):
    i=0
    default=[]
    for val in valarray:
        table_arrays.setdefault(symbols[i],default)
#         print(table_arrays[symbols[i]],end=': ')
        table_arrays[symbols[i]].append(val)
#         print(val,end=': ')
#         print(table_arrays[symbols[i]])
        i +=1
    return table_arrays
def armarray_table_fns(symbols):
    return    dict((s,stock_array(s)) for s in symbols)
def update_tables(table_arrays,symbols):
    print("{} new arrays being created...  ".format(len(symbols)))
    table_arrays.update(armarray_table_fns(symbols))
    return table_arrays

def arm_table_fns(symbols):
#     i=0
#     table_fns=[]
#     for s in symbols:
#         table_fns.append({s:stock_class(s)})
#         i +=1
    return    dict((s,stock_class(s)) for s in symbols)
def insert_entry(table_fns,symbols, valarray):
    i=0
    for val in valarray:
    #     print(array(val))
#     OPEN,HIGH,LOW,CLOSE,LASTTOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
        d = table_fns[symbols[i]](val[0],val[1],val[2],val[3],val[4],val[5],val[6],val[7],val[8])
        i += 1

        try:
            p.add(d)
            p.commit()
        except IntegrityError as e:
            p.rollback()
            print('you have already updated this entry no {}'.format(i))
def create_tables(table_fns,symbols):
    extend_existing=True
    print("{} new tables being created...  ".format(len(symbols)))
#     print(symbols)
    ntime=datetime.now()
    table_fns.update(arm_table_fns(symbols))
    Base.metadata.create_all(db_engine)
    print("It took {} time".format(datetime.now()-ntime))
#     print("Done creation!!!!")
    return table_fns
def dump_in_df(table_fns,symbols, valarray):
    i=0
    for val in valarray:
    #     print(array(val))
#     OPEN,HIGH,LOW,CLOSE,LASTTOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
        d = table_fns[symbols[i]](val[0],val[1],val[2],val[3],val[4],val[5],val[6],val[7],val[8])
        i += 1

        try:
            p.add(d)
            p.commit()
        except IntegrityError as e:
            p.rollback()
            print('you have already updated this entry no {}'.format(i))

In [139]:
k=0 #one if tests for k value be careful
started=datetime.now()
old=datetime.now()
table_fns={}
for file in dirlist:
    
#     print("File: {}".format(file))
    zip_ref = ZipFile(data_folder+file, 'r')
    # zip_ref.extractall('D:/SoftwareWebApps/Python/python_wb/Stocks/unzip')
    # zip_ref.close()
    # with zipfile.ZipFile('file.zip') as zip:
    #     with zip.open('file.csv') as myZip:
    #         df = pd.read_csv(myZip) 
#     try:        
    with zip_ref as my_zip_file:
            with my_zip_file.open(my_zip_file.namelist()[0]) as myZip:
                df=pd.read_csv(myZip)
                if 'Unnamed: 13' in df.columns:
                    df=df.drop(['Unnamed: 13'], axis=1)
                tstamp=datetime.strptime(df['TIMESTAMP'].iloc[0],'%d-%b-%Y')
                df['TIMESTAMP']=tstamp
                symbols=df.SYMBOL.values
    #             symbols=np.append(symbols,'ARUN')
#                 tables=np.asarray(list(Base.metadata.tables.keys())).astype(object)
                tables=np.asarray(list(table_fns.keys())).astype(object)
        
                tbls_not_in_db=np.setdiff1d(symbols,tables)
            
                if(k==0):
                    table_fns= update_tables(table_fns,symbols)

                if(len(tables)>0 and len(tbls_not_in_db)>0):
                    table_fns= update_tables(table_fns,tbls_not_in_db)


                df=df[df.columns[2:-1]].drop('PREVCLOSE',1)
                if len(df.columns)==8:
                    df['TOTALTRADES']=0
                values=df.values
    #             table_fns=arm_table_fns(symbols)
                table_fns=put_entry(table_fns,symbols, values)


    #                 df.to_sql('nse', db_engine, if_exists='append', index=False )
                k+=1
                print(k,end=', ')
                if (k%100==0):            
                    print("{} of {} files written to DB..".format(k,len(dirlist)))
                    nowtime=datetime.now()
                    print("last 100files took ..")
                    print(nowtime-old)
                    print("From first it took ..",end='')
                    print(nowtime-started)
                    old=nowtime
                    
#     except:
#         print("Zip file not good for file: {}".format(file))

135 new arrays being created...
1, 5 new arrays being created...
2, 8 new arrays being created...
3, 7 new arrays being created...
4, 2 new arrays being created...
5, 4 new arrays being created...
6, 6 new arrays being created...
7, 5 new arrays being created...
8, 9, 1 new arrays being created...
10, 2 new arrays being created...
11, 2 new arrays being created...
12, 2 new arrays being created...
13, 14, 15, 1 new arrays being created...
16, 2 new arrays being created...
17, 42 new arrays being created...
18, 9 new arrays being created...
19, 10 new arrays being created...
20, 8 new arrays being created...
21, 7 new arrays being created...
22, 2 new arrays being created...
23, 1 new arrays being created...
24, 3 new arrays being created...
25, 26, 2 new arrays being created...
27, 11 new arrays being created...
28, 7 new arrays being created...
29, 13 new arrays being created...
30, 4 new arrays being created...
31, 9 new arrays being created...
32, 5 new arrays being created...
33, 6 new arrays being created...
34, 1 new arrays being created...
35, 4 new arrays being created...
36, 1 new arrays being created...
37, 20 new arrays being created...
38, 14 new arrays being created...
39, 6 new arrays being created...
40, 11 new arrays being created...
41, 21 new arrays being created...
42, 11 new arrays being created...
43, 2 new arrays being created...
44, 7 new arrays being created...
45, 4 new arrays being created...
46, 6 new arrays being created...
47, 6 new arrays being created...
48, 3 new arrays being created...
49, 4 new arrays being created...
50, 3 new arrays being created...
51, 4 new arrays being created...
52, 6 new arrays being created...
53, 4 new arrays being created...
54, 4 new arrays being created...
55, 4 new arrays being created...
56, 57, 4 new arrays being created...
58, 2 new arrays being created...
59, 2 new arrays being created...
60, 3 new arrays being created...
61, 62, 1 new arrays being created...
63, 1 new arrays being created...
64, 106 new arrays being created...
65, 14 new arrays being created...
66, 7 new arrays being created...
67, 6 new arrays being created...
68, 6 new arrays being created...
69, 1 new arrays being created...
70, 1 new arrays being created...
71, 2 new arrays being created...
72, 3 new arrays being created...
73, 74, 2 new arrays being created...
75, 3 new arrays being created...
76, 5 new arrays being created...
77, 78, 2 new arrays being created...
79, 2 new arrays being created...
80, 2 new arrays being created...
81, 5 new arrays being created...
82, 2 new arrays being created...
83, 1 new arrays being created...
84, 1 new arrays being created...
85, 1 new arrays being created...
86, 1 new arrays being created...
87, 1 new arrays being created...
88, 89, 90, 91, 2 new arrays being created...
92, 93, 94, 95, 2 new arrays being created...
96, 1 new arrays being created...
97, 98, 4 new arrays being created...
99, 1 new arrays being created...
100, 100 of 5751 files written to DB..
last 100files took ..
0:00:01.251222
From first it took ..0:00:01.251222
1 new arrays being created...
101, 102, 103, 104, 105, 1 new arrays being created...
106, 1 new arrays being created...
107, 108, 1 new arrays being created...
109, 110, 111, 112, 113, 1 new arrays being created...
114, 2 new arrays being created...
115, 1 new arrays being created...
116, 117, 118, 119, 3 new arrays being created...
120, 121, 122, 120 new arrays being created...
123, 46 new arrays being created...
124, 31 new arrays being created...
125, 17 new arrays being created...
126, 17 new arrays being created...
127, 6 new arrays being created...
128, 10 new arrays being created...
129, 6 new arrays being created...
130, 3 new arrays being created...
131, 2 new arrays being created...
132, 3 new arrays being created...
133, 3 new arrays being created...
134, 3 new arrays being created...
135, 4 new arrays being created...
136, 3 new arrays being created...
137, 6 new arrays being created...
138, 3 new arrays being created...
139, 1 new arrays being created...
140, 2 new arrays being created...
141, 142, 1 new arrays being created...
143, 3 new arrays being created...
144, 1 new arrays being created...
145, 1 new arrays being created...
146, 13 new arrays being created...
147, 5 new arrays being created...
148, 149, 1 new arrays being created...
150, 3 new arrays being created...
151, 2 new arrays being created...
152, 2 new arrays being created...
153, 1 new arrays being created...
154, 1 new arrays being created...
155, 1 new arrays being created...
156, 157, 158, 1 new arrays being created...
159, 1 new arrays being created...
160, 161, 162, 163, 1 new arrays being created...
164, 1 new arrays being created...
165, 166, 1 new arrays being created...
167, 1 new arrays being created...
168, 2 new arrays being created...
169, 170, 2 new arrays being created...
171, 1 new arrays being created...
172, 1 new arrays being created...
173, 174, 175, 176, 1 new arrays being created...
177, 178, 179, 180, 181, 1 new arrays being created...
182, 183, 184, 2 new arrays being created...
185, 186, 2 new arrays being created...
187, 188, 189, 1 new arrays being created...
190, 191, 192, 1 new arrays being created...
193, 194, 37 new arrays being created...
195, 29 new arrays being created...
196, 14 new arrays being created...
197, 10 new arrays being created...
198, 9 new arrays being created...
199, 5 new arrays being created...
200, 200 of 5751 files written to DB..
last 100files took ..
0:00:02.600125
From first it took ..0:00:03.851347
7 new arrays being created...
201, 3 new arrays being created...
202, 4 new arrays being created...
203, 3 new arrays being created...
204, 1 new arrays being created...
205, 3 new arrays being created...
206, 5 new arrays being created...
207, 7 new arrays being created...
208, 2 new arrays being created...
209, 1 new arrays being created...
210, 3 new arrays being created...
211, 4 new arrays being created...
212, 3 new arrays being created...
213, 7 new arrays being created...
214, 1 new arrays being created...
215, 1 new arrays being created...
216, 2 new arrays being created...
217, 6 new arrays being created...
218, 3 new arrays being created...
219, 2 new arrays being created...
220, 1 new arrays being created...
221, 2 new arrays being created...
222, 223, 224, 4 new arrays being created...
225, 1 new arrays being created...
226, 7 new arrays being created...
227, 1 new arrays being created...
228, 2 new arrays being created...
229, 1 new arrays being created...
230, 4 new arrays being created...
231, 3 new arrays being created...
232, 2 new arrays being created...
233, 1 new arrays being created...
234, 235, 1 new arrays being created...
236, 237, 238, 239, 240, 1 new arrays being created...
241, 242, 243, 1 new arrays being created...
244, 245, 1 new arrays being created...
246, 247, 248, 249, 250, 251, 252, 253, 254, 1 new arrays being created...
255, 1 new arrays being created...
256, 4 new arrays being created...
257, 258, 1 new arrays being created...
259, 1 new arrays being created...
260, 261, 262, 263, 264, 265, 1 new arrays being created...
266, 1 new arrays being created...
267, 268, 269, 1 new arrays being created...
270, 271, 1 new arrays being created...
272, 273, 2 new arrays being created...
274, 275, 1 new arrays being created...
276, 1 new arrays being created...
277, 278, 279, 280, 3 new arrays being created...
281, 282, 283, 1 new arrays being created...
284, 285, 2 new arrays being created...
286, 287, 288, 289, 290, 2 new arrays being created...
291, 292, 293, 294, 1 new arrays being created...
295, 1 new arrays being created...
296, 1 new arrays being created...
297, 298, 299, 300, 300 of 5751 files written to DB..
last 100files took ..
0:00:03.755859
From first it took ..0:00:07.607206

301, 302, 303, 304, 305, 306, 1 new arrays being created...
307, 308, 309, 310, 311, 312, 313, 314, 3 new arrays being created...
315, 316, 317, 1 new arrays being created...
318, 319, 320, 1 new arrays being created...
321, 322, 323, 324, 325, 326, 327, 3 new arrays being created...
328, 329, 330, 331, 332, 1 new arrays being created...
333, 334, 335, 336, 337, 338, 339, 340, 341, 1 new arrays being created...
342, 343, 344, 345, 346, 1 new arrays being created...
347, 1 new arrays being created...
348, 1 new arrays being created...
349, 350, 1 new arrays being created...
351, 352, 353, 354, 355, 1 new arrays being created...
356, 1 new arrays being created...
357, 358, 359, 360, 2 new arrays being created...
361, 362, 1 new arrays being created...
363, 364, 1 new arrays being created...
365, 2 new arrays being created...
366, 367, 368, 369, 370, 2 new arrays being created...
371, 1 new arrays being created...
372, 2 new arrays being created...
373, 1 new arrays being created...
374, 375, 376, 377, 378, 379, 380, 3 new arrays being created...
381, 1 new arrays being created...
382, 383, 384, 1 new arrays being created...
385, 1 new arrays being created...
386, 387, 388, 389, 390, 3 new arrays being created...
391, 392, 393, 394, 395, 1 new arrays being created...
396, 2 new arrays being created...
397, 398, 399, 400, 400 of 5751 files written to DB..
last 100files took ..
0:00:04.316499
From first it took ..0:00:11.923705
401, 402, 403, 404, 405, 1 new arrays being created...
406, 407, 1 new arrays being created...
408, 1 new arrays being created...
409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 2 new arrays being created...
423, 424, 425, 426, 1 new arrays being created...
427, 2 new arrays being created...
428, 429, 430, 431, 432, 433, 1 new arrays being created...
434, 435, 2 new arrays being created...
436, 437, 438, 439, 440, 2 new arrays being created...
441, 442, 443, 444, 445, 2 new arrays being created...
446, 447, 448, 449, 450, 451, 452, 453, 1 new arrays being created...
454, 1 new arrays being created...
455, 456, 457, 458, 459, 31 new arrays being created...
460, 16 new arrays being created...
461, 13 new arrays being created...
462, 11 new arrays being created...
463, 7 new arrays being created...
464, 5 new arrays being created...
465, 10 new arrays being created...
466, 9 new arrays being created...
467, 8 new arrays being created...
468, 3 new arrays being created...
469, 4 new arrays being created...
470, 3 new arrays being created...
471, 472, 1 new arrays being created...
473, 3 new arrays being created...
474, 3 new arrays being created...
475, 1 new arrays being created...
476, 1 new arrays being created...
477, 3 new arrays being created...
478, 1 new arrays being created...
479, 2 new arrays being created...
480, 1 new arrays being created...
481, 482, 483, 484, 3 new arrays being created...
485, 2 new arrays being created...
486, 487, 3 new arrays being created...
488, 1 new arrays being created...
489, 490, 1 new arrays being created...
491, 1 new arrays being created...
492, 4 new arrays being created...
493, 1 new arrays being created...
494, 495, 1 new arrays being created...
496, 1 new arrays being created...
497, 498, 499, 500, 500 of 5751 files written to DB..
last 100files took ..
0:00:04.747982
From first it took ..0:00:16.671687
501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 2 new arrays being created...
511, 1 new arrays being created...
512, 513, 514, 1 new arrays being created...
515, 1 new arrays being created...
516, 517, 518, 519, 520, 1 new arrays being created...
521, 522, 1 new arrays being created...
523, 524, 1 new arrays being created...
525, 526, 1 new arrays being created...
527, 528, 529, 530, 1 new arrays being created...
531, 532, 1 new arrays being created...
533, 1 new arrays being created...
534, 535, 1 new arrays being created...
536, 1 new arrays being created...
537, 2 new arrays being created...
538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 1 new arrays being created...
548, 549, 550, 551, 1 new arrays being created...
552, 553, 1 new arrays being created...
554, 2 new arrays being created...
555, 556, 557, 1 new arrays being created...
558, 559, 1 new arrays being created...
560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 1 new arrays being created...
570, 571, 1 new arrays being created...
572, 573, 574, 575, 576, 577, 3 new arrays being created...
578, 579, 580, 581, 582, 583, 1 new arrays being created...
584, 1 new arrays being created...
585, 586, 587, 588, 1 new arrays being created...
589, 590, 3 new arrays being created...
591, 592, 593, 594, 2 new arrays being created...
595, 596, 597, 1 new arrays being created...
598, 599, 600, 600 of 5751 files written to DB..
last 100files took ..
0:00:05.443755
From first it took ..0:00:22.115442
1 new arrays being created...
601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 2 new arrays being created...
612, 613, 614, 615, 1 new arrays being created...
616, 617, 1 new arrays being created...
618, 1 new arrays being created...
619, 620, 621, 4 new arrays being created...
622, 1 new arrays being created...
623, 624, 625, 626, 1 new arrays being created...
627, 628, 629, 630, 631, 632, 1 new arrays being created...
633, 634, 635, 636, 637, 638, 639, 1 new arrays being created...
640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 1 new arrays being created...
650, 1 new arrays being created...
651, 652, 653, 1 new arrays being created...
654, 655, 656, 657, 658, 659, 660, 1 new arrays being created...
661, 1 new arrays being created...
662, 663, 664, 665, 2 new arrays being created...
666, 667, 668, 669, 670, 1 new arrays being created...
671, 672, 673, 1 new arrays being created...
674, 675, 676, 2 new arrays being created...
677, 678, 679, 680, 681, 682, 683, 684, 2 new arrays being created...
685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 700 of 5751 files written to DB..
last 100files took ..
0:00:05.919089
From first it took ..0:00:28.034531
701, 702, 703, 1 new arrays being created...
704, 705, 706, 707, 708, 709, 2 new arrays being created...
710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 1 new arrays being created...
733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 2 new arrays being created...
744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 1 new arrays being created...
755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 2 new arrays being created...
772, 773, 774, 775, 776, 2 new arrays being created...
777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 1 new arrays being created...
787, 788, 789, 790, 791, 1 new arrays being created...
792, 793, 794, 795, 1 new arrays being created...
796, 797, 798, 799, 800, 800 of 5751 files written to DB..
last 100files took ..
0:00:04.986769
From first it took ..0:00:33.021300
801, 802, 803, 804, 1 new arrays being created...
805, 806, 807, 808, 809, 1 new arrays being created...
810, 811, 812, 813, 1 new arrays being created...
814, 815, 816, 1 new arrays being created...
817, 818, 819, 820, 1 new arrays being created...
821, 822, 823, 1 new arrays being created...
824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 2 new arrays being created...
839, 1 new arrays being created...
840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 1 new arrays being created...
876, 877, 878, 879, 1 new arrays being created...
880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 900 of 5751 files written to DB..
last 100files took ..
0:00:05.131337
From first it took ..0:00:38.152637
1 new arrays being created...
901, 1 new arrays being created...

902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 5 new arrays being created...
915, 1 new arrays being created...
916, 917, 1 new arrays being created...
918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 1 new arrays being created...
939, 940, 1 new arrays being created...
941, 942, 943, 1 new arrays being created...
944, 945, 946, 947, 948, 949, 950, 1 new arrays being created...
951, 952, 953, 1 new arrays being created...
954, 955, 1 new arrays being created...
956, 957, 958, 1 new arrays being created...
959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 1 new arrays being created...
982, 983, 984, 985, 1 new arrays being created...
986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1000 of 5751 files written to DB..
last 100files took ..
0:00:04.794018
From first it took ..0:00:42.946655
1001, 2 new arrays being created...
1002, 1 new arrays being created...
1003, 1004, 1005, 1006, 1007, 1008, 1009, 1 new arrays being created...
1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1 new arrays being created...
1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1 new arrays being created...
1054, 1055, 1056, 1057, 1058, 1059, 1 new arrays being created...
1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1 new arrays being created...
1085, 1086, 1087, 1 new arrays being created...
1088, 1 new arrays being created...
1089, 1090, 1 new arrays being created...
1091, 1092, 1 new arrays being created...
1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1100 of 5751 files written to DB..
last 100files took ..
0:00:05.687530
From first it took ..0:00:48.634185
1101, 1 new arrays being created...
1102, 1103, 1104, 1105, 1106, 1107, 1108, 1 new arrays being created...
1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1 new arrays being created...
1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 2 new arrays being created...
1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1 new arrays being created...
1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1 new arrays being created...
1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 2 new arrays being created...
1187, 1188, 1189, 1190, 1191, 1 new arrays being created...
1192, 1193, 1194, 1195, 1196, 1 new arrays being created...
1197, 1198, 1199, 1200, 1200 of 5751 files written to DB..
last 100files took ..
0:00:05.181004
From first it took ..0:00:53.815189
2 new arrays being created...
1201, 1202, 1 new arrays being created...
1203, 1204, 1205, 2 new arrays being created...
1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1 new arrays being created...
1217, 1218, 1219, 1220, 1 new arrays being created...
1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1 new arrays being created...
1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 2 new arrays being created...
1249, 1250, 1251, 1252, 1253, 1 new arrays being created...
1254, 1255, 1256, 1257, 1258, 3 new arrays being created...
1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1 new arrays being created...
1269, 1270, 1 new arrays being created...
1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1 new arrays being created...
1281, 1 new arrays being created...
1282, 1283, 1284, 1285, 1286, 1 new arrays being created...
1287, 1 new arrays being created...
1288, 1289, 1 new arrays being created...
1290, 1291, 1 new arrays being created...
1292, 1293, 1294, 1295, 2 new arrays being created...
1296, 1297, 1298, 1299, 1300, 1300 of 5751 files written to DB..
last 100files took ..
0:00:05.424869
From first it took ..0:00:59.240058
2 new arrays being created...
1301, 1 new arrays being created...
1302, 1303, 1 new arrays being created...
1304, 1305, 3 new arrays being created...
1306, 1307, 1308, 1309, 1310, 1 new arrays being created...
1311, 1312, 2 new arrays being created...
1313, 1314, 1315, 1316, 1 new arrays being created...
1317, 1318, 1319, 1320, 2 new arrays being created...
1321, 1 new arrays being created...
1322, 1323, 1 new arrays being created...
1324, 1325, 1326, 1327, 1 new arrays being created...
1328, 1329, 1330, 1331, 1332, 1333, 1 new arrays being created...
1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 4 new arrays being created...
1344, 1345, 1346, 1347, 1348, 1 new arrays being created...
1349, 1350, 1351, 1352, 2 new arrays being created...
1353, 1 new arrays being created...
1354, 1355, 1 new arrays being created...
1356, 1357, 1358, 1359, 1360, 3 new arrays being created...
1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 2 new arrays being created...
1371, 1372, 1373, 1374, 1375, 1 new arrays being created...
1376, 1377, 1378, 1 new arrays being created...
1379, 1380, 1 new arrays being created...
1381, 1382, 1383, 1 new arrays being created...
1384, 1385, 1386, 1 new arrays being created...
1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 2 new arrays being created...
1396, 1 new arrays being created...
1397, 1398, 1399, 1400, 1400 of 5751 files written to DB..
last 100files took ..
0:00:05.051620
From first it took ..0:01:04.291678
1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1 new arrays being created...
1421, 1422, 1423, 1424, 1425, 2 new arrays being created...
1426, 1427, 1428, 1429, 1 new arrays being created...
1430, 1431, 1432, 1433, 1434, 2 new arrays being created...
1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1 new arrays being created...
1449, 1 new arrays being created...
1450, 1451, 1452, 1453, 1 new arrays being created...
1454, 2 new arrays being created...
1455, 1456, 1457, 1458, 2 new arrays being created...
1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1 new arrays being created...
1468, 1469, 1470, 1471, 1 new arrays being created...
1472, 1 new arrays being created...
1473, 1474, 1475, 1476, 1477, 1478, 1 new arrays being created...
1479, 1480, 1481, 1482, 1483, 1484, 1 new arrays being created...
1485, 1486, 1487, 2 new arrays being created...
1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1 new arrays being created...
1496, 1 new arrays being created...
1497, 1 new arrays being created...
1498, 1 new arrays being created...
1499, 1500, 1500 of 5751 files written to DB..
last 100files took ..
0:00:04.537134
From first it took ..0:01:08.828812
1501, 1502, 1 new arrays being created...
1503, 1504, 1505, 1506, 1507, 1508, 1509, 1 new arrays being created...
1510, 1 new arrays being created...
1511, 1512, 1 new arrays being created...
1513, 1514, 1515, 1516, 1517, 3 new arrays being created...
1518, 1519, 1 new arrays being created...
1520, 1521, 1522, 1523, 1524, 1 new arrays being created...
1525, 1526, 1527, 1528, 1529, 1530, 1531, 3 new arrays being created...
1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1 new arrays being created...
1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1 new arrays being created...
1551, 1552, 1553, 2 new arrays being created...
1554, 1555, 1 new arrays being created...
1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1 new arrays being created...
1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 2 new arrays being created...
1580, 1581, 1 new arrays being created...
1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 2 new arrays being created...

1590, 1591, 1592, 1593, 2 new arrays being created...
1594, 1595, 1596, 1597, 1 new arrays being created...
1598, 1599, 1600, 1600 of 5751 files written to DB..
last 100files took ..
0:00:04.597151
From first it took ..0:01:13.425963
1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1 new arrays being created...
1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1 new arrays being created...
1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 4 new arrays being created...
1684, 1685, 1686, 1687, 2 new arrays being created...
1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1 new arrays being created...
1698, 1699, 1700, 1700 of 5751 files written to DB..
last 100files took ..
0:00:04.636417
From first it took ..0:01:18.062380
1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1 new arrays being created...
1711, 1712, 1713, 1714, 1715, 1716, 1 new arrays being created...
1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1 new arrays being created...
1736, 1 new arrays being created...
1737, 1738, 1739, 1740, 1 new arrays being created...
1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1 new arrays being created...
1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1 new arrays being created...
1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1 new arrays being created...
1787, 1 new arrays being created...
1788, 1789, 2 new arrays being created...
1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1800 of 5751 files written to DB..
last 100files took ..
0:00:04.444942
From first it took ..0:01:22.507322
1801, 1802, 1803, 1804, 1805, 1806, 1 new arrays being created...
1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1 new arrays being created...
1821, 1822, 1 new arrays being created...
1823, 1824, 1825, 1826, 1827, 1828, 1 new arrays being created...
1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1 new arrays being created...
1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1 new arrays being created...
1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1 new arrays being created...
1870, 1871, 1872, 1873, 1874, 1 new arrays being created...
1875, 1876, 1877, 1 new arrays being created...
1878, 1879, 1880, 1881, 1882, 1883, 1 new arrays being created...
1884, 1885, 1886, 1 new arrays being created...
1887, 1888, 1889, 1890, 1 new arrays being created...
1891, 1892, 1893, 1894, 1895, 1896, 1 new arrays being created...
1897, 1898, 1899, 1900, 1900 of 5751 files written to DB..
last 100files took ..
0:00:05.015189
From first it took ..0:01:27.522511
1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1 new arrays being created...
1909, 1910, 1911, 1912, 1 new arrays being created...
1913, 1914, 1915, 1916, 1917, 1918, 1 new arrays being created...
1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1 new arrays being created...
1938, 1939, 1940, 1 new arrays being created...
1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1 new arrays being created...
1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1 new arrays being created...
1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1 new arrays being created...
1981, 1 new arrays being created...
1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1 new arrays being created...
1995, 1996, 1 new arrays being created...
1997, 1998, 1999, 2000, 2000 of 5751 files written to DB..
last 100files took ..
0:00:05.030430
From first it took ..0:01:32.552941
2001, 2002, 1 new arrays being created...
2003, 2004, 2005, 2006, 2007, 1 new arrays being created...
2008, 2009, 2010, 2 new arrays being created...
2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 1 new arrays being created...
2019, 2020, 2021, 2022, 2 new arrays being created...
2023, 2024, 2025, 1 new arrays being created...
2026, 1 new arrays being created...
2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 1 new arrays being created...
2040, 1 new arrays being created...
2041, 2042, 2043, 2044, 1 new arrays being created...
2045, 2046, 1 new arrays being created...
2047, 2048, 2049, 1 new arrays being created...
2050, 1 new arrays being created...
2051, 1 new arrays being created...
2052, 2053, 2054, 2055, 2056, 2057, 2058, 1 new arrays being created...
2059, 2060, 2061, 1 new arrays being created...
2062, 2063, 1 new arrays being created...
2064, 2065, 2066, 2067, 2068, 2069, 1 new arrays being created...
2070, 2071, 2072, 2073, 2074, 1 new arrays being created...
2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 3 new arrays being created...
2094, 2095, 2096, 2097, 2098, 2099, 2100, 2100 of 5751 files written to DB..
last 100files took ..
0:00:04.080985
From first it took ..0:01:36.633926
2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 1 new arrays being created...
2114, 2115, 1 new arrays being created...
2116, 2117, 1 new arrays being created...
2118, 2119, 2120, 1 new arrays being created...
2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 3 new arrays being created...
2131, 2132, 2133, 1 new arrays being created...
2134, 1 new arrays being created...
2135, 2 new arrays being created...
2136, 2137, 2138, 1 new arrays being created...
2139, 2140, 2141, 2142, 2143, 2144, 1 new arrays being created...
2145, 2146, 2147, 2148, 2149, 2150, 2151, 1 new arrays being created...
2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 1 new arrays being created...
2163, 2164, 2165, 2166, 2167, 1 new arrays being created...
2168, 2169, 2170, 2171, 1 new arrays being created...
2172, 2173, 2174, 2175, 2176, 1 new arrays being created...
2177, 2178, 2179, 3 new arrays being created...
2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2 new arrays being created...
2189, 2190, 2191, 2192, 2193, 2194, 1 new arrays being created...
2195, 2196, 2197, 1 new arrays being created...
2198, 2199, 2200, 2200 of 5751 files written to DB..
last 100files took ..
0:00:04.147973
From first it took ..0:01:40.781899
1 new arrays being created...
2201, 2202, 2203, 2204, 1 new arrays being created...
2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2 new arrays being created...
2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2 new arrays being created...
2235, 2236, 2237, 1 new arrays being created...
2238, 2239, 2240, 1 new arrays being created...
2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 3 new arrays being created...
2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 1 new arrays being created...
2264, 1 new arrays being created...
2265, 2266, 2267, 1 new arrays being created...
2268, 1 new arrays being created...
2269, 2 new arrays being created...
2270, 2271, 1 new arrays being created...
2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280, 1 new arrays being created...
2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 1 new arrays being created...
2289, 2290, 1 new arrays being created...
2291, 2292, 2293, 2294, 2295, 2 new arrays being created...
2296, 2297, 2298, 2299, 2300, 2300 of 5751 files written to DB..
last 100files took ..
0:00:04.530908
From first it took ..0:01:45.312807
2301, 4 new arrays being created...

2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2 new arrays being created...
2312, 2313, 2314, 2315, 1 new arrays being created...
2316, 2317, 2318, 1 new arrays being created...
2319, 2 new arrays being created...
2320, 2321, 1 new arrays being created...
2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 1 new arrays being created...
2330, 2331, 2 new arrays being created...
2332, 2333, 1 new arrays being created...
2334, 2335, 2336, 2337, 2 new arrays being created...
2338, 1 new arrays being created...
2339, 1 new arrays being created...
2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 1 new arrays being created...
2348, 2349, 2350, 2351, 2352, 2353, 2354, 2 new arrays being created...
2355, 2356, 2357, 2358, 2359, 2 new arrays being created...
2360, 2 new arrays being created...
2361, 2362, 2363, 2364, 2365, 2 new arrays being created...
2366, 2 new arrays being created...
2367, 2 new arrays being created...
2368, 2369, 2370, 2371, 1 new arrays being created...
2372, 1 new arrays being created...
2373, 1 new arrays being created...
2374, 2375, 2376, 1 new arrays being created...
2377, 2378, 2379, 2380, 2381, 2382, 1 new arrays being created...
2383, 1 new arrays being created...
2384, 2385, 1 new arrays being created...
2386, 2387, 2388, 2389, 2390, 2391, 1 new arrays being created...
2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2400 of 5751 files written to DB..
last 100files took ..
0:00:04.582845
From first it took ..0:01:49.895652
2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 1 new arrays being created...
2411, 2412, 2413, 2414, 2415, 2 new arrays being created...
2416, 1 new arrays being created...
2417, 2418, 2419, 1 new arrays being created...
2420, 2421, 2422, 2423, 2424, 1 new arrays being created...
2425, 2426, 2427, 2 new arrays being created...
2428, 1 new arrays being created...
2429, 2430, 2431, 1 new arrays being created...
2432, 2433, 2434, 1 new arrays being created...
2435, 1 new arrays being created...
2436, 2437, 2438, 3 new arrays being created...
2439, 2 new arrays being created...
2440, 2441, 2442, 1 new arrays being created...
2443, 2444, 2445, 2446, 2447, 2448, 2449, 1 new arrays being created...
2450, 2451, 2452, 2 new arrays being created...
2453, 1 new arrays being created...
2454, 2 new arrays being created...
2455, 2456, 2457, 2458, 2459, 2 new arrays being created...
2460, 2461, 3 new arrays being created...
2462, 2463, 1 new arrays being created...
2464, 1 new arrays being created...
2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 1 new arrays being created...
2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 1 new arrays being created...
2487, 2488, 1 new arrays being created...
2489, 2490, 2491, 2492, 2 new arrays being created...
2493, 2494, 2495, 1 new arrays being created...
2496, 2497, 2498, 2499, 2500, 2500 of 5751 files written to DB..
last 100files took ..
0:00:05.107456
From first it took ..0:01:55.003108
2501, 1 new arrays being created...
2502, 1 new arrays being created...
2503, 2504, 1 new arrays being created...
2505, 1 new arrays being created...
2506, 2507, 2508, 2509, 2510, 2511, 2512, 3 new arrays being created...
2513, 1 new arrays being created...
2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 1 new arrays being created...
2525, 2526, 2527, 2528, 1 new arrays being created...
2529, 2530, 2531, 2532, 2533, 2534, 2535, 2 new arrays being created...
2536, 2537, 2538, 2539, 2 new arrays being created...
2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 1 new arrays being created...
2549, 2 new arrays being created...
2550, 2551, 2 new arrays being created...
2552, 2553, 2554, 2 new arrays being created...
2555, 2556, 1 new arrays being created...
2557, 2558, 1 new arrays being created...
2559, 1 new arrays being created...
2560, 2561, 1 new arrays being created...
2562, 2563, 1 new arrays being created...
2564, 2565, 1 new arrays being created...
2566, 2567, 1 new arrays being created...
2568, 1 new arrays being created...
2569, 2570, 2571, 2572, 2573, 2574, 1 new arrays being created...
2575, 2576, 2577, 1 new arrays being created...
2578, 1 new arrays being created...
2579, 2580, 2581, 2 new arrays being created...
2582, 2583, 1 new arrays being created...
2584, 1 new arrays being created...
2585, 2586, 2587, 2588, 2589, 2 new arrays being created...
2590, 2591, 2592, 2593, 2594, 2595, 1 new arrays being created...
2596, 2597, 2598, 1 new arrays being created...
2599, 2 new arrays being created...
2600, 2600 of 5751 files written to DB..
last 100files took ..
0:00:04.914699
From first it took ..0:01:59.917807
1 new arrays being created...
2601, 2602, 2603, 1 new arrays being created...
2604, 2605, 2606, 2607, 2608, 2609, 2610, 1 new arrays being created...
2611, 2 new arrays being created...
2612, 2613, 2614, 1 new arrays being created...
2615, 1 new arrays being created...
2616, 3 new arrays being created...
2617, 1 new arrays being created...
2618, 2 new arrays being created...
2619, 3 new arrays being created...
2620, 3 new arrays being created...
2621, 1 new arrays being created...
2622, 2623, 2624, 1 new arrays being created...
2625, 1 new arrays being created...
2626, 2627, 2628, 1 new arrays being created...
2629, 1 new arrays being created...
2630, 2631, 2632, 2633, 3 new arrays being created...
2634, 1 new arrays being created...
2635, 2636, 1 new arrays being created...
2637, 2638, 2639, 2640, 2 new arrays being created...
2641, 2642, 2643, 2644, 1 new arrays being created...
2645, 2646, 2 new arrays being created...
2647, 1 new arrays being created...
2648, 1 new arrays being created...
2649, 2650, 1 new arrays being created...
2651, 2652, 2653, 2654, 2655, 2656, 2657, 1 new arrays being created...
2658, 1 new arrays being created...
2659, 4 new arrays being created...
2660, 1 new arrays being created...
2661, 2662, 2663, 2 new arrays being created...
2664, 2665, 2666, 2667, 2668, 1 new arrays being created...
2669, 1 new arrays being created...
2670, 2671, 1 new arrays being created...
2672, 2673, 2674, 2675, 2676, 1 new arrays being created...
2677, 2 new arrays being created...
2678, 2679, 2680, 2681, 2 new arrays being created...
2682, 2683, 1 new arrays being created...
2684, 2 new arrays being created...
2685, 2686, 2687, 2688, 2689, 2690, 1 new arrays being created...
2691, 2692, 2693, 1 new arrays being created...
2694, 2695, 2696, 1 new arrays being created...
2697, 2698, 2699, 2700, 2700 of 5751 files written to DB..
last 100files took ..
0:00:05.077313
From first it took ..0:02:04.995120
2 new arrays being created...
2701, 1 new arrays being created...
2702, 1 new arrays being created...
2703, 2704, 2705, 2706, 1 new arrays being created...
2707, 2708, 2709, 2710, 1 new arrays being created...
2711, 2712, 2713, 2714, 2715, 2716, 1 new arrays being created...
2717, 2718, 2 new arrays being created...
2719, 1 new arrays being created...
2720, 2721, 2722, 2723, 2724, 1 new arrays being created...
2725, 2 new arrays being created...
2726, 2727, 2728, 1 new arrays being created...
2729, 2730, 2731, 2732, 2733, 2 new arrays being created...
2734, 2 new arrays being created...
2735, 1 new arrays being created...
2736, 2737, 2738, 2739, 1 new arrays being created...
2740, 1 new arrays being created...
2741, 5 new arrays being created...
2742, 2743, 2744, 1 new arrays being created...
2745, 1 new arrays being created...
2746, 2 new arrays being created...
2747, 2748, 2749, 2750, 1 new arrays being created...
2751, 1 new arrays being created...
2752, 2753, 2754, 2755, 2 new arrays being created...
2756, 1 new arrays being created...
2757, 1 new arrays being created...
2758, 2759, 2760, 2 new arrays being created...
2761, 1 new arrays being created...
2762, 2763, 2764, 2765, 2766, 2767, 2768, 2769, 2770, 1 new arrays being created...
2771, 2772, 2773, 2774, 1 new arrays being created...

2775, 2776, 1 new arrays being created...
2777, 2778, 2779, 1 new arrays being created...
2780, 2781, 2782, 1 new arrays being created...
2783, 1 new arrays being created...
2784, 2785, 2786, 2 new arrays being created...
2787, 1 new arrays being created...
2788, 1 new arrays being created...
2789, 2 new arrays being created...
2790, 1 new arrays being created...
2791, 2792, 2 new arrays being created...
2793, 2 new arrays being created...
2794, 2795, 1 new arrays being created...
2796, 2797, 1 new arrays being created...
2798, 2799, 2 new arrays being created...
2800, 2800 of 5751 files written to DB..
last 100files took ..
0:00:05.463588
From first it took ..0:02:10.458708
2801, 1 new arrays being created...
2802, 2 new arrays being created...
2803, 3 new arrays being created...
2804, 2805, 1 new arrays being created...
2806, 2807, 2 new arrays being created...
2808, 2809, 1 new arrays being created...
2810, 1 new arrays being created...
2811, 1 new arrays being created...
2812, 2813, 2814, 3 new arrays being created...
2815, 8 new arrays being created...
2816, 2 new arrays being created...
2817, 2 new arrays being created...
2818, 2 new arrays being created...
2819, 2820, 2 new arrays being created...
2821, 2822, 2 new arrays being created...
2823, 2824, 1 new arrays being created...
2825, 2826, 1 new arrays being created...
2827, 1 new arrays being created...
2828, 1 new arrays being created...
2829, 2830, 2 new arrays being created...
2831, 2832, 2833, 2834, 2835, 2 new arrays being created...
2836, 1 new arrays being created...
2837, 3 new arrays being created...
2838, 2839, 1 new arrays being created...
2840, 2841, 2842, 1 new arrays being created...
2843, 2844, 2 new arrays being created...
2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 1 new arrays being created...
2855, 2856, 1 new arrays being created...
2857, 2858, 2859, 2860, 1 new arrays being created...
2861, 2 new arrays being created...
2862, 2863, 2864, 2865, 2866, 2 new arrays being created...
2867, 1 new arrays being created...
2868, 2869, 1 new arrays being created...
2870, 2871, 1 new arrays being created...
2872, 2873, 2874, 1 new arrays being created...
2875, 2876, 2877, 1 new arrays being created...
2878, 2879, 2880, 1 new arrays being created...
2881, 2882, 2883, 2884, 2885, 1 new arrays being created...
2886, 2887, 1 new arrays being created...
2888, 2889, 2890, 2891, 1 new arrays being created...
2892, 2893, 2894, 1 new arrays being created...
2895, 2896, 2897, 1 new arrays being created...
2898, 2899, 1 new arrays being created...
2900, 2900 of 5751 files written to DB..
last 100files took ..
0:00:06.039082
From first it took ..0:02:16.497790
2901, 2902, 2903, 2904, 2905, 2906, 2907, 2 new arrays being created...
2908, 1 new arrays being created...
2909, 1 new arrays being created...
2910, 2911, 2912, 2913, 1 new arrays being created...
2914, 2915, 2916, 2917, 3 new arrays being created...
2918, 2919, 1 new arrays being created...
2920, 2921, 2922, 2923, 2 new arrays being created...
2924, 2 new arrays being created...
2925, 2926, 1 new arrays being created...
2927, 2928, 2929, 2930, 4 new arrays being created...
2931, 2932, 2933, 1 new arrays being created...
2934, 5 new arrays being created...
2935, 4 new arrays being created...
2936, 1 new arrays being created...
2937, 2 new arrays being created...
2938, 1 new arrays being created...
2939, 1 new arrays being created...
2940, 2 new arrays being created...
2941, 3 new arrays being created...
2942, 2943, 2 new arrays being created...
2944, 1 new arrays being created...
2945, 1 new arrays being created...
2946, 2947, 2948, 2949, 2950, 1 new arrays being created...
2951, 1 new arrays being created...
2952, 1 new arrays being created...
2953, 2954, 2955, 2 new arrays being created...
2956, 1 new arrays being created...
2957, 2958, 2 new arrays being created...
2959, 2960, 2961, 1 new arrays being created...
2962, 2963, 2964, 1 new arrays being created...
2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 5 new arrays being created...
2973, 2974, 2975, 2976, 3 new arrays being created...
2977, 2 new arrays being created...
2978, 2979, 1 new arrays being created...
2980, 2981, 2982, 3 new arrays being created...
2983, 1 new arrays being created...
2984, 2985, 2986, 1 new arrays being created...
2987, 2988, 2989, 1 new arrays being created...
2990, 2991, 2 new arrays being created...
2992, 2993, 8 new arrays being created...
2994, 1 new arrays being created...
2995, 2 new arrays being created...
2996, 3 new arrays being created...
2997, 3 new arrays being created...
2998, 5 new arrays being created...
2999, 2 new arrays being created...
3000, 3000 of 5751 files written to DB..
last 100files took ..
0:00:06.461253
From first it took ..0:02:22.959043
2 new arrays being created...
3001, 3 new arrays being created...
3002, 2 new arrays being created...
3003, 3 new arrays being created...
3004, 3005, 1 new arrays being created...
3006, 4 new arrays being created...
3007, 3008, 3009, 3010, 2 new arrays being created...
3011, 3012, 1 new arrays being created...
3013, 1 new arrays being created...
3014, 1 new arrays being created...
3015, 1 new arrays being created...
3016, 1 new arrays being created...
3017, 3018, 6 new arrays being created...
3019, 2 new arrays being created...
3020, 3021, 3 new arrays being created...
3022, 1 new arrays being created...
3023, 2 new arrays being created...
3024, 2 new arrays being created...
3025, 1 new arrays being created...
3026, 1 new arrays being created...
3027, 2 new arrays being created...
3028, 1 new arrays being created...
3029, 3 new arrays being created...
3030, 2 new arrays being created...
3031, 1 new arrays being created...
3032, 3033, 3034, 2 new arrays being created...
3035, 1 new arrays being created...
3036, 2 new arrays being created...
3037, 3038, 2 new arrays being created...
3039, 1 new arrays being created...
3040, 2 new arrays being created...
3041, 3042, 3043, 4 new arrays being created...
3044, 2 new arrays being created...
3045, 4 new arrays being created...
3046, 3047, 3048, 1 new arrays being created...
3049, 3050, 3 new arrays being created...
3051, 4 new arrays being created...
3052, 1 new arrays being created...
3053, 1 new arrays being created...
3054, 3055, 3 new arrays being created...
3056, 3057, 3058, 3059, 3060, 4 new arrays being created...
3061, 2 new arrays being created...
3062, 3063, 1 new arrays being created...
3064, 3065, 1 new arrays being created...
3066, 2 new arrays being created...
3067, 2 new arrays being created...
3068, 1 new arrays being created...
3069, 3070, 2 new arrays being created...
3071, 1 new arrays being created...
3072, 1 new arrays being created...
3073, 3074, 1 new arrays being created...
3075, 2 new arrays being created...
3076, 1 new arrays being created...
3077, 3078, 3079, 1 new arrays being created...
3080, 3 new arrays being created...
3081, 3082, 3083, 2 new arrays being created...
3084, 1 new arrays being created...
3085, 3086, 1 new arrays being created...
3087, 3088, 1 new arrays being created...
3089, 3090, 2 new arrays being created...
3091, 3092, 3093, 2 new arrays being created...
3094, 3095, 1 new arrays being created...
3096, 1 new arrays being created...
3097, 1 new arrays being created...
3098, 3099, 3 new arrays being created...
3100, 3100 of 5751 files written to DB..
last 100files took ..
0:00:07.018915
From first it took ..0:02:29.977958
1 new arrays being created...
3101, 1 new arrays being created...
3102, 1 new arrays being created...
3103, 2 new arrays being created...
3104, 1 new arrays being created...
3105, 3106, 1 new arrays being created...
3107, 3108, 3109, 1 new arrays being created...
3110, 1 new arrays being created...
3111, 3112, 2 new arrays being created...
3113, 4 new arrays being created...
3114, 3115, 1 new arrays being created...

3116, 3117, 1 new arrays being created...
3118, 3119, 1 new arrays being created...
3120, 1 new arrays being created...
3121, 3122, 3123, 3124, 1 new arrays being created...
3125, 1 new arrays being created...
3126, 1 new arrays being created...
3127, 2 new arrays being created...
3128, 3129, 3130, 3131, 3132, 3133, 1 new arrays being created...
3134, 1 new arrays being created...
3135, 3 new arrays being created...
3136, 3137, 1 new arrays being created...
3138, 2 new arrays being created...
3139, 1 new arrays being created...
3140, 3141, 3142, 3143, 1 new arrays being created...
3144, 2 new arrays being created...
3145, 1 new arrays being created...
3146, 1 new arrays being created...
3147, 3 new arrays being created...
3148, 3149, 2 new arrays being created...
3150, 1 new arrays being created...
3151, 1 new arrays being created...
3152, 3153, 1 new arrays being created...
3154, 2 new arrays being created...
3155, 2 new arrays being created...
3156, 3157, 4 new arrays being created...
3158, 3159, 2 new arrays being created...
3160, 3161, 3 new arrays being created...
3162, 3 new arrays being created...
3163, 1 new arrays being created...
3164, 2 new arrays being created...
3165, 3166, 3167, 3168, 3169, 3170, 3171, 3172, 1 new arrays being created...
3173, 3174, 3175, 1 new arrays being created...
3176, 3177, 1 new arrays being created...
3178, 3179, 1 new arrays being created...
3180, 3181, 2 new arrays being created...
3182, 3183, 3184, 3185, 3186, 3187, 3188, 1 new arrays being created...
3189, 2 new arrays being created...
3190, 3191, 3192, 3193, 3194, 1 new arrays being created...
3195, 1 new arrays being created...
3196, 3197, 1 new arrays being created...
3198, 1 new arrays being created...
3199, 3200, 3200 of 5751 files written to DB..
last 100files took ..
0:00:08.135812
From first it took ..0:02:38.113770
3 new arrays being created...
3201, 3202, 3203, 1 new arrays being created...
3204, 3205, 3206, 3207, 3208, 2 new arrays being created...
3209, 4 new arrays being created...
3210, 1 new arrays being created...
3211, 3212, 3213, 1 new arrays being created...
3214, 3215, 3216, 3217, 3218, 3219, 2 new arrays being created...
3220, 1 new arrays being created...
3221, 3222, 2 new arrays being created...
3223, 1 new arrays being created...
3224, 2 new arrays being created...
3225, 3 new arrays being created...
3226, 1 new arrays being created...
3227, 3228, 1 new arrays being created...
3229, 1 new arrays being created...
3230, 2 new arrays being created...
3231, 3232, 3233, 3234, 3235, 3236, 3237, 2 new arrays being created...
3238, 1 new arrays being created...
3239, 1 new arrays being created...
3240, 2 new arrays being created...
3241, 3242, 1 new arrays being created...
3243, 3 new arrays being created...
3244, 3245, 3246, 3247, 1 new arrays being created...
3248, 2 new arrays being created...
3249, 1 new arrays being created...
3250, 3251, 2 new arrays being created...
3252, 3253, 3254, 1 new arrays being created...
3255, 3256, 3257, 4 new arrays being created...
3258, 1 new arrays being created...
3259, 3260, 3261, 1 new arrays being created...
3262, 3263, 3264, 3265, 3266, 3267, 3268, 3269, 2 new arrays being created...
3270, 3271, 3272, 2 new arrays being created...
3273, 3274, 3275, 3276, 1 new arrays being created...
3277, 3278, 1 new arrays being created...
3279, 1 new arrays being created...
3280, 1 new arrays being created...
3281, 3282, 1 new arrays being created...
3283, 2 new arrays being created...
3284, 3 new arrays being created...
3285, 4 new arrays being created...
3286, 3287, 2 new arrays being created...
3288, 6 new arrays being created...
3289, 3290, 3291, 3 new arrays being created...
3292, 1 new arrays being created...
3293, 3 new arrays being created...
3294, 3295, 3296, 1 new arrays being created...
3297, 3298, 1 new arrays being created...
3299, 1 new arrays being created...
3300, 3300 of 5751 files written to DB..
last 100files took ..
0:00:08.120984
From first it took ..0:02:46.234754
1 new arrays being created...
3301, 2 new arrays being created...
3302, 3303, 1 new arrays being created...
3304, 3305, 1 new arrays being created...
3306, 3307, 3308, 3309, 2 new arrays being created...
3310, 1 new arrays being created...
3311, 3312, 1 new arrays being created...
3313, 1 new arrays being created...
3314, 3315, 1 new arrays being created...
3316, 3 new arrays being created...
3317, 3318, 3319, 3320, 3321, 3322, 3323, 3 new arrays being created...
3324, 1 new arrays being created...
3325, 3326, 1 new arrays being created...
3327, 1 new arrays being created...
3328, 3329, 3330, 3331, 3332, 3333, 3334, 3335, 3336, 1 new arrays being created...
3337, 3338, 3339, 1 new arrays being created...
3340, 1 new arrays being created...
3341, 3342, 3 new arrays being created...
3343, 1 new arrays being created...
3344, 3345, 2 new arrays being created...
3346, 2 new arrays being created...
3347, 3348, 1 new arrays being created...
3349, 3350, 3351, 3352, 1 new arrays being created...
3353, 3354, 3355, 1 new arrays being created...
3356, 1 new arrays being created...
3357, 3358, 3359, 3360, 2 new arrays being created...
3361, 3362, 1 new arrays being created...
3363, 2 new arrays being created...
3364, 1 new arrays being created...
3365, 1 new arrays being created...
3366, 3367, 1 new arrays being created...
3368, 1 new arrays being created...
3369, 3 new arrays being created...
3370, 1 new arrays being created...
3371, 1 new arrays being created...
3372, 3373, 1 new arrays being created...
3374, 1 new arrays being created...
3375, 1 new arrays being created...
3376, 3377, 3378, 1 new arrays being created...
3379, 2 new arrays being created...
3380, 3381, 3382, 3383, 1 new arrays being created...
3384, 1 new arrays being created...
3385, 3386, 1 new arrays being created...
3387, 3388, 3389, 3 new arrays being created...
3390, 3391, 1 new arrays being created...
3392, 3393, 2 new arrays being created...
3394, 3395, 3396, 3397, 3398, 1 new arrays being created...
3399, 1 new arrays being created...
3400, 3400 of 5751 files written to DB..
last 100files took ..
0:00:08.659382
From first it took ..0:02:54.894136
1 new arrays being created...
3401, 3402, 3403, 3404, 1 new arrays being created...
3405, 3406, 1 new arrays being created...
3407, 3408, 3409, 3410, 1 new arrays being created...
3411, 3412, 3413, 1 new arrays being created...
3414, 1 new arrays being created...
3415, 1 new arrays being created...
3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 1 new arrays being created...
3426, 3427, 3428, 3429, 3430, 3431, 3432, 1 new arrays being created...
3433, 3434, 1 new arrays being created...
3435, 3436, 3 new arrays being created...
3437, 3438, 2 new arrays being created...
3439, 3440, 1 new arrays being created...
3441, 3442, 3443, 3444, 3445, 3446, 1 new arrays being created...
3447, 3448, 1 new arrays being created...
3449, 3450, 3451, 3452, 3453, 3454, 3455, 3456, 1 new arrays being created...
3457, 1 new arrays being created...
3458, 3459, 3460, 3461, 3462, 3463, 3464, 3465, 3466, 1 new arrays being created...
3467, 3468, 3469, 1 new arrays being created...
3470, 1 new arrays being created...
3471, 3472, 3473, 3474, 3475, 3476, 3477, 3478, 3479, 1 new arrays being created...
3480, 3481, 3482, 3483, 3484, 3485, 3486, 2 new arrays being created...
3487, 3488, 3489, 3490, 3491, 3492, 3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3500 of 5751 files written to DB..
last 100files took ..
0:00:08.549168
From first it took ..0:03:03.443304
3501, 3502, 3503, 3504, 3505, 3506, 3507, 1 new arrays being created...
3508, 1 new arrays being created...
3509, 3510, 3511, 3512, 1 new arrays being created...
3513, 3514, 3515, 3516, 3517, 3518, 3519, 3520, 3521, 3522, 1 new arrays being created...
3523, 3524, 3525, 1 new arrays being created...
3526, 1 new arrays being created...

3527, 3528, 3529, 3530, 3531, 1 new arrays being created...
3532, 3533, 3534, 3535, 3536, 2 new arrays being created...
3537, 3538, 3539, 3540, 1 new arrays being created...
3541, 3542, 3543, 1 new arrays being created...
3544, 3545, 3546, 3547, 3548, 1 new arrays being created...
3549, 3550, 3551, 1 new arrays being created...
3552, 3553, 1 new arrays being created...
3554, 3555, 3556, 1 new arrays being created...
3557, 1 new arrays being created...
3558, 3559, 3560, 1 new arrays being created...
3561, 3562, 3563, 3564, 3565, 2 new arrays being created...
3566, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 2 new arrays being created...
3574, 3575, 3576, 1 new arrays being created...
3577, 3578, 3579, 3580, 3581, 3582, 3583, 3584, 1 new arrays being created...
3585, 1 new arrays being created...
3586, 3587, 3588, 3589, 3590, 1 new arrays being created...
3591, 3592, 3593, 3594, 3595, 3596, 3597, 3 new arrays being created...
3598, 3599, 3600, 3600 of 5751 files written to DB..
last 100files took ..
0:00:08.871857
From first it took ..0:03:12.315161
1 new arrays being created...
3601, 3602, 1 new arrays being created...
3603, 3604, 3605, 3606, 3607, 1 new arrays being created...
3608, 3609, 3610, 3611, 3612, 3613, 3614, 3615, 3616, 3617, 3618, 1 new arrays being created...
3619, 1 new arrays being created...
3620, 3621, 1 new arrays being created...
3622, 3623, 1 new arrays being created...
3624, 3625, 3626, 3627, 2 new arrays being created...
3628, 1 new arrays being created...
3629, 3630, 3631, 1 new arrays being created...
3632, 3633, 3634, 3635, 3636, 3637, 3638, 1 new arrays being created...
3639, 3640, 3641, 3642, 3643, 3644, 1 new arrays being created...
3645, 3646, 1 new arrays being created...
3647, 3648, 3649, 3650, 3651, 3652, 1 new arrays being created...
3653, 3654, 3655, 3656, 1 new arrays being created...
3657, 3658, 1 new arrays being created...
3659, 3660, 1 new arrays being created...
3661, 3662, 3663, 3664, 3665, 3666, 1 new arrays being created...
3667, 1 new arrays being created...
3668, 1 new arrays being created...
3669, 3670, 3671, 1 new arrays being created...
3672, 3673, 3674, 3675, 3676, 3677, 1 new arrays being created...
3678, 1 new arrays being created...
3679, 3680, 2 new arrays being created...
3681, 1 new arrays being created...
3682, 3683, 3684, 3685, 2 new arrays being created...
3686, 3687, 3688, 3689, 1 new arrays being created...
3690, 3691, 3692, 9 new arrays being created...
3693, 3694, 3695, 3696, 3697, 3698, 3 new arrays being created...
3699, 3700, 3700 of 5751 files written to DB..
last 100files took ..
0:00:09.149611
From first it took ..0:03:21.464772
3701, 3702, 3703, 3704, 3705, 1 new arrays being created...
3706, 1 new arrays being created...
3707, 3708, 3709, 3710, 1 new arrays being created...
3711, 1 new arrays being created...
3712, 4 new arrays being created...
3713, 1 new arrays being created...
3714, 3715, 3716, 3717, 3718, 1 new arrays being created...
3719, 4 new arrays being created...
3720, 3721, 3722, 1 new arrays being created...
3723, 2 new arrays being created...
3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 1 new arrays being created...
3732, 1 new arrays being created...
3733, 1 new arrays being created...
3734, 1 new arrays being created...
3735, 19 new arrays being created...
3736, 4 new arrays being created...
3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 3752, 1 new arrays being created...
3753, 3754, 3755, 3756, 2 new arrays being created...
3757, 3758, 1 new arrays being created...
3759, 2 new arrays being created...
3760, 3761, 3762, 3763, 1 new arrays being created...
3764, 3765, 1 new arrays being created...
3766, 2 new arrays being created...
3767, 1 new arrays being created...
3768, 5 new arrays being created...
3769, 4 new arrays being created...
3770, 3771, 1 new arrays being created...
3772, 3773, 4 new arrays being created...
3774, 2 new arrays being created...
3775, 1 new arrays being created...
3776, 3777, 2 new arrays being created...
3778, 3779, 3780, 2 new arrays being created...
3781, 3782, 1 new arrays being created...
3783, 3784, 3785, 3786, 3787, 2 new arrays being created...
3788, 3789, 3790, 1 new arrays being created...
3791, 1 new arrays being created...
3792, 1 new arrays being created...
3793, 3794, 1 new arrays being created...
3795, 1 new arrays being created...
3796, 1 new arrays being created...
3797, 3798, 2 new arrays being created...
3799, 3800, 3800 of 5751 files written to DB..
last 100files took ..
0:00:08.966913
From first it took ..0:03:30.431685
1 new arrays being created...
3801, 3802, 3803, 3804, 3805, 3806, 3807, 3808, 3809, 3810, 3811, 3812, 3813, 3814, 1 new arrays being created...
3815, 3816, 3817, 1 new arrays being created...
3818, 2 new arrays being created...
3819, 1 new arrays being created...
3820, 1 new arrays being created...
3821, 2 new arrays being created...
3822, 1 new arrays being created...
3823, 1 new arrays being created...
3824, 3825, 3826, 1 new arrays being created...
3827, 1 new arrays being created...
3828, 3829, 3830, 3831, 3 new arrays being created...
3832, 3833, 3834, 3835, 1 new arrays being created...
3836, 3837, 1 new arrays being created...
3838, 1 new arrays being created...
3839, 3840, 2 new arrays being created...
3841, 1 new arrays being created...
3842, 3843, 3844, 3845, 1 new arrays being created...
3846, 3847, 1 new arrays being created...
3848, 3849, 3850, 2 new arrays being created...
3851, 9 new arrays being created...
3852, 1 new arrays being created...
3853, 1 new arrays being created...
3854, 3855, 3856, 3857, 3858, 3859, 1 new arrays being created...
3860, 3861, 2 new arrays being created...
3862, 3863, 2 new arrays being created...
3864, 3865, 3866, 3 new arrays being created...
3867, 3868, 1 new arrays being created...
3869, 4 new arrays being created...
3870, 1 new arrays being created...
3871, 2 new arrays being created...
3872, 3873, 2 new arrays being created...
3874, 3875, 3876, 3877, 1 new arrays being created...
3878, 3879, 8 new arrays being created...
3880, 3881, 2 new arrays being created...
3882, 3883, 1 new arrays being created...
3884, 1 new arrays being created...
3885, 2 new arrays being created...
3886, 1 new arrays being created...
3887, 2 new arrays being created...
3888, 2 new arrays being created...
3889, 3890, 1 new arrays being created...
3891, 1 new arrays being created...
3892, 3893, 3894, 3895, 3896, 1 new arrays being created...
3897, 3898, 3899, 3900, 3900 of 5751 files written to DB..
last 100files took ..
0:00:10.027166
From first it took ..0:03:40.458851
1 new arrays being created...
3901, 1 new arrays being created...
3902, 3903, 1 new arrays being created...
3904, 1 new arrays being created...
3905, 3906, 3907, 1 new arrays being created...
3908, 3909, 3910, 3911, 3912, 3913, 3914, 6 new arrays being created...
3915, 1 new arrays being created...
3916, 4 new arrays being created...
3917, 2 new arrays being created...
3918, 2 new arrays being created...
3919, 2 new arrays being created...
3920, 3921, 3 new arrays being created...
3922, 1 new arrays being created...
3923, 2 new arrays being created...
3924, 2 new arrays being created...
3925, 2 new arrays being created...
3926, 3927, 2 new arrays being created...
3928, 3929, 1 new arrays being created...
3930, 3931, 3932, 3933, 3934, 3 new arrays being created...
3935, 3936, 2 new arrays being created...
3937, 3938, 3939, 1 new arrays being created...
3940, 1 new arrays being created...
3941, 3942, 2 new arrays being created...
3943, 3944, 1 new arrays being created...
3945, 3946, 3947, 1 new arrays being created...
3948, 2 new arrays being created...
3949, 3950, 1 new arrays being created...
3951, 3952, 1 new arrays being created...
3953, 3954, 3 new arrays being created...
3955, 3956, 3957, 3958, 3959, 1 new arrays being created...

3960, 3961, 1 new arrays being created...
3962, 3963, 3964, 1 new arrays being created...
3965, 4 new arrays being created...
3966, 2 new arrays being created...
3967, 1 new arrays being created...
3968, 2 new arrays being created...
3969, 3970, 1 new arrays being created...
3971, 1 new arrays being created...
3972, 1 new arrays being created...
3973, 1 new arrays being created...
3974, 1 new arrays being created...
3975, 1 new arrays being created...
3976, 3977, 2 new arrays being created...
3978, 1 new arrays being created...
3979, 1 new arrays being created...
3980, 3981, 2 new arrays being created...
3982, 3983, 3984, 1 new arrays being created...
3985, 3986, 3987, 1 new arrays being created...
3988, 3989, 2 new arrays being created...
3990, 1 new arrays being created...
3991, 3992, 1 new arrays being created...
3993, 1 new arrays being created...
3994, 3995, 3996, 1 new arrays being created...
3997, 2 new arrays being created...
3998, 3999, 4000, 4000 of 5751 files written to DB..
last 100files took ..
0:00:10.366556
From first it took ..0:03:50.825407
4001, 4 new arrays being created...
4002, 1 new arrays being created...
4003, 4004, 1 new arrays being created...
4005, 1 new arrays being created...
4006, 1 new arrays being created...
4007, 4008, 1 new arrays being created...
4009, 1 new arrays being created...
4010, 4011, 2 new arrays being created...
4012, 4013, 1 new arrays being created...
4014, 4015, 4016, 1 new arrays being created...
4017, 1 new arrays being created...
4018, 4019, 1 new arrays being created...
4020, 4021, 2 new arrays being created...
4022, 4023, 1 new arrays being created...
4024, 1 new arrays being created...
4025, 2 new arrays being created...
4026, 1 new arrays being created...
4027, 1 new arrays being created...
4028, 4029, 1 new arrays being created...
4030, 4031, 4032, 4033, 1 new arrays being created...
4034, 4035, 1 new arrays being created...
4036, 1 new arrays being created...
4037, 3 new arrays being created...
4038, 1 new arrays being created...
4039, 4040, 1 new arrays being created...
4041, 4042, 4043, 1 new arrays being created...
4044, 1 new arrays being created...
4045, 4046, 4047, 4 new arrays being created...
4048, 4049, 1 new arrays being created...
4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 1 new arrays being created...
4059, 4060, 4061, 1 new arrays being created...
4062, 1 new arrays being created...
4063, 1 new arrays being created...
4064, 4065, 1 new arrays being created...
4066, 1 new arrays being created...
4067, 4068, 4069, 1 new arrays being created...
4070, 4071, 4072, 3 new arrays being created...
4073, 4074, 4075, 4076, 1 new arrays being created...
4077, 4078, 1 new arrays being created...
4079, 4080, 4081, 4082, 4083, 1 new arrays being created...
4084, 4085, 4086, 4087, 4088, 1 new arrays being created...
4089, 4 new arrays being created...
4090, 5 new arrays being created...
4091, 4 new arrays being created...
4092, 3 new arrays being created...
4093, 4094, 1 new arrays being created...
4095, 4096, 4097, 4098, 2 new arrays being created...
4099, 3 new arrays being created...
4100, 4100 of 5751 files written to DB..
last 100files took ..
0:00:10.502901
From first it took ..0:04:01.328308
1 new arrays being created...
4101, 4102, 1 new arrays being created...
4103, 4104, 1 new arrays being created...
4105, 4106, 4107, 4108, 4109, 4110, 2 new arrays being created...
4111, 1 new arrays being created...
4112, 4113, 1 new arrays being created...
4114, 1 new arrays being created...
4115, 1 new arrays being created...
4116, 1 new arrays being created...
4117, 3 new arrays being created...
4118, 1 new arrays being created...
4119, 4120, 4121, 1 new arrays being created...
4122, 1 new arrays being created...
4123, 1 new arrays being created...
4124, 4125, 1 new arrays being created...
4126, 4127, 1 new arrays being created...
4128, 4129, 1 new arrays being created...
4130, 1 new arrays being created...
4131, 1 new arrays being created...
4132, 2 new arrays being created...
4133, 4134, 2 new arrays being created...
4135, 4136, 2 new arrays being created...
4137, 1 new arrays being created...
4138, 1 new arrays being created...
4139, 2 new arrays being created...
4140, 4141, 4142, 1 new arrays being created...
4143, 1 new arrays being created...
4144, 1 new arrays being created...
4145, 4 new arrays being created...
4146, 4147, 4148, 4149, 4150, 4151, 1 new arrays being created...
4152, 4153, 1 new arrays being created...
4154, 1 new arrays being created...
4155, 4156, 4157, 1 new arrays being created...
4158, 4159, 4160, 2 new arrays being created...
4161, 1 new arrays being created...
4162, 1 new arrays being created...
4163, 1 new arrays being created...
4164, 4165, 4166, 4167, 4168, 1 new arrays being created...
4169, 1 new arrays being created...
4170, 1 new arrays being created...
4171, 3 new arrays being created...
4172, 4173, 2 new arrays being created...
4174, 1 new arrays being created...
4175, 4176, 1 new arrays being created...
4177, 6 new arrays being created...
4178, 4179, 1 new arrays being created...
4180, 4181, 4182, 1 new arrays being created...
4183, 4184, 4185, 1 new arrays being created...
4186, 4187, 4188, 4189, 2 new arrays being created...
4190, 1 new arrays being created...
4191, 1 new arrays being created...
4192, 4193, 4194, 1 new arrays being created...
4195, 4196, 4197, 4198, 4199, 1 new arrays being created...
4200, 4200 of 5751 files written to DB..
last 100files took ..
0:00:11.696251
From first it took ..0:04:13.024559
2 new arrays being created...
4201, 1 new arrays being created...
4202, 4203, 4204, 3 new arrays being created...
4205, 1 new arrays being created...
4206, 4207, 2 new arrays being created...
4208, 4209, 2 new arrays being created...
4210, 4211, 4212, 1 new arrays being created...
4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 3 new arrays being created...
4222, 1 new arrays being created...
4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 1 new arrays being created...
4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 1 new arrays being created...
4243, 4244, 4245, 4246, 4247, 4248, 4249, 1 new arrays being created...
4250, 4251, 4252, 4253, 1 new arrays being created...
4254, 4255, 4256, 4257, 2 new arrays being created...
4258, 4259, 4260, 1 new arrays being created...
4261, 4262, 4263, 2 new arrays being created...
4264, 4265, 3 new arrays being created...
4266, 4267, 4268, 1 new arrays being created...
4269, 4270, 1 new arrays being created...
4271, 3 new arrays being created...
4272, 4273, 4274, 4275, 4276, 1 new arrays being created...
4277, 3 new arrays being created...
4278, 4279, 4280, 1 new arrays being created...
4281, 1 new arrays being created...
4282, 2 new arrays being created...
4283, 1 new arrays being created...
4284, 4285, 4286, 1 new arrays being created...
4287, 4288, 4289, 4290, 4291, 4292, 2 new arrays being created...
4293, 4294, 4295, 1 new arrays being created...
4296, 4297, 4298, 1 new arrays being created...
4299, 4300, 4300 of 5751 files written to DB..
last 100files took ..
0:00:11.803641
From first it took ..0:04:24.828200
4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 1 new arrays being created...
4312, 4313, 4314, 4315, 4316, 4317, 1 new arrays being created...
4318, 4319, 4320, 3 new arrays being created...
4321, 4322, 4323, 4324, 4325, 2 new arrays being created...
4326, 2 new arrays being created...
4327, 4328, 4329, 4330, 4331, 1 new arrays being created...
4332, 1 new arrays being created...
4333, 4334, 4335, 2 new arrays being created...
4336, 4337, 4338, 4339, 4340, 1 new arrays being created...
4341, 4342, 4343, 1 new arrays being created...
4344, 4345, 1 new arrays being created...
4346, 4347, 4348, 1 new arrays being created...
4349, 1 new arrays being created...
4350, 4351, 4352, 4353, 1 new arrays being created...

4354, 4355, 2 new arrays being created...
4356, 4357, 4358, 4359, 4360, 1 new arrays being created...
4361, 4362, 4363, 1 new arrays being created...
4364, 1 new arrays being created...
4365, 4366, 4367, 1 new arrays being created...
4368, 1 new arrays being created...
4369, 4370, 4371, 4372, 4373, 4374, 1 new arrays being created...
4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4383, 4384, 4385, 4386, 1 new arrays being created...
4387, 2 new arrays being created...
4388, 1 new arrays being created...
4389, 4390, 1 new arrays being created...
4391, 4392, 4393, 4394, 1 new arrays being created...
4395, 4396, 4397, 4398, 4399, 2 new arrays being created...
4400, 4400 of 5751 files written to DB..
last 100files took ..
0:00:12.339521
From first it took ..0:04:37.167721
4401, 4402, 4403, 1 new arrays being created...
4404, 4405, 1 new arrays being created...
4406, 1 new arrays being created...
4407, 4 new arrays being created...
4408, 4409, 4410, 4411, 1 new arrays being created...
4412, 4413, 4414, 4415, 1 new arrays being created...
4416, 4417, 4418, 1 new arrays being created...
4419, 4420, 1 new arrays being created...
4421, 4422, 1 new arrays being created...
4423, 4424, 4425, 1 new arrays being created...
4426, 4427, 1 new arrays being created...
4428, 1 new arrays being created...
4429, 4430, 4431, 4432, 1 new arrays being created...
4433, 4434, 4435, 4436, 4437, 4438, 1 new arrays being created...
4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 1 new arrays being created...
4449, 1 new arrays being created...
4450, 4451, 4452, 4453, 4454, 2 new arrays being created...
4455, 4456, 4457, 1 new arrays being created...
4458, 4459, 1 new arrays being created...
4460, 4461, 4462, 4463, 4464, 4465, 4466, 1 new arrays being created...
4467, 1 new arrays being created...
4468, 1 new arrays being created...
4469, 1 new arrays being created...
4470, 4471, 4472, 4473, 4474, 4475, 1 new arrays being created...
4476, 1 new arrays being created...
4477, 3 new arrays being created...
4478, 4479, 4480, 4481, 1 new arrays being created...
4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492, 4493, 4494, 1 new arrays being created...
4495, 4496, 4497, 4498, 4499, 4500, 4500 of 5751 files written to DB..
last 100files took ..
0:00:12.701393
From first it took ..0:04:49.869114
4501, 4502, 4503, 4504, 4505, 1 new arrays being created...
4506, 4507, 4508, 4509, 4510, 4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518, 4519, 4520, 4521, 3 new arrays being created...
4522, 1 new arrays being created...
4523, 4524, 4525, 4526, 4527, 4528, 4529, 4530, 1 new arrays being created...
4531, 1 new arrays being created...
4532, 4533, 4534, 4535, 1 new arrays being created...
4536, 2 new arrays being created...
4537, 4538, 1 new arrays being created...
4539, 2 new arrays being created...
4540, 1 new arrays being created...
4541, 4542, 1 new arrays being created...
4543, 4544, 4545, 4546, 4547, 4548, 4549, 1 new arrays being created...
4550, 4551, 4552, 4553, 4554, 4555, 4556, 4557, 4558, 4559, 4560, 1 new arrays being created...
4561, 1 new arrays being created...
4562, 4563, 4564, 4565, 2 new arrays being created...
4566, 3 new arrays being created...
4567, 4568, 4569, 4570, 4571, 4572, 4573, 1 new arrays being created...
4574, 4575, 4576, 1 new arrays being created...
4577, 1 new arrays being created...
4578, 2 new arrays being created...
4579, 4580, 4581, 4582, 4583, 4584, 4585, 4586, 4587, 1 new arrays being created...
4588, 1 new arrays being created...
4589, 4590, 2 new arrays being created...
4591, 2 new arrays being created...
4592, 1 new arrays being created...
4593, 4594, 4595, 4596, 4597, 1 new arrays being created...
4598, 1 new arrays being created...
4599, 4600, 4600 of 5751 files written to DB..
last 100files took ..
0:00:12.197986
From first it took ..0:05:02.067100
4601, 4602, 4603, 1 new arrays being created...
4604, 4605, 4606, 1 new arrays being created...
4607, 4608, 4609, 4610, 1 new arrays being created...
4611, 4612, 4613, 4614, 4615, 2 new arrays being created...
4616, 4617, 4618, 4619, 1 new arrays being created...
4620, 4621, 4622, 4623, 4624, 1 new arrays being created...
4625, 4626, 4627, 4628, 1 new arrays being created...
4629, 4630, 4631, 2 new arrays being created...
4632, 4633, 2 new arrays being created...
4634, 4635, 4636, 4637, 1 new arrays being created...
4638, 4639, 4640, 1 new arrays being created...
4641, 4642, 4643, 2 new arrays being created...
4644, 4645, 4646, 4647, 4648, 4649, 1 new arrays being created...
4650, 4651, 1 new arrays being created...
4652, 4653, 4654, 4655, 4656, 1 new arrays being created...
4657, 1 new arrays being created...
4658, 4659, 1 new arrays being created...
4660, 4661, 4662, 1 new arrays being created...
4663, 4664, 4665, 4666, 4667, 1 new arrays being created...
4668, 4669, 4670, 4671, 2 new arrays being created...
4672, 1 new arrays being created...
4673, 4674, 4675, 4676, 1 new arrays being created...
4677, 1 new arrays being created...
4678, 1 new arrays being created...
4679, 2 new arrays being created...
4680, 4681, 4682, 4683, 1 new arrays being created...
4684, 4685, 1 new arrays being created...
4686, 4687, 4688, 4689, 4690, 1 new arrays being created...
4691, 4692, 4693, 4694, 2 new arrays being created...
4695, 4696, 4697, 4698, 4699, 4700, 4700 of 5751 files written to DB..
last 100files took ..
0:00:12.283014
From first it took ..0:05:14.350114
4701, 4702, 4703, 4704, 4705, 4706, 4707, 1 new arrays being created...
4708, 1 new arrays being created...
4709, 4710, 4711, 4712, 4713, 4714, 4715, 4716, 4717, 1 new arrays being created...
4718, 2 new arrays being created...
4719, 4720, 4721, 4722, 4723, 4724, 4725, 4726, 4727, 4728, 1 new arrays being created...
4729, 2 new arrays being created...
4730, 4731, 4732, 1 new arrays being created...
4733, 4734, 4735, 4736, 4737, 3 new arrays being created...
4738, 1 new arrays being created...
4739, 4740, 4741, 2 new arrays being created...
4742, 4743, 4744, 4745, 4746, 4747, 4748, 1 new arrays being created...
4749, 4750, 4751, 4752, 4753, 4754, 4755, 4756, 1 new arrays being created...
4757, 4758, 4759, 4760, 4761, 4762, 4763, 4764, 4765, 4766, 4767, 1 new arrays being created...
4768, 2 new arrays being created...
4769, 1 new arrays being created...
4770, 4771, 1 new arrays being created...
4772, 1 new arrays being created...
4773, 4774, 4775, 1 new arrays being created...
4776, 4777, 1 new arrays being created...
4778, 1 new arrays being created...
4779, 4780, 4781, 1 new arrays being created...
4782, 4783, 4784, 1 new arrays being created...
4785, 4786, 4787, 4788, 1 new arrays being created...
4789, 4790, 2 new arrays being created...
4791, 4792, 4793, 1 new arrays being created...
4794, 4795, 4796, 2 new arrays being created...
4797, 4798, 1 new arrays being created...
4799, 4800, 4800 of 5751 files written to DB..
last 100files took ..
0:00:13.243930
From first it took ..0:05:27.594044
3 new arrays being created...
4801, 4802, 4803, 4804, 1 new arrays being created...
4805, 4806, 4807, 4808, 4809, 1 new arrays being created...
4810, 1 new arrays being created...
4811, 4812, 4813, 3 new arrays being created...
4814, 4815, 1 new arrays being created...
4816, 4817, 4818, 1 new arrays being created...
4819, 4820, 4821, 4822, 1 new arrays being created...
4823, 4824, 4825, 4826, 4827, 4828, 4829, 4830, 4831, 4832, 4833, 4834, 1 new arrays being created...
4835, 1 new arrays being created...
4836, 4837, 4838, 1 new arrays being created...
4839, 4840, 4841, 1 new arrays being created...
4842, 4843, 4844, 4845, 4846, 4847, 4848, 4849, 1 new arrays being created...
4850, 4851, 4852, 4853, 4854, 4855, 4856, 1 new arrays being created...
4857, 4858, 4859, 4860, 1 new arrays being created...
4861, 1 new arrays being created...
4862, 1 new arrays being created...
4863, 1 new arrays being created...
4864, 4865, 4866, 4 new arrays being created...

4867, 4868, 4869, 4870, 4871, 1 new arrays being created...
4872, 4873, 2 new arrays being created...
4874, 1 new arrays being created...
4875, 4876, 1 new arrays being created...
4877, 4878, 4879, 4880, 4881, 4882, 4883, 4884, 4885, 4886, 4887, 4888, 4889, 4890, 4891, 1 new arrays being created...
4892, 4893, 4894, 4895, 4896, 4897, 4898, 1 new arrays being created...
4899, 4900, 4900 of 5751 files written to DB..
last 100files took ..
0:00:17.113954
From first it took ..0:05:44.707998
4901, 2 new arrays being created...
4902, 4903, 1 new arrays being created...
4904, 1 new arrays being created...
4905, 3 new arrays being created...
4906, 1 new arrays being created...
4907, 1 new arrays being created...
4908, 4909, 1 new arrays being created...
4910, 4911, 2 new arrays being created...
4912, 1 new arrays being created...
4913, 4914, 1 new arrays being created...
4915, 4916, 4917, 4918, 4919, 4920, 4921, 2 new arrays being created...
4922, 4923, 4924, 4925, 4926, 4927, 1 new arrays being created...
4928, 4929, 4930, 4931, 4932, 1 new arrays being created...
4933, 2 new arrays being created...
4934, 1 new arrays being created...
4935, 4936, 4937, 4938, 4939, 1 new arrays being created...
4940, 1 new arrays being created...
4941, 4942, 4943, 1 new arrays being created...
4944, 4945, 4946, 4947, 4948, 1 new arrays being created...
4949, 4950, 4951, 4952, 1 new arrays being created...
4953, 1 new arrays being created...
4954, 1 new arrays being created...
4955, 4956, 4957, 4958, 4959, 4960, 4961, 1 new arrays being created...
4962, 1 new arrays being created...
4963, 4964, 4965, 4966, 4967, 1 new arrays being created...
4968, 1 new arrays being created...
4969, 4970, 4971, 4972, 1 new arrays being created...
4973, 4974, 4975, 1 new arrays being created...
4976, 4977, 4978, 4979, 4980, 1 new arrays being created...
4981, 4982, 4983, 4984, 3 new arrays being created...
4985, 1 new arrays being created...
4986, 1 new arrays being created...
4987, 4988, 1 new arrays being created...
4989, 4990, 4 new arrays being created...
4991, 1 new arrays being created...
4992, 4993, 2 new arrays being created...
4994, 4995, 4996, 4997, 1 new arrays being created...
4998, 4999, 5000, 5000 of 5751 files written to DB..
last 100files took ..
0:00:14.816196
From first it took ..0:05:59.524194
5001, 5002, 5003, 1 new arrays being created...
5004, 1 new arrays being created...
5005, 5006, 1 new arrays being created...
5007, 3 new arrays being created...
5008, 5009, 5010, 5011, 3 new arrays being created...
5012, 1 new arrays being created...
5013, 5014, 5015, 1 new arrays being created...
5016, 5017, 5018, 5019, 2 new arrays being created...
5020, 5021, 1 new arrays being created...
5022, 5 new arrays being created...
5023, 1 new arrays being created...
5024, 1 new arrays being created...
5025, 1 new arrays being created...
5026, 5027, 5028, 1 new arrays being created...
5029, 5030, 5031, 2 new arrays being created...
5032, 5033, 1 new arrays being created...
5034, 5035, 5036, 5037, 1 new arrays being created...
5038, 5039, 5040, 5041, 5042, 1 new arrays being created...
5043, 5044, 1 new arrays being created...
5045, 2 new arrays being created...
5046, 1 new arrays being created...
5047, 2 new arrays being created...
5048, 5049, 5050, 5051, 2 new arrays being created...
5052, 1 new arrays being created...
5053, 5054, 5055, 1 new arrays being created...
5056, 5 new arrays being created...
5057, 5058, 5059, 2 new arrays being created...
5060, 1 new arrays being created...
5061, 5062, 5063, 1 new arrays being created...
5064, 1 new arrays being created...
5065, 1 new arrays being created...
5066, 1 new arrays being created...
5067, 5068, 5069, 5070, 1 new arrays being created...
5071, 1 new arrays being created...
5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 3 new arrays being created...
5081, 5082, 5083, 1 new arrays being created...
5084, 3 new arrays being created...
5085, 5086, 5087, 5088, 1 new arrays being created...
5089, 5090, 5091, 1 new arrays being created...
5092, 5093, 5094, 1 new arrays being created...
5095, 5096, 5097, 5098, 5099, 5100, 5100 of 5751 files written to DB..
last 100files took ..
0:00:15.149447
From first it took ..0:06:14.673641
5101, 5102, 1 new arrays being created...
5103, 1 new arrays being created...
5104, 2 new arrays being created...
5105, 5106, 5107, 1 new arrays being created...
5108, 5109, 5110, 5111, 5112, 5113, 5114, 1 new arrays being created...
5115, 2 new arrays being created...
5116, 1 new arrays being created...
5117, 2 new arrays being created...
5118, 5119, 5120, 1 new arrays being created...
5121, 5122, 1 new arrays being created...
5123, 2 new arrays being created...
5124, 5125, 2 new arrays being created...
5126, 1 new arrays being created...
5127, 5128, 5129, 5130, 5131, 4 new arrays being created...
5132, 5133, 1 new arrays being created...
5134, 5135, 1 new arrays being created...
5136, 2 new arrays being created...
5137, 5138, 5139, 1 new arrays being created...
5140, 1 new arrays being created...
5141, 1 new arrays being created...
5142, 1 new arrays being created...
5143, 5144, 5145, 5146, 5147, 5148, 5149, 1 new arrays being created...
5150, 5151, 1 new arrays being created...
5152, 1 new arrays being created...
5153, 5154, 5155, 5156, 1 new arrays being created...
5157, 5158, 1 new arrays being created...
5159, 5160, 5161, 5162, 5163, 2 new arrays being created...
5164, 1 new arrays being created...
5165, 5166, 5167, 1 new arrays being created...
5168, 5169, 1 new arrays being created...
5170, 5171, 5172, 5173, 1 new arrays being created...
5174, 5175, 2 new arrays being created...
5176, 5177, 5178, 1 new arrays being created...
5179, 5180, 5181, 5182, 1 new arrays being created...
5183, 5184, 3 new arrays being created...
5185, 1 new arrays being created...
5186, 5187, 5188, 2 new arrays being created...
5189, 4 new arrays being created...
5190, 5191, 1 new arrays being created...
5192, 1 new arrays being created...
5193, 1 new arrays being created...
5194, 2 new arrays being created...
5195, 5196, 1 new arrays being created...
5197, 5198, 1 new arrays being created...
5199, 2 new arrays being created...
5200, 5200 of 5751 files written to DB..
last 100files took ..
0:00:16.522610
From first it took ..0:06:31.196251
1 new arrays being created...
5201, 5202, 4 new arrays being created...
5203, 5204, 2 new arrays being created...
5205, 5206, 5207, 5208, 1 new arrays being created...
5209, 5210, 5211, 5212, 2 new arrays being created...
5213, 1 new arrays being created...
5214, 5215, 5216, 5217, 1 new arrays being created...
5218, 5219, 5220, 1 new arrays being created...
5221, 5222, 5223, 5224, 5225, 1 new arrays being created...
5226, 5 new arrays being created...
5227, 1 new arrays being created...
5228, 1 new arrays being created...
5229, 1 new arrays being created...
5230, 2 new arrays being created...
5231, 5232, 1 new arrays being created...
5233, 2 new arrays being created...
5234, 5235, 1 new arrays being created...
5236, 5237, 5238, 5239, 1 new arrays being created...
5240, 5241, 5242, 5243, 1 new arrays being created...
5244, 5245, 5246, 5247, 5248, 1 new arrays being created...
5249, 2 new arrays being created...
5250, 5251, 5252, 4 new arrays being created...
5253, 5254, 5255, 1 new arrays being created...
5256, 1 new arrays being created...
5257, 1 new arrays being created...
5258, 1 new arrays being created...
5259, 5260, 5261, 5262, 2 new arrays being created...
5263, 5264, 5265, 1 new arrays being created...
5266, 1 new arrays being created...
5267, 5268, 4 new arrays being created...
5269, 5270, 1 new arrays being created...
5271, 2 new arrays being created...
5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 1 new arrays being created...
5280, 5281, 1 new arrays being created...
5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5290, 5291, 1 new arrays being created...

5292, 5293, 2 new arrays being created...
5294, 1 new arrays being created...
5295, 2 new arrays being created...
5296, 1 new arrays being created...
5297, 3 new arrays being created...
5298, 5299, 1 new arrays being created...
5300, 5300 of 5751 files written to DB..
last 100files took ..
0:00:15.614776
From first it took ..0:06:46.811027
5301, 1 new arrays being created...
5302, 5303, 5304, 5305, 5306, 2 new arrays being created...
5307, 1 new arrays being created...
5308, 1 new arrays being created...
5309, 5310, 5311, 5312, 5313, 5314, 1 new arrays being created...
5315, 5316, 1 new arrays being created...
5317, 5318, 1 new arrays being created...
5319, 3 new arrays being created...
5320, 3 new arrays being created...
5321, 1 new arrays being created...
5322, 2 new arrays being created...
5323, 5324, 5325, 1 new arrays being created...
5326, 3 new arrays being created...
5327, 2 new arrays being created...
5328, 5329, 1 new arrays being created...
5330, 1 new arrays being created...
5331, 5332, 5 new arrays being created...
5333, 1 new arrays being created...
5334, 5335, 3 new arrays being created...
5336, 5337, 3 new arrays being created...
5338, 1 new arrays being created...
5339, 1 new arrays being created...
5340, 3 new arrays being created...
5341, 1 new arrays being created...
5342, 2 new arrays being created...
5343, 5344, 5345, 1 new arrays being created...
5346, 1 new arrays being created...
5347, 6 new arrays being created...
5348, 1 new arrays being created...
5349, 5350, 5351, 5352, 1 new arrays being created...
5353, 1 new arrays being created...
5354, 1 new arrays being created...
5355, 1 new arrays being created...
5356, 5357, 5358, 5359, 5360, 1 new arrays being created...
5361, 1 new arrays being created...
5362, 1 new arrays being created...
5363, 1 new arrays being created...
5364, 5365, 5366, 5367, 5368, 5369, 1 new arrays being created...
5370, 3 new arrays being created...
5371, 3 new arrays being created...
5372, 1 new arrays being created...
5373, 1 new arrays being created...
5374, 2 new arrays being created...
5375, 1 new arrays being created...
5376, 1 new arrays being created...
5377, 5378, 5379, 5380, 2 new arrays being created...
5381, 2 new arrays being created...
5382, 3 new arrays being created...
5383, 1 new arrays being created...
5384, 5385, 5386, 5387, 5388, 1 new arrays being created...
5389, 2 new arrays being created...
5390, 2 new arrays being created...
5391, 5392, 2 new arrays being created...
5393, 5394, 5395, 1 new arrays being created...
5396, 5397, 1 new arrays being created...
5398, 1 new arrays being created...
5399, 1 new arrays being created...
5400, 5400 of 5751 files written to DB..
last 100files took ..
0:00:17.146292
From first it took ..0:07:03.957319
5401, 3 new arrays being created...
5402, 1 new arrays being created...
5403, 3 new arrays being created...
5404, 4 new arrays being created...
5405, 5406, 5407, 5408, 1 new arrays being created...
5409, 5410, 5411, 5412, 1 new arrays being created...
5413, 5414, 1 new arrays being created...
5415, 5416, 1 new arrays being created...
5417, 1 new arrays being created...
5418, 5419, 5420, 5421, 1 new arrays being created...
5422, 1 new arrays being created...
5423, 5424, 5425, 5426, 3 new arrays being created...
5427, 5428, 1 new arrays being created...
5429, 5430, 5431, 2 new arrays being created...
5432, 5433, 5434, 5435, 1 new arrays being created...
5436, 1 new arrays being created...
5437, 1 new arrays being created...
5438, 5439, 2 new arrays being created...
5440, 5441, 5442, 1 new arrays being created...
5443, 1 new arrays being created...
5444, 1 new arrays being created...
5445, 1 new arrays being created...
5446, 5447, 2 new arrays being created...
5448, 5449, 5450, 5451, 5452, 5453, 2 new arrays being created...
5454, 1 new arrays being created...
5455, 5456, 5457, 1 new arrays being created...
5458, 1 new arrays being created...
5459, 1 new arrays being created...
5460, 2 new arrays being created...
5461, 2 new arrays being created...
5462, 5463, 5464, 5465, 2 new arrays being created...
5466, 5467, 5468, 2 new arrays being created...
5469, 5470, 5471, 5472, 5473, 1 new arrays being created...
5474, 2 new arrays being created...
5475, 5476, 5477, 5478, 1 new arrays being created...
5479, 1 new arrays being created...
5480, 5481, 5482, 5483, 1 new arrays being created...
5484, 5485, 5486, 5487, 1 new arrays being created...
5488, 2 new arrays being created...
5489, 5490, 5491, 5492, 5493, 2 new arrays being created...
5494, 5495, 2 new arrays being created...
5496, 2 new arrays being created...
5497, 5498, 5499, 1 new arrays being created...
5500, 5500 of 5751 files written to DB..
last 100files took ..
0:00:16.540251
From first it took ..0:07:20.497570
1 new arrays being created...
5501, 1 new arrays being created...
5502, 1 new arrays being created...
5503, 5504, 2 new arrays being created...
5505, 5506, 2 new arrays being created...
5507, 5508, 1 new arrays being created...
5509, 5510, 2 new arrays being created...
5511, 1 new arrays being created...
5512, 1 new arrays being created...
5513, 3 new arrays being created...
5514, 5515, 5516, 3 new arrays being created...
5517, 5518, 3 new arrays being created...
5519, 5520, 2 new arrays being created...
5521, 2 new arrays being created...
5522, 1 new arrays being created...
5523, 2 new arrays being created...
5524, 2 new arrays being created...
5525, 1 new arrays being created...
5526, 5 new arrays being created...
5527, 5528, 5529, 2 new arrays being created...
5530, 5531, 1 new arrays being created...
5532, 5533, 5534, 5535, 1 new arrays being created...
5536, 5537, 5538, 5539, 5540, 2 new arrays being created...
5541, 1 new arrays being created...
5542, 5543, 5544, 5545, 5546, 1 new arrays being created...
5547, 1 new arrays being created...
5548, 5549, 5550, 1 new arrays being created...
5551, 5552, 5553, 5554, 2 new arrays being created...
5555, 5556, 1 new arrays being created...
5557, 5558, 2 new arrays being created...
5559, 5560, 1 new arrays being created...
5561, 1 new arrays being created...
5562, 5563, 5564, 5565, 1 new arrays being created...
5566, 5567, 5568, 1 new arrays being created...
5569, 1 new arrays being created...
5570, 5571, 5572, 1 new arrays being created...
5573, 1 new arrays being created...
5574, 5575, 1 new arrays being created...
5576, 1 new arrays being created...
5577, 5578, 1 new arrays being created...
5579, 5580, 1 new arrays being created...
5581, 5582, 3 new arrays being created...
5583, 2 new arrays being created...
5584, 2 new arrays being created...
5585, 2 new arrays being created...
5586, 5587, 5588, 1 new arrays being created...
5589, 1 new arrays being created...
5590, 3 new arrays being created...
5591, 5592, 5593, 1 new arrays being created...
5594, 5595, 1 new arrays being created...
5596, 4 new arrays being created...
5597, 4 new arrays being created...
5598, 2 new arrays being created...
5599, 1 new arrays being created...
5600, 5600 of 5751 files written to DB..
last 100files took ..
0:00:16.568586
From first it took ..0:07:37.066156
1 new arrays being created...
5601, 5602, 2 new arrays being created...
5603, 4 new arrays being created...
5604, 2 new arrays being created...
5605, 1 new arrays being created...
5606, 1 new arrays being created...
5607, 5608, 5609, 1 new arrays being created...
5610, 5611, 5612, 1 new arrays being created...
5613, 1 new arrays being created...
5614, 2 new arrays being created...
5615, 5616, 1 new arrays being created...
5617, 5618, 5619, 1 new arrays being created...
5620, 1 new arrays being created...
5621, 5622, 5623, 5624, 1 new arrays being created...
5625, 5626, 5627, 5628, 5629, 5630, 4 new arrays being created...
5631, 5632, 5633, 3 new arrays being created...
5634, 5635, 2 new arrays being created...
5636, 1 new arrays being created...

5637, 2 new arrays being created...
5638, 5639, 2 new arrays being created...
5640, 1 new arrays being created...
5641, 2 new arrays being created...
5642, 5 new arrays being created...
5643, 1 new arrays being created...
5644, 2 new arrays being created...
5645, 2 new arrays being created...
5646, 2 new arrays being created...
5647, 3 new arrays being created...
5648, 1 new arrays being created...
5649, 2 new arrays being created...
5650, 1 new arrays being created...
5651, 1 new arrays being created...
5652, 5653, 2 new arrays being created...
5654, 5655, 1 new arrays being created...
5656, 5657, 5658, 1 new arrays being created...
5659, 1 new arrays being created...
5660, 5661, 1 new arrays being created...
5662, 5663, 1 new arrays being created...
5664, 5665, 5666, 5667, 1 new arrays being created...
5668, 3 new arrays being created...
5669, 4 new arrays being created...
5670, 5671, 1 new arrays being created...
5672, 1 new arrays being created...
5673, 1 new arrays being created...
5674, 5675, 1 new arrays being created...
5676, 1 new arrays being created...
5677, 2 new arrays being created...
5678, 5679, 1 new arrays being created...
5680, 5681, 5682, 2 new arrays being created...
5683, 5684, 2 new arrays being created...
5685, 1 new arrays being created...
5686, 1 new arrays being created...
5687, 1 new arrays being created...
5688, 3 new arrays being created...
5689, 1 new arrays being created...
5690, 5691, 5692, 2 new arrays being created...
5693, 1 new arrays being created...
5694, 5695, 1 new arrays being created...
5696, 3 new arrays being created...
5697, 5698, 4 new arrays being created...
5699, 5700, 5700 of 5751 files written to DB..
last 100files took ..
0:00:20.985412
From first it took ..0:07:58.051568
1 new arrays being created...
5701, 2 new arrays being created...
5702, 5703, 2 new arrays being created...
5704, 1 new arrays being created...
5705, 5706, 5707, 5708, 5709, 1 new arrays being created...
5710, 5711, 5712, 2 new arrays being created...
5713, 5714, 5715, 1 new arrays being created...
5716, 2 new arrays being created...
5717, 1 new arrays being created...
5718, 1 new arrays being created...
5719, 1 new arrays being created...
5720, 5721, 1 new arrays being created...
5722, 3 new arrays being created...
5723, 1 new arrays being created...
5724, 5725, 5726, 2 new arrays being created...
5727, 1 new arrays being created...
5728, 5729, 1 new arrays being created...
5730, 1 new arrays being created...
5731, 1 new arrays being created...
5732, 5733, 1 new arrays being created...
5734, 1 new arrays being created...
5735, 1 new arrays being created...
5736, 5737, 5738, 1 new arrays being created...
5739, 1 new arrays being created...
5740, 2 new arrays being created...
5741, 1 new arrays being created...
5742, 5743, 1 new arrays being created...
5744, 1 new arrays being created...
5745, 1 new arrays being created...
5746, 1 new arrays being created...
5747, 1 new arrays being created...
5748, 2 new arrays being created...
5749, 1 new arrays being created...
5750, 1 new arrays being created...
5751,

In [145]:

tables=np.asarray(list(table_fns.keys())).astype(object)
table_functions={}
create_tables(table_functions,tables)
stime=datetime.now()
for tbl in tables:
    print(tbl)
    try:
        ntime=datetime.now()
        
        pd.DataFrame(table_fns.get(tbl),
                     columns=['OPEN','HIGH','LOW','CLOSE','LAST','TOTTRDQTY','TOTTRDVAL','TIMESTAMP','TOTALTRADES']).to_sql(tbl.lower(), con=db_engine, if_exists='replace',index=False)
        print("It took {} time".format(datetime.now()-ntime))
    except:
        print("It exists")
print("Total time it took {} ".format(datetime.now()-stime))

3961 new tables being created...

D:\adiarun\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  item.__name__

It took 0:24:27.779741 time
ABB
It took 0:00:04.346711 time
ACC
It took 0:00:02.777535 time
AHMEDELEC
It took 0:00:03.825990 time
ALFALAVAL
It took 0:00:02.013986 time
APOLLOTYRE
It took 0:00:05.620124 time
APPLEIND
It took 0:00:01.756456 time
ARVINDMILL
It took 0:00:02.133453 time
ASHOKLEY
It took 0:00:03.040140 time
ASIANPAINT
It took 0:00:03.933462 time
BAJAJAUTO
It took 0:00:02.008193 time
BARODARAYN
It took 0:00:02.378004 time
BASF
It took 0:00:03.000378 time
BATAINDIA
It took 0:00:02.719713 time
BHARATFORG
It took 0:00:02.239874 time
BHEL
It took 0:00:03.053692 time
BOMDYEING
It took 0:00:02.874428 time
BONGAIREFN
It took 0:00:02.853216 time
BOOTSPHARM
It took 0:00:02.482354 time
BRITANNIA
It took 0:00:05.820048 time
BSES
It took 0:00:02.716921 time
CARRIERAIR
It took 0:00:01.834686 time
CASTROL
It took 0:00:05.160816 time
CEAT
It took 0:00:02.224678 time
CENTENKA
It took 0:00:04.617530 time
CENTURYTEX
It took 0:00:03.271750 time
CESC
It took 0:00:02.142853 time
CHAMBLFERT
It took 0:00:02.812272 time
CHETNADCEM
It took 0:00:01.633451 time
CIPLA
It took 0:00:02.811629 time
COATVIYELA
It took 0:00:02.814077 time
COLGATE
It took 0:00:02.652640 time
COREPARENT
It took 0:00:04.083176 time
DABUR
It took 0:00:03.606217 time
DCLPOLY
It took 0:00:02.503580 time
DCW
It took 0:00:03.866966 time
DRREDDY
It took 0:00:04.187142 time
ESSARGUJ
It took 0:00:02.140962 time
ESSARSHIP
It took 0:00:04.640477 time
ESSELPACK
It took 0:00:03.654445 time
FINCABLES
It took 0:00:02.974148 time
FINPIPE
It took 0:00:03.186660 time
FORBESGOK
It took 0:00:01.804392 time
GESHIPPING
It took 0:00:03.580778 time
GLAXO
It took 0:00:04.028166 time
GNFC
It took 0:00:03.459027 time
GODREJSOAP
It took 0:00:01.066003 time
GRASIM
It took 0:00:04.059935 time
GUJAMBCEM
It took 0:00:03.065065 time
HDFC
It took 0:00:03.633852 time
HINDALC0
It took 0:00:03.190669 time
HINDEVELOP
It took 0:00:04.587371 time
HINDLEVER
It took 0:00:03.236103 time
HINDMOTOR
It took 0:00:02.772649 time
HINDPETRO
It took 0:00:05.828469 time
HINDZINC
It took 0:00:03.147383 time
HOTELEELA
It took 0:00:03.542085 time
ICICI
It took 0:00:03.240573 time
IFBIND
It took 0:00:03.333123 time
IFCI
It took 0:00:04.067192 time
INDHOTEL
It took 0:00:03.649217 time
INDIACEM
It took 0:00:03.777714 time
INDOGULF
It took 0:00:02.990015 time
INDRAYON
It took 0:00:03.213516 time
INFOSYSTCH
It took 0:00:02.405276 time
IPCALAB
It took 0:00:03.113500 time
IPCL
It took 0:00:02.870999 time
ITC
It took 0:00:05.706522 time
ITCBHADRA
It took 0:00:02.090161 time
ITCCLASSIC
It took 0:00:01.532772 time
JAINIRRIG
It took 0:00:13.757007 time
JCT
It took 0:00:02.190271 time
JINDALFOTO
It took 0:00:02.271301 time
JINDALIRON
It took 0:00:02.005112 time
JINDALSTRP
It took 0:00:01.703118 time
JKIND
It took 0:00:02.116271 time
JKSYNTHETC
It took 0:00:01.703954 time
JPIND
It took 0:00:03.037042 time
KECINTL
It took 0:00:01.827442 time
KELVINATOR
It took 0:00:03.639365 time
KIRLOSKCUM
It took 0:00:02.262422 time
KOTAKMAH
It took 0:00:02.399003 time
L&T
It took 0:00:02.696223 time
LLOYDSTEEL
It took 0:00:02.780528 time
LML
It took 0:00:02.653564 time
M&M
It took 0:00:02.167704 time
MADRASREFN
It took 0:00:01.352326 time
MAFATLAIND
It took 0:00:01.222398 time
MASTERSHAR
It took 0:00:03.069481 time
MICO
It took 0:00:03.780336 time
MRPL
It took 0:00:07.289971 time
MTNL
It took 0:00:06.064195 time
MUKAND
It took 0:00:03.532858 time
NAGARFERT
It took 0:00:02.268204 time
NALCO
It took 0:00:01.446790 time
NICOLASPIR
It took 0:00:02.283768 time
NIPPONDENR
It took 0:00:01.968253 time
NIRMA
It took 0:00:03.335990 time
NOCIL
It took 0:00:02.115188 time
ORKAY
It took 0:00:01.766796 time
P&G
It took 0:00:02.064746 time
PREMAUTO
It took 0:00:03.182440 time
RANBAXY
It took 0:00:03.265774 time
RAYMOND
It took 0:00:03.208744 time
RCF
It took 0:00:03.684987 time
RECKCOLMAN
It took 0:00:01.633521 time
RELCAPITAL
It took 0:00:02.632502 time
RELIANCE
It took 0:00:02.991502 time
SAIL
It took 0:00:06.439527 time
SANGHIPOLY
It took 0:00:01.439118 time
SAWPIPES
It took 0:00:02.066453 time
SBIMAGNM90
It took 0:00:02.031521 time
SBIN
It took 0:00:03.773323 time
SCICI
It took 0:00:01.196208 time
SIEMENS
It took 0:00:04.446443 time
SIVIND
It took 0:00:01.952254 time
SKFBEARING
It took 0:00:02.484254 time
SMITKLBECH
It took 0:00:01.192535 time
SPIC
It took 0:00:02.362382 time
STDIND
It took 0:00:02.447499 time
STERLITE
It took 0:00:02.016559 time
SURAJDIAMN
It took 0:00:04.610993 time
TATACHEM
It took 0:00:03.770147 time
TATAPOWER
It took 0:00:02.620642 time
TELCO
It took 0:00:02.842474 time
TISCO
It took 0:00:02.040979 time
TITAN
It took 0:00:05.515296 time
TNPETRO
It took 0:00:04.570659 time
TORNTPHARM
It took 0:00:03.920494 time
UNITEDPHOS
It took 0:00:02.910407 time
VDOCONAPPL
It took 0:00:03.790213 time
VDOCONINTL
It took 0:00:02.469005 time
VSNL
It took 0:00:03.571728 time
VSTIND
It took 0:00:04.002981 time
WIMCO
It took 0:00:02.413998 time
WOCKHARDT
It took 0:00:01.746730 time
BROOKBOND
It took 0:00:02.867527 time
JKCORP
It took 0:00:02.483911 time
SCI
It took 0:00:03.590968 time
TATAHYDRO
It took 0:00:03.071595 time
VOLTAS
It took 0:00:04.682789 time
ANDRAVALLY
It took 0:00:02.876072 time
ASHKLEYFIN
It took 0:00:02.121442 time
EMERCK
It took 0:00:03.197374 time
EXCELIND
It took 0:00:01.677557 time
HINDCIBA
It took 0:00:03.320862 time
LUPINLAB
It took 0:00:01.938821 time
NESTLE
It took 0:00:04.215617 time
PIL
It took 0:00:03.286021 time
ATLASCOPCO
It took 0:00:04.025865 time
BEL
It took 0:00:02.663583 time
ITI
It took 0:00:02.555318 time
SANDOZ
It took 0:00:02.004238 time
SESAGOA
It took 0:00:03.355945 time
TATATEA
It took 0:00:02.330035 time
VAMORGANIC
It took 0:00:02.737911 time
CYNAMID
It took 0:00:01.650017 time
EIHOTEL
It took 0:00:03.310654 time
DALMIACEM
It took 0:00:02.045148 time
ESCORTS
It took 0:00:02.648719 time
INDORAMSYN
It took 0:00:01.714252 time
INGERRAND
It took 0:00:03.815855 time
BARATBIJLE
It took 0:00:03.037809 time
COCHINREFN
It took 0:00:03.332590 time
GUJALKALI
It took 0:00:04.001973 time
IOL
It took 0:00:02.632278 time
PHILIPS
It took 0:00:04.114718 time
SUNDARMFIN
It took 0:00:03.925515 time
ATULPROD
It took 0:00:03.402567 time
CADBURY
It took 0:00:04.034394 time
CROMPGREAV
It took 0:00:03.860597 time
ICI
It took 0:00:02.387231 time
PONDS
It took 0:00:04.975548 time
EIDPARRY
It took 0:00:02.794285 time
INDAL
It took 0:00:02.578755 time
NAHARSPG
It took 0:00:02.413854 time
BILT
It took 0:00:03.187721 time
SMITHKLPHA
It took 0:00:01.847788 time
BIRLAJUTE
It took 0:00:02.638579 time
IBP
It took 0:00:02.725418 time
HOECHST
It took 0:00:02.565222 time
BPCL
It took 0:00:02.887071 time
ZUARIAGRO
It took 0:00:03.900551 time
BAYER
It took 0:00:02.557198 time
BINDALAGRO
It took 0:00:04.241246 time
BLOWPLAST
It took 0:00:03.359883 time
CRBCAPS
It took 0:00:02.103707 time
FEDERALBNK
It took 0:00:05.449465 time
FLEX
It took 0:00:05.159077 time
FLOATGLASS
It took 0:00:03.422538 time
GLOBLTRUST
It took 0:00:02.236715 time
HBPORT
It took 0:00:02.154880 time
HEG
It took 0:00:05.909309 time
HINDALLOYS
It took 0:00:03.250589 time
IGPETRO
It took 0:00:01.572379 time
JBFIND
It took 0:00:02.016807 time
JINDLFERRO
It took 0:00:01.255546 time
LAKME
It took 0:00:05.727417 time
LUPINCHEM
It took 0:00:01.875459 time
MASTGAIN92
It took 0:00:02.164131 time
MASTPLUS91
It took 0:00:01.147539 time
MORGANSTAN
It took 0:00:02.310135 time
MSSHOES
It took 0:00:01.419228 time
NEPCMICON
It took 0:00:03.115861 time
OSWALAGRO
It took 0:00:01.322282 time
PAAMPHARMA
It took 0:00:02.129647 time
PARKEDAVIS
It took 0:00:02.911148 time
PRAKASH
It took 0:00:03.752480 time
PRIMESEC
It took 0:00:02.196962 time
RAASICEM
It took 0:00:02.057214 time
RAJSREPOLY
It took 0:00:02.358401 time
RALLIS
It took 0:00:04.328444 time
RASLAMIPAK
It took 0:00:02.610678 time
RAYMONDSYN
It took 0:00:01.517734 time
RELPETRO
It took 0:00:02.790214 time
REMIMETAL
It took 0:00:01.475186 time
ROLTA
It took 0:00:03.229127 time
SBIMAG93
It took 0:00:01.241263 time
SHRENUJ
It took 0:00:04.863606 time
SUPPETRO
It took 0:00:02.177166 time
SUPREMEIND
It took 0:00:03.553433 time
TIMESGUARN
It took 0:00:02.954008 time
TRIVENIENG
It took 0:00:01.479568 time
TVSSUZUKI
It took 0:00:04.127859 time
VIPIND
It took 0:00:04.661043 time
DCMDAEWOO

It took 0:00:01.932704 time
KOPRAN
It took 0:00:03.778892 time
NIIT
It took 0:00:02.138028 time
RAJASSPG
It took 0:00:01.921246 time
SPECIALSTL
It took 0:00:02.785603 time
SREERAYALK
It took 0:00:01.417620 time
SRF
It took 0:00:02.399787 time
USHAINDIA
It took 0:00:02.272796 time
WOOLWORTH
It took 0:00:01.166400 time
GIPCL
It took 0:00:04.074951 time
INDIANORG
It took 0:00:03.458288 time
INVESTCORP
It took 0:00:01.319235 time
LOKHSG
It took 0:00:02.404884 time
MODIRUBBER
It took 0:00:03.440151 time
NATHPULP
It took 0:00:02.506905 time
SAMTEL
It took 0:00:03.691484 time
SRFFINANCE
It took 0:00:02.179466 time
TATATIMKEN
It took 0:00:01.526472 time
VARDHMNSPG
It took 0:00:05.671866 time
ADVANIORLI
It took 0:00:02.548753 time
GARDENSILK
It took 0:00:04.759809 time
GLFL
It took 0:00:03.520208 time
GODFRYPHLP
It took 0:00:02.729502 time
MCDOWELL
It took 0:00:02.748487 time
POLYPLEX
It took 0:00:03.224988 time
SANDVIKAS
It took 0:00:02.795408 time
VLSFINANCE
It took 0:00:03.590961 time
HCL-HP
It took 0:00:02.496047 time
ITCAGRO
It took 0:00:02.938895 time
MADRASCEM
It took 0:00:03.968767 time
TATAUNISYS
It took 0:00:01.952655 time
TVSWHIRL
It took 0:00:01.969084 time
VXL
It took 0:00:07.141342 time
WESTNPAQUE
It took 0:00:02.192579 time
PDUMJEPULP
It took 0:00:03.116297 time
SURYAROSNI
It took 0:00:03.107533 time
GREAVES
It took 0:00:02.566875 time
LLOYDFIN
It took 0:00:04.493751 time
PFIZER
It took 0:00:05.115821 time
SHAWALLACE
It took 0:00:03.097316 time
MAX
It took 0:00:05.857952 time
PUNJABTRAC
It took 0:00:04.213858 time
20THCENFIN
It took 0:00:03.127210 time
APPAPER
It took 0:00:03.549139 time
ATVPROJ
It took 0:00:02.578101 time
CCI
It took 0:00:04.727608 time
DHAMPURSUG
It took 0:00:03.733658 time
GUJRATTELE
It took 0:00:01.894309 time
HINDOILEXP
It took 0:00:03.095754 time
JCTELEC
It took 0:00:02.530703 time
MAHSEAMLES
It took 0:00:03.567548 time
MIDEASTI
It took 0:00:01.983637 time
PENTSFWARE
It took 0:00:02.103349 time
ALPICFIN
It took 0:00:02.596488 time
BALMLAWRIE
It took 0:00:04.826232 time
BINANIZINC
It took 0:00:02.817666 time
GECALSTHOM
It took 0:00:03.016614 time
KINHONDA
It took 0:00:02.600171 time
KITPLYIND
It took 0:00:04.910148 time
PARSSYNTH
It took 0:00:02.494848 time
BURRWELCOM
It took 0:00:03.738501 time
FOSECOIND
It took 0:00:03.134116 time
GSFC
It took 0:00:02.996879 time
HARRMALAYA
It took 0:00:03.978214 time
HIMACHLFUT
It took 0:00:03.066757 time
INDSHAVING
It took 0:00:02.854888 time
ITWSIGNODE
It took 0:00:02.193489 time
JAYPEEHOT
It took 0:00:02.840324 time
PATHEJAFOR
It took 0:00:03.845089 time
PIDILITIND
It took 0:00:03.281542 time
SEARLEIND
It took 0:00:02.648003 time
TATAFIN
It took 0:00:04.062191 time
VINDHYATEL
It took 0:00:03.641454 time
GARWARPOLY
It took 0:00:01.667899 time
GOODRICKE
It took 0:00:02.110198 time
MAHSCOOTER
It took 0:00:03.065531 time
SOLPHARMA
It took 0:00:03.296914 time
AUTORIDFIN
It took 0:00:03.194799 time
CHEMNODRUG
It took 0:00:02.384817 time
GUJRATGAS
It took 0:00:05.396289 time
INSILCO
It took 0:00:02.641944 time
IPITATASPO
It took 0:00:05.251717 time
ISMETALTUB
It took 0:00:01.618410 time
ITCHOTEL
It took 0:00:03.652410 time
KALYANISTL
It took 0:00:02.361429 time
MORARJESPG
It took 0:00:03.031712 time
ESCORTTRAC
It took 0:00:02.387191 time
ETERNEVRST
It took 0:00:02.384533 time
NAMASTEXP
It took 0:00:02.718413 time
RHONEPOULN
It took 0:00:02.058856 time
WIPRO
It took 0:00:03.720091 time
BHARATHOT
It took 0:00:02.630014 time
DIGITALEQP
It took 0:00:01.832955 time
FULLERKCP
It took 0:00:03.310051 time
MYSORECEM
It took 0:00:02.379435 time
SAKHTISUG
It took 0:00:04.204419 time
THIRUSUGAR
It took 0:00:03.315981 time
UNIVCABLES
It took 0:00:02.432926 time
ANDHRSUGAR
It took 0:00:02.841069 time
ASIANHOTEL
It took 0:00:02.966484 time
GARWALLROP
It took 0:00:04.554067 time
MCLEODRUS
It took 0:00:02.775250 time
GTCIND
It took 0:00:02.559610 time
BANKRAJAS
It took 0:00:01.633083 time
BAUSCHLOMB
It took 0:00:01.783266 time
CITICORSEC
It took 0:00:02.588359 time
ESTERIND
It took 0:00:03.761283 time
GANESHBENZ
It took 0:00:03.304484 time
HANILERA
It took 0:00:03.624345 time
INDIAGLYCO
It took 0:00:02.592355 time
NAVNETPUBL
It took 0:00:02.997998 time
NIRLON
It took 0:00:01.338069 time
ORIENTCONT
It took 0:00:02.517949 time
PANCHMACEM
It took 0:00:01.820230 time
PONNISUG
It took 0:00:01.309004 time
PRUDENTCM
It took 0:00:01.236791 time
PUNALKALI
It took 0:00:03.331464 time
REALVALAPL
It took 0:00:02.533496 time
SERENDYSTF
It took 0:00:01.152528 time
SILVERLINE
It took 0:00:01.460488 time
SMDYECHEM
It took 0:00:02.056392 time
SPICFINE
It took 0:00:01.692972 time
SYNTHCHEM
It took 0:00:01.488118 time
AARTIIND
It took 0:00:03.459505 time
APPLECREDT
It took 0:00:03.754153 time
CHOWGULSTM
It took 0:00:02.089197 time
GUJFLUORO
It took 0:00:02.696140 time
HINDSYNTEX
It took 0:00:02.848426 time
INDIASEC
It took 0:00:01.547538 time
INVELTRANS
It took 0:00:01.237066 time
KIRELECTRI
It took 0:00:02.326142 time
MERIND
It took 0:00:02.112598 time
MODERNWOOL
It took 0:00:01.374045 time
MODRNSYNTX
It took 0:00:01.241454 time
OUDHSUG
It took 0:00:04.883469 time
PENTFRPROD
It took 0:00:01.540339 time
WIDIA
It took 0:00:02.720653 time
ABSIND
It took 0:00:03.227617 time
CEATFIN
It took 0:00:02.268427 time
PITTIECEM
It took 0:00:03.171090 time
TATAMETALI
It took 0:00:06.002161 time
TUBEINVEST
It took 0:00:02.939346 time
UNIONCARBI
It took 0:00:01.963916 time
AMRUTIND
It took 0:00:02.139141 time
CHLORIDIND
It took 0:00:02.435607 time
ISIBARS
It took 0:00:01.724186 time
NAGPURALOY
It took 0:00:02.185378 time
RIIL
It took 0:00:01.867534 time
SISHIPPING
It took 0:00:02.087284 time
TATAVASHIS
It took 0:00:03.279832 time
UNIPLAS
It took 0:00:01.659226 time
UNITECH
It took 0:00:02.414852 time
UNITEDBREW
It took 0:00:01.489207 time
VARUNSHIP
It took 0:00:03.417778 time
ANAGRAMFIN
It took 0:00:03.368944 time
IONEXCHANG
It took 0:00:01.489113 time
JAGAJITIND
It took 0:00:03.221486 time
KANORICHEM
It took 0:00:02.626268 time
LAKHNNATNL
It took 0:00:02.215523 time
MARALOVER
It took 0:00:02.148009 time
MODERNDENM
It took 0:00:01.558750 time
PENNARALUM
It took 0:00:01.376347 time
RADKHAITAN
It took 0:00:01.189179 time
RUCHISOYA
It took 0:00:02.652404 time
SAURASHCEM
It took 0:00:01.769091 time
SHREEKRPOL
It took 0:00:04.375155 time
SONASTEER
It took 0:00:02.265136 time
STERLINHOL
It took 0:00:03.271204 time
TATAPRESS
It took 0:00:01.470612 time
TRANSPEK
It took 0:00:02.330130 time
TUTICORALK
It took 0:00:02.845324 time
USHAMARTIN
It took 0:00:01.123685 time
UTTAMSTL
It took 0:00:03.499315 time
VARDMNPOLY
It took 0:00:04.518915 time
WHEELS
It took 0:00:02.124651 time
ALMBICHEM
It took 0:00:02.873865 time
APRAYON
It took 0:00:01.780705 time
FICOMORGAN
It took 0:00:02.124920 time
GKW
It took 0:00:02.923459 time
GOETZEIND
It took 0:00:01.764362 time
MANGLMCEM
It took 0:00:03.495367 time
MARDIACHEM
It took 0:00:03.098477 time
MIRCELECTR
It took 0:00:02.539561 time
PANCHMSTEL
It took 0:00:03.049288 time
TATAHONEY
It took 0:00:02.365112 time
TEXTOOL
It took 0:00:01.206146 time
MALWACOTT
It took 0:00:03.828351 time
USHAISPAT
It took 0:00:01.620321 time
CHEMPLAST
It took 0:00:03.063253 time
DHARAMORAR
It took 0:00:03.189968 time
GTNTEXT
It took 0:00:03.212219 time
ORISSACEM
It took 0:00:03.238380 time
PHILIPCARB
It took 0:00:03.932407 time
SBIHOMEFIN
It took 0:00:03.637425 time
SHREEKRPET
It took 0:00:01.606158 time
ASIANCONSO
It took 0:00:01.654731 time
BLUESTAR
It took 0:00:01.558692 time
ROYALCUSHN
It took 0:00:01.090032 time
THOMASCOOK
It took 0:00:03.915472 time
GEEKAYEXIM
It took 0:00:01.840851 time
HIMATSEIDE
It took 0:00:03.337196 time
JAYSREETEA
It took 0:00:04.033547 time
SUMITRAPHA
It took 0:00:02.259653 time
UNICHEMLAB
It took 0:00:04.330890 time
USHABELTRO
It took 0:00:02.217805 time
HINPOWPLUS
It took 0:00:02.854531 time
JFLABS
It took 0:00:01.561238 time
KESORAMIND
It took 0:00:04.398448 time
KOTHARISUG
It took 0:00:02.447026 time
MACIND
It took 0:00:00.984698 time
SQRDSFWARE
It took 0:00:02.562602 time
BAJAJTEMPO
It took 0:00:02.366938 time
DGPWINDSOR
It took 0:00:01.521661 time
SHREECEM
It took 0:00:02.985549 time
ABANLLOYD
It took 0:00:02.092097 time
OTIS
It took 0:00:01.401509 time
PUNANDLAMP
It took 0:00:01.363374 time
RANEMADRAS

It took 0:00:02.584951 time
NIPPONDENS
It took 0:00:01.399277 time
PRECSNFAST
It took 0:00:02.710455 time
SUDARSCHEM
It took 0:00:04.223271 time
CANFINHOME
It took 0:00:02.457563 time
FAGPRECISN
It took 0:00:02.345577 time
KINETICENG
It took 0:00:02.284646 time
RAJINSTEEL
It took 0:00:01.127223 time
CAPRIHANS
It took 0:00:01.277673 time
COATESIND
It took 0:00:02.595613 time
GOODYEAR
It took 0:00:01.737789 time
KAJARIACER
It took 0:00:04.461721 time
TATATELECM
It took 0:00:02.269884 time
TELEPHNCAB
It took 0:00:01.406155 time
COLORCHEM
It took 0:00:02.329312 time
MAHAVIRSPG
It took 0:00:03.641899 time
MRF
It took 0:00:03.747921 time
NAHARENTP
It took 0:00:01.342057 time
LAXMIMACH
It took 0:00:03.765100 time
NAHARINTL
It took 0:00:01.517955 time
SHREESYNTH
It took 0:00:01.964953 time
SUNDRMFAST
It took 0:00:04.236016 time
BIRLA3M
It took 0:00:03.611641 time
KSBPUMPS
It took 0:00:02.955168 time
MODERNMAL
It took 0:00:02.293754 time
SUPERSPIN
It took 0:00:04.157810 time
CRISIL
It took 0:00:05.381812 time
GOODLASNER
It took 0:00:03.555233 time
HEROHONDA
It took 0:00:02.604852 time
MURUDCERA
It took 0:00:02.775087 time
ASIANCABLE
It took 0:00:01.259324 time
KALYANISHP
It took 0:00:01.275062 time
HYDRBADIND
It took 0:00:02.978795 time
MOTOGENFIN
It took 0:00:03.332178 time
HOCL
It took 0:00:04.810624 time
RPGTELECOM
It took 0:00:01.744293 time
TINPLATE
It took 0:00:04.294905 time
JBCHEPHARM
It took 0:00:03.970773 time
WEIZMANIND
It took 0:00:02.569409 time
AEGISCHEM
It took 0:00:02.445765 time
AGRIHATCH
It took 0:00:02.141784 time
AMERICADRY
It took 0:00:02.023295 time
ANDHRAPET
It took 0:00:02.116970 time
ANDREWYULE
It took 0:00:02.257715 time
ATCOIND
It took 0:00:02.946256 time
ATVPETRO
It took 0:00:02.096137 time
BAJAUTOFIN
It took 0:00:01.814942 time
BHARTITELE
It took 0:00:02.915079 time
BHUSANSTL
It took 0:00:05.470038 time
BIRLAERIC
It took 0:00:05.217736 time
BLUEBLENDS
It took 0:00:02.903191 time
BOID2PLANA
It took 0:00:02.784292 time
BOID2PLANB
It took 0:00:01.240884 time
BPL
It took 0:00:03.234593 time
CANTRIPLUS
It took 0:00:01.982140 time
COREFBAMLA
It took 0:00:02.117351 time
CROSLANDS
It took 0:00:01.248477 time
DAMANIAAIR
It took 0:00:01.894399 time
DEEPAKFERT
It took 0:00:03.595438 time
DEWANRUB
It took 0:00:01.530925 time
DLFCEMENT
It took 0:00:02.405059 time
DSJFINCORP
It took 0:00:02.375743 time
DSKULKARNI
It took 0:00:02.015815 time
EASTMINING
It took 0:00:01.937821 time
EICHERMOT
It took 0:00:02.568755 time
ESTWSTRAV
It took 0:00:02.009736 time
FABWORTH
It took 0:00:02.498212 time
FACT
It took 0:00:03.178964 time
FUJITSICIM
It took 0:00:01.430809 time
GANESHANHY
It took 0:00:02.833798 time
GLOBABOARD
It took 0:00:01.400173 time
GUJSIDHCEM
It took 0:00:03.363217 time
HOTLINGLAS
It took 0:00:02.949586 time
INDBANKMER
It took 0:00:03.061915 time
INDOFREBIO
It took 0:00:02.894569 time
INDYESTUF
It took 0:00:01.813974 time
INTCOMTECH
It took 0:00:01.314417 time
ISPATPROF
It took 0:00:03.087400 time
ISSAL
It took 0:00:03.212013 time
JAYSYNTDYE
It took 0:00:02.970216 time
JKPHARMA
It took 0:00:01.615026 time
KHAIHOSTOM
It took 0:00:02.860870 time
KINGSINTL
It took 0:00:01.326876 time
KIRLOSFERR
It took 0:00:05.623864 time
KOTHPIOBLU
It took 0:00:01.376880 time
LICHSGFIN
It took 0:00:04.842449 time
LKPMERFIN
It took 0:00:02.438761 time
MADHUSYNTX
It took 0:00:02.224146 time
MAHINDUGIN
It took 0:00:03.477494 time
MANGTIMBER
It took 0:00:04.473377 time
MASTGROW93
It took 0:00:02.672118 time
MAXORCHARD
It took 0:00:02.808229 time
METROCHEM
It took 0:00:01.404895 time
MODICEMENT
It took 0:00:02.720425 time
MODIOLIVET
It took 0:00:01.382393 time
MOOLEXPORT
It took 0:00:03.726064 time
MURABLACK
It took 0:00:02.688661 time
NAGARJUFIN
It took 0:00:02.695482 time
NAHARSUGAR
It took 0:00:01.224752 time
NARMDCHEMA
It took 0:00:02.892183 time
NATHSEEDS
It took 0:00:02.893206 time
NATNLSTEEL
It took 0:00:04.511581 time
NOVAIRNSTL
It took 0:00:02.859775 time
NUCHEM
It took 0:00:02.478137 time
OILCOUNTUB
It took 0:00:03.523520 time
ONIDASAVAK
It took 0:00:01.701156 time
ORIENTBANK
It took 0:00:04.136316 time
PASUPTACRY
It took 0:00:03.738941 time
PATSPINLTD
It took 0:00:05.047882 time
PCL
It took 0:00:03.374351 time
PEACOCKIND
It took 0:00:05.099507 time
PEARLENGIN
It took 0:00:01.462514 time
PEARLPOLY
It took 0:00:03.248211 time
PHOENIXLMP
It took 0:00:03.501891 time
PRIYADCEM
It took 0:00:01.423110 time
PSIDATALTD
It took 0:00:02.538532 time
PUNJCOMMU
It took 0:00:02.906648 time
RAJASBREW
It took 0:00:02.389016 time
RAJSREESUG
It took 0:00:05.254527 time
RAMAPETRO
It took 0:00:02.610738 time
RAMAPHOSP
It took 0:00:02.802228 time
SABERORGAN
It took 0:00:03.459644 time
SATYAMCOMP
It took 0:00:03.214535 time
SB&TINTL
It took 0:00:04.903049 time
SOLARSNIND
It took 0:00:03.090725 time
SONALCOSM
It took 0:00:01.582552 time
SRIVISHCEM
It took 0:00:02.719613 time
STEELCOGUJ
It took 0:00:01.121104 time
SUNPHARMA
It took 0:00:01.796894 time
SUPERFORGE
It took 0:00:02.125093 time
TATAELXSI
It took 0:00:02.733681 time
TFCILTD
It took 0:00:02.149326 time
TIMEXWATCH
It took 0:00:02.256885 time
TOLANIBULK
It took 0:00:02.156049 time
TORRENGUJ
It took 0:00:01.355058 time
UNIWESTBNK
It took 0:00:02.504966 time
VATSALTD
It took 0:00:01.455323 time
VDOLEASE
It took 0:00:04.521620 time
VDONARMAD
It took 0:00:02.065144 time
VESUVIUS
It took 0:00:05.545907 time
VINYLCHEM
It took 0:00:04.670041 time
VIRALSYNTX
It took 0:00:02.351182 time
WARTDEISEL
It took 0:00:01.288501 time
WELSPUNPOL
It took 0:00:02.572067 time
ZEETELE
It took 0:00:03.968896 time
ANSALPROP
It took 0:00:01.420544 time
BPLSANUTIL
It took 0:00:02.126653 time
LYKALABS
It took 0:00:02.154368 time
NATCOLABS
It took 0:00:01.625900 time
NEPCAGRO
It took 0:00:01.661485 time
NICCOCORP
It took 0:00:02.822078 time
NRC
It took 0:00:02.794294 time
ORIENTPRES
It took 0:00:01.940437 time
S&SIND
It took 0:00:01.218740 time
SAELTD
It took 0:00:02.703990 time
SESHAPAPER
It took 0:00:03.894650 time
SUBHASPROJ
It took 0:00:01.510550 time
SURATELEC
It took 0:00:01.858947 time
TTKPRESTIG
It took 0:00:04.307961 time
ALPINEIND
It took 0:00:03.508950 time
BELLARYSTL
It took 0:00:05.147749 time
COROMNFERT
It took 0:00:06.017999 time
HIMACHTELE
It took 0:00:03.780381 time
MANALIPET
It took 0:00:05.375545 time
SATNAMOVER
It took 0:00:04.434954 time
WATERBASE
It took 0:00:02.386457 time
BIRLCENFIN
It took 0:00:04.248748 time
EICHERTRAC
It took 0:00:01.951397 time
GINNIFILA
It took 0:00:08.928196 time
KGDENIM
It took 0:00:03.247096 time
LANCOIND
It took 0:00:02.070566 time
PACIFICIND
It took 0:00:02.008007 time
BIMETBRG
It took 0:00:02.247974 time
ESABINDIA
It took 0:00:04.982825 time
MODIXEROX
It took 0:00:02.853060 time
ORIENTHOT
It took 0:00:05.199767 time
RAJASPOLY
It took 0:00:02.837488 time
SATHVANISP
It took 0:00:02.420403 time
SRISARALOY
It took 0:00:02.359691 time
TVSELEC
It took 0:00:02.562369 time
MAJESAUTO
It took 0:00:03.122426 time
REPLENGINE
It took 0:00:01.992604 time
DHARNENIND
It took 0:00:04.011836 time
MONNETISPA
It took 0:00:03.940054 time
WESTINDIA
It took 0:00:01.993311 time
CARBORUNIV
It took 0:00:03.777044 time
WILLARDLTD
It took 0:00:02.813117 time
COSMOFILMS
It took 0:00:03.495030 time
GEORGWILIM
It took 0:00:02.949270 time
TRIVENIOIL
It took 0:00:03.481009 time
BPLSANTECH
It took 0:00:04.317198 time
GABRIEL
It took 0:00:04.257301 time
NALCOCHEM
It took 0:00:03.213725 time
SALORAINTL
It took 0:00:03.151602 time
SHREYASHIP
It took 0:00:05.172914 time
OENCONNECT
It took 0:00:04.429175 time
ORIENTPPR
It took 0:00:05.263592 time
HMT
It took 0:00:01.861802 time
SPENTXIND
It took 0:00:01.313147 time
DUNCANSIND
It took 0:00:02.422593 time
GRAPCOGRAN
It took 0:00:02.530106 time
ASSAMFRONT
It took 0:00:03.287212 time
KIROILENG
It took 0:00:02.357203 time
MONTARIND
It took 0:00:01.683552 time
SHRMHONDA
It took 0:00:04.282138 time
SIEL
It took 0:00:02.546045 time
DALALSTCOM
It took 0:00:01.573979 time
TITAGRSTEL
It took 0:00:02.918746 time
NOVAELEMAG
It took 0:00:01.367987 time
WYETHLAB
It took 0:00:02.909137 time
RAMGOPOLY
It took 0:00:01.324095 time
BALRAMCHIN
It took 0:00:02.765856 time
ROSSELL
It took 0:00:01.593004 time
AUTOAXLES
It took 0:00:03.453672 time
GANAPATEXP
It took 0:00:02.406523 time
ARIHANTRED

It took 0:00:01.531245 time
BEML
It took 0:00:05.156186 time
UPERGANGES
It took 0:00:05.302876 time
BHORIND
It took 0:00:01.279729 time
DCM
It took 0:00:04.902707 time
GLOBALTELE
It took 0:00:03.007067 time
LANESEDA
It took 0:00:04.649912 time
PARRYAGRO
It took 0:00:02.702153 time
SARASIND
It took 0:00:01.751152 time
HMGIND
It took 0:00:01.556762 time
PREMAUTOEL
It took 0:00:02.054033 time
ARIHANTCOT
It took 0:00:01.832397 time
DCMSRMCONS
It took 0:00:02.459263 time
DARTLTD
It took 0:00:01.891592 time
GRMAGNET
It took 0:00:03.975828 time
BPLREFRIG
It took 0:00:02.619622 time
CHAMPDANY
It took 0:00:02.380691 time
DCMSRMIND
It took 0:00:02.429408 time
GODREJSOP
It took 0:00:02.232291 time
ABGHEAVY
It took 0:00:01.465444 time
ADITYASPIN
It took 0:00:01.312275 time
ALLIEDRES
It took 0:00:02.018230 time
ALOKTEXT
It took 0:00:05.160093 time
ALPHADRUG
It took 0:00:02.338578 time
ALTOS
It took 0:00:02.384754 time
AMARAJABAT
It took 0:00:04.228510 time
AMBASARABH
It took 0:00:02.960332 time
AMBUJELCST
It took 0:00:02.306303 time
ANSALHOUS
It took 0:00:02.409519 time
ARUNASUGAR
It took 0:00:02.180480 time
ARVINDPOLY
It took 0:00:01.160470 time
ARYAFINFAB
It took 0:00:01.609769 time
ASHAPURMIN
It took 0:00:03.356738 time
ASHIMASYN
It took 0:00:02.888576 time
ATASHIND
It took 0:00:02.060347 time
AUTOCORP
It took 0:00:01.761140 time
AUTOLITIND
It took 0:00:01.540929 time
BAGYAMETAL
It took 0:00:02.187543 time
BALAJIDIST
It took 0:00:02.310127 time
BALAJIFOOD
It took 0:00:01.598902 time
BALAJIIND
It took 0:00:02.022708 time
BALKRISIND
It took 0:00:02.520349 time
BETANAPTOL
It took 0:00:01.434277 time
BHANSALENG
It took 0:00:01.940891 time
BHARATPIPE
It took 0:00:01.779834 time
BIHARCAUST
It took 0:00:02.563979 time
BSL
It took 0:00:02.244042 time
CANBONUS
It took 0:00:01.195091 time
CIMCOBIRLA
It took 0:00:02.527098 time
CONTNLCONS
It took 0:00:01.956161 time
CRBCORP
It took 0:00:01.517831 time
DATAPROINF
It took 0:00:01.034472 time
DAURALAORG
It took 0:00:03.119966 time
DECANGRAN
It took 0:00:01.603656 time
DYNAPHARMA
It took 0:00:01.391941 time
ELBEE
It took 0:00:02.664444 time
EMPEESUGAR
It took 0:00:01.326365 time
ENKAYTEXO
It took 0:00:01.031726 time
FEMNORMIN
It took 0:00:01.153744 time
FIRSTLEASE
It took 0:00:02.857451 time
FLEXCHEM
It took 0:00:03.779514 time
GHCL
It took 0:00:02.499249 time
GICHSGFIN
It took 0:00:03.225926 time
GODAVRFERT
It took 0:00:01.930063 time
GOODVALUE
It took 0:00:01.132683 time
GRAPCOMIN
It took 0:00:01.126210 time
GRAPHIT
It took 0:00:02.382104 time
GUJAMBCOTS
It took 0:00:01.689833 time
GUJAPARPOL
It took 0:00:02.696464 time
HARYANPETR
It took 0:00:01.252912 time
HIMADCHEM
It took 0:00:01.355965 time
HINDCONS
It took 0:00:03.032635 time
HINDINKS
It took 0:00:03.105047 time
HYTSNMAGNT
It took 0:00:01.974212 time
ICICIPREM
It took 0:00:03.160853 time
INDBIOFOOD
It took 0:00:03.049292 time
INDGYPSUM
It took 0:00:03.197826 time
INDUNISSAN
It took 0:00:03.405394 time
INERTIAIND
It took 0:00:02.072374 time
INOVATMARN
It took 0:00:03.045442 time
INOX
It took 0:00:02.580370 time
ISPATALLOY
It took 0:00:02.687574 time
JASWALGRAN
It took 0:00:01.778883 time
JAYASWLNEC
It took 0:00:02.257450 time
JAYBUSMAC
It took 0:00:03.837633 time
JINDALPOLY
It took 0:00:04.612131 time
JKDAIRY
It took 0:00:02.255464 time
JORDENGG
It took 0:00:01.244434 time
KAKATCEM
It took 0:00:03.865114 time
KALPATPOWR
It took 0:00:02.794208 time
KANELOIL
It took 0:00:02.713554 time
KEDIADIST
It took 0:00:01.932039 time
KIRANOVER
It took 0:00:01.270925 time
MARDIASTL
It took 0:00:02.075939 time
MARNITPOLY
It took 0:00:01.821712 time
MESCOPHARM
It took 0:00:05.148592 time
MIDEASTSTL
It took 0:00:02.205270 time
MIDWESTIRN
It took 0:00:01.266429 time
MODILUFT
It took 0:00:01.186539 time
MODIPON
It took 0:00:01.204908 time
MODITHREAD
It took 0:00:02.203676 time
MOTOROL
It took 0:00:02.464244 time
MRINALDYE
It took 0:00:02.263489 time
MUKATPIPE
It took 0:00:01.210642 time
NAHAREXP
It took 0:00:01.406402 time
NIRAJPETRO
It took 0:00:02.275430 time
PADMINPOLY
It took 0:00:01.701285 time
PANASIGLOB
It took 0:00:01.303488 time
PANYAMCEM
It took 0:00:02.437882 time
PAREKHPLAT
It took 0:00:03.015130 time
PASUPATSPG
It took 0:00:01.204277 time
PHOENXINTL
It took 0:00:01.414393 time
PPIL
It took 0:00:01.811687 time
PRECOTMILL
It took 0:00:01.064878 time
PUNJABWIRE
It took 0:00:01.175291 time
RAJINPIPE
It took 0:00:01.826624 time
RAMANEWSPR
It took 0:00:02.031897 time
RUCHISTRIP
It took 0:00:01.218953 time
SAGARESTAT
It took 0:00:02.837360 time
SAVITACHEM
It took 0:00:01.991284 time
SBIMAGTP91
It took 0:00:02.383484 time
SHAMKNSPIN
It took 0:00:01.440246 time
SHREYANIND
It took 0:00:02.239010 time
SHRIDINESH
It took 0:00:02.967839 time
SHYAMTELE
It took 0:00:01.609745 time
SMFINANC
It took 0:00:02.562767 time
SUNDRMCLAY
It took 0:00:03.511415 time
SURYAGROIL
It took 0:00:02.825595 time
TAINWALCHM
It took 0:00:02.600567 time
TANEJAERO
It took 0:00:01.422465 time
TAURUSTAR
It took 0:00:01.056837 time
TIRUMALCHM
It took 0:00:04.192232 time
UBENGG
It took 0:00:02.799240 time
VIKRAMPROJ
It took 0:00:01.663624 time
VINYOGCLOT
It took 0:00:01.521745 time
VYSYABANK
It took 0:00:01.515400 time
WELDFLUX
It took 0:00:01.189459 time
ZANDUPHARM
It took 0:00:04.076409 time
ZILONPHARM
It took 0:00:03.093810 time
ADANIEXPO
It took 0:00:05.036707 time
AHMEDFORGE
It took 0:00:04.815382 time
AKARLAMIN
It took 0:00:02.976097 time
ANAMALFIN
It took 0:00:01.843081 time
BALURTRANS
It took 0:00:02.906391 time
BLUEDART
It took 0:00:03.455562 time
CELESTE
It took 0:00:01.655001 time
CGGLASS
It took 0:00:01.269414 time
CHEMOXSEC
It took 0:00:00.979254 time
CHICAGPNUM
It took 0:00:03.788026 time
COMPACDISC
It took 0:00:02.508334 time
CTCOTTON
It took 0:00:01.235064 time
DELTAIND
It took 0:00:01.093443 time
DENMURFAX
It took 0:00:02.891401 time
FEDDERLOYD
It took 0:00:03.265629 time
GEMSPIN
It took 0:00:03.249710 time
GRANDFONRY
It took 0:00:03.718585 time
GROWTECHNO
It took 0:00:02.509983 time
GSL
It took 0:00:03.035087 time
HINDSANIT
It took 0:00:01.908507 time
INDTRADECO
It took 0:00:02.546012 time
INTLTRAVHS
It took 0:00:03.153000 time
JYOTISTRUC
It took 0:00:03.675242 time
LIBERTSHOE
It took 0:00:02.828841 time
MAHENDSUIT
It took 0:00:01.483618 time
METALPIPE
It took 0:00:02.937976 time
METAZINC
It took 0:00:01.154595 time
MOSERBAER
It took 0:00:01.735820 time
NAGPURENG
It took 0:00:01.476254 time
NAGREKAEXP
It took 0:00:01.481390 time
ORCHIDCHEM
It took 0:00:03.932648 time
ORTONSYNTH
It took 0:00:02.677164 time
OSWALSUG
It took 0:00:02.946683 time
PDUMJEAGRO
It took 0:00:01.406891 time
PRESSMAN
It took 0:00:02.890997 time
PUNJABWOOL
It took 0:00:02.488638 time
REILPROD
It took 0:00:02.433643 time
S&SPOWER
It took 0:00:02.626431 time
SHREPRECOT
It took 0:00:02.233586 time
SPARTEK
It took 0:00:01.655556 time
SRIMANORG
It took 0:00:01.672394 time
STERLINTEA
It took 0:00:01.131167 time
SWARAJMAZD
It took 0:00:02.415653 time
VIKASWSP
It took 0:00:02.110310 time
WESTHATCH
It took 0:00:01.684766 time
ZODJRDMKJ
It took 0:00:03.137848 time
AMFORGEIND
It took 0:00:01.754326 time
ANTFRIBEAR
It took 0:00:01.672146 time
AUTOLEC
It took 0:00:01.268599 time
BBTC
It took 0:00:05.199240 time
BERGEPAINT
It took 0:00:05.691847 time
BGFL
It took 0:00:03.388695 time
ELECTCAST
It took 0:00:04.764503 time
GMRVASAVI
It took 0:00:02.882017 time
GODREJFOOD
It took 0:00:03.759121 time
GUJBOROSIL
It took 0:00:02.733641 time
KARURVYSYA
It took 0:00:01.828891 time
KRONECOMM
It took 0:00:01.651267 time
LEENATEX
It took 0:00:02.660640 time
MOREPENLAB
It took 0:00:03.655855 time
NKIND
It took 0:00:03.343002 time
PARASIND
It took 0:00:01.952480 time
PEARLGLOBL
It took 0:00:03.206514 time
PENTFRSOLC
It took 0:00:02.692313 time
PICCADSUG
It took 0:00:02.390057 time
PODARPIGMT
It took 0:00:02.441190 time
RAMAVISION
It took 0:00:02.301987 time
RENCOGEAR
It took 0:00:02.758741 time
SBIMAGEX91
It took 0:00:01.412371 time
SIMBHALSUG
It took 0:00:02.342494 time
SOUTHNHERB
It took 0:00:02.925001 time
STILBENCHM
It took 0:00:03.374710 time
SUNFLAGIRN
It took 0:00:02.029877 time
SUVARNAQUA
It took 0:00:01.697800 time
TRIVENSHET
It took 0:00:01.709107 time
UCALFUEL
It took 0:00:02.670933 time
UNIWORTINT
It took 0:00:01.157165 time
ANDHRACEM

It took 0:00:01.875653 time
APCOTEXLAT
It took 0:00:01.460619 time
AVERY
It took 0:00:06.023976 time
CHESLINTEX
It took 0:00:02.482995 time
HINDNITRO
It took 0:00:01.584931 time
HITECDRIL
It took 0:00:02.141676 time
KESARENTER
It took 0:00:01.320845 time
MANALUMN
It took 0:00:03.047059 time
NEPCTEX
It took 0:00:02.877244 time
NOVOPAN
It took 0:00:01.075046 time
RUBFILINTL
It took 0:00:01.266553 time
SHARTSEFOD
It took 0:00:01.601824 time
SIPTACOAT
It took 0:00:00.995749 time
SIRPAPER
It took 0:00:01.890804 time
SUASHDIMON
It took 0:00:02.182315 time
VIPPYSOLVX
It took 0:00:01.033825 time
VIRALFILA
It took 0:00:01.215796 time
ARAVALISEC
It took 0:00:01.953235 time
BENGALTEA
It took 0:00:01.471906 time
CENTAKCHEM
It took 0:00:01.653494 time
DEWANHOUS
It took 0:00:04.377869 time
DUNLOP
It took 0:00:02.324215 time
FLATPROD
It took 0:00:02.223539 time
HARIGCRANK
It took 0:00:02.539673 time
NEULANDLAB
It took 0:00:02.095309 time
OSWALAGFUR
It took 0:00:01.343899 time
OTOKLIN
It took 0:00:02.695681 time
PRUDMOULI
It took 0:00:02.476187 time
RAMADHOTEL
It took 0:00:01.343542 time
RANKAQUA
It took 0:00:02.821892 time
SIMPLEXCON
It took 0:00:01.694141 time
SINGER
It took 0:00:02.203160 time
SOMKMARINE
It took 0:00:01.155542 time
SPICELEC
It took 0:00:01.865335 time
EARNHEALTH
It took 0:00:01.172073 time
INTEGRFIN
It took 0:00:01.556397 time
KHATJUNKER
It took 0:00:01.609755 time
PFIMXPHARM
It took 0:00:01.359383 time
SRERAYHY+H
It took 0:00:01.899715 time
VENUSUGAR
It took 0:00:02.103004 time
CGIGARSH
It took 0:00:01.958672 time
ELECTRX
It took 0:00:02.116634 time
FULFORD
It took 0:00:03.328179 time
INDIANHUME
It took 0:00:02.171156 time
MAIKALFIBR
It took 0:00:02.094497 time
NORTHSUG
It took 0:00:01.305441 time
READYFOOD
It took 0:00:01.132344 time
ROYALENFLD
It took 0:00:01.703919 time
SHETRON
It took 0:00:01.874686 time
SHRVINDPPR
It took 0:00:03.467647 time
BAJAJHIND
It took 0:00:03.624097 time
BHUPENIND
It took 0:00:01.954180 time
INDIAPOLY
It took 0:00:01.708586 time
PRAJIND
It took 0:00:01.527532 time
PREMVINYL
It took 0:00:03.123410 time
SHREDIGCEM
It took 0:00:01.750087 time
APOLLOHOSP
It took 0:00:03.624915 time
MASTEK
It took 0:00:02.453672 time
MILTONPLAS
It took 0:00:01.531594 time
BANARISUG
It took 0:00:04.842598 time
LAKSHVILAS
It took 0:00:02.551777 time
JASCHIND
It took 0:00:03.246282 time
RANASUG
It took 0:00:02.984332 time
SHASUNCHEM
It took 0:00:02.178365 time
SHRERAJSYN
It took 0:00:01.899843 time
TANFAC
It took 0:00:01.483042 time
TIL
It took 0:00:04.656173 time
BESTAVISON
It took 0:00:01.672179 time
INDOCOUNT
It took 0:00:01.547892 time
INDRATNA
It took 0:00:03.262603 time
CHOKSITUBE
It took 0:00:01.596140 time
MSLIND
It took 0:00:03.706417 time
ROLATAN
It took 0:00:01.137209 time
TNTELE
It took 0:00:04.933975 time
KOTHARINDL
It took 0:00:03.956369 time
LLOYDMETAL
It took 0:00:01.531884 time
SWIL
It took 0:00:04.172051 time
BURRBROWN
It took 0:00:02.842957 time
CREDITCAP
It took 0:00:01.781893 time
GUJTHEMIS
It took 0:00:02.733642 time
SKUMARSYNF
It took 0:00:06.235058 time
TATIASKYLN
It took 0:00:01.469002 time
WSTCSTPAPR
It took 0:00:03.667841 time
CONSCOFFEE
It took 0:00:02.301077 time
EASTSILK
It took 0:00:03.092775 time
MPGLYCEM
It took 0:00:03.063034 time
SUBROS
It took 0:00:04.844376 time
WARRENTEA
It took 0:00:03.077616 time
WINSOMYARN
It took 0:00:04.602263 time
PERMAGNET
It took 0:00:01.847083 time
PEERABASAN
It took 0:00:03.940728 time
SULZER
It took 0:00:03.277719 time
TRANSFREIT
It took 0:00:03.378887 time
HINDINDCHM
It took 0:00:02.719501 time
INDIALEASE
It took 0:00:01.545952 time
ASIANELEC
It took 0:00:04.548778 time
BANKPUNJAB
It took 0:00:04.263591 time
ELGIEQUIP
It took 0:00:03.614222 time
GERMANREM
It took 0:00:01.916414 time
GICBAL
It took 0:00:01.234984 time
GICBIGCBS
It took 0:00:01.203696 time
HDFCBANK
It took 0:00:05.202104 time
INDIAPHOTO
It took 0:00:03.219311 time
JINDVIJSTL
It took 0:00:03.063594 time
POLYCHEM
It took 0:00:02.374161 time
PRISMCEM
It took 0:00:03.235262 time
STERLITCOM
It took 0:00:03.311070 time
THERMAX
It took 0:00:05.073708 time
GICBIGQDIS
It took 0:00:03.255943 time
KERALACHEM
It took 0:00:01.712971 time
MAFATLAFIN
It took 0:00:01.749451 time
SILTAPCHEM
It took 0:00:03.165878 time
SIRIS
It took 0:00:01.307635 time
NARMADASUG
It took 0:00:03.589384 time
ESCORTSFIN
It took 0:00:02.072924 time
JERSY
It took 0:00:01.369083 time
LUMAXIND
It took 0:00:04.641286 time
PHILCORP
It took 0:00:03.046477 time
SNEHAIND
It took 0:00:04.445784 time
ASSAMCO
It took 0:00:03.570171 time
JMSHARE
It took 0:00:02.905383 time
SANGHIIND
It took 0:00:01.718927 time
JAYDYSTUF
It took 0:00:04.344178 time
INDIAFOILS
It took 0:00:05.334952 time
ISWARMEDIC
It took 0:00:02.724352 time
SUMEETMACH
It took 0:00:01.018840 time
MUNJALSHOW
It took 0:00:02.109556 time
VIKASHYB
It took 0:00:01.025364 time
CHOLAINV
It took 0:00:04.927803 time
BANARBEADS
It took 0:00:03.618203 time
BOINANZPLA
It took 0:00:02.725387 time
EMTEXIND
It took 0:00:01.857855 time
MONICAELEC
It took 0:00:01.717117 time
VIDIANIENG
It took 0:00:01.191457 time
HARYANSHET
It took 0:00:01.326432 time
PREMINSTR
It took 0:00:01.391084 time
PEERLESHIP
It took 0:00:03.031954 time
ESSAROIL
It took 0:00:04.103987 time
KRAFTIND
It took 0:00:03.957599 time
NIHONIRMAN
It took 0:00:02.906102 time
DRIND
It took 0:00:01.142528 time
ONGC
It took 0:00:01.709437 time
DAMANIACM
It took 0:00:02.575545 time
SWARAJENG
It took 0:00:03.868700 time
ADARSHCHEM
It took 0:00:02.375374 time
AIMCOPEST
It took 0:00:01.281970 time
ARENTERP
It took 0:00:03.206836 time
AURANPAPER
It took 0:00:02.807334 time
BELCONTROL
It took 0:00:01.469005 time
BUWALKASTL
It took 0:00:01.859588 time
CRESTCOMM
It took 0:00:03.953902 time
DATARSWICH
It took 0:00:01.312420 time
DECCANCEM
It took 0:00:01.401326 time
ELECTRA
It took 0:00:02.661589 time
FERROALLOY
It took 0:00:02.233777 time
FLEXENGG
It took 0:00:03.801064 time
GMBREW
It took 0:00:03.777409 time
GUJCOTEX
It took 0:00:02.531059 time
GUJOPTICAL
It took 0:00:02.781288 time
IFBVENTUR
It took 0:00:02.718177 time
INDIANACRY
It took 0:00:02.933257 time
JAIPARBOLI
It took 0:00:01.402183 time
KJINTL
It took 0:00:02.773550 time
KRISNAFILA
It took 0:00:03.314392 time
LDTEXT
It took 0:00:02.803888 time
MAHAGRO
It took 0:00:01.726339 time
MAZDALEASE
It took 0:00:01.702745 time
MICROPLANT
It took 0:00:02.568806 time
NOVASTEEL
It took 0:00:02.604287 time
ONWARDTEC
It took 0:00:03.155102 time
POLARIND
It took 0:00:01.481244 time
RICHSILK
It took 0:00:02.283793 time
SAMTELTD
It took 0:00:02.063169 time
SATYAMCEM
It took 0:00:01.992689 time
SECALS
It took 0:00:01.194621 time
SHARDATERY
It took 0:00:01.739980 time
UGS2000
It took 0:00:03.009469 time
UGS5000
It took 0:00:03.134988 time
UNITEDCARB
It took 0:00:01.262895 time
YOGOPHARM
It took 0:00:03.321088 time
ZENITHLTD
It took 0:00:01.031921 time
AEC
It took 0:00:01.265580 time
ASIANCOFFE
It took 0:00:03.234103 time
ASILIND
It took 0:00:01.688990 time
BENTOLCHEM
It took 0:00:01.826863 time
BESTCROMP
It took 0:00:01.484373 time
BIAX
It took 0:00:01.077747 time
BPLENGG
It took 0:00:03.797003 time
BTWIND
It took 0:00:02.371380 time
CHEMOXCHEM
It took 0:00:02.415234 time
CHOKAINTL
It took 0:00:02.306940 time
GARWARSHIP
It took 0:00:02.769673 time
GRAMPHONCO
It took 0:00:01.631052 time
GRINWELNOR
It took 0:00:02.824621 time
HERDILCHEM
It took 0:00:01.399558 time
HINDDORROL
It took 0:00:03.731225 time
JALANFORG
It took 0:00:01.550231 time
KCP
It took 0:00:05.671886 time
KILBUNENGG
It took 0:00:02.406074 time
MADRASMFIN
It took 0:00:01.094427 time
MODTHREAD
It took 0:00:01.234023 time
NAGARCONST
It took 0:00:01.999993 time
OSWALSPG
It took 0:00:02.796700 time
PIRAMHELTH
It took 0:00:01.502868 time
PRAGBOSIMI
It took 0:00:02.677787 time
RATNABLDG
It took 0:00:02.661235 time
ROMIND
It took 0:00:01.766144 time
SHANTIGEAR
It took 0:00:03.953707 time
SHRIYAMSEC
It took 0:00:02.718883 time
WIMPLAST
It took 0:00:03.426753 time
BIHARALLOY
It took 0:00:01.572574 time
DEWANSTEEL
It took 0:00:03.241283 time
DHARSUGAR
It took 0:00:01.930583 time
GUJAMBPROT
It took 0:00:02.329058 time
IFGLREFRAC
It took 0:00:04.944633 time
INDOMATAPP
It took 0:00:02.613119 time
LAXMIPREC
It took 0:00:01.358501 time
MADSUDIND
It took 0:00:01.833033 time
PRECWIRE

It took 0:00:02.707271 time
SAISERVICE
It took 0:00:01.342168 time
SREINTFIN
It took 0:00:01.435981 time
STARPAPER
It took 0:00:02.842643 time
TECILCHEM
It took 0:00:02.145480 time
VXLINSTR
It took 0:00:02.386099 time
AKAIMPEX
It took 0:00:02.308016 time
BIHARSPONG
It took 0:00:01.758762 time
CITURGIBIO
It took 0:00:01.589294 time
HINDUJAFIN
It took 0:00:02.657140 time
JINDALDRIL
It took 0:00:01.608434 time
KREBSBIO
It took 0:00:04.290158 time
PAPERPROD
It took 0:00:01.933042 time
SMZSCHEM
It took 0:00:02.480618 time
STANDRDBAT
It took 0:00:01.593050 time
UPCOMCABLE
It took 0:00:02.251918 time
KITSTEEL
It took 0:00:03.296556 time
MAFATLASPG
It took 0:00:01.302065 time
MODIALKALI
It took 0:00:01.946680 time
NAVBHARENT
It took 0:00:01.117529 time
PAAMDRUG
It took 0:00:01.898565 time
STINDIA
It took 0:00:03.749772 time
THAPARAGRO
It took 0:00:01.938201 time
UNIFLEX
It took 0:00:02.218530 time
VARUNSEA
It took 0:00:02.529850 time
BAJAJPLAST
It took 0:00:01.308324 time
EUPHARMLAB
It took 0:00:01.379661 time
HERBETSON
It took 0:00:01.312232 time
KAMATHOTEL
It took 0:00:04.156905 time
MAHAINTL
It took 0:00:02.206850 time
AGRODUTCH
It took 0:00:02.871377 time
AMTEKAUTO
It took 0:00:03.547669 time
CAMPALLIED
It took 0:00:03.716454 time
DEEPAKSPIN
It took 0:00:02.204793 time
FISHFALCON
It took 0:00:01.955020 time
KALYANBRAK
It took 0:00:01.296643 time
SVADMILLS
It took 0:00:02.763439 time
ASHOKORG
It took 0:00:01.281697 time
OBERHOTEL
It took 0:00:03.420928 time
SHIVAJWORK
It took 0:00:01.641357 time
BALAJHOTEL
It took 0:00:02.969703 time
JAMNAUTO
It took 0:00:03.764240 time
RATHIALLOY
It took 0:00:02.015281 time
TTKPHARMA
It took 0:00:03.009774 time
ASOCSTONE
It took 0:00:03.490699 time
KRISHNAENG
It took 0:00:03.984101 time
SOMANICEM
It took 0:00:02.837380 time
JENSONICOL
It took 0:00:06.131556 time
KGLUCOBIOL
It took 0:00:02.500008 time
PSLHOLD
It took 0:00:03.171421 time
SOMDUTTFIN
It took 0:00:01.781920 time
BAGWATIGAS
It took 0:00:01.953128 time
DRBECK
It took 0:00:01.343715 time
FALCONTYRE
It took 0:00:02.889968 time
LAKSHMILL
It took 0:00:05.375816 time
MATHPLATT
It took 0:00:03.710844 time
DEWANTYRE
It took 0:00:01.273143 time
ICDS
It took 0:00:03.156798 time
INDOASAHI
It took 0:00:01.859316 time
MIDINDIA
It took 0:00:03.079095 time
NARMADCEM
It took 0:00:03.337613 time
SHAANINTER
It took 0:00:02.661081 time
TORRENTCAB
It took 0:00:01.891517 time
CENTEXTRU
It took 0:00:01.811300 time
TATADVMATL
It took 0:00:02.969067 time
SANDESH
It took 0:00:03.344026 time
GPELECT
It took 0:00:03.110380 time
KUSUMINGOT
It took 0:00:01.546405 time
UBPETRO
It took 0:00:01.137827 time
ALSAMARINE
It took 0:00:01.298756 time
BAKELHYLAM
It took 0:00:01.416315 time
IFBAGRO
It took 0:00:02.286830 time
RAJASPETRO
It took 0:00:01.171520 time
ASOCALCHOL
It took 0:00:02.390774 time
ESTCSTSTEL
It took 0:00:02.937597 time
NILKAMPLST
It took 0:00:03.515469 time
BHARATGEAR
It took 0:00:01.890857 time
GONTERPEIP
It took 0:00:04.906430 time
IDBI
It took 0:00:03.078416 time
KANAKSTEEL
It took 0:00:01.499482 time
KIRLOSPNEU
It took 0:00:01.969208 time
MBIND
It took 0:00:01.601485 time
SANDERIND
It took 0:00:02.043164 time
KGKHOSLA
It took 0:00:02.144887 time
AKGACOUST
It took 0:00:01.240891 time
FGPIND
It took 0:00:03.275146 time
POWMEXSTL
It took 0:00:01.029850 time
APOLLOTUBE
It took 0:00:01.015298 time
GOVINRUBER
It took 0:00:01.442204 time
IVP
It took 0:00:02.300496 time
MUKERPAPER
It took 0:00:01.338164 time
RICOAUTO
It took 0:00:01.957416 time
VANADYCHEM
It took 0:00:01.230827 time
HOGANAS
It took 0:00:02.456428 time
NETWORK
It took 0:00:03.439576 time
ZODIACLOTH
It took 0:00:05.576733 time
HINDIND
It took 0:00:02.969417 time
MAHALEAS
It took 0:00:02.468008 time
VIDANIAGRO
It took 0:00:01.343751 time
BANCOPROD
It took 0:00:02.984132 time
KIRLOSELEC
It took 0:00:01.934034 time
GORDONHERB
It took 0:00:01.276149 time
LABHCONST
It took 0:00:02.642347 time
NELCO
It took 0:00:01.820172 time
VEGPROFOOD
It took 0:00:02.999220 time
FAZETHREE
It took 0:00:01.656640 time
BHARATRAS
It took 0:00:03.624754 time
PUNSUMI
It took 0:00:01.125369 time
RUPANGIMPX
It took 0:00:01.384817 time
SKSIND
It took 0:00:02.998755 time
TOKYOPLAST
It took 0:00:03.804004 time
WALCHANNAG
It took 0:00:02.578604 time
XEDDTELCOM
It took 0:00:01.421137 time
KABRAEXTRU
It took 0:00:03.313102 time
BOERMANHEM
It took 0:00:01.458140 time
DEEPAKNITR
It took 0:00:01.990214 time
ALBRMORARJ
It took 0:00:03.456058 time
EUROTEXIND
It took 0:00:04.236065 time
INDSTMSHIP
It took 0:00:01.758058 time
MEDICAPS
It took 0:00:01.553828 time
PENAPATSEC
It took 0:00:01.750699 time
CAUVERSOFT
It took 0:00:01.296839 time
HITECHIJEW
It took 0:00:01.789184 time
THAPARMILK
It took 0:00:01.091958 time
AUROPHARMA
It took 0:00:02.211598 time
IOC
It took 0:00:02.757880 time
BSI
It took 0:00:01.172692 time
21STCENMGM
It took 0:00:01.428723 time
ELECONENGG
It took 0:00:02.484524 time
ENKTEXFOOD
It took 0:00:01.484222 time
WILLAMAGOR
It took 0:00:03.329504 time
BELCERAMIC
It took 0:00:03.279683 time
JAYBARMARU
It took 0:00:02.555164 time
HOTELSRKRI
It took 0:00:02.084926 time
JINDALDRUG
It took 0:00:01.629160 time
SPLLTD
It took 0:00:01.994917 time
VIBRANTINV
It took 0:00:01.262471 time
ARIHANTCRE
It took 0:00:02.439721 time
CARBEVFLOW
It took 0:00:01.714858 time
SIYARSILK
It took 0:00:01.850540 time
MADRASALMN
It took 0:00:02.317885 time
LGBROS
It took 0:00:02.115644 time
WSIND
It took 0:00:01.644655 time
SHALMPAINT
It took 0:00:01.049977 time
STEELTUBES
It took 0:00:02.059877 time
DAICHIKARK
It took 0:00:01.826386 time
HINDSPG
It took 0:00:01.876623 time
KHAITANLTD
It took 0:00:01.521188 time
NATCOPHARM
It took 0:00:03.500161 time
SAITELE
It took 0:00:01.576883 time
PREMIERPOL
It took 0:00:02.402958 time
NOVOPANLTD
It took 0:00:02.060539 time
PETRONENGG
It took 0:00:02.823100 time
JKUDYOG
It took 0:00:01.424987 time
MARUTIORGN
It took 0:00:01.781428 time
AMITSPIN
It took 0:00:01.803632 time
INDLMETER
It took 0:00:03.704785 time
PENARSTEEL
It took 0:00:01.600754 time
REMSONSIND
It took 0:00:01.266367 time
ETPCORP
It took 0:00:01.671498 time
PARASPETRO
It took 0:00:01.830760 time
TNPL
It took 0:00:02.950882 time
GROMORSOLV
It took 0:00:02.000603 time
AMARDYCHEM
It took 0:00:01.920516 time
KNDENGTECH
It took 0:00:03.235322 time
MITTALLAMI
It took 0:00:01.915526 time
RINKIPETRO
It took 0:00:01.914668 time
PALPEUGEOT
It took 0:00:02.102377 time
CORALFINAC
It took 0:00:02.284517 time
HOTELRUGBY
It took 0:00:01.911487 time
SOFTSOLINT
It took 0:00:05.084740 time
NAVBARFERO
It took 0:00:03.066203 time
RAIREKMOH
It took 0:00:01.079675 time
JAYAGROGN
It took 0:00:01.718189 time
PANACEABIO
It took 0:00:04.734023 time
CUBEXTUB
It took 0:00:04.688025 time
EIMCOELECO
It took 0:00:04.601492 time
OVERSANMAR
It took 0:00:03.006908 time
ALPSINDUS
It took 0:00:02.626549 time
MARICOIND
It took 0:00:01.854404 time
MEDIAVIDEO
It took 0:00:02.738370 time
SHIVLOHMIL
It took 0:00:02.834388 time
ZENGLOBAL
It took 0:00:02.149117 time
SQUAREDBIO
It took 0:00:02.435051 time
HINDCOMPOS
It took 0:00:05.077478 time
SAMELECDEV
It took 0:00:02.269758 time
IDBIMFDIV
It took 0:00:01.452450 time
ADITYAINTL
It took 0:00:01.501500 time
SURYCOTMIL
It took 0:00:01.670784 time
SUTLEJINDS
It took 0:00:01.899984 time
BISHNATTEA
It took 0:00:01.812661 time
BOBGROW95
It took 0:00:01.548842 time
COREBIO
It took 0:00:01.301011 time
PERLENGINF
It took 0:00:01.640459 time
PRASGLOFIN
It took 0:00:02.046939 time
REGENCERAM
It took 0:00:04.344440 time
BIOFILCHEM
It took 0:00:01.430902 time
PNBPRMP91
It took 0:00:02.772307 time
SEARCHEMIN
It took 0:00:01.608829 time
NORBTEAEXP
It took 0:00:04.171739 time
KEYCORPSER
It took 0:00:03.785096 time
EASTSUGIND
It took 0:00:01.343816 time
SUBCAPCITY
It took 0:00:01.065792 time
ZENITHEXPO
It took 0:00:02.525453 time
SANGAMIND
It took 0:00:03.672172 time
GICSU96APP
It took 0:00:01.883711 time
UNIMIN
It took 0:00:00.935719 time
KMF
It took 0:00:01.260399 time
EICHERLTD
It took 0:00:02.602730 time
PATWIDECOM
It took 0:00:02.164192 time
MOTHERSUMI
It took 0:00:03.201669 time
SOMATEX
It took 0:00:04.838367 time
ARIHANTIND
It took 0:00:02.038589 time
SUNDRMBRAK
It took 0:00:03.741632 time
VISAKAIND
It took 0:00:03.530630 time
SRMFRG95
It took 0:00:01.022648 time
ASHOKALCO

It took 0:00:02.948508 time
AUTOPALIND
It took 0:00:01.211717 time
CEENIKEXPO
It took 0:00:02.058141 time
DAGERFORST
It took 0:00:01.719080 time
ELECTHERM
It took 0:00:01.800950 time
FORTISFIN
It took 0:00:02.667226 time
GALPOWTEL
It took 0:00:02.190855 time
GESTETNER
It took 0:00:01.783114 time
GOLCRESFIN
It took 0:00:03.094179 time
HINDTINWRK
It took 0:00:01.656299 time
IVRCONST
It took 0:00:02.101808 time
JMCPROJECT
It took 0:00:04.964942 time
KIRLOSINV
It took 0:00:01.765294 time
LUNARDIAM
It took 0:00:02.853767 time
MAJESTIND
It took 0:00:01.004032 time
MANTRIHSG
It took 0:00:03.340819 time
MANUGRAIND
It took 0:00:01.129656 time
NEDUNGBANK
It took 0:00:02.372689 time
NEOSACK
It took 0:00:02.205322 time
NIYATILEAS
It took 0:00:01.882207 time
PALCREDIT
It took 0:00:01.804724 time
SHUKRADIAM
It took 0:00:03.141972 time
SIDDHATUBE
It took 0:00:01.882559 time
SRICHAKTYR
It took 0:00:01.855941 time
SUNRISESEC
It took 0:00:02.563437 time
TRANSCHEM
It took 0:00:03.325815 time
VICKERSYS
It took 0:00:03.098993 time
VICTGLASS
It took 0:00:01.634326 time
VITARACHEM
It took 0:00:03.384996 time
WELMANINCA
It took 0:00:01.173248 time
WESTERNBIO
It took 0:00:02.271899 time
ALFREDHERB
It took 0:00:03.037871 time
ALKYLAMINE
It took 0:00:05.109425 time
DEEPHARMA
It took 0:00:03.060724 time
GEORGFISCH
It took 0:00:02.373873 time
HINDRECT
It took 0:00:02.427968 time
INDOZINC
It took 0:00:01.969686 time
MIRZATAN
It took 0:00:03.906897 time
MODINSULAT
It took 0:00:02.964166 time
MYSORPETRO
It took 0:00:01.624980 time
PRECIMDIAM
It took 0:00:01.796893 time
RAINBOWPPR
It took 0:00:00.938657 time
SAURASTPPR
It took 0:00:01.061308 time
SHRIRAMINV
It took 0:00:01.131783 time
SOMANISWIS
It took 0:00:01.077345 time
TTGIND
It took 0:00:01.572754 time
VENLONPOLY
It took 0:00:02.215235 time
ARTSONENGG
It took 0:00:02.119223 time
ATLANTSPG
It took 0:00:01.213526 time
BFLSOFTWAR
It took 0:00:02.417792 time
GANGOTEX
It took 0:00:02.584779 time
IGGIRESORT
It took 0:00:02.046365 time
JAGSNPHARM
It took 0:00:03.990213 time
PUNJABCHEM
It took 0:00:04.898745 time
SAGARCEM
It took 0:00:03.334895 time
SHAWGELTIN
It took 0:00:02.735476 time
SHOPINVFIN
It took 0:00:01.748577 time
SNOWCEMIND
It took 0:00:02.349963 time
VBDESAIFIN
It took 0:00:00.931482 time
YOKOGAWA
It took 0:00:02.446179 time
ASIANALLOY
It took 0:00:02.545273 time
AVONIND
It took 0:00:01.668875 time
BHUPENCAP
It took 0:00:01.670468 time
EASTOVERSE
It took 0:00:01.045270 time
ELPROINTL
It took 0:00:01.261197 time
GANHSGFIN
It took 0:00:02.817726 time
INDAIRYSPE
It took 0:00:02.326800 time
KJMCFIN
It took 0:00:01.349255 time
PHOENIXELE
It took 0:00:02.190304 time
PORRITSPEN
It took 0:00:01.166490 time
VULCANENG
It took 0:00:01.046749 time
BRITEAUTO
It took 0:00:01.828812 time
FASTCAP
It took 0:00:02.183810 time
GMSIND
It took 0:00:01.341019 time
GUJNRECOKE
It took 0:00:03.048243 time
NSL
It took 0:00:01.801236 time
ORIENTCARB
It took 0:00:01.766518 time
SUMANMOTEL
It took 0:00:01.227399 time
ABBOTTLAB
It took 0:00:03.521203 time
ACELAB
It took 0:00:02.314659 time
BANKMADURA
It took 0:00:01.297980 time
OPTELCOMM
It took 0:00:02.345423 time
SRTRANSFIN
It exists
BRIGHTBROS
It took 0:00:05.154645 time
ENARAIFIN
It took 0:00:01.168818 time
LAKSHAUTO
It took 0:00:04.004212 time
LASERLAMP
It took 0:00:02.453556 time
SAYAJHOTEL
It took 0:00:02.858093 time
SIPAPER
It took 0:00:02.618493 time
SRISHTIVID
It took 0:00:01.498544 time
SSLFINANCE
It took 0:00:01.758313 time
TRANSCORP
It took 0:00:01.156664 time
YUKENINDIA
It took 0:00:03.553158 time
CLIFCO
It took 0:00:02.067272 time
CUTFASTABR
It took 0:00:01.925527 time
MULTIARC
It took 0:00:01.195487 time
RAVALSUGAR
It took 0:00:01.663878 time
SURYVANSPG
It took 0:00:02.314720 time
TITANOCOMP
It took 0:00:01.579543 time
TPINDIA
It took 0:00:02.022465 time
ULTRMARINE
It took 0:00:04.437818 time
ZFSTEERING
It took 0:00:02.735107 time
ALIANCREDT
It took 0:00:01.946045 time
MMFORGINGS
It took 0:00:01.969806 time
MOLDPLAST
It took 0:00:02.419142 time
NAKODATEX
It took 0:00:01.663693 time
SHARYANRES
It took 0:00:01.663899 time
STERTOOLS
It took 0:00:02.572064 time
USHDEVINT
It took 0:00:01.204976 time
WENDTINDIA
It took 0:00:01.531140 time
GUJAPOLEQP
It took 0:00:01.310806 time
SUDITIND
It took 0:00:02.610723 time
TMTINDIA
It took 0:00:03.404772 time
DOONVALLEY
It took 0:00:03.164265 time
HIMGRANITE
It took 0:00:01.224057 time
INDSEAMFIN
It took 0:00:01.580486 time
NAMTECHELE
It took 0:00:02.595434 time
NEPCPAPER
It took 0:00:02.852534 time
PANDGRAPH
It took 0:00:01.144234 time
PINDLTD
It took 0:00:01.470218 time
SHAMKNFAB
It took 0:00:03.203607 time
GICSU96MIP
It took 0:00:02.811910 time
HARIAEXPO
It took 0:00:01.418454 time
TATAYODOGA
It took 0:00:02.366355 time
AARTIDRUGS
It took 0:00:02.902596 time
CENTRLROAD
It took 0:00:01.984955 time
PSMSPGMILL
It took 0:00:02.391379 time
PITTIEFIN
It took 0:00:02.937716 time
IDBIMFGROW
It took 0:00:01.277127 time
INDIANCARD
It took 0:00:03.083044 time
LAKSELECON
It took 0:00:01.525208 time
SUPERSALES
It took 0:00:02.528778 time
CEPHAMILK
It took 0:00:01.206401 time
MANDUIND
It took 0:00:02.279844 time
SSISPAT
It took 0:00:02.249202 time
KAMALOVER
It took 0:00:01.460003 time
BABABUSERV
It took 0:00:02.026543 time
RRMEDIPHAR
It took 0:00:01.387459 time
RUCHINFRA
It took 0:00:03.937123 time
ANIKSHIP
It took 0:00:01.852482 time
GAMMONIND
It took 0:00:03.657191 time
ATLASCYCLE
It took 0:00:03.834037 time
KARUNACAB
It took 0:00:02.000937 time
SOUNDCRAFT
It took 0:00:02.766628 time
GUJRAFFIA
It took 0:00:01.110998 time
EMCOTRANS
It took 0:00:01.165976 time
MADHURFOOD
It took 0:00:01.216712 time
CDRMEDICAL
It took 0:00:02.190096 time
KAMPERCONC
It took 0:00:01.951672 time
PARRYSCON
It took 0:00:03.859074 time
PASUPATFAB
It took 0:00:01.865457 time
AMTREXAPPL
It took 0:00:02.098148 time
DYNAMATECH
It took 0:00:03.061142 time
RAMCOIND
It took 0:00:03.544839 time
CLARIANT
It took 0:00:05.952392 time
RELAXOFOOT
It took 0:00:02.002543 time
HERITGFOOD
It took 0:00:02.472658 time
SRGINFOTEC
It took 0:00:03.125457 time
IDLCHEM
It took 0:00:01.053070 time
HORIZONBAT
It took 0:00:01.346204 time
KESWANISYN
It took 0:00:02.213179 time
THAPRISPAT
It took 0:00:01.334638 time
MPAGROFERT
It took 0:00:01.140081 time
MANSUKHIND
It took 0:00:01.035787 time
TRIVENGIND
It took 0:00:01.163556 time
PRIYADYES
It took 0:00:01.058958 time
ESCMFGROW
It took 0:00:03.061659 time
HAWKINCOOK
It took 0:00:02.360522 time
CABOTINDIA
It took 0:00:01.943335 time
VMJOGENGG
It took 0:00:02.389807 time
DENABANK
It took 0:00:03.225204 time
RISHIPACK
It took 0:00:01.884481 time
ELGITYRE
It took 0:00:02.500028 time
RUSHABEAR
It took 0:00:01.444778 time
WESTINDSEC
It took 0:00:01.746087 time
GUJCYPROM
It took 0:00:02.500627 time
KOTHARIPET
It took 0:00:03.713807 time
HITECHGEAR
It took 0:00:03.109526 time
BANKBARODA
It took 0:00:03.667191 time
EIDERTELE
It took 0:00:02.080453 time
NEOCURTHER
It took 0:00:01.690031 time
PANASIAIND
It took 0:00:01.938003 time
BLUECHIP
It took 0:00:04.790200 time
APOWERTOOL
It took 0:00:01.871204 time
HERDIOXIDE
It took 0:00:01.241979 time
GAIL
It took 0:00:03.329794 time
MKVDC
It took 0:00:01.493889 time
STRAUSIND
It took 0:00:01.026671 time
EUROSOFTAL
It took 0:00:01.612926 time
SCINTSOFT
It took 0:00:03.259520 time
SKMEGGPROD
It took 0:00:03.124137 time
MEDICOTECH
It took 0:00:01.723633 time
BANKINDIA
It took 0:00:03.609108 time
INDRAMEDCO
It took 0:00:04.824467 time
LLOYDELENG
It took 0:00:04.481370 time
INDNIPPON
It took 0:00:03.645602 time
SUNSTRCHEM
It took 0:00:00.887684 time
APTECH
It took 0:00:01.581385 time
DCMFINSERV
It took 0:00:02.076926 time
RAINCALCIN
It took 0:00:02.025883 time
VIRAJALLOY
It took 0:00:01.928608 time
CONCOR
It took 0:00:03.663856 time
ENOREFONRY
It took 0:00:01.624101 time
MTAL
It took 0:00:01.447877 time
KCPSUGIND
It took 0:00:02.850575 time
INTEGENT
It took 0:00:01.329994 time
TCIFINANCE
It took 0:00:02.829714 time
BOROGLASS
It took 0:00:02.755491 time
SUZLONFIBR
It took 0:00:01.427719 time
INDSWFTLAB
It took 0:00:03.066305 time
ARAVALIIND
It took 0:00:01.665297 time
EASUNREYRL
It took 0:00:03.277714 time
GRAMOPHONE
It took 0:00:03.364798 time
JAINPLAST
It took 0:00:01.665781 time
FDC
It took 0:00:03.728592 time
SUNSTARLUB

It took 0:00:03.068894 time
DATTMEDI
It took 0:00:00.928164 time
MADRASFERT
It took 0:00:03.576745 time
ENGINERSIN
It took 0:00:04.878006 time
ENGINVALVE
It took 0:00:04.023539 time
ICICIBANK
It took 0:00:03.681701 time
HBSTOCK
It took 0:00:02.888427 time
JAINSTUDIO
It took 0:00:06.787396 time
JIKINDS
It took 0:00:04.016870 time
CORPBANK
It took 0:00:04.139673 time
ANTGRAPHIC
It took 0:00:01.856923 time
NOVARTIS
It took 0:00:01.805702 time
GMDCLTD
It took 0:00:03.459379 time
INDOXYGEN
It took 0:00:01.256655 time
MAHAPEXLTD
It took 0:00:01.995210 time
INDUSINDBK
It took 0:00:03.491250 time
SBBJ
It took 0:00:02.911114 time
JBMTOOLS
It took 0:00:01.788842 time
UTINDEQ
It took 0:00:01.459030 time
SBT
It took 0:00:03.421928 time
GUJSTATFIN
It took 0:00:03.856083 time
RUBYMILLS
It took 0:00:03.140203 time
ASAHIINDIA
It took 0:00:05.072250 time
JAICORPLTD
It took 0:00:01.770971 time
LEADEDSYS
It took 0:00:03.152263 time
UTIMEP95
It took 0:00:01.067993 time
KOTHARIPRO
It took 0:00:04.799373 time
PSIDATASYS
It took 0:00:01.773363 time
WYETHLEDE
It took 0:00:01.988957 time
GULFOIL
It took 0:00:01.201530 time
BIRLAYAMAH
It took 0:00:03.743702 time
HINDLEVCHM
It took 0:00:03.109902 time
IPRINGS
It took 0:00:04.361828 time
KIRLOSOIL
It took 0:00:04.883216 time
TRAFALHSE
It took 0:00:03.377607 time
ASTRAIDL
It took 0:00:03.312612 time
J&KBANK
It took 0:00:05.691548 time
ARCHIES
It took 0:00:05.689954 time
UTIUS64-CI
It took 0:00:03.247141 time
CUB
It took 0:00:04.964697 time
KONKANRAIL
It took 0:00:02.822191 time
CMC
It took 0:00:03.244552 time
NATPEROXID
It took 0:00:03.229820 time
INFOTECENT
It took 0:00:03.422664 time
SINTEX
It took 0:00:03.497952 time
SIERRAOPT
It took 0:00:01.449612 time
AGREVOIND
It took 0:00:01.661578 time
CIBASPEC
It took 0:00:03.770242 time
UTIBANK
It took 0:00:04.981793 time
SOUTHBANK
It took 0:00:06.411891 time
CYBERTECH
It took 0:00:04.085353 time
ITIL
It took 0:00:02.193141 time
CYAGRO
It took 0:00:02.264605 time
TAXINIT96
It took 0:00:02.092646 time
MAARSOFTW
It took 0:00:02.987787 time
ARHAMFISCL
It took 0:00:02.580590 time
UTIMEP96
It took 0:00:01.493782 time
IDBIBANK
It took 0:00:02.514823 time
NATIONALUM
It took 0:00:01.911592 time
SICAL
It took 0:00:01.747913 time
RSSOFTWARE
It took 0:00:02.862196 time
ORIENTINFO
It took 0:00:04.140206 time
SRIADIKARI
It took 0:00:01.453619 time
SONATSOFTW
It took 0:00:04.456713 time
JINDLSTRIP
It took 0:00:05.569115 time
INFARINDIA
It took 0:00:01.780776 time
PENTACOMMU
It took 0:00:01.546379 time
SUNEARTH
It took 0:00:01.479709 time
KLGSYSTEL
It took 0:00:02.099596 time
IVC
It took 0:00:02.701913 time
ROOFITIND
It took 0:00:03.523815 time
TIMESBANK
It took 0:00:01.304216 time
ALEMBICLTD
It took 0:00:01.812866 time
JINDALSTEL
It took 0:00:03.271478 time
NIPPOBATRY
It took 0:00:03.724302 time
VISUALSOFT
It took 0:00:03.027718 time
HUGHESSOFT
It took 0:00:01.711703 time
KPIT
It took 0:00:02.516323 time
POLARIS
It took 0:00:04.075192 time
KALECONSUL
It took 0:00:02.751411 time
CENTURION
It took 0:00:02.351518 time
COMPUTECH
It took 0:00:02.518663 time
VINTAGE
It took 0:00:02.441283 time
REVL
It took 0:00:02.656460 time
SYNDIBANK
It took 0:00:02.898510 time
HCLTECH
It took 0:00:02.882059 time
WOCKLIFE
It took 0:00:02.193027 time
GOLDTECHNO
It took 0:00:01.121594 time
MONSANTO
It took 0:00:03.843016 time
VISESHINFO
It took 0:00:04.549844 time
SKUPOWER
It took 0:00:01.127790 time
STAR
It took 0:00:02.463345 time
WELLWININD
It took 0:00:01.936697 time
RAJESHEXPO
It took 0:00:02.133889 time
RANEBRAKE
It took 0:00:01.725664 time
GLENMARK
It took 0:00:04.687128 time
ZENITHINFO
It took 0:00:03.895892 time
MOREPENHTL
It took 0:00:03.029054 time
SHAKTIGAS
It took 0:00:03.481141 time
TV18
It took 0:00:02.891411 time
WOCKPHARMA
It took 0:00:04.589973 time
BOBELSS96
It took 0:00:02.331606 time
CYBERSPACE
It took 0:00:02.844370 time
LCCINFOTEC
It took 0:00:04.859557 time
IVRCLINFRA
It took 0:00:04.463832 time
NRBBEARING
It took 0:00:04.612690 time
MELSTAR
It took 0:00:04.656720 time
ICDSLTD
It took 0:00:02.223887 time
SHREERAMA
It took 0:00:03.245942 time
GEOMETRIC
It took 0:00:02.004044 time
BIL
It took 0:00:02.596906 time
HCL-INSYS
It took 0:00:02.875355 time
KOPDRUGS
It took 0:00:02.154235 time
RAMCOSYS
It took 0:00:04.619575 time
ABBALPO
It took 0:00:01.181210 time
CADILAHC
It took 0:00:02.413216 time
INDNAVRTNA
It took 0:00:01.529164 time
ELDERPHARM
It took 0:00:02.470311 time
CINEVISTA
It took 0:00:03.467768 time
GESCOCORP
It took 0:00:01.240211 time
KTKBANK
It took 0:00:03.979308 time
ZENITHCOMP
It took 0:00:02.768763 time
RADICOKHAI
It took 0:00:03.148160 time
SOFTTECHGR
It took 0:00:04.753830 time
BLBLIMITED
It took 0:00:05.006247 time
AJANTPHARM
It took 0:00:04.196459 time
SOFTPRO
It took 0:00:01.734762 time
MASCOT
It took 0:00:01.750169 time
BLUESTARCO
It took 0:00:04.460245 time
CALSOFT
It took 0:00:04.849779 time
KHAITANELE
It took 0:00:04.119037 time
MUKANDENGG
It took 0:00:06.171741 time
TVS-SUZUKI
It took 0:00:01.444595 time
CHENNPETRO
It took 0:00:05.018203 time
NETVISTAIT
It took 0:00:01.434218 time
AFTEKINFO
It took 0:00:03.443109 time
AKSHOPTFBR
It took 0:00:04.962012 time
NEYVELILIG
It took 0:00:05.125574 time
MUKTAARTS
It took 0:00:05.436228 time
TEIL
It took 0:00:02.749155 time
DYNACONS
It took 0:00:03.693787 time
PNBGILTS
It took 0:00:04.635425 time
WARTSILA
It took 0:00:03.766053 time
BLUESTINFO
It took 0:00:02.687043 time
STERLITIND
It took 0:00:01.504328 time
USHABEL
It took 0:00:01.228056 time
JMBASICFND
It took 0:00:02.400335 time
BOBELSS97
It took 0:00:01.303764 time
HUGHESTELE
It took 0:00:02.738179 time
MRO-TEK
It took 0:00:03.181576 time
NOVAPETRO
It took 0:00:03.542193 time
NOVARTIND
It took 0:00:01.238824 time
TIPSINDLTD
It took 0:00:05.571567 time
NOVOPANIND
It took 0:00:03.297024 time
BALAJITELE
It took 0:00:04.426720 time
VISIONLTD
It took 0:00:02.967053 time
AZTEC
It took 0:00:01.330918 time
STROPTICAL
It took 0:00:02.953622 time
PNC
It took 0:00:03.590776 time
IOB
It took 0:00:03.181193 time
CREATIVEYE
It took 0:00:01.982123 time
SOFFIASOFT
It took 0:00:02.421372 time
TAJGVK
It took 0:00:03.117569 time
UTIUS64-RI
It took 0:00:01.491684 time
IT&T
It took 0:00:01.421597 time
ADLABSFILM
It took 0:00:01.514614 time
UMITL
It took 0:00:04.056945 time
VIJAYABANK
It took 0:00:04.070628 time
NOIDATOLL
It took 0:00:06.248803 time
BSELINFO
It took 0:00:02.533082 time
GAEL
It took 0:00:03.066850 time
KHANDSE
It took 0:00:05.223900 time
HIKAL
It took 0:00:03.373352 time
VITALCOMM
It took 0:00:02.596867 time
COMPUDYNE
It took 0:00:03.469286 time
HAVELLS
It took 0:00:04.653681 time
AGEEGOLD
It took 0:00:03.355682 time
ANDHRABANK
It took 0:00:02.782546 time
MID-DAY
It took 0:00:01.762282 time
D-LINK
It took 0:00:02.891807 time
GOLDTECH
It took 0:00:04.855221 time
GODREJINDS
It took 0:00:01.651429 time
ABSHEKINDS
It took 0:00:01.209748 time
GODREJCP
It took 0:00:05.411975 time
AMBUJARAJN
It took 0:00:01.571957 time
FAGBEARING
It took 0:00:03.184652 time
SAREGAMA
It took 0:00:04.080161 time
SEAMECLTD
It took 0:00:06.181489 time
NUCENTFIN
It took 0:00:04.031957 time
VATSMUSC
It took 0:00:02.630685 time
LUPIN
It took 0:00:04.826893 time
MCDOWELL-N
It took 0:00:03.257965 time
TODAYS
It took 0:00:04.011674 time
PANTALOONR
It took 0:00:03.048646 time
INDUJENERT
It took 0:00:01.675131 time
JISLJALEQS
It took 0:00:02.950545 time
TVSMOTOR
It took 0:00:03.462937 time
NIFTYBEES
It took 0:00:05.209607 time
TASCPHARMA
It took 0:00:01.611800 time
TCI
It took 0:00:03.030573 time
KRBL
It took 0:00:03.831614 time
MACMILLAN
It took 0:00:02.913259 time
BHARTI
It took 0:00:03.052073 time
ICICI0401
It took 0:00:02.421275 time
JBMT
It took 0:00:01.553222 time
GOLDTELE
It took 0:00:02.859626 time
PONNIERODE
It took 0:00:04.613654 time
PNB
It took 0:00:04.447149 time
SURANATELE
It took 0:00:02.626720 time
ICICI0101
It took 0:00:01.190238 time
GFL
It took 0:00:03.985473 time
TIMESGTY
It took 0:00:01.988512 time
HEXAWARE
It took 0:00:02.545560 time
PONNIORISA
It took 0:00:01.779726 time
I-FLEX
It took 0:00:02.573304 time
CIPL
It took 0:00:01.398473 time
COREEMBLG
It took 0:00:03.271284 time
ICICI0202
It took 0:00:03.302795 time
UNIONBANK
It took 0:00:01.678176 time
APTECHT
It took 0:00:03.698016 time
PADMALAYAT

It took 0:00:02.434527 time
UTIUS64OCI
It took 0:00:04.015945 time
ALBK
It took 0:00:04.503892 time
MADURACOAT
It took 0:00:02.369128 time
NUCLEUS
It took 0:00:04.882303 time
CANBK
It took 0:00:06.055044 time
ATFL
It took 0:00:06.037631 time
ARL
It took 0:00:05.110077 time
GRAPHITE
It took 0:00:02.824083 time
HTMT
It took 0:00:01.454304 time
GENESYS
It took 0:00:04.815400 time
UTIUS64I10
It took 0:00:02.094475 time
UTIUS64INV
It took 0:00:01.095571 time
ICICI0400
It took 0:00:01.016223 time
UTIUS64I12
It took 0:00:00.991469 time
OMAXAUTO
It took 0:00:05.118431 time
GODREJIND
It took 0:00:05.144951 time
RADAAN
It took 0:00:03.081039 time
JUNIORBEES
It took 0:00:04.664793 time
ICICI1298
It took 0:00:02.689380 time
DIVISLAB
It took 0:00:04.369590 time
ICICI0999
It took 0:00:02.550807 time
PHARMACIA
It took 0:00:02.677151 time
IGFLFERT
It took 0:00:04.228107 time
STCINDIA
It took 0:00:02.835525 time
ICICI1100
It took 0:00:01.875330 time
KOTAKBANK
It took 0:00:02.368121 time
APIL
It took 0:00:02.541767 time
AVENTIS
It took 0:00:04.025318 time
PSL
It took 0:00:01.766958 time
US64BONDS
It took 0:00:02.911351 time
RADICO
It took 0:00:05.017425 time
INDORAMA
It took 0:00:06.466291 time
TATATELSER
It took 0:00:02.370617 time
E-SERVEINT
It took 0:00:01.645300 time
MARUTI
It took 0:00:04.210885 time
STERLINBIO
It took 0:00:04.277454 time
PEPL
It took 0:00:04.958671 time
ETCNETWORK
It took 0:00:02.483204 time
LIQUIDBEES
It took 0:00:07.094779 time
UTISUNDER
It took 0:00:02.765429 time
INDORAMTEX
It took 0:00:02.797180 time
GSKCONS
It took 0:00:03.929782 time
IGS
It took 0:00:01.164454 time
OPTOCIRCUI
It took 0:00:02.794266 time
MUNJALAUTO
It took 0:00:04.251122 time
SUBEX
It took 0:00:04.019725 time
SOLECTCENT
It took 0:00:02.887363 time
ATNINT
It took 0:00:02.350516 time
TATAINFO
It took 0:00:02.500104 time
VENKEYS
It took 0:00:03.749106 time
JUBILANT
It took 0:00:04.759636 time
VARDHACRLC
It took 0:00:05.937771 time
UCOBANK
It took 0:00:06.217162 time
ASAL
It took 0:00:03.046886 time
BAGFILMS
It took 0:00:02.983829 time
SUVEN
It took 0:00:03.102250 time
JSTAINLESS
It took 0:00:02.663676 time
JSTRIPS
It took 0:00:01.764477 time
WELSPUNGUJ
It took 0:00:01.658789 time
WELSPUNIND
It took 0:00:02.139052 time
BALASPONGE
It took 0:00:02.671635 time
SRERAYHIST
It took 0:00:03.128044 time
IGL
It took 0:00:04.828416 time
TATAMOTORS
It took 0:00:04.714831 time
TVSELECT
It took 0:00:02.839112 time
DREDGECORP
It took 0:00:04.581909 time
TVTODAY
It took 0:00:07.037778 time
SURYAPHARM
It took 0:00:04.469791 time
SHIVTEX
It took 0:00:04.172962 time
UNIENTER
It took 0:00:04.326947 time
UNIPHOS
It took 0:00:01.524829 time
SIL
It took 0:00:03.035265 time
TATASPONGE
It took 0:00:03.223564 time
MUKANDLTD
It took 0:00:03.337853 time
PATNI
It took 0:00:03.480941 time
CENBNK
It took 0:00:01.538588 time
ZENSARTECH
It took 0:00:02.070446 time
BSELINFRA
It took 0:00:01.422766 time
FOURSOFT
It took 0:00:01.734293 time
PAVCI
It took 0:00:03.187739 time
REL
It took 0:00:03.015403 time
MICRO
It took 0:00:01.546963 time
PETRONET
It took 0:00:05.360412 time
DHANBANK
It took 0:00:03.274647 time
VAIBHAVGEM
It took 0:00:02.801768 time
BIOCON
It took 0:00:03.469360 time
PTC
It took 0:00:04.890431 time
MAHABANK
It took 0:00:03.030825 time
DISHMAN
It took 0:00:03.758238 time
MAGMA
It took 0:00:03.203224 time
XPROINDIA
It took 0:00:06.045277 time
ATCOM
It took 0:00:03.230641 time
CLASSIC
It took 0:00:04.062115 time
RKFORGE
It took 0:00:02.572988 time
TATAINFOTE
It took 0:00:01.366008 time
DATATECH
It took 0:00:03.307489 time
NDTV
It took 0:00:01.812065 time
STER
It took 0:00:01.697257 time
VISHALEXPO
It took 0:00:03.360075 time
ARSBONDS
It took 0:00:01.431962 time
BANKBEES
It took 0:00:03.790718 time
CCL
It took 0:00:04.830026 time
TRENT
It took 0:00:05.193966 time
JKINDUSTRY
It took 0:00:03.274594 time
JPASSOCIAT
It took 0:00:01.681188 time
3MINDIA
It took 0:00:04.385168 time
MPHASISBFL
It took 0:00:02.605388 time
EXCELCROP
It took 0:00:03.609572 time
EXCELINDUS
It took 0:00:04.936614 time
MATRIXLABS
It took 0:00:02.063497 time
LT
It took 0:00:03.877696 time
KOJAMFIN
It took 0:00:03.122749 time
AMBICAAGAR
It took 0:00:01.239067 time
GEOINFO
It took 0:00:01.487944 time
PGHH
It took 0:00:04.175083 time
APARINDS
It took 0:00:04.504804 time
CENTEXT
It took 0:00:01.491090 time
NIITLTD
It took 0:00:06.412672 time
LUMAXAUTO
It took 0:00:04.430687 time
ULTRACEMCO
It took 0:00:05.601904 time
TCS
It took 0:00:04.342853 time
NIITTECH
It took 0:00:03.204910 time
DICIND
It took 0:00:04.575918 time
GREAVESCOT
It took 0:00:04.193786 time
TEXMACOLTD
It took 0:00:03.760425 time
GRUH
It took 0:00:03.154142 time
OCL
It took 0:00:02.220721 time
KINETICMOT
It took 0:00:05.541387 time
VIDEOIND
It took 0:00:04.182537 time
CREWBOS
It took 0:00:01.775699 time
INDIABULLS
It took 0:00:02.540606 time
SAHPETRO
It took 0:00:01.772840 time
ADORWELD
It took 0:00:03.045702 time
CAROLINFO
It took 0:00:03.734353 time
DABURPHARM
It took 0:00:02.515619 time
REIAGRO
It took 0:00:02.950806 time
INDSWFTLTD
It took 0:00:01.549330 time
MORAREALTY
It took 0:00:02.478448 time
GUFICBIO
It took 0:00:01.888541 time
SKFINDIA
It took 0:00:02.946582 time
USHAMART
It took 0:00:04.290188 time
CRANESSOFT
It took 0:00:02.506632 time
TELEDATAIN
It took 0:00:01.951839 time
ASTRAMICRO
It took 0:00:03.202274 time
AVAYAGCL
It took 0:00:03.093132 time
EICHER
It took 0:00:03.923423 time
MSKPROJ
It took 0:00:01.491049 time
NTPC
It took 0:00:06.892467 time
SALSTEEL
It took 0:00:03.288708 time
GREENPLY
It took 0:00:03.309845 time
KOTARISUG
It took 0:00:04.006793 time
JBMAUTOCOM
It took 0:00:02.502784 time
LOTTEINDIA
It took 0:00:02.875334 time
DCHL
It took 0:00:02.898093 time
BHARTISHIP
It took 0:00:04.914323 time
DWARKESH
It took 0:00:01.816043 time
CRESTANI
It took 0:00:04.447956 time
NUCENT
It took 0:00:01.738620 time
GTL
It took 0:00:03.205169 time
INDOCO
It took 0:00:01.942352 time
TTML
It took 0:00:02.562778 time
ABANLOYD
It took 0:00:01.451391 time
IMPEXFERRO
It took 0:00:01.921963 time
ETCNET
It took 0:00:02.521464 time
JINDALSAW
It took 0:00:01.766429 time
SUPRAJIT
It took 0:00:02.693396 time
HELIOSMATH
It took 0:00:08.299047 time
PATELENG
It took 0:00:04.090046 time
SCANDENT
It took 0:00:02.301923 time
ATUL
It took 0:00:01.641655 time
BOC
It took 0:00:04.483430 time
JDORGO
It took 0:00:01.044316 time
JETAIRWAYS
It took 0:00:02.222143 time
FSS
It took 0:00:03.514710 time
UTVSOF
It took 0:00:03.890328 time
BEPL
It took 0:00:01.526673 time
JSWSTL
It took 0:00:02.635204 time
HONAUT
It took 0:00:05.478746 time
CONSOFINVT
It took 0:00:03.841722 time
GDL
It took 0:00:02.826784 time
SHRIRAMCIT
It took 0:00:04.427273 time
WINDSOR
It took 0:00:01.451609 time
JINDALPHOT
It took 0:00:05.198524 time
JPHYDRO
It took 0:00:02.879847 time
IGARASHI
It took 0:00:03.222467 time
3IINFOTECH
It took 0:00:05.401749 time
EVEREADY
It took 0:00:04.158128 time
GOKEX
It took 0:00:05.504671 time
SHRINGAR
It took 0:00:03.649128 time
WIMCOLTD
It took 0:00:02.192650 time
ALLSEC
It took 0:00:01.785545 time
SAKSOFT
It took 0:00:02.953092 time
INDIAINFO
It took 0:00:01.771797 time
ICICI0302
It took 0:00:01.943155 time
MANGALAM
It took 0:00:03.174492 time
SHOPERSTOP
It took 0:00:02.682317 time
WELGUJ
It took 0:00:01.483326 time
EVERESTIND
It took 0:00:04.267037 time
SSWL
It took 0:00:05.737115 time
NSIL
It took 0:00:04.053458 time
TORRENTSEC
It took 0:00:03.616368 time
CYBERMEDIA
It took 0:00:01.450212 time
ESTL
It took 0:00:02.248190 time
LANABS
It took 0:00:02.343216 time
MARICO
It took 0:00:02.655797 time
PREMIER
It took 0:00:05.120833 time
SURYALAXMI
It took 0:00:06.484525 time
JKPAPER
It took 0:00:02.864303 time
SHAHALLOYS
It took 0:00:03.262765 time
CUMMINSIND
It took 0:00:02.406893 time
PRIMESECU
It took 0:00:03.500785 time
TORRENTAEC
It took 0:00:01.211494 time
FINANTECH
It took 0:00:04.257839 time
GRANULES
It took 0:00:03.798666 time
MLL
It took 0:00:02.607302 time
JINDALSWHL
It took 0:00:01.716178 time
MANINDS
It took 0:00:04.275964 time
AMTEKINDIA
It took 0:00:04.215461 time
VSGML
It took 0:00:03.635259 time
GEOJIT
It took 0:00:01.375358 time
ICICI0402
It took 0:00:02.518909 time
PROVOGUE
It took 0:00:02.676875 time
TATAINVEST
It took 0:00:06.318974 time
GENUSOVERE

It took 0:00:02.550184 time
YESBANK
It took 0:00:05.960672 time
MSPL
It took 0:00:01.934188 time
NECLIFE
It took 0:00:04.634242 time
SHIV-VANI
It took 0:00:03.563530 time
SPLIL
It took 0:00:04.171487 time
TRIGYN
It took 0:00:04.170681 time
INVSTSMART
It took 0:00:03.969776 time
MCLEODRUSS
It took 0:00:01.640539 time
BALASTEELS
It took 0:00:04.366154 time
REVATHI
It took 0:00:04.226619 time
IDFC
It took 0:00:04.327491 time
AXIS-IT&T
It took 0:00:04.289857 time
INGVYSYABK
It took 0:00:03.152665 time
ITDCEM
It took 0:00:04.224712 time
PRICOL
It took 0:00:02.776577 time
VIVIMEDLAB
It took 0:00:04.166146 time
QUINTEGRA
It took 0:00:03.937768 time
RANEHOLDIN
It took 0:00:04.516415 time
GOLDIAM
It took 0:00:01.938207 time
RML
It took 0:00:02.654704 time
HTMEDIA
It took 0:00:03.769343 time
SASKEN
It took 0:00:03.261676 time
EXIDEIND
It took 0:00:02.916028 time
ICIL
It took 0:00:02.537520 time
AMAR
It took 0:00:03.453001 time
JSWSTEEL
It took 0:00:02.125274 time
RAJVIR
It took 0:00:04.764293 time
BSCFAUG08A
It took 0:00:03.626789 time
FCSSOFT
It took 0:00:05.417707 time
SUNFLAG
It took 0:00:04.149058 time
BSCFAUG08B
It took 0:00:01.047860 time
IMPAL
It took 0:00:03.735970 time
ASIL
It took 0:00:02.506756 time
TATASTEEL
It took 0:00:03.083445 time
SAMBHAAV
It took 0:00:01.573128 time
SUZLON
It took 0:00:02.363102 time
AURIONPRO
It took 0:00:02.471875 time
RENUKA
It took 0:00:04.550938 time
PARADYNE
It took 0:00:02.690331 time
BASML
It took 0:00:04.281325 time
MARKSANS
It took 0:00:03.079276 time
PRITHVI
It took 0:00:02.945050 time
WOPOLIN
It took 0:00:03.054273 time
PAEL
It took 0:00:02.400447 time
PBAINFRA
It took 0:00:05.505530 time
VIKASHMET
It took 0:00:02.684580 time
BCCL
It took 0:00:03.235570 time
BRFL
It took 0:00:03.981976 time
CENTBOP
It took 0:00:02.313837 time
PIRAMYDRET
It took 0:00:02.183148 time
ABIRLANUVO
It took 0:00:01.624251 time
TRIVENI
It took 0:00:02.647718 time
AIAENG
It took 0:00:02.512546 time
EKC
It took 0:00:03.500978 time
EMCO
It took 0:00:05.124440 time
NAHARINDUS
It took 0:00:02.550186 time
ORIENTABRA
It took 0:00:02.746354 time
VIMTALABS
It took 0:00:04.220062 time
KERNEX
It took 0:00:03.924608 time
SIMPLEXINF
It took 0:00:03.899279 time
NAGREEKA
It took 0:00:03.269044 time
REPRO
It took 0:00:01.592905 time
COMSYS
It took 0:00:01.547751 time
NANDAN
It took 0:00:01.705743 time
JBMA
It took 0:00:03.778633 time
PVR
It took 0:00:04.313248 time
TULIP
It took 0:00:05.386331 time
PUNJLLOYD
It took 0:00:02.675188 time
BARTRONICS
It took 0:00:02.101559 time
CELEBRITY
It took 0:00:05.285675 time
EDUCOMP
It took 0:00:03.452742 time
ANSALINFRA
It took 0:00:01.415151 time
NITINSPIN
It took 0:00:04.247997 time
ROHLTD
It took 0:00:03.535036 time
BOSCHCHASY
It took 0:00:01.248960 time
ENIL
It took 0:00:06.581352 time
GSPL
It took 0:00:03.977934 time
KECINFRA
It took 0:00:02.633580 time
RCAPVL
It took 0:00:02.488230 time
JAGRAN
It took 0:00:02.684837 time
INOXLEISUR
It took 0:00:02.833861 time
GTNIND
It took 0:00:03.801168 time
RENVL
It took 0:00:03.002712 time
GVKPIL
It took 0:00:05.219846 time
RNRL
It took 0:00:01.670429 time
SADBHAV
It took 0:00:02.166808 time
SUNILHITEC
It took 0:00:04.491325 time
SURYAJYOTI
It took 0:00:04.028459 time
RCVL
It took 0:00:01.078907 time
SAKUMA
It took 0:00:02.719373 time
GITANJALI
It took 0:00:03.754602 time
KEC
It took 0:00:03.310497 time
JKCEMENT
It took 0:00:03.929097 time
INDOTECH
It took 0:00:04.519687 time
PRATIBHA
It took 0:00:03.683531 time
BLKASHYAP
It took 0:00:03.267213 time
M&MFIN
It took 0:00:03.388917 time
VISASTEEL
It took 0:00:02.976408 time
NITCO
It took 0:00:04.617860 time
CENTURYPLY
It took 0:00:01.826885 time
KEI
It took 0:00:01.749367 time
SANWARIA
It took 0:00:02.937190 time
PASUPATI
It took 0:00:01.876114 time
ERACONS
It took 0:00:02.173493 time
SHREYAS
It took 0:00:03.326426 time
SOLAREX
It took 0:00:03.344191 time
VAKRANSOFT
It took 0:00:02.385699 time
COLORCHIPS
It took 0:00:01.913877 time
GALLANTT
It took 0:00:03.721368 time
GILLETTE
It took 0:00:04.591230 time
HITACHIHOM
It took 0:00:02.369759 time
HONDAPOWER
It took 0:00:01.800841 time
RPGCABLES
It took 0:00:02.279624 time
SCHENHERD
It took 0:00:01.126127 time
TATACOFFEE
It took 0:00:03.518803 time
ADHUNIK
It took 0:00:04.505538 time
MALUPAPER
It took 0:00:01.931058 time
GANGOTRI
It took 0:00:03.264448 time
KBL
It took 0:00:01.821492 time
SGL
It took 0:00:02.130454 time
UTTAMSUGAR
It took 0:00:03.188436 time
KKCL
It took 0:00:02.982574 time
ROHITFERRO
It took 0:00:03.787340 time
VHL
It took 0:00:02.442428 time
ZICOM
It took 0:00:02.931167 time
ISPATIND
It took 0:00:02.979907 time
SUNTV
It took 0:00:03.138061 time
GPIL
It took 0:00:04.124107 time
RSYSTEMS
It took 0:00:05.411471 time
EMKAY
It took 0:00:03.853829 time
GMRINDSTRS
It took 0:00:02.436682 time
LOKESHMACH
It took 0:00:02.790547 time
PLETHICO
It took 0:00:02.098664 time
BALPHARMA
It took 0:00:03.418956 time
KIL
It took 0:00:03.307099 time
NUMERICPW
It took 0:00:01.869167 time
RATNAMANI
It took 0:00:03.831491 time
RPL
It took 0:00:01.178551 time
PIONEEREMB
It took 0:00:01.535591 time
CHEMFALKAL
It took 0:00:03.961711 time
GTNTEX
It took 0:00:02.252536 time
CHOLADBS
It took 0:00:02.439539 time
CLNINDIA
It took 0:00:03.745929 time
PENINLAND
It took 0:00:03.183678 time
AIRDECCAN
It took 0:00:03.911160 time
UNITY
It took 0:00:03.417990 time
BHARTIARTL
It took 0:00:02.154165 time
JKLAKSHMI
It took 0:00:04.480696 time
PFOCUS
It took 0:00:03.757377 time
ALLCARGO
It took 0:00:05.353540 time
SIMBHSUGAR
It took 0:00:03.053441 time
RCOM
It took 0:00:02.195619 time
MIRZAINT
It took 0:00:03.165804 time
HCC
It took 0:00:04.796934 time
CAMBRIDGE
It took 0:00:02.899869 time
MUNJALAU
It took 0:00:02.626852 time
KANSAINER
It took 0:00:02.891013 time
NBVENTURES
It took 0:00:04.582247 time
EMAMILTD
It took 0:00:01.498696 time
WENDT
It took 0:00:02.329246 time
ABAN
It took 0:00:02.501204 time
KOHINOOR
It took 0:00:02.207441 time
GMRINFRA
It took 0:00:03.401111 time
MAWANA
It took 0:00:01.594677 time
TECHM
It took 0:00:04.056874 time
ATNINTER
It took 0:00:01.645579 time
RSWM
It took 0:00:01.675820 time
WYETH
It took 0:00:02.780837 time
BVXL
It took 0:00:02.160441 time
GRINDWELL
It took 0:00:03.020994 time
VALECHAENG
It took 0:00:01.939395 time
BHAGYNAGAR
It took 0:00:01.702270 time
FMGOETZE
It took 0:00:04.478861 time
MANUGRAPH
It took 0:00:04.255697 time
ADANIENT
It took 0:00:03.219896 time
AZTECSOFT
It took 0:00:02.726293 time
RAMANEWS
It took 0:00:05.086925 time
VOLTAMP
It took 0:00:04.615188 time
ATLANTA
It took 0:00:04.596141 time
ACE
It took 0:00:05.064306 time
ENNOREFO
It took 0:00:02.876271 time
LAKPRE
It took 0:00:01.637571 time
SELAN
It took 0:00:04.407855 time
SPSL
It took 0:00:03.903594 time
ANANTRAJ
It took 0:00:02.220441 time
BINANIIND
It took 0:00:02.329778 time
HOVS
It took 0:00:02.156329 time
MICROTECH
It took 0:00:05.249713 time
ICSA
It took 0:00:01.583309 time
ELECON
It took 0:00:04.285273 time
TALBROAUTO
It took 0:00:04.685816 time
ENKEI
It took 0:00:03.023621 time
GWALCHEM
It took 0:00:03.219015 time
KSERAPRO
It took 0:00:03.139459 time
MADHUCON
It took 0:00:05.056068 time
ANSALHSG
It took 0:00:04.095948 time
DOLPHINOFF
It took 0:00:01.739985 time
MBECL
It took 0:00:05.037632 time
GATI
It took 0:00:05.378544 time
JMFINANCIL
It took 0:00:05.216729 time
VTL
It took 0:00:04.944059 time
INFOMEDIA
It took 0:00:01.949114 time
FIEMIND
It took 0:00:04.205023 time
HANUNG
It took 0:00:03.308364 time
JHS
It took 0:00:02.319389 time
DCB
It took 0:00:01.461830 time
GLOBALVECT
It took 0:00:02.430587 time
AFL
It took 0:00:04.559770 time
APCOTEXIND
It took 0:00:02.405917 time
PRECOT
It took 0:00:02.719651 time
SHYAMTEL
It took 0:00:01.636186 time
GTLINFRA
It took 0:00:02.288153 time
AARVEEDEN
It took 0:00:02.503749 time
BBL
It took 0:00:02.481142 time
NAUKRI
It took 0:00:04.386340 time
PARAL
It took 0:00:02.263698 time
SHIVAMAUTO
It took 0:00:02.470145 time
AFTEK
It took 0:00:02.554920 time
GESHIP
It took 0:00:02.038444 time
LITL
It took 0:00:02.118664 time
SIGROUPIND
It took 0:00:01.283587 time
TORNTPOWER
It took 0:00:02.634777 time
PARSVNATH
It took 0:00:01.801335 time
BLUECOAST
It took 0:00:01.994367 time
RPGLS
It took 0:00:01.870496 time
RPGTLTD
It took 0:00:02.108585 time
MANALIPETC

It took 0:00:02.515818 time
BLUEBIRD
It took 0:00:01.456484 time
SUTLEJTEX
It took 0:00:02.513605 time
DAAWAT
It took 0:00:03.394770 time
NICCO
It took 0:00:02.567664 time
BATLIBOI
It took 0:00:01.437027 time
DONEAR
It took 0:00:03.776088 time
MMFL
It took 0:00:02.090814 time
RUCHIRA
It took 0:00:02.034863 time
SOBHA
It took 0:00:03.059620 time
SPENTEX
It took 0:00:01.934293 time
TRICOM
It took 0:00:01.633669 time
VENUSREM
It took 0:00:01.525731 time
GTOFFSHORE
It took 0:00:01.941148 time
BANCOINDIA
It took 0:00:02.585132 time
JINDRILL
It took 0:00:02.611530 time
ARIHANT
It took 0:00:02.438251 time
HIRECT
It took 0:00:02.708918 time
MPHASIS
It took 0:00:02.862764 time
SATHAISPAT
It took 0:00:04.836558 time
SHARRESLTD
It took 0:00:02.059652 time
TV-18
It took 0:00:01.811067 time
ESSDEE
It took 0:00:02.474896 time
NFL
It took 0:00:03.570601 time
PLASTIBLEN
It took 0:00:03.399682 time
SURANAIND
It took 0:00:02.389151 time
XLTL
It took 0:00:01.406136 time
NISSAN
It took 0:00:01.332652 time
VISUINTL
It took 0:00:01.818901 time
KESARENT
It took 0:00:03.245154 time
PRAENG
It took 0:00:03.546379 time
INDOASIFU
It took 0:00:01.524370 time
PANORAMUNI
It took 0:00:03.963309 time
PARACABLES
It took 0:00:03.031400 time
HBLPOWER
It took 0:00:04.687705 time
RAJRAYON
It took 0:00:04.670686 time
NILKAMAL
It took 0:00:02.844714 time
PSTL
It took 0:00:03.533626 time
TANLA
It took 0:00:02.893646 time
CAIRN
It took 0:00:04.568643 time
AVTNPL
It took 0:00:04.498081 time
SHREEASHTA
It took 0:00:03.160163 time
WWIL
It took 0:00:01.940391 time
ZEENEWS
It took 0:00:01.278860 time
LUMAXTECH
It took 0:00:01.479502 time
TIDEWATER
It took 0:00:04.164817 time
GEMINI
It took 0:00:05.017461 time
SARLAPOLY
It took 0:00:03.223677 time
ALCHEMIST
It took 0:00:03.244931 time
CLUTCHAUTO
It took 0:00:01.328417 time
SANGHVIMOV
It took 0:00:02.702659 time
BILPOWER
It took 0:00:01.506979 time
IGPL
It took 0:00:03.821401 time
PTL
It took 0:00:04.460252 time
SAGCEM
It took 0:00:01.608388 time
SIYSIL
It took 0:00:02.562423 time
WANBURY
It took 0:00:04.540006 time
AUTOIND
It took 0:00:03.656418 time
GANDHITUBE
It took 0:00:03.440826 time
MINDAIND
It took 0:00:02.236191 time
NETWORK18
It took 0:00:01.658150 time
PITTILAM
It took 0:00:02.571585 time
LOGIXMICRO
It took 0:00:03.418716 time
LAKSHMIEFL
It took 0:00:01.455867 time
TIMKEN
It took 0:00:03.950083 time
AKRUTI
It took 0:00:02.386218 time
CTE
It took 0:00:02.070526 time
GBN
It took 0:00:02.692079 time
POCHIRAJU
It took 0:00:04.153541 time
ANGAUTO
It took 0:00:02.302344 time
TIIL
It took 0:00:03.369477 time
TVSSRICHAK
It took 0:00:03.245007 time
AICHAMP
It took 0:00:03.144720 time
CINEMAX
It took 0:00:01.461815 time
ORIENTCERA
It took 0:00:03.107045 time
HOPFL
It took 0:00:02.332720 time
REDINGTON
It took 0:00:03.162335 time
MURLIIND
It took 0:00:02.733574 time
FSL
It took 0:00:04.200966 time
TTL
It took 0:00:04.499904 time
PFC
It took 0:00:05.052254 time
CANDC
It took 0:00:03.709844 time
TFL
It took 0:00:04.054420 time
SMSPHARMA
It took 0:00:02.199374 time
ZEEL
It took 0:00:03.185441 time
INDIANB
It took 0:00:03.066986 time
GANESHHOUC
It took 0:00:04.015883 time
HCIL
It took 0:00:01.802471 time
BROADCAST
It took 0:00:04.376624 time
EVINIX
It took 0:00:02.292056 time
MINDTREE
It took 0:00:03.844822 time
OTL
It took 0:00:02.373697 time
INDUSFILA
It took 0:00:01.483521 time
JIK
It took 0:00:01.984540 time
EUROCERA
It took 0:00:03.242534 time
IDEA
It took 0:00:02.327686 time
MUDRA
It took 0:00:02.757390 time
UNIPLY
It took 0:00:04.683961 time
SUPREMYARN
It took 0:00:01.152836 time
LAOPALA
It took 0:00:03.376167 time
PAGEIND
It took 0:00:05.050674 time
RAJTV
It took 0:00:02.767241 time
AMDMET
It took 0:00:03.429725 time
AML
It took 0:00:02.288111 time
GOLDBEES
It took 0:00:01.687879 time
JKTYRE
It took 0:00:03.972278 time
ASTRAL
It took 0:00:03.126396 time
SOMANYCERA
It took 0:00:03.975756 time
IBREALEST
It took 0:00:02.740048 time
NAHAREXPOT
It took 0:00:01.279275 time
NAHARSPING
It took 0:00:02.266271 time
JMTAUTOLTD
It took 0:00:03.253032 time
KSOILS
It took 0:00:02.656165 time
TECHNOELEC
It took 0:00:01.178763 time
THEMISMED
It took 0:00:01.571120 time
NCLIND
It took 0:00:04.359523 time
NORTHGATE
It took 0:00:06.071884 time
BALAMINES
It took 0:00:04.479328 time
ASTRAZEN
It took 0:00:04.434162 time
ABGSHIP
It took 0:00:04.629910 time
BANSWRAS
It took 0:00:03.835929 time
MALCO
It took 0:00:02.441612 time
ORBITCORP
It took 0:00:02.881128 time
ICRA
It took 0:00:03.107022 time
GOLDSHARE
It took 0:00:04.935520 time
UFLEX
It took 0:00:04.882795 time
DISHTV
It took 0:00:02.826944 time
ADVANTA
It took 0:00:01.839877 time
PHOENIXLTD
It took 0:00:04.479006 time
AROGRANITE
It took 0:00:01.761890 time
HINDUJATMT
It took 0:00:01.447892 time
ENTEGRA
It took 0:00:02.403119 time
ZENITHBIR
It took 0:00:02.647588 time
BFUTILITIE
It took 0:00:02.398406 time
GARWOFFS
It took 0:00:01.992288 time
KNL
It took 0:00:02.499958 time
SRHHLINDST
It took 0:00:02.922224 time
SRHHYPOLTD
It took 0:00:02.692395 time
FORTIS
It took 0:00:01.605165 time
ALPHAGEO
It took 0:00:03.563922 time
WEBELSOLAR
It took 0:00:02.423435 time
BHAGWATIHO
It took 0:00:02.081838 time
CHETTINAD
It took 0:00:02.241345 time
ANKURDRUGS
It took 0:00:02.475702 time
SGFL
It took 0:00:01.463641 time
HILTON
It took 0:00:02.786910 time
COREPROTEC
It took 0:00:03.429585 time
BINANICEM
It took 0:00:02.843374 time
IILTD
It took 0:00:02.648385 time
MCDHOLDING
It took 0:00:01.715223 time
MIC
It took 0:00:06.479292 time
KMSUGAR
It took 0:00:02.937646 time
NAVINFLUOR
It took 0:00:02.290878 time
GUJAPOLIND
It took 0:00:01.708508 time
GOACARBON
It took 0:00:03.196231 time
NITINFIRE
It took 0:00:03.772081 time
BIRLAPOWER
It took 0:00:01.492226 time
KALINDEE
It took 0:00:02.430193 time
TIMETECHNO
It took 0:00:02.262457 time
FTCSF3YGRO
It took 0:00:02.491996 time
GLORY
It took 0:00:01.892644 time
NAGREEKEXP
It took 0:00:02.196409 time
DECOLIGHT
It took 0:00:02.285285 time
FTCSF3YDIV
It took 0:00:01.212114 time
HTMTGLOBAL
It took 0:00:01.706191 time
NETFINCO
It took 0:00:02.032784 time
SILINV
It took 0:00:01.820204 time
ADVANIHOTR
It took 0:00:02.225090 time
NELCAST
It took 0:00:02.051240 time
MEGH
It took 0:00:01.821491 time
VISHALRET
It took 0:00:02.366401 time
DLF
It took 0:00:01.873100 time
GUJAPOLLO
It took 0:00:03.115480 time
RAMSARUP
It took 0:00:02.551276 time
ROMAN
It took 0:00:02.184856 time
CELESTIAL
It took 0:00:02.069809 time
SPARC
It took 0:00:02.471905 time
HINDUNILVR
It took 0:00:02.296148 time
IOLB
It took 0:00:01.486992 time
MEGASOFT
It took 0:00:02.287195 time
SAPL
It took 0:00:02.042999 time
AMBUJACEM
It took 0:00:02.634805 time
HDIL
It took 0:00:01.982364 time
ADSL
It took 0:00:02.160997 time
ALCHEM
It took 0:00:02.073405 time
EVERONN
It took 0:00:03.661579 time
WSI
It took 0:00:02.161597 time
DECCANCE
It took 0:00:02.997662 time
SIMPLEX
It took 0:00:05.217977 time
ALPA
It took 0:00:05.193879 time
FTCPOF3YGR
It took 0:00:03.396735 time
MAXWELL
It took 0:00:01.654899 time
FTCSF5YDIV
It took 0:00:03.728954 time
KOTAKGOLD
It took 0:00:02.014534 time
OMAXE
It took 0:00:03.756068 time
JAIBALAJI
It took 0:00:04.211538 time
OMNITECH
It took 0:00:04.886941 time
AXISBANK
It took 0:00:03.477294 time
IVRPRIME
It took 0:00:03.498943 time
ORGINFO
It took 0:00:02.625403 time
ZYLOG
It took 0:00:03.514010 time
CENTRALBK
It took 0:00:03.275811 time
DENORA
It took 0:00:04.387244 time
SELMCL
It took 0:00:04.118827 time
VICEROY
It took 0:00:03.726737 time
ASIANTILES
It took 0:00:03.231522 time
FTCPOF3YDV
It took 0:00:02.588522 time
FTCPOF5YGR
It took 0:00:01.231477 time
HINDALCO
It took 0:00:05.490244 time
TAKE
It took 0:00:01.994155 time
ISMTLTD
It took 0:00:03.357331 time
KPRMILL
It took 0:00:04.439399 time
LANCOIN
It took 0:00:01.550936 time
FTCSF5YGRO
It took 0:00:02.544916 time
MAHINDFORG
It took 0:00:02.880842 time
PURVA
It took 0:00:03.149770 time
MOTILALOFS
It took 0:00:04.017499 time
INDOWIND
It took 0:00:01.403566 time
NAGREEKCAP
It took 0:00:02.633068 time
MAGNUM
It took 0:00:05.239585 time
ECEIND
It took 0:00:04.943234 time
GMRINDS
It took 0:00:02.514726 time
KSCL
It took 0:00:01.690949 time
CENTUM
It took 0:00:03.439782 time
POWERGRID
It took 0:00:01.573876 time
KOUTONS
It took 0:00:04.142599 time
CCCL

It took 0:00:01.686783 time
DHANUS
It took 0:00:01.328410 time
SUPREMEINF
It took 0:00:04.264980 time
ASHCO
It took 0:00:03.952771 time
MANALU
It took 0:00:01.375730 time
MANGCHEFER
It took 0:00:04.170776 time
MAYTASINFR
It took 0:00:02.391322 time
NAHARINVST
It took 0:00:02.784755 time
PSUBNKBEES
It took 0:00:03.315911 time
ARROWGROUP
It took 0:00:02.822654 time
BAJAJELEC
It took 0:00:04.597598 time
CERA
It took 0:00:05.275157 time
ENERGYDEV
It took 0:00:04.158355 time
MERCK
It took 0:00:05.370678 time
GULFOILCOR
It took 0:00:01.525316 time
KOTAKPSUBK
It took 0:00:04.668381 time
SABTN
It took 0:00:01.905924 time
GLODYNE
It took 0:00:01.962068 time
JCTEL
It took 0:00:02.625584 time
RELIGARE
It took 0:00:01.579370 time
VARUN
It took 0:00:02.577870 time
BVCL
It took 0:00:03.080388 time
MAHLIFE
It took 0:00:04.980338 time
EDL
It took 0:00:04.811922 time
RELGOLD
It took 0:00:01.985374 time
RMCL
It took 0:00:03.115611 time
MUNDRAPORT
It took 0:00:03.130989 time
HINDUJAVEN
It took 0:00:02.811948 time
MEDIA
It took 0:00:04.170477 time
MORARJETEX
It took 0:00:06.235415 time
SHLAKSHMI
It took 0:00:02.686570 time
EDELWEISS
It took 0:00:02.624577 time
RJL
It took 0:00:04.123696 time
KOLTEPATIL
It took 0:00:02.373014 time
KAUSHALYA
It took 0:00:03.678475 time
COLPAL
It took 0:00:03.665843 time
STRTECH
It took 0:00:04.429378 time
JYOTHYLAB
It took 0:00:05.172872 time
HITECHPLAS
It took 0:00:04.288960 time
KALYANIFRG
It took 0:00:01.906407 time
MADHAV
It took 0:00:03.249571 time
TRIL
It took 0:00:03.040791 time
BRIGADE
It took 0:00:04.511467 time
ECLERX
It took 0:00:01.860295 time
ICIBK1107
It took 0:00:02.187839 time
BGRENERGY
It took 0:00:03.357836 time
BURNPUR
It took 0:00:03.799123 time
MANAKSIA
It took 0:00:02.514139 time
ARIES
It took 0:00:04.422023 time
DTIL
It took 0:00:02.416661 time
PATINTLOG
It took 0:00:02.091911 time
PPAP
It took 0:00:01.570185 time
GENUSPOWER
It took 0:00:03.061158 time
TELEDATAGL
It took 0:00:02.969081 time
AMBIKCO
It took 0:00:01.844612 time
KAVVERITEL
It took 0:00:01.608312 time
CEATLTD
It took 0:00:03.312299 time
FCH
It took 0:00:02.511443 time
APOLLOSIND
It took 0:00:01.875510 time
RPOWER
It took 0:00:02.910378 time
JKIL
It took 0:00:04.645179 time
CORDSCABLE
It took 0:00:05.608517 time
SUPREMETEX
It took 0:00:02.406739 time
IOLN
It took 0:00:02.423505 time
KNRCON
It took 0:00:04.823116 time
ONMOBILE
It took 0:00:02.865170 time
SUJANAUNI
It took 0:00:02.040335 time
TANTIACONS
It took 0:00:01.862049 time
BANG
It took 0:00:01.707157 time
FTCPOF5YDV
It took 0:00:02.395727 time
HERCULES
It took 0:00:02.855748 time
SHRIRAMEPC
It took 0:00:03.121713 time
HORIZONINF
It took 0:00:03.003301 time
JAYNECOIND
It took 0:00:03.232371 time
AMDIND
It took 0:00:04.649266 time
ERAINFRA
It took 0:00:04.488229 time
FAME
It took 0:00:03.741406 time
IRB
It took 0:00:01.950786 time
TATACOMM
It took 0:00:03.095159 time
TULSI
It took 0:00:04.371310 time
BOSCHLTD
It took 0:00:04.112322 time
GUJGLASS
It took 0:00:01.769063 time
QGOLDHALF
It took 0:00:03.145152 time
GOLDINFRA
It took 0:00:02.028216 time
NMDC
It took 0:00:04.288777 time
RAINCOM
It took 0:00:03.399978 time
SHALPAINTS
It took 0:00:04.132587 time
GSSAMERICA
It took 0:00:02.159809 time
NAHARCAP
It took 0:00:02.425449 time
RECLTD
It took 0:00:04.058211 time
VGUARD
It took 0:00:01.691456 time
BAJAJHLDNG
It took 0:00:05.330232 time
BRABOURNE
It took 0:00:03.029428 time
SOLEMS
It took 0:00:01.359770 time
HINDUJAFO
It took 0:00:04.962681 time
ETC
It took 0:00:02.926381 time
PDUMJEIND
It took 0:00:02.791309 time
BALLARPUR
It took 0:00:04.159978 time
IBSEC
It took 0:00:02.521910 time
GAMMNINFRA
It took 0:00:02.723933 time
SITASHREE
It took 0:00:02.739683 time
EIHAHOTELS
It took 0:00:03.283572 time
GRABALALK
It took 0:00:01.581414 time
NESCO
It took 0:00:01.617072 time
DPSCLTD
It took 0:00:04.015732 time
SUMMIT
It took 0:00:02.741827 time
TWL
It took 0:00:02.961625 time
KIRIDYES
It took 0:00:01.522652 time
CHI
It took 0:00:02.582340 time
DIGJAM
It took 0:00:03.581317 time
PIRGLASS
It took 0:00:01.600644 time
IBN18
It took 0:00:03.017690 time
RELINFRA
It took 0:00:03.912564 time
ANIKINDS
It took 0:00:03.024954 time
UBHOLDINGS
It took 0:00:03.840473 time
VIJSHAN
It took 0:00:02.213533 time
VALUEIND
It took 0:00:03.461139 time
BAJAJ-AUTO
It took 0:00:03.773025 time
BAJAJFINSV
It took 0:00:01.718272 time
SPICEMOBIL
It took 0:00:01.855770 time
SURANACORP
It took 0:00:01.520787 time
PIRLIFE
It took 0:00:03.213289 time
GOKUL
It took 0:00:04.882398 time
IBRETAILS
It took 0:00:03.405829 time
RPGLIFE
It took 0:00:01.886160 time
ALMONDZ
It took 0:00:05.009775 time
SPICETELE
It took 0:00:03.540928 time
PIRHEALTH
It took 0:00:01.565643 time
RBL
It took 0:00:04.040377 time
SUNCLAYTON
It took 0:00:01.688697 time
PVP
It took 0:00:04.124062 time
RANEENGINE
It took 0:00:02.203165 time
ABHISHEK
It took 0:00:02.977499 time
RELBANK
It took 0:00:04.572458 time
AREVA
It took 0:00:02.849876 time
GMRFER
It took 0:00:01.853229 time
MVL
It took 0:00:02.482929 time
SEJALGLASS
It took 0:00:02.790638 time
TREADS
It took 0:00:01.182312 time
ARCHIDPLY
It took 0:00:02.898322 time
ARVIND
It took 0:00:01.478232 time
FIRSTWIN
It took 0:00:01.628337 time
LOTUSEYE
It took 0:00:03.645766 time
AREVAT&D
It took 0:00:02.495956 time
KSK
It took 0:00:01.443749 time
QNIFTY
It took 0:00:01.637278 time
VINYLINDIA
It took 0:00:03.460242 time
INEABS
It took 0:00:02.004141 time
BIRLACORPN
It took 0:00:02.330672 time
CAMLIN
It took 0:00:01.412999 time
UBL
It took 0:00:04.348720 time
BIRLACOT
It took 0:00:02.719390 time
LGBFORGE
It took 0:00:02.984548 time
OISL
It took 0:00:02.972156 time
OCTAV
It took 0:00:02.414068 time
VITLINFO
It took 0:00:01.662675 time
LPDC
It took 0:00:02.543830 time
VINCARDS
It took 0:00:01.143473 time
SICAGEN
It took 0:00:01.460186 time
NUTEK
It took 0:00:03.041362 time
RESURGERE
It took 0:00:01.433427 time
JDORGOCHEM
It took 0:00:01.732617 time
AUSTRAL
It took 0:00:02.973750 time
OFSS
It took 0:00:02.813710 time
GOLDENTOBC
It took 0:00:03.665471 time
WABCO-TVS
It took 0:00:02.115166 time
20MICRONS
It took 0:00:03.422115 time
GEODESIC
It took 0:00:01.464842 time
KFA
It took 0:00:01.860274 time
INDBANK
It took 0:00:03.565551 time
JOCIL
It took 0:00:01.459895 time
SUJANATOW
It took 0:00:03.305626 time
KALSTEELS
It took 0:00:03.079074 time
JSL
It took 0:00:01.218917 time
TATAMTRDVR
It took 0:00:02.670764 time
ALKALI
It took 0:00:03.610010 time
KGL
It took 0:00:04.597224 time
REIAGROLTD
It took 0:00:04.847237 time
JIKIND
It took 0:00:01.602077 time
DELTACORP
It took 0:00:02.501620 time
DELTAMAGNT
It took 0:00:02.529663 time
ELGIRUBBER
It took 0:00:01.983578 time
NEOCURE
It took 0:00:02.365197 time
HGSL
It took 0:00:02.667775 time
GISOLUTION
It took 0:00:01.591152 time
PRETAILDVR
It took 0:00:01.610695 time
FKONCO
It took 0:00:03.000796 time
MVLIND
It took 0:00:01.442999 time
EDSERV
It took 0:00:02.940985 time
ABCIL
It took 0:00:03.382226 time
HALONIX
It took 0:00:01.452815 time
TATACAP
It took 0:00:01.390890 time
MAWANASUG
It took 0:00:03.741767 time
BRANDHOUSE
It took 0:00:01.428572 time
SHARIABEES
It took 0:00:01.500101 time
HARITASEAT
It took 0:00:03.092886 time
SOLARINDS
It took 0:00:02.562638 time
HINDNATGLS
It took 0:00:03.026828 time
DATAMATICS
It took 0:00:03.221459 time
HSIL
It took 0:00:02.768429 time
REISIXTEN
It took 0:00:01.551339 time
ARROWTEX
It took 0:00:02.469812 time
INSECTICID
It took 0:00:01.772914 time
HEIDELBERG
It took 0:00:02.588177 time
ICIBK0405A
It took 0:00:00.989930 time
SBIGETS
It took 0:00:02.938031 time
GEOJITBNPP
It took 0:00:01.578664 time
KEMROCK
It took 0:00:02.295501 time
SEINVEST
It took 0:00:02.423281 time
SHREE
It took 0:00:02.420862 time
IFL
It took 0:00:02.363976 time
AJMERA
It took 0:00:01.542749 time
ACKRUTI
It took 0:00:02.961007 time
TELEDATAIT
It took 0:00:02.986142 time
MHRIL
It took 0:00:01.902979 time
GKWLIMITED
It took 0:00:01.678604 time
XLTELENE
It took 0:00:01.907798 time
MYSOREBANK
It took 0:00:02.608256 time
VINATIORGA
It took 0:00:01.531956 time
SMARTLINK
It took 0:00:02.327679 time
EXCELINFO
It took 0:00:02.329823 time
RAJOIL
It took 0:00:03.409296 time
ADANIPOWER
It took 0:00:02.642346 time
SOTL
It took 0:00:02.729841 time
NHPC
It took 0:00:04.139118 time
HINVDIR

It took 0:00:02.515609 time
BIRLAMONEY
It took 0:00:03.061174 time
MPSLTD
It took 0:00:03.674784 time
JINDCOT
It took 0:00:03.867157 time
GLOBUSSPR
It took 0:00:03.905984 time
L&TFINANCE
It took 0:00:02.183374 time
OIL
It took 0:00:02.654573 time
PIPAVAVYD
It took 0:00:02.309568 time
COROMANDEL
It took 0:00:02.983753 time
EUROMULTI
It took 0:00:02.402637 time
SHPRE
It took 0:00:02.066301 time
RELMEDIA
It took 0:00:02.520645 time
STOREONE
It took 0:00:01.357039 time
THINKSOFT
It took 0:00:02.039232 time
IBPOW
It took 0:00:02.301272 time
AMRUTANJAN
It took 0:00:02.687786 time
BIMETAL
It took 0:00:01.314585 time
ELFORGE
It took 0:00:01.392547 time
ELNET
It took 0:00:03.369611 time
IPRINGLTD
It took 0:00:01.855827 time
JUMBO
It took 0:00:02.253766 time
KSE
It took 0:00:01.728098 time
MARG
It took 0:00:02.273181 time
TULSYAN
It took 0:00:01.444339 time
LAKSHMIMIL
It took 0:00:02.413071 time
SUNTECK
It took 0:00:01.996111 time
ZYDUSWELL
It took 0:00:02.853119 time
DEN
It took 0:00:02.291534 time
ASTEC
It took 0:00:01.360808 time
UTYP0909RG
It took 0:00:02.626644 time
AUSOMENT
It took 0:00:01.953315 time
JMFMPXVIRG
It took 0:00:01.692999 time
REFEX
It took 0:00:02.210786 time
SARDAEN
It took 0:00:02.187881 time
SHILPAMED
It took 0:00:01.998956 time
RMEDIA
It took 0:00:01.952464 time
COX&KINGS
It took 0:00:02.000749 time
AHLUCONT
It took 0:00:02.503032 time
ARSHIYA
It took 0:00:04.646660 time
GILLANDERS
It took 0:00:03.341991 time
NOVA
It took 0:00:02.991729 time
ORIENTALTL
It took 0:00:01.969310 time
DLINKINDIA
It took 0:00:03.013588 time
GSLNOVA
It took 0:00:01.017994 time
JSWENERGY
It took 0:00:02.699640 time
GODREJPROP
It took 0:00:01.416624 time
DBCORP
It took 0:00:02.856855 time
UMESL
It took 0:00:01.365579 time
ABBOTINDIA
It took 0:00:03.411281 time
AMARJOTHI
It took 0:00:02.734338 time
AMLSTEEL
It took 0:00:03.149000 time
AVANTI
It took 0:00:03.099643 time
BAYERCROP
It took 0:00:03.024853 time
BEARDSELL
It took 0:00:02.857220 time
HINDCOPPER
It took 0:00:03.276516 time
INFODRIVE
It took 0:00:02.702140 time
JPPOWER
It took 0:00:01.703362 time
JUPITER
It took 0:00:02.341364 time
KWALITY
It took 0:00:02.439341 time
MMTC
It took 0:00:02.403850 time
NESTLEIND
It took 0:00:03.002711 time
PANASONIC
It took 0:00:03.282564 time
TRF
It took 0:00:03.249760 time
TTKHEALTH
It took 0:00:01.360280 time
UNITEDTEA
It took 0:00:01.354197 time
VIPUL
It took 0:00:03.987138 time
WHIRLPOOL
It took 0:00:01.584744 time
HYDROS&S
It took 0:00:03.087517 time
MBLINFRA
It took 0:00:01.515710 time
RAJPALAYAM
It took 0:00:02.917419 time
SUPER
It took 0:00:03.246566 time
INFINITE
It took 0:00:03.125814 time
JUBLFOOD
It took 0:00:01.472624 time
SURANAT&P
It took 0:00:03.229332 time
KOTAKNIFTY
It took 0:00:01.687820 time
SYNCOM
It took 0:00:02.685055 time
VASCONEQ
It took 0:00:02.194061 time
THANGAMAYL
It took 0:00:02.665938 time
AQUA
It took 0:00:01.162708 time
DBREALTY
It took 0:00:01.813893 time
EMMBI
It took 0:00:01.694825 time
HATHWAY
It took 0:00:07.451485 time
GKB
It took 0:00:02.724763 time
KARURKCP
It took 0:00:01.180855 time
KLRF
It took 0:00:02.924474 time
KOVAI
It took 0:00:01.254372 time
TCPLTD
It took 0:00:03.239104 time
ARSSINFRA
It took 0:00:01.479455 time
ORIENTLTD
It took 0:00:02.855715 time
PANCARBON
It took 0:00:01.269379 time
TANFACIND
It took 0:00:02.894442 time
GEECEE
It took 0:00:01.735431 time
DEEPIND
It took 0:00:02.996255 time
KECL
It took 0:00:02.133302 time
SMPL
It took 0:00:01.709459 time
SPECTACLE
It took 0:00:02.806902 time
TEXMOPIPES
It took 0:00:03.244087 time
ZANDUREALT
It took 0:00:02.781444 time
MANINFRA
It took 0:00:03.798477 time
FTFTF12AGR
It took 0:00:02.765780 time
HOCXI13MGR
It took 0:00:02.944005 time
HNGSNGBEES
It took 0:00:01.380048 time
UNITEDBNK
It took 0:00:03.464584 time
RELIGAREGO
It took 0:00:03.262988 time
ILFSTRANS
It took 0:00:03.422213 time
LGBBROSLTD
It took 0:00:02.874146 time
PRADIP
It took 0:00:01.560644 time
PERSISTENT
It took 0:00:03.273919 time
ASIANHOTNR
It took 0:00:03.201909 time
SGJHL
It took 0:00:03.344157 time
ISFT
It took 0:00:02.994298 time
IVRCLAH
It took 0:00:03.044911 time
GOENKA
It took 0:00:03.088978 time
IL&FSTRANS
It took 0:00:02.994943 time
KIRLOSBROS
It took 0:00:01.526154 time
TALWALKARS
It took 0:00:03.082413 time
NITESHEST
It took 0:00:01.564301 time
ANSALAPI
It took 0:00:03.316286 time
SPMLINFRA
It took 0:00:03.632288 time
WELCORP
It took 0:00:03.046539 time
TARAPUR
It took 0:00:01.363120 time
KSL
It took 0:00:03.268389 time
MANDHANA
It took 0:00:01.431656 time
SJVN
It took 0:00:02.950107 time
JPINFRATEC
It took 0:00:01.543780 time
GUJNREDVR
It took 0:00:07.059182 time
AKZOINDIA
It took 0:00:02.995926 time
CRONIMET
It took 0:00:01.850150 time
RAINBOWPAP
It took 0:00:02.083752 time
SUNDARAM
It took 0:00:03.463297 time
AGCNET
It took 0:00:03.380978 time
HOCXI18MGR
It took 0:00:01.039445 time
STAN
It took 0:00:04.706366 time
PIONDIST
It took 0:00:03.301687 time
TWILITAKA
It took 0:00:03.300639 time
ANGIND
It took 0:00:01.882935 time
CHOLAFIN
It took 0:00:03.495665 time
KIRLOSIND
It took 0:00:03.513127 time
FTFTF13AGR
It took 0:00:01.367407 time
SAMRUDDHI
It took 0:00:02.473427 time
APLAB
It took 0:00:03.514267 time
DENSO
It took 0:00:03.940715 time
JEYPORE
It took 0:00:01.376753 time
LAKSHMIFIN
It took 0:00:03.201178 time
MANAPPURAM
It took 0:00:02.997909 time
MANJEERA
It took 0:00:02.356204 time
NOL
It took 0:00:01.346733 time
PERIATEA
It took 0:00:01.344049 time
SAVERA
It took 0:00:01.467575 time
PARABDRUGS
It took 0:00:01.722848 time
UFTIFGVII2
It took 0:00:01.668784 time
UMESLTD
It took 0:00:01.622177 time
RELDUALGPA
It took 0:00:02.735343 time
SEZALGLASS
It took 0:00:01.127639 time
TECHNOFAB
It took 0:00:01.318156 time
TI
It took 0:00:01.431589 time
HMVL
It took 0:00:01.510824 time
SREINFRA
It took 0:00:05.849445 time
TATAGLOBAL
It took 0:00:05.262079 time
IMFA
It took 0:00:05.010967 time
BLISSGVS
It took 0:00:03.262680 time
CORALHUB
It took 0:00:03.063509 time
DPTL
It took 0:00:02.885451 time
FTFTF12CGR
It took 0:00:02.576446 time
FTFTF13ADV
It took 0:00:01.068514 time
ASTERSILI
It took 0:00:01.241557 time
EMAMIINFRA
It took 0:00:03.760109 time
M50
It took 0:00:02.232459 time
USHERAGRO
It took 0:00:01.515338 time
AHLWEST
It took 0:00:03.466714 time
BECREL
It took 0:00:02.749293 time
BODHTREE
It took 0:00:02.915769 time
EMPEESUG
It took 0:00:01.340911 time
NEHAINT
It took 0:00:01.671969 time
SAKTHIFIN
It took 0:00:01.583483 time
SALONACOT
It took 0:00:03.256874 time
SAMBANDAM
It took 0:00:03.227507 time
VIJAYTEX
It took 0:00:01.574864 time
AHLEAST
It took 0:00:01.681369 time
KANDAGIRI
It took 0:00:02.474427 time
GEINDSYS
It took 0:00:02.095171 time
SKSMICRO
It took 0:00:01.214875 time
FARMAXIND
It took 0:00:03.366081 time
IITL
It took 0:00:03.452683 time
BAJAJCORP
It took 0:00:03.859543 time
HDFCMFGETF
It took 0:00:03.405971 time
PDPL
It took 0:00:03.187549 time
RBN
It took 0:00:03.285622 time
UGARSUGAR
It took 0:00:03.650272 time
PRAKASHSTL
It took 0:00:03.049544 time
FTFTF12BDV
It took 0:00:02.619380 time
IPGETF
It took 0:00:01.484285 time
BELLCERATL
It took 0:00:02.877886 time
GPPL
It took 0:00:01.643617 time
FTFTF12ADV
It took 0:00:01.481229 time
ADFFOODS
It took 0:00:03.613720 time
WELINV
It took 0:00:02.488155 time
BAJFINANCE
It took 0:00:02.437191 time
DEEPAKNTR
It took 0:00:02.907733 time
DIAPOWER
It took 0:00:01.397575 time
INDOSOLAR
It took 0:00:04.303784 time
KILITCH
It took 0:00:01.548314 time
ORISSAMINE
It took 0:00:03.349646 time
DALMIASUG
It took 0:00:01.760402 time
COMPUAGE
It took 0:00:02.830524 time
PONDYOXIDE
It took 0:00:03.752411 time
PRITHVISOF
It took 0:00:01.656241 time
SOUISPAT
It took 0:00:02.473816 time
ASHCONIUL
It took 0:00:01.349728 time
SRICHAMUND
It took 0:00:03.966670 time
INFRABEES
It took 0:00:01.825771 time
MICROSEC
It took 0:00:01.919241 time
CPIL
It took 0:00:02.511662 time
EROSMEDIA
It took 0:00:02.746064 time
ESL
It took 0:00:01.650353 time
GREENPOWER
It took 0:00:02.146617 time
RAMKY
It took 0:00:01.630270 time
GALLISPAT
It took 0:00:01.544510 time
CANTABIL
It took 0:00:01.842547 time
TECPRO
It took 0:00:02.774650 time
RELDUALDPA
It took 0:00:03.556020 time
VATECH
It took 0:00:01.355971 time
ASHOKA
It took 0:00:01.815952 time
BEDMUTHA
It took 0:00:01.626246 time
CEBBCO

It took 0:00:04.612724 time
FTFTF12BGR
It took 0:00:02.378295 time
OBEROIREAL
It took 0:00:01.211597 time
BSTRANSCOM
It took 0:00:03.656635 time
GAL
It took 0:00:03.086030 time
PRESTIGE
It took 0:00:03.048183 time
MMFSL
It took 0:00:03.956957 time
RESPONIND
It took 0:00:02.690542 time
HSP141003G
It took 0:00:01.880110 time
COALINDIA
It took 0:00:01.402617 time
ANDHRACEMT
It took 0:00:02.384168 time
IOLCP
It took 0:00:01.815626 time
TECHNO
It took 0:00:02.742723 time
BSLCP1G
It took 0:00:01.522676 time
AXISGOLD
It took 0:00:03.202157 time
GRAVITA
It took 0:00:02.794917 time
RFHF15RGP9
It took 0:00:02.233277 time
CURATECH
It took 0:00:02.521322 time
JINDWORLD
It took 0:00:01.753478 time
PENIND
It took 0:00:03.229554 time
RFHF14RGP2
It took 0:00:01.268712 time
PARRYSUGAR
It took 0:00:02.804420 time
RPPINFRA
It took 0:00:04.130028 time
HMXII14MGR
It took 0:00:01.187252 time
JAMNAAUTO
It took 0:00:01.512519 time
NET4INDIA
It took 0:00:03.077683 time
OBEROIRLTY
It took 0:00:01.957050 time
SUMEETINDS
It took 0:00:02.888536 time
KTKFMP18BG
It took 0:00:02.236919 time
XLENERGY
It took 0:00:02.758787 time
OSWALMIN
It took 0:00:03.502196 time
MOIL
It took 0:00:03.123183 time
WABAG
It took 0:00:03.358844 time
ZEELEARN
It took 0:00:01.615010 time
DSPFM3M21D
It took 0:00:01.552319 time
KTIL
It took 0:00:01.824923 time
A2ZMES
It took 0:00:02.911975 time
KIRLOSENG
It took 0:00:01.555132 time
RKDL
It took 0:00:01.430117 time
MANJUSHREE
It took 0:00:03.910103 time
SPANCO
It took 0:00:02.855734 time
PSB
It took 0:00:01.600191 time
AGRE
It took 0:00:01.354788 time
KBIL
It took 0:00:02.177470 time
WELPROJ
It took 0:00:01.696176 time
SURANAVEL
It took 0:00:02.217365 time
SPYL
It took 0:00:01.589034 time
BFINVEST
It took 0:00:02.597171 time
KICL
It took 0:00:02.933184 time
SMLISUZU
It took 0:00:01.403055 time
FTFTF12CDV
It took 0:00:03.094982 time
CMAHENDRA
It took 0:00:02.475074 time
DALMIABEL
It took 0:00:01.194700 time
SHASUNPHAR
It took 0:00:01.515665 time
SUMMITSEC
It took 0:00:01.969553 time
FTFTF14ADV
It took 0:00:01.333951 time
FTFTF14AGR
It took 0:00:01.087369 time
FTFTF14BDV
It took 0:00:01.157246 time
FTFTF14BGR
It took 0:00:01.187398 time
M100
It took 0:00:02.171978 time
IL&FSENGG
It took 0:00:03.059393 time
SENTINEL
It took 0:00:01.702089 time
OMKARCHEM
It took 0:00:01.932484 time
JUBLINDS
It took 0:00:01.690672 time
BILENERGY
It took 0:00:01.426784 time
COROENGG
It took 0:00:01.203135 time
RANKLIN
It took 0:00:01.706286 time
HINDMOTORS
It took 0:00:01.245734 time
CORAL-HUB
It took 0:00:01.036156 time
NET4
It took 0:00:01.465788 time
TEXRAIL
It took 0:00:01.467354 time
ALICON
It took 0:00:02.488485 time
KSERASERA
It took 0:00:02.480591 time
HFCL
It took 0:00:03.148030 time
ACROPETAL
It took 0:00:01.365945 time
INDTERRAIN
It took 0:00:01.584243 time
SUDAR
It took 0:00:01.767253 time
NCC
It took 0:00:02.688080 time
MAANALU
It took 0:00:02.157587 time
DHUNINV
It took 0:00:01.875828 time
LOVABLE
It took 0:00:02.647626 time
KIRIINDUS
It took 0:00:01.322588 time
IDFC36M2G
It took 0:00:02.457464 time
IDFCQS62G
It took 0:00:02.093961 time
IDFCTMS5AG
It took 0:00:02.206926 time
PFS
It took 0:00:01.499391 time
N100
It took 0:00:02.447616 time
VTXIND
It took 0:00:01.473929 time
DYNASYS
It took 0:00:01.772557 time
SHILPI
It took 0:00:01.473219 time
FTFTF15DV
It took 0:00:01.969138 time
FTFTF15GR
It took 0:00:02.015886 time
IP521YCG
It took 0:00:01.382238 time
SDF370D5G
It took 0:00:02.067247 time
TCIDEVELOP
It took 0:00:01.334095 time
TRIDENT
It took 0:00:01.406552 time
MUTHOOTFIN
It took 0:00:03.243640 time
PARAPRINT
It took 0:00:01.937879 time
FUTUREVENT
It took 0:00:02.003981 time
SERVALL
It took 0:00:01.670460 time
INNOIND
It took 0:00:01.956877 time
DSP12M12G
It took 0:00:01.373659 time
BSLGOLDETF
It took 0:00:01.739342 time
CILNOVA
It took 0:00:02.055076 time
SANGHVIFOR
It took 0:00:04.244012 time
AANJANEYA
It took 0:00:01.426501 time
ESSARPORTS
It took 0:00:01.566848 time
GLOBOFFS
It took 0:00:01.606561 time
IDFC100S3G
It took 0:00:02.836834 time
NEXTMEDIA
It took 0:00:01.689849 time
PIIND
It took 0:00:01.458130 time
SYMPHONY
It took 0:00:03.189650 time
VADILALIND
It took 0:00:01.873959 time
BSLFTPCSG
It took 0:00:01.040883 time
IDFCYS37G
It took 0:00:01.080983 time
NAHARPOLY
It took 0:00:01.300759 time
RFHFXIX13G
It took 0:00:02.923529 time
RFHFXIX2GP
It took 0:00:01.874360 time
JVLAGRO
It took 0:00:02.762859 time
OMMETALS
It took 0:00:01.350578 time
RELAXO
It took 0:00:02.586474 time
RELGRNIFTY
It took 0:00:00.984833 time
DQE
It took 0:00:01.351060 time
ESTER
It took 0:00:03.515496 time
VSTTILLERS
It took 0:00:01.707811 time
TIMBOR
It took 0:00:01.110536 time
KARMAENG
It took 0:00:01.562482 time
WEIZFOREX
It took 0:00:01.344774 time
ASHIANA
It took 0:00:02.449284 time
DHANUKA
It took 0:00:02.895371 time
INFY
It took 0:00:01.900378 time
TELEMARINE
It took 0:00:02.882511 time
MAITHANALL
It took 0:00:01.756088 time
RUSHIL
It took 0:00:03.070692 time
LTFMP370DD
It took 0:00:01.501592 time
LTFMP370DG
It took 0:00:01.559058 time
TV18BRDCST
It took 0:00:01.882512 time
HSEP1525MQ
It took 0:00:01.940501 time
HSEP15370G
It took 0:00:02.022044 time
WELGLOB
It took 0:00:02.414896 time
SMOBILITY
It took 0:00:02.325158 time
BSLNIFTY
It took 0:00:01.535769 time
HSEP15370N
It took 0:00:02.240062 time
HSEP15370Q
It took 0:00:02.280401 time
BGLOBAL
It took 0:00:01.722742 time
BSLCP2G
It took 0:00:01.296536 time
RFHFXIX10D
It took 0:00:01.520443 time
INVENTURE
It took 0:00:03.075011 time
HEROMOTOCO
It took 0:00:03.105190 time
ELGIRUBCO
It took 0:00:04.490992 time
L&TFH
It took 0:00:02.725220 time
JSWISPAT
It took 0:00:01.292066 time
WINDMACHIN
It took 0:00:01.366787 time
EONELECT
It took 0:00:02.499140 time
IBWSL
It took 0:00:01.798976 time
BODALCHEM
It took 0:00:01.718301 time
GAYAPROJ
It took 0:00:01.533874 time
GSS
It took 0:00:01.329513 time
IIISL
It took 0:00:01.441095 time
WINSOME
It took 0:00:01.966254 time
TREEHOUSE
It took 0:00:02.476022 time
ASAHISONG
It took 0:00:01.635155 time
FILATEX
It took 0:00:02.432814 time
BROOKS
It took 0:00:04.666151 time
WABCOINDIA
It took 0:00:01.544652 time
COREEDUTEC
It took 0:00:02.343651 time
CIMMCO
It took 0:00:02.635850 time
NATHSEED
It took 0:00:03.105150 time
TDPOWERSYS
It took 0:00:02.579063 time
UFTIFGS9P2
It took 0:00:01.996880 time
SRSLTD
It took 0:00:01.751551 time
APLLTD
It took 0:00:04.163800 time
IDFCCPOF1G
It took 0:00:01.913164 time
PGEL
It took 0:00:02.611313 time
PIPAVAVDOC
It took 0:00:01.219421 time
UFIQIPIPVI
It took 0:00:02.615450 time
PANAMAPET
It took 0:00:01.421837 time
IDBI0205
It took 0:00:01.002342 time
PRAKASHCON
It took 0:00:02.399289 time
HJUL18370N
It took 0:00:01.049261 time
RELFXVII4G
It took 0:00:01.070025 time
TIJARIA
It took 0:00:02.123260 time
NCOPPER
It took 0:00:02.348977 time
ONELIFECAP
It took 0:00:01.810182 time
SEINV
It took 0:00:02.537695 time
FLEXITUFF
It took 0:00:02.688307 time
TAKSHEEL
It took 0:00:01.234798 time
MBSWITCH
It took 0:00:01.609100 time
VASWANI
It took 0:00:01.805523 time
HIRAFERRO
It took 0:00:02.360019 time
IIFLNIFTY
It took 0:00:01.934234 time
KRITIIND
It took 0:00:01.956063 time
PANCHSHEEL
It took 0:00:01.887901 time
PILANIINV
It took 0:00:02.503374 time
SHAKTIPUMP
It took 0:00:02.500008 time
TRITURBINE
It took 0:00:01.595442 time
INDOTHAI
It took 0:00:01.599575 time
STEL
It took 0:00:02.772806 time
ESSARSHPNG
It took 0:00:03.062741 time
HUBTOWN
It took 0:00:01.829641 time
CAREERP
It took 0:00:01.670388 time
IDBIGOLD
It took 0:00:02.968363 time
SEZAL
It took 0:00:01.862549 time
IDFCYS44G
It took 0:00:01.250289 time
HGS
It took 0:00:01.541161 time
JISLDVREQS
It took 0:00:03.574647 time
DSSL
It took 0:00:02.162424 time
POLYMED
It took 0:00:01.561411 time
RUPA
It took 0:00:02.468684 time
SHARONBIO
It took 0:00:01.246449 time
MERCATOR
It took 0:00:01.454002 time
RASOYPR
It took 0:00:01.424959 time
VIKASGLOB
It took 0:00:01.937349 time
APLAPOLLO
It took 0:00:02.798178 time
KANANIIND
It took 0:00:02.056618 time
SARTHAKIND
It took 0:00:01.480743 time
ALPINEHOU
It took 0:00:01.136526 time
THEBYKE
It took 0:00:01.382587 time
VTMLTD
It took 0:00:01.753202 time
SHRINATRAJ
It took 0:00:02.666700 time
ADANIPORTS
It took 0:00:02.388017 time
THOMASCOTT
It took 0:00:02.510322 time
NHAI

It took 0:00:03.993050 time
KOKUYOCMLN
It took 0:00:02.570771 time
FTFTF16DO
It took 0:00:01.465725 time
FTFTF16GR
It took 0:00:01.984187 time
V2RETAIL
It took 0:00:02.612165 time
DBSTOCKBRO
It took 0:00:02.293638 time
JAIHINDPRO
It took 0:00:01.406116 time
COMPUSOFT
It took 0:00:02.809146 time
IRFC
It took 0:00:04.797447 time
NEOCORP
It took 0:00:02.255041 time
FMNL
It took 0:00:01.973063 time
MCX
It took 0:00:01.533960 time
ALSTOMT&D
It took 0:00:01.240098 time
IIFLFMPS1G
It took 0:00:01.418816 time
ORIENTREF
It took 0:00:03.862310 time
MINDACORP
It took 0:00:02.843800 time
HUDCO
It took 0:00:04.325363 time
SCHNEIDER
It took 0:00:02.710643 time
TEXINFRA
It took 0:00:02.863409 time
NANDANEXIM
It took 0:00:01.838927 time
PROVOGE
It took 0:00:02.012879 time
CRMFGETF
It took 0:00:01.497940 time
MGOLD
It took 0:00:01.617796 time
NAGAROIL
It took 0:00:03.525644 time
METKORE
It took 0:00:02.235793 time
MTEDUCARE
It took 0:00:02.344051 time
NBCC
It took 0:00:01.404233 time
ORIENTBELL
It took 0:00:01.694881 time
HEXATRADEX
It took 0:00:01.616038 time
TBZ
It took 0:00:02.379472 time
VSSL
It took 0:00:01.162503 time
DHFL
It took 0:00:02.665976 time
HFB370G202
It took 0:00:02.135355 time
HMR399G211
It took 0:00:01.034425 time
CHROMATIC
It took 0:00:01.318004 time
SWANENERGY
It took 0:00:01.399392 time
SIGNETIND
It took 0:00:03.115674 time
SPECIALITY
It took 0:00:01.615488 time
EON
It took 0:00:01.817569 time
ARVINDREM
It took 0:00:01.917639 time
CINEPRO
It took 0:00:01.832813 time
HJL18375G2
It took 0:00:01.272067 time
STYABS
It took 0:00:02.229871 time
XCHANGING
It took 0:00:01.368639 time
RMMIL
It took 0:00:02.603102 time
PGIL
It took 0:00:02.971992 time
IIFLFMPS3G
It took 0:00:02.760222 time
SWELECTES
It took 0:00:01.739143 time
AIL
It took 0:00:02.331043 time
SANOFI
It took 0:00:03.157109 time
VKSPL
It took 0:00:01.500223 time
TCFSL
It took 0:00:01.526241 time
WINSOMEDJ
It took 0:00:01.374839 time
SEPOWER
It took 0:00:01.761407 time
IBIPL
It took 0:00:01.349931 time
AMTL
It took 0:00:01.271649 time
IIFLFIN
It took 0:00:03.056078 time
SAMINDUS
It took 0:00:01.962881 time
SAYAJIHOTL
It took 0:00:01.865848 time
SIMPLEXCAS
It took 0:00:01.236674 time
COUNCODOS
It took 0:00:01.947757 time
ACCELYA
It took 0:00:01.409750 time
PROZONE
It took 0:00:01.567967 time
TARMAT
It took 0:00:03.800283 time
MORARJEE
It took 0:00:03.790261 time
PEL
It took 0:00:03.145556 time
PROZONECSC
It took 0:00:03.264663 time
KITEX
It took 0:00:01.443869 time
MAYURUNIQ
It took 0:00:02.694110 time
ROSSELLIND
It took 0:00:03.476024 time
ZUARIGLOB
It took 0:00:03.097149 time
SITICABLE
It took 0:00:03.735235 time
DYNATECH
It took 0:00:01.969508 time
RELIFIN
It took 0:00:03.447107 time
GREENFIRE
It took 0:00:01.396157 time
CINEMAXIN
It took 0:00:03.234906 time
SUNCLAYLTD
It took 0:00:01.376278 time
HIL
It took 0:00:03.345248 time
DWSHYD6GR
It took 0:00:01.450316 time
THEJO
It took 0:00:01.540210 time
BAFNAPHARM
It took 0:00:02.560096 time
ZUARI
It took 0:00:03.266474 time
BSLIMITED
It took 0:00:02.656838 time
CAPF
It took 0:00:01.166092 time
TARAJEWELS
It took 0:00:01.340531 time
DWSHFTF3DP
It took 0:00:01.499648 time
VETO
It took 0:00:01.275505 time
VAIBHAVGBL
It took 0:00:02.988258 time
CARERATING
It took 0:00:02.555612 time
PCJEWELLER
It took 0:00:02.176662 time
INFRATEL
It took 0:00:02.653288 time
DALMIABHA
It took 0:00:02.842731 time
BSLCP5G
It took 0:00:01.254689 time
RFHFXX31GP
It took 0:00:03.406823 time
RFHFXXI18G
It took 0:00:01.603609 time
RMFINARGG1
It took 0:00:02.935957 time
SHIRPUR-G
It took 0:00:01.226102 time
RFHFXX33GP
It took 0:00:00.901881 time
VMART
It took 0:00:01.420405 time
ANKITMETAL
It took 0:00:02.526667 time
MOHITIND
It took 0:00:02.363819 time
NAKODA
It took 0:00:03.436043 time
KTKFMP24DG
It took 0:00:01.333283 time
RELCNX100
It took 0:00:01.411393 time
REPCOHOME
It took 0:00:01.349446 time
NIFETF
It took 0:00:02.679992 time
HRGESSRD1
It took 0:00:00.880882 time
UTRGESSRGR
It took 0:00:01.089216 time
LINDEINDIA
It took 0:00:02.072677 time
FRL
It took 0:00:01.682514 time
FRLDVR
It took 0:00:02.360224 time
OPAL
It took 0:00:01.228126 time
NIBL
It took 0:00:01.420746 time
UTTAMVALUE
It took 0:00:03.335391 time
NHBTF2023
It took 0:00:04.221532 time
GSCLCEMENT
It took 0:00:01.556587 time
VIMALOIL
It took 0:00:01.989746 time
VIVIDHA
It took 0:00:02.430062 time
HSEP24M19G
It took 0:00:00.952584 time
IPRU1772
It took 0:00:00.993566 time
IPRU1799
It took 0:00:01.022116 time
TGBHOTELS
It took 0:00:02.242197 time
JUSTDIAL
It took 0:00:01.512514 time
DWSHYD7GR
It took 0:00:01.651776 time
BSLFTPDAG
It took 0:00:00.936626 time
UTRGESSDDP
It took 0:00:01.769971 time
NIVINFRA
It took 0:00:01.418235 time
DWSFMP4GR
It took 0:00:02.704066 time
DWSFTF96GR
It took 0:00:01.268543 time
HOCT36M19G
It took 0:00:01.096177 time
ATULAUTO
It took 0:00:01.527628 time
CEREBRAINT
It took 0:00:01.930240 time
IPRU1795
It took 0:00:01.061637 time
FVIL
It took 0:00:01.700391 time
DUNCANSLTD
It took 0:00:01.087514 time
ORIENTCEM
It took 0:00:01.931919 time
PFRL
It took 0:00:01.124439 time
IBULHSGFIN
It took 0:00:03.265249 time
JSWHL
It took 0:00:02.154997 time
ZEEMEDIA
It took 0:00:01.381909 time
JNPT
It took 0:00:01.066116 time
CGCL
It took 0:00:01.858984 time
INTEGRA
It took 0:00:01.741043 time
CINELINE
It took 0:00:02.399930 time
RAIN
It took 0:00:02.018490 time
ICCNX100
It took 0:00:01.115566 time
RFHFXXI29G
It took 0:00:02.566133 time
DRDATSONS
It took 0:00:01.471906 time
IPRU1830
It took 0:00:02.779473 time
PRESSMN
It took 0:00:02.773744 time
SUJANATWR
It took 0:00:01.265478 time
NAVNETEDUL
It took 0:00:01.364370 time
UJAAS
It took 0:00:03.578415 time
RAMCOCEM
It took 0:00:01.646734 time
FLFL
It took 0:00:03.114989 time
SSLT
It took 0:00:02.598873 time
PILIND
It took 0:00:01.119506 time
FCEL
It took 0:00:01.242985 time
PIRPHYTO
It took 0:00:01.628559 time
UPL
It took 0:00:01.616498 time
SFCL
It took 0:00:01.598169 time
PHOENIXLL
It took 0:00:02.014011 time
DWSHYD5GR
It took 0:00:01.764905 time
MITCON
It took 0:00:01.220123 time
LYPSAGEMS
It took 0:00:03.059595 time
ORBTEXP
It took 0:00:01.041036 time
JPOLYINVST
It took 0:00:01.194300 time
NGCT
It took 0:00:01.573478 time
NDL
It took 0:00:03.043860 time
RELNIFTY
It took 0:00:01.408726 time
VAKRANGEE
It took 0:00:02.330968 time
LTMFDE369G
It took 0:00:01.025212 time
MAHINDCIE
It took 0:00:03.287232 time
DWSHYD13GP
It took 0:00:01.499216 time
IIHFL
It took 0:00:02.801768 time
SREEL
It took 0:00:02.543658 time
DCBBANK
It took 0:00:01.405311 time
NHBTF2014
It took 0:00:01.617451 time
PALRED
It took 0:00:01.798811 time
IPAPPM
It took 0:00:02.024524 time
AGRITECH
It took 0:00:02.018623 time
DWSHYD4GR
It took 0:00:02.173480 time
NATHBIOGEN
It took 0:00:03.035694 time
8KMILES
It took 0:00:02.330920 time
CNOVAPETRO
It took 0:00:02.641236 time
SHRIASTER
It took 0:00:01.392429 time
ECLFINANCE
It took 0:00:02.391139 time
UKBCCP3RG
It took 0:00:02.800110 time
SANCO
It took 0:00:03.856970 time
DCMSHRIRAM
It took 0:00:01.659330 time
IIFL
It took 0:00:02.838075 time
CASTROLIND
It took 0:00:01.426948 time
IREDA
It took 0:00:01.511784 time
IDR1AGD
It took 0:00:00.906068 time
SKIL
It took 0:00:01.325485 time
MMWL
It took 0:00:01.346155 time
H1175J29RG
It took 0:00:01.271137 time
SDBL
It took 0:00:02.231146 time
CPSEETF
It took 0:00:01.412645 time
SMCSRIVRG
It took 0:00:02.308356 time
ARCOTECH
It took 0:00:02.183434 time
IDR1ADP
It took 0:00:02.381980 time
RELCONS
It took 0:00:02.427381 time
BUTTERFLY
It took 0:00:01.394500 time
RDAFTIIIDG
It took 0:00:03.028546 time
UFTFGR16P7
It took 0:00:00.875014 time
ICNX100
It took 0:00:02.518023 time
IGOLD
It took 0:00:01.435953 time
INIFTY
It took 0:00:03.529457 time
WONDERLA
It took 0:00:02.625646 time
IDFC1292
It took 0:00:01.265140 time
RDAFTIIPAG
It took 0:00:02.423714 time
CYIENT
It took 0:00:03.317927 time
DALMIAREF
It took 0:00:01.053100 time
RELDIVOPP
It took 0:00:01.899476 time
AGARIND
It took 0:00:02.189696 time
BSLRGES1RG
It took 0:00:01.602208 time
NOESISIND
It took 0:00:01.337874 time
HATSUN
It took 0:00:01.573191 time
CAPLIPOINT
It took 0:00:02.823676 time
GULFCORP
It took 0:00:02.988592 time
MAKE
It took 0:00:02.660883 time
WELENTRP
It took 0:00:01.346044 time
HRGESSRG1
It took 0:00:03.872203 time
HCPO36MSRG

It took 0:00:03.560851 time
SPICE
It took 0:00:01.380896 time
GULFOILLUB
It took 0:00:03.297046 time
UFTFGR15PX
It took 0:00:01.750119 time
BSLFTPKUDG
It took 0:00:02.485392 time
IDFC-D1216
It took 0:00:01.224704 time
IDFCD1296
It took 0:00:03.712720 time
IPRU8541
It took 0:00:01.666645 time
BDR
It took 0:00:01.824633 time
ISENSEX
It took 0:00:01.620515 time
J301G
It took 0:00:02.044909 time
SPICEMOBI
It took 0:00:01.828725 time
BSLRGES1RD
It took 0:00:02.200368 time
SNOWMAN
It took 0:00:02.568929 time
SHARDACROP
It took 0:00:01.214061 time
J502G
It took 0:00:01.479303 time
SUPERHOUSE
It took 0:00:02.942412 time
SQSBFSI
It took 0:00:02.614494 time
SHEMAROO
It took 0:00:02.679446 time
IPRU2256
It took 0:00:01.805804 time
PROZONINTU
It took 0:00:01.388177 time
SMCSRVRG
It took 0:00:02.733854 time
AXISCADES
It took 0:00:01.481292 time
MRO
It took 0:00:04.390662 time
CIGNITITEC
It took 0:00:01.921959 time
MOMAI
It took 0:00:01.304674 time
SMCSRVIRG
It took 0:00:02.373197 time
SDF36M6GR
It took 0:00:03.755881 time
PDSMFL
It took 0:00:02.191095 time
CREST
It took 0:00:02.556987 time
TECHIN
It took 0:00:02.255474 time
DPL
It took 0:00:01.290011 time
SURANASOL
It took 0:00:02.850707 time
RTNINFRA
It took 0:00:01.156582 time
RTNPOWER
It took 0:00:01.042740 time
HRGESSRG2
It took 0:00:00.910541 time
3RDROCK
It took 0:00:03.113634 time
DWSFMP71RG
It took 0:00:00.933120 time
IDFCD1196
It took 0:00:02.137786 time
KOTAKBKETF
It took 0:00:01.088494 time
SRIPIPES
It took 0:00:01.328436 time
INTELLECT
It took 0:00:03.189286 time
MONTECARLO
It took 0:00:02.413048 time
A2ZINFRA
It took 0:00:01.276568 time
LICNMFET
It took 0:00:03.079833 time
GOODLUCK
It took 0:00:01.170481 time
HECINFRA
It took 0:00:01.596622 time
FCL
It took 0:00:02.737879 time
CAMLINFINE
It took 0:00:01.279316 time
GULPOLY
It took 0:00:01.317694 time
CCHHL
It took 0:00:01.412962 time
DWSFMP47DG
It took 0:00:02.289209 time
DWSFMP66RG
It took 0:00:02.800064 time
LAMBODHARA
It took 0:00:01.401080 time
SDAFIIIGR
It took 0:00:02.429026 time
LTFXHGD
It took 0:00:01.372261 time
DWSFMP52DG
It took 0:00:03.222707 time
IDFCD1238
It took 0:00:02.648293 time
IPRU8470
It took 0:00:01.048297 time
IPRU8490
It took 0:00:00.970484 time
GRPLTD
It took 0:00:01.601639 time
APOLSINHOT
It took 0:00:02.445125 time
GENUSPAPER
It took 0:00:01.866933 time
MOLDTKPAC
It took 0:00:01.353658 time
GREENLAM
It took 0:00:01.316585 time
IPRU2317
It took 0:00:02.185852 time
VISHNU
It took 0:00:02.159253 time
GANECOS
It took 0:00:04.780646 time
LINCPEN
It took 0:00:01.288437 time
MENONBE
It took 0:00:02.194448 time
ELAND
It took 0:00:01.781152 time
HESTERBIO
It took 0:00:02.380977 time
SIGNET
It took 0:00:02.192268 time
JMA
It took 0:00:02.421248 time
ORTEL
It took 0:00:02.819777 time
SETFBANK
It took 0:00:01.285023 time
UFTFGR17P4
It took 0:00:02.434535 time
SETFNIFJR
It took 0:00:02.200210 time
MANAKALUCO
It took 0:00:01.407673 time
MANAKCOAT
It took 0:00:02.797541 time
MANAKINDST
It took 0:00:01.307057 time
MANAKSTEEL
It took 0:00:02.530250 time
ZENTEC
It took 0:00:02.172765 time
SIIL
It took 0:00:01.910564 time
IBVENTURES
It took 0:00:02.171921 time
ADLABS
It took 0:00:01.535525 time
INOXWIND
It took 0:00:02.017252 time
AVANTIFEED
It took 0:00:02.016857 time
BYKE
It took 0:00:02.040336 time
LFIC
It took 0:00:02.508852 time
VIPULLTD
It took 0:00:01.121636 time
VRLLOG
It took 0:00:01.779240 time
EXCEL
It took 0:00:01.876978 time
GULFPETRO
It took 0:00:01.998191 time
MEP
It took 0:00:02.482965 time
VEDL
It took 0:00:01.950306 time
ADI
It took 0:00:01.675842 time
LYCOS
It took 0:00:02.222734 time
NIFTYEES
It took 0:00:01.979412 time
UFO
It took 0:00:01.879209 time
IZMO
It took 0:00:02.491776 time
TPLPLASTEH
It took 0:00:01.538980 time
ARROWCOAT
It took 0:00:01.978941 time
BSLFTPLLRG
It took 0:00:01.724835 time
NILAINFRA
It took 0:00:01.785074 time
RFXXII29GR
It took 0:00:01.602504 time
UFTFGR12PX
It took 0:00:01.029693 time
PNCINFRA
It took 0:00:02.296990 time
SC3RG
It took 0:00:01.151669 time
SKIPPER
It took 0:00:01.288640 time
METALFORGE
It took 0:00:02.420338 time
SREIBNPNCD
It took 0:00:02.287378 time
IPRU2580
It took 0:00:01.582155 time
IPRU-8484
It took 0:00:02.304673 time
UTIFEFRGR1
It took 0:00:01.151919 time
CASTEXTECH
It took 0:00:04.159977 time
HCPO36MORG
It took 0:00:01.454209 time
RELNV20
It took 0:00:02.199344 time
WELENT
It took 0:00:02.992482 time
INFOBEANS
It took 0:00:01.305150 time
ALANKIT
It took 0:00:01.228313 time
LTMFXTG
It took 0:00:02.381450 time
RD366D38RG
It took 0:00:01.898278 time
GIRRESORTS
It took 0:00:01.998561 time
MANPASAND
It took 0:00:02.794047 time
BSLCAP19RG
It took 0:00:00.895163 time
ORICONENT
It took 0:00:01.609327 time
SETFNIFTY
It took 0:00:02.369440 time
NIRVIKARA
It took 0:00:01.206441 time
SHYAMCENT
It took 0:00:02.175698 time
ADANITRANS
It took 0:00:01.102175 time
SYNGENE
It took 0:00:01.090821 time
H37027ARG4
It took 0:00:01.991210 time
RSDFSA27GR
It took 0:00:01.840584 time
EMKAYTOOLS
It took 0:00:01.173528 time
KAYA
It took 0:00:01.652451 time
WELSYNTEX
It took 0:00:01.824769 time
MAJESCO
It took 0:00:01.381754 time
ORTINLABSS
It took 0:00:01.982779 time
MUTHOOTCAP
It took 0:00:01.517840 time
RAMASTEEL
It took 0:00:02.569296 time
ARVINFRA
It took 0:00:02.666473 time
POWERMECH
It took 0:00:02.678533 time
SATIN
It took 0:00:02.944804 time
PILITA
It took 0:00:01.128014 time
SHARDAMOTR
It took 0:00:01.178044 time
UTINIFTETF
It took 0:00:02.544263 time
UTISENSETF
It took 0:00:02.197169 time
ELITE
It took 0:00:02.604255 time
NAVKARCORP
It took 0:00:03.147196 time
PENPEBS
It took 0:00:02.544378 time
SHREEPUSHK
It took 0:00:02.588772 time
GUJGASLTD
It took 0:00:02.460302 time
SADBHIN
It took 0:00:01.254223 time
PNEUMATIC
It took 0:00:02.554355 time
PRABHAT
It took 0:00:01.873101 time
SHAIVAL
It took 0:00:02.013723 time
PKTEA
It took 0:00:02.212179 time
PALREDTECH
It took 0:00:02.109513 time
SPHEREGSL
It took 0:00:01.097402 time
AHIMSA
It took 0:00:01.055558 time
SMCSRVRD
It took 0:00:01.079095 time
SVOGL
It took 0:00:01.713992 time
MMNL
It took 0:00:01.094286 time
H37131JDG2
It took 0:00:01.209991 time
COFFEEDAY
It took 0:00:02.907495 time
IDFCBANK
It took 0:00:01.930183 time
GOCLCORP
It took 0:00:01.626838 time
INDIGO
It took 0:00:01.577704 time
SHK
It took 0:00:01.460252 time
PERFECT
It took 0:00:03.627468 time
SETFGOLD
It took 0:00:01.343557 time
SETFNIF50
It took 0:00:04.460597 time
SETFNIFBK
It took 0:00:01.796142 time
SETFNN50
It took 0:00:02.128162 time
ANANDAMRUB
It took 0:00:01.246213 time
LUXIND
It took 0:00:03.148636 time
AIFL
It took 0:00:01.151591 time
SALZERELEC
It took 0:00:01.418283 time
TTKHLTCARE
It took 0:00:02.954938 time
UMANGDAIRY
It took 0:00:01.392095 time
L&TINFRA
It took 0:00:02.240544 time
LICNFENGP
It took 0:00:01.058641 time
WB3RG
It took 0:00:01.223676 time
KTKNV20ETF
It took 0:00:03.455914 time
PILANIINVS
It took 0:00:01.212478 time
KRIDHANINF
It took 0:00:03.492417 time
UTIFEFRGR2
It took 0:00:02.822050 time
HDFCNIFETF
It took 0:00:01.523102 time
HDFCSENETF
It took 0:00:03.670465 time
LINCOLN
It took 0:00:03.079835 time
EBANK
It took 0:00:02.191153 time
KOTAKNV20
It took 0:00:02.004954 time
ORCHIDPHAR
It took 0:00:02.278409 time
VIKASECO
It took 0:00:01.997127 time
ALKEM
It took 0:00:03.258654 time
LALPATHLAB
It took 0:00:01.772494 time
LICNETFGSC
It took 0:00:01.739062 time
549
It took 0:00:01.230153 time
BNPCPGII
It took 0:00:01.613616 time
NH
It took 0:00:01.572330 time
BSLFTPLVDG
It took 0:00:01.465204 time
LICNETFN50
It took 0:00:02.096682 time
FOURTHDIM
It took 0:00:01.525402 time
BSLELFS5RG
It took 0:00:01.417640 time
DWSMIDRD
It took 0:00:01.606661 time
SC2RD
It took 0:00:01.255536 time
SMCSRVIRD
It took 0:00:02.430211 time
UTCPOSRGR1
It took 0:00:02.444725 time
OCCL
It took 0:00:01.638163 time
JSLHISAR
It took 0:00:01.820880 time
ABFRL
It took 0:00:01.661621 time
BSLFEFS2RG
It took 0:00:01.377244 time
MC6RD
It took 0:00:02.327177 time
AYMSYNTEX
It took 0:00:01.800823 time
IPRU2262
It took 0:00:01.915407 time
SMCSRIIIRD
It took 0:00:01.547778 time
PRECAM
It took 0:00:01.748066 time
TEAMLEASE
It took 0:00:01.763644 time
QUICKHEAL
It took 0:00:02.523969 time
HITECH
It took 0:00:01.710769 time
BHARATIDIL
It took 0:00:01.699296 time
MFSL
It took 0:00:01.917482 time
BHAGERIA

It took 0:00:02.178652 time
KELLTONTEC
It took 0:00:02.270158 time
NECCLTD
It took 0:00:03.226229 time
VIDHIDYE
It took 0:00:02.046561 time
BSLCAP21RG
It took 0:00:01.705709 time
SEQUENT
It took 0:00:02.475954 time
GOKULAGRO
It took 0:00:02.006731 time
SIMBHALS
It took 0:00:02.278975 time
KAMDHENU
It took 0:00:01.767069 time
RDEL
It took 0:00:02.134534 time
KDDL
It took 0:00:01.949622 time
HUSYS
It took 0:00:01.671407 time
HCG
It took 0:00:01.806589 time
HECPROJECT
It took 0:00:01.608428 time
PDMJEPAPER
It took 0:00:02.014626 time
WEALTH
It took 0:00:01.976974 time
BHARATWIRE
It took 0:00:01.871776 time
INEOSSTYRO
It took 0:00:01.873667 time
INFIBEAM
It took 0:00:02.344861 time
CRMFCP6RG
It took 0:00:01.680704 time
EQUITAS
It took 0:00:03.626883 time
LTEBFG
It took 0:00:02.717276 time
PALREDTEC
It took 0:00:03.009456 time
THYROCARE
It took 0:00:01.924109 time
UJJIVAN
It took 0:00:02.247169 time
ARROWGREEN
It took 0:00:02.328887 time
DUCON
It took 0:00:01.941602 time
AXISSCRGP
It took 0:00:01.562469 time
CROMPTON
It took 0:00:02.216920 time
FEL
It took 0:00:01.866667 time
FELDVR
It took 0:00:01.893074 time
SAGARDEEP
It took 0:00:01.948573 time
PARAGMILK
It took 0:00:02.240216 time
ICICI0901
It took 0:00:02.598156 time
LICNFNHGP
It took 0:00:01.372704 time
ICICI0801
It took 0:00:01.470281 time
EQ30
It took 0:00:02.970183 time
UNITEDPOLY
It took 0:00:02.351286 time
SHRIPISTON
It took 0:00:02.635851 time
GBNOV23
It took 0:00:01.614002 time
ALBERTDAVD
It took 0:00:02.140417 time
ARMANFIN
It took 0:00:02.682180 time
ASPINWALL
It took 0:00:01.663324 time
BLS
It took 0:00:02.155629 time
NAGAFERT
It took 0:00:01.880140 time
PINCON
It took 0:00:02.142879 time
SALONA
It took 0:00:03.194082 time
IPRU2397
It took 0:00:01.381827 time
PREMEXPLN
It took 0:00:02.058634 time
MAXVIL
It took 0:00:01.495491 time
IVZINGOLD
It took 0:00:02.447045 time
IVZINNIFTY
It took 0:00:02.126453 time
SETF10GILT
It took 0:00:02.548668 time
CONTROLPR
It took 0:00:01.678807 time
UVSL
It took 0:00:01.891865 time
INV20
It took 0:00:01.652101 time
ABMINTLTD
It took 0:00:02.320385 time
ADHUNIKIND
It took 0:00:01.857452 time
BHARATFIN
It took 0:00:03.835648 time
MAHASTEEL
It took 0:00:01.409735 time
MGL
It took 0:00:02.532383 time
SETCO
It took 0:00:01.742663 time
DAMODARIND
It took 0:00:02.046596 time
COMPINFO
It took 0:00:02.412770 time
MOLDTECH
It took 0:00:03.453578 time
POKARNA
It took 0:00:02.217268 time
GPTINFRA
It took 0:00:01.757388 time
IMIDCAP
It took 0:00:01.759139 time
VIJIFIN
It took 0:00:03.177885 time
QUESS
It took 0:00:02.099944 time
DIGJAMLTD
It took 0:00:02.153611 time
GROBTEA
It took 0:00:01.896187 time
MAXINDIA
It took 0:00:01.905662 time
RRSLGETF
It took 0:00:03.220224 time
KKVAPOW
It took 0:00:01.787156 time
LSIL
It took 0:00:02.890394 time
SOMICONVEY
It took 0:00:04.278861 time
LTI
It took 0:00:02.755840 time
EHFLNCD
It took 0:00:01.641109 time
GOLDIWIN
It took 0:00:01.921471 time
MIDCAPIWIN
It took 0:00:01.960664 time
NIF100IWIN
It took 0:00:02.549268 time
NIFTYIWIN
It took 0:00:01.888759 time
SENSEXIWIN
It took 0:00:02.590377 time
STAMPEDE
It took 0:00:03.722005 time
NV20IWIN
It took 0:00:02.312712 time
ADVENZYMES
It took 0:00:02.107223 time
MINDTECK
It took 0:00:03.999698 time
LICNETFSEN
It took 0:00:02.192236 time
NLCINDIA
It took 0:00:01.722519 time
DBL
It took 0:00:02.089111 time
SPAL
It took 0:00:03.337093 time
HSCL
It took 0:00:01.582499 time
SITINET
It took 0:00:01.933343 time
UTIFEFRDP2
It took 0:00:04.185868 time
DWSFMP64RG
It took 0:00:02.144345 time
IPRU2288
It took 0:00:01.521709 time
UTRGRXIX20
It took 0:00:01.510783 time
FRETAIL
It took 0:00:01.352403 time
SGBFEB24
It took 0:00:02.118260 time
SGBMAR24
It took 0:00:01.955266 time
NDGL
It took 0:00:02.337587 time
RBLBANK
It took 0:00:01.865885 time
IPRU2691
It took 0:00:01.350231 time
SGBAUG24
It took 0:00:01.720376 time
BIGBLOC
It took 0:00:01.837252 time
BALKRISHNA
It took 0:00:03.540754 time
JCHAC
It took 0:00:01.432308 time
MBAPL
It took 0:00:01.535059 time
GEPIL
It took 0:00:02.831655 time
GET&D
It took 0:00:02.015952 time
SABEVENTS
It took 0:00:02.418631 time
SGBNOV23
It took 0:00:01.982803 time
TVVISION
It took 0:00:01.483874 time
CUPID
It took 0:00:02.513417 time
LTTS
It took 0:00:02.190618 time
BIRLACABLE
It took 0:00:04.706449 time
GNA
It took 0:00:02.499333 time
CROWN
It took 0:00:01.564060 time
HUSYSLTD
It took 0:00:02.718535 time
ICICIPRULI
It took 0:00:01.970539 time
MARATHON
It took 0:00:01.458488 time
HPL
It took 0:00:02.085210 time
AVSL
It took 0:00:01.662486 time
JETKNIT
It took 0:00:01.293712 time
NANDANI
It took 0:00:01.930245 time
GRETEX
It took 0:00:01.356633 time
MASKINVEST
It took 0:00:03.432070 time
SAKAR
It took 0:00:01.480160 time
AURDIS
It took 0:00:02.956480 time
DRL
It took 0:00:01.087057 time
IDFNIFTYET
It took 0:00:02.645703 time
PANSARI
It took 0:00:02.767632 time
ARTNIRMAN
It took 0:00:01.452633 time
ENDURANCE
It took 0:00:01.764008 time
GICL
It took 0:00:01.328330 time
SGBSEP24
It took 0:00:04.192289 time
FCONSUMER
It took 0:00:01.937844 time
MAZDA
It took 0:00:02.742928 time
BSLRIFS1DG
It took 0:00:02.465121 time
PNBHOUSING
It took 0:00:02.436851 time
VBL
It took 0:00:02.530198 time
KINGFA
It took 0:00:01.126613 time
AGROPHOS
It took 0:00:01.124213 time
PODDARMENT
It took 0:00:03.375636 time
ROLLT
It took 0:00:01.106600 time
SASTASUNDR
It took 0:00:01.562989 time
HIGHGROUND
It took 0:00:03.071374 time
CMICABLES
It took 0:00:02.818946 time
KIOCL
It took 0:00:02.487873 time
ARVSMART
It took 0:00:01.143125 time
JETFREIGHT
It took 0:00:01.834000 time
NBIFIN
It took 0:00:01.528680 time
SFL
It took 0:00:01.455515 time
SGBNOV24
It took 0:00:00.973825 time
TMRVL
It took 0:00:01.099504 time
TCIEXP
It took 0:00:01.087204 time
C7DP
It took 0:00:01.032806 time
LAURUSLABS
It took 0:00:01.317719 time
IPRU2660
It took 0:00:02.511165 time
VIPCLOTHNG
It took 0:00:03.169417 time
DFMFOODS
It took 0:00:03.339057 time
TERASOFT
It took 0:00:02.815115 time
ITDC
It took 0:00:01.386186 time
IPRU2605
It took 0:00:02.466467 time
HISARMETAL
It took 0:00:01.517554 time
RHFL
It took 0:00:01.566589 time
LIBAS
It took 0:00:02.474763 time
PROLIFE
It took 0:00:02.050542 time
SORILINFRA
It took 0:00:01.862367 time
SPCENET
It took 0:00:01.145381 time
CAPTRUST
It took 0:00:02.848420 time
MAHESHWARI
It took 0:00:01.764445 time
63MOONS
It took 0:00:02.893879 time
FAIRCHEM
It took 0:00:02.455591 time
VF1RD
It took 0:00:02.098635 time
BHANDARI
It took 0:00:01.448256 time
H1190M36RG
It took 0:00:03.614552 time
BSE
It took 0:00:01.553359 time
MCL
It took 0:00:02.435946 time
PRICOLLTD
It took 0:00:01.245096 time
H1190M36RQ
It took 0:00:02.869081 time
NTL
It took 0:00:01.358560 time
STEELCITY
It took 0:00:03.018379 time
JITFINFRA
It took 0:00:02.686586 time
KRISHANA
It took 0:00:02.027165 time
SEOFIVGR
It took 0:00:01.487040 time
VIDHIING
It took 0:00:02.421330 time
GEOJITFSL
It took 0:00:01.177448 time
GLOBAL
It took 0:00:02.432220 time
UTIFEFRDP1
It took 0:00:02.557476 time
CGPOWER
It took 0:00:01.260360 time
NITIRAJ
It took 0:00:02.742987 time
SANGINITA
It took 0:00:01.198189 time
AKASH
It took 0:00:01.370482 time
DPRMABGP
It took 0:00:02.518457 time
RADIOCITY
It took 0:00:01.292192 time
VF1RG
It took 0:00:01.239949 time
DMART
It took 0:00:03.022652 time
INTENTECH
It took 0:00:02.275107 time
TASTYBITE
It took 0:00:01.206774 time
AIRAN
It took 0:00:02.451166 time
KAWIRES
It took 0:00:01.271160 time
AKSHARCHEM
It took 0:00:03.644854 time
ARIHANTSUP
It took 0:00:01.459577 time
URJA
It took 0:00:01.809122 time
CLEDUCATE
It took 0:00:01.052497 time
EIFFL
It took 0:00:01.007513 time
LAXMICOT
It took 0:00:00.992558 time
BOHRA
It took 0:00:01.163299 time
NRAIL
It took 0:00:01.370078 time
SHANKARA
It took 0:00:02.521315 time
IIFCL
It took 0:00:01.319390 time
NAGAAGRI
It took 0:00:01.287283 time
APCL
It took 0:00:02.451643 time
PODDARHOUS
It took 0:00:01.088544 time
NABARD
It took 0:00:01.148030 time
CREATIVE
It took 0:00:01.043916 time
HFEFRG
It took 0:00:00.992925 time
FOCUS
It took 0:00:03.060991 time
SGBMAR25
It took 0:00:01.110708 time
DEVIT
It took 0:00:02.469957 time
ASLIND
It took 0:00:01.990037 time
MKPL
It took 0:00:02.488628 time
SIKKO
It took 0:00:02.407092 time
SORILHOLD
It took 0:00:02.145938 time
WIPL

It took 0:00:01.931718 time
DOLLAR
It took 0:00:01.920025 time
WB3RD
It took 0:00:01.972312 time
PANACHE
It took 0:00:01.071118 time
INFOBEAN
It took 0:00:01.340447 time
CKPPRODUCT
It took 0:00:02.546375 time
SCHAND
It took 0:00:02.568511 time
ZOTA
It took 0:00:03.202216 time
BHAGYANGR
It took 0:00:01.400989 time
IRBINVIT
It took 0:00:02.936805 time
HITECHCORP
It took 0:00:01.498010 time
M14RG
It took 0:00:03.920119 time
PSPPROJECT
It took 0:00:01.387818 time
JALAN
It took 0:00:01.694204 time
SGBMAY25
It took 0:00:02.467824 time
VSCL
It took 0:00:01.093350 time
INDIGRID
It took 0:00:01.357116 time
SRIRAM
It took 0:00:01.302149 time
FEDDERELEC
It took 0:00:01.190004 time
STARCEMENT
It took 0:00:01.298721 time
LEEL
It took 0:00:02.992216 time
GLOBE
It took 0:00:02.857975 time
TEJASNET
It took 0:00:01.202469 time
ERIS
It took 0:00:01.508448 time
CDSL
It took 0:00:02.824893 time
GTPL
It took 0:00:01.561755 time
ACCORD
It took 0:00:02.751294 time
AUBANK
It took 0:00:01.756386 time
AXISNIFTY
It took 0:00:03.528252 time
PUSHPREALM
It took 0:00:01.267053 time
LOWVOLIWIN
It took 0:00:02.161931 time
M15RG
It took 0:00:01.742998 time
BANSAL
It took 0:00:01.208515 time
TRANSWIND
It took 0:00:03.000936 time
ACEINTEG
It took 0:00:03.434117 time
MOHINI
It took 0:00:04.897723 time
SHRENIK
It took 0:00:03.180965 time
DYNPRO
It took 0:00:02.680896 time
AGLSL
It took 0:00:03.307638 time
BHAGYAPROP
It took 0:00:04.294158 time
STEELXIND
It took 0:00:01.245776 time
SALASAR
It took 0:00:04.576449 time
UNIVASTU
It took 0:00:04.370426 time
AVADHSUGAR
It took 0:00:02.972342 time
GANGESSECU
It took 0:00:05.032943 time
MAGADSUGAR
It took 0:00:01.405133 time
PALASHSECU
It took 0:00:03.396384 time
CP7RG
It took 0:00:01.574689 time
IPRU2599
It took 0:00:01.363140 time
IPRU2687
It took 0:00:00.999086 time
IPRU2814
It took 0:00:02.298540 time
MOHOTAMILL
It took 0:00:01.665006 time
SCHAEFFLER
It took 0:00:03.480611 time
FORTUNEFIN
It took 0:00:01.082579 time
SHANTI
It took 0:00:02.514634 time
KEERTI
It took 0:00:01.140774 time
TOTAL
It took 0:00:01.624511 time
OPTIEMUS
It took 0:00:01.234344 time
SGBJUL25
It took 0:00:01.149100 time
SPTL
It took 0:00:01.393180 time
UTINEXT50
It took 0:00:03.400985 time
HEOF1100RG
It took 0:00:02.884214 time
SUREVIN
It took 0:00:03.266213 time
SIS
It took 0:00:02.713769 time
COCHINSHIP
It took 0:00:02.129905 time
SMSLIFE
It took 0:00:02.016430 time
VAISHALI
It took 0:00:05.255958 time
LEXUS
It took 0:00:02.697568 time
GEEKAYWIRE
It took 0:00:02.548225 time
SERVOTECH
It took 0:00:02.537210 time
H1309S37RQ
It took 0:00:02.399179 time
ABCAPITAL
It took 0:00:03.527563 time
APEX
It took 0:00:01.262092 time
PASHUPATI
It took 0:00:02.484121 time
BRNL
It took 0:00:02.613087 time
DIXON
It took 0:00:02.703641 time
MANAV
It took 0:00:02.429018 time
RNAVAL
It took 0:00:02.348996 time
DCAL
It took 0:00:01.332202 time
LASA
It took 0:00:02.994733 time
MATRIMONY
It took 0:00:02.730179 time
CAPACITE
It took 0:00:02.190457 time
TIFIN
It took 0:00:01.337910 time
SKML
It took 0:00:01.463409 time
ICICIGI
It took 0:00:01.302364 time
WORTH
It took 0:00:01.715432 time
MPTODAY
It took 0:00:03.107852 time
NACLIND
It took 0:00:01.208087 time
SBILIFE
It took 0:00:01.212164 time
CADSYS
It took 0:00:02.375895 time
RMDRIP
It took 0:00:02.862136 time
AARVI
It took 0:00:01.595904 time
DIAMONDYD
It took 0:00:01.206499 time
DPWIRES
It took 0:00:01.090244 time
INNOVATIVE
It took 0:00:03.400996 time
TIRUPATI
It took 0:00:01.217435 time
AIROLAM
It took 0:00:02.675680 time
BALAXI
It took 0:00:02.824198 time
RKEC
It took 0:00:01.920553 time
GOLDSTAR
It took 0:00:02.846168 time
SCAPDVR
It took 0:00:01.656672 time
JASH
It took 0:00:02.293739 time
RELIABLE
It took 0:00:02.055618 time
BETA
It took 0:00:02.130337 time
CMMIPL
It took 0:00:01.329758 time
FORGE
It took 0:00:02.491193 time
OMFURN
It took 0:00:02.393595 time
GODREJAGRO
It took 0:00:02.468396 time
MILTON
It took 0:00:02.360369 time
TCPLPACK
It took 0:00:03.673009 time
MASFIN
It took 0:00:02.191840 time
DPABHUSHAN
It took 0:00:01.926617 time
IEX
It took 0:00:01.385295 time
GICRE
It took 0:00:02.234175 time
SGBOCT25
It took 0:00:02.695501 time
SGBOCT25IV
It took 0:00:01.817945 time
TIINDIA
It took 0:00:01.480696 time
RNAM
It took 0:00:03.805403 time
MAHLOG
It took 0:00:02.022413 time
M15RD
It took 0:00:01.882462 time
NIACL
It took 0:00:01.207231 time
SECURCRED
It took 0:00:03.237482 time
IFGLEXPOR
It took 0:00:01.106764 time
KHADIM
It took 0:00:01.046250 time
SGBNOV25VI
It took 0:00:00.946255 time
SGBOCT25V
It took 0:00:01.125916 time
5PAISA
It took 0:00:01.046345 time
HDFCLIFE
It took 0:00:02.473561 time
AISL
It took 0:00:02.268867 time
SGBNOV25
It took 0:00:01.013535 time
BKMINDST
It took 0:00:01.169656 time
PULZ
It took 0:00:03.352974 time
VERTOZ
It took 0:00:01.307624 time
BHARATIWIN
It took 0:00:02.132309 time
SILVERTUC
It took 0:00:02.153589 time
UTIFEFRGR4
It took 0:00:01.035381 time
FELIX
It took 0:00:01.190601 time
ZODIAC
It took 0:00:03.262229 time
SGBNOV25IX
It took 0:00:01.184830 time
M17RG
It took 0:00:03.329759 time
ICEMAKE
It took 0:00:02.640057 time
DNAMEDIA
It took 0:00:02.706329 time
SGBDEC25
It took 0:00:02.722560 time
SHRADHA
It took 0:00:01.188959 time
INNOVANA
It took 0:00:01.119666 time
SGBDEC25XI
It took 0:00:02.723028 time
SHALBY
It took 0:00:01.972631 time
FSC
It took 0:00:01.944056 time
M17RD
It took 0:00:01.685635 time
HHOF1140RG
It took 0:00:02.456993 time
SDAFXIXGR
It took 0:00:01.124369 time
TOUCHWOOD
It took 0:00:01.034234 time
MOHOTAIND
It took 0:00:01.013009 time
ONEPOINT
It took 0:00:01.078690 time
SHIVATEX
It took 0:00:00.979261 time
SMVD
It took 0:00:01.427127 time
SGBNOV258
It took 0:00:01.571975 time
ASTRON
It took 0:00:01.141009 time
SGBDEC2512
It took 0:00:01.063913 time
AJOONI
It took 0:00:01.394945 time
SGBDEC2513
It took 0:00:02.170160 time
MOKSH
It took 0:00:01.922690 time
BCONCEPTS
It took 0:00:01.497550 time
SGBJAN26
It took 0:00:01.102051 time
TIRUPATIFL
It took 0:00:01.209169 time
SILLYMONKS
It took 0:00:02.051567 time
AMJLAND
It took 0:00:02.207505 time
SKSTEXTILE
It took 0:00:02.180190 time
APOLLO
It took 0:00:01.198793 time
HFEFDG
It took 0:00:02.156281 time
PAISALO
It took 0:00:03.201698 time
NEWGEN
It took 0:00:02.971829 time
AMBER
It took 0:00:02.082850 time
IPRU9008
It took 0:00:02.312126 time
KTK180DG
It took 0:00:01.636907 time
PRAXIS
It took 0:00:01.354493 time
SOLEX
It took 0:00:01.230707 time
SRPL
It took 0:00:03.436200 time
VASA
It took 0:00:01.600889 time
GALAXYSURF
It took 0:00:01.876527 time
HEOF1126RG
It took 0:00:01.162895 time
AMJUMBO
It took 0:00:02.241975 time
SINTERCOM
It took 0:00:02.468776 time
MHHL
It took 0:00:02.181718 time
SOUTHWEST
It took 0:00:01.817524 time
ARVEE
It took 0:00:01.023801 time
MCXRG
It took 0:00:01.033237 time
ASTERDM
It took 0:00:01.101053 time
SHIVAMILLS
It took 0:00:01.055351 time
BANKA
It took 0:00:00.989502 time
HFEFBRG
It took 0:00:01.523834 time
GMMPFAUDLR
It took 0:00:01.277019 time
CKPLEISURE
It took 0:00:01.450663 time
EMOFSR1RGG
It took 0:00:02.391638 time
HHOF1140RD
It took 0:00:01.310927 time
HGINFRA
It took 0:00:01.082011 time
HINDCON
It took 0:00:02.856594 time
EMOFSR1RDP
It took 0:00:02.128835 time
H3360D30RQ
It took 0:00:01.551530 time
Total time it took 2:50:24.257089

In [152]:
# Base.metadata.tables.keys()
dirlist[-10:]

tables=np.asarray(list(table_fns.keys())).astype(object)
stime=datetime.now()
for tbl in tables:
    print(tbl)
    try:
        ntime=datetime.now()
        
        pd.DataFrame(table_fns.get(tbl),
                     columns=['OPEN','HIGH','LOW','CLOSE','LAST','TOTTRDQTY','TOTTRDVAL','TIMESTAMP','TOTALTRADES']).to_sql(tbl.lower(), con=db_engine, if_exists='replace',index=False)
        print("It took {} time".format(datetime.now()-ntime))
    except:
        print("It exists")
print("Total time it took {} ".format(datetime.now()-stime))

['cm31OCT2003bhav.csv.zip',
 'cm31OCT2005bhav.csv.zip',
 'cm31OCT2006bhav.csv.zip',
 'cm31OCT2007bhav.csv.zip',
 'cm31OCT2008bhav.csv.zip',
 'cm31OCT2011bhav.csv.zip',
 'cm31OCT2012bhav.csv.zip',
 'cm31OCT2013bhav.csv.zip',
 'cm31OCT2014bhav.csv.zip',
 'cm31OCT2017bhav.csv.zip']

In [165]:
# table_fns[1]
pickle_path='D:\SoftwareWebApps\Python\python_wb\Stocks\Data\stock_pickle\\'
stime=datetime.now()
for tbl in tables[0:20]:
    ntime=datetime.now()
#     stock=   {'symbol':tbl,
#         'columns':['OPEN','HIGH','LOW','CLOSE','LAST','TOTTRDQTY','TOTTRDVAL','TIMESTAMP','TOTALTRADES'],
#          'data':table_fns.get(tbl)}
#     stock=   table_fns.get(tbl)
    # Saving the objects:
    with open(pickle_path+tbl+'.pkl', 'wb') as f:  # Python 3: open(..., 'wb')
        pickle.dump([table_fns.get(tbl)], f)
        f.close()

    print("It took {} time".format(datetime.now()-ntime))
print("For all It took {} time".format(datetime.now()-stime))

For all It took 0:00:00.697116 time

In [196]:
def save_pkl(file,var):
    with open(file, 'wb') as f:  # Python 3: open(..., 'wb')
        pickle.dump(var, f)
        f.close()
def load_pkl(file):
    with open(file, 'rb') as f:  # Python 3: open(..., 'wb')
        var = pickle.load(f)
        f.close()
    return var

['BIGINT',
 'BINARY',
 'BIT',
 'BLOB',
 'BOOLEAN',
 'Base',
 'BytesIO',
 'CHAR',
 'Column',
 'DATE',
 'DATETIME',
 'DB',
 'DECIMAL',
 'DL',
 'DOUBLE',
 'DateTime',
 'ENUM',
 'FLOAT',
 'ForeignKey',
 'INTEGER',
 'In',
 'Integer',
 'IntegrityError',
 'LONGBLOB',
 'LONGTEXT',
 'MEDIUMBLOB',
 'MEDIUMINT',
 'MEDIUMTEXT',
 'MetaData',
 'NCHAR',
 'NUMERIC',
 'NVARCHAR',
 'Out',
 'REAL',
 'SET',
 'SMALLINT',
 'String',
 'TEXT',
 'TIME',
 'TIMESTAMP',
 'TINYBLOB',
 'TINYINT',
 'TINYTEXT',
 'UniqueConstraint',
 'VARBINARY',
 'VARCHAR',
 'YEAR',
 'ZipFile',
 '__builtin__',
 '__builtins__',
 '__name__',
 '_dh',
 '_i',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i140',
 '_i141',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'arm_table_fns',
 'armarray_table_fns',
 'backref',
 'create_database',
 'create_engine',
 'create_tables',
 'data_folder',
 'database_exists',
 'datetime',
 'db_engine',
 'declarative_base',
 'df',
 'dirlist',
 'drop_database',
 'dt',
 'dump_in_df',
 'exit',
 'extend_existing',
 'file',
 'fname',
 'func',
 'get_ipython',
 'i',
 'insert_entry',
 'k',
 'myZip',
 'my_zip_file',
 'nowtime',
 'np',
 'old',
 'os',
 'p',
 'pd',
 'put_entry',
 'quit',
 'relationship',
 'session',
 'sessionmaker',
 'started',
 'stock_array',
 'stock_class',
 'symbols',
 'table_fns',
 'tables',
 'tbls_not_in_db',
 'tstam',
 'tstamp',
 'update_tables',
 'values',
 'zip_ref']

In [203]:
columns=['OPEN','HIGH','LOW','CLOSE','LAST','TOTTRDQTY','TOTTRDVAL','TIMESTAMP','TOTALTRADES']
pickle_path='D:\SoftwareWebApps\Python\python_wb\Stocks\Data\stock_pickle\\'
stime=datetime.now()
save_pkl(pickle_path+'columns_ref.pkl',columns)
save_pkl(pickle_path+'wrtitten_files.pkl',dirlist)
save_pkl(pickle_path+'symbols.pkl',tables)
for tbl in tables:
    # Saving the objects:
    save_pkl(pickle_path+tbl+'.pkl',table_fns.get(tbl))
    i +=1
    print(i,end=', ')
#     print("It took {} time".format(datetime.now()-ntime))
print("For all It took {} time".format(datetime.now()-stime))

4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4144, 4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188, 4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4252, 4253, 4254, 4255, 4256, 4257, 4258, 4259, 4260, 4261, 4262, 4263, 4264, 4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275, 4276, 4277, 4278, 4279, 4280, 4281, 4282, 4283, 4284, 4285, 4286, 4287, 4288, 4289, 4290, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299, 4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322, 4323, 4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332, 4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340, 4341, 4342, 4343, 4344, 4345, 4346, 4347, 4348, 4349, 4350, 4351, 4352, 4353, 4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4371, 4372, 4373, 4374, 4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4383, 4384, 4385, 4386, 4387, 4388, 4389, 4390, 4391, 4392, 4393, 4394, 4395, 4396, 4397, 4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418, 4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429, 4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459, 4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492, 4493, 4494, 4495, 4496, 4497, 4498, 4499, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518, 4519, 4520, 4521, 4522, 4523, 4524, 4525, 4526, 4527, 4528, 4529, 4530, 4531, 4532, 4533, 4534, 4535, 4536, 4537, 4538, 4539, 4540, 4541, 4542, 4543, 4544, 4545, 4546, 4547, 4548, 4549, 4550, 4551, 4552, 4553, 4554, 4555, 4556, 4557, 4558, 4559, 4560, 4561, 4562, 4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573, 4574, 4575, 4576, 4577, 4578, 4579, 4580, 4581, 4582, 4583, 4584, 4585, 4586, 4587, 4588, 4589, 4590, 4591, 4592, 4593, 4594, 4595, 4596, 4597, 4598, 4599, 4600, 4601, 4602, 4603, 4604, 4605, 4606, 4607, 4608, 4609, 4610, 4611, 4612, 4613, 4614, 4615, 4616, 4617, 4618, 4619, 4620, 4621, 4622, 4623, 4624, 4625, 4626, 4627, 4628, 4629, 4630, 4631, 4632, 4633, 4634, 4635, 4636, 4637, 4638, 4639, 4640, 4641, 4642, 4643, 4644, 4645, 4646, 4647, 4648, 4649, 4650, 4651, 4652, 4653, 4654, 4655, 4656, 4657, 4658, 4659, 4660, 4661, 4662, 4663, 4664, 4665, 4666, 4667, 4668, 4669, 4670, 4671, 4672, 4673, 4674, 4675, 4676, 4677, 4678, 4679, 4680, 4681, 4682, 4683, 4684, 4685, 4686, 4687, 4688, 4689, 4690, 4691, 4692, 4693, 4694, 4695, 4696, 4697, 4698, 4699, 4700, 4701, 4702, 4703, 4704, 4705, 4706, 4707, 4708, 4709, 4710, 4711, 4712, 4713, 4714, 4715, 4716, 4717, 4718, 4719, 4720, 4721, 4722, 4723, 4724, 4725, 4726, 4727, 4728, 4729, 4730, 4731, 4732, 4733, 4734, 4735, 4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744, 4745, 4746, 4747, 4748, 4749, 4750, 4751, 4752, 4753, 4754, 4755, 4756, 4757, 4758, 4759, 4760, 4761, 4762, 4763, 4764, 4765, 4766, 4767, 4768, 4769, 4770, 4771, 4772, 4773, 4774, 4775, 4776, 4777, 4778, 4779, 4780, 4781, 4782, 4783, 4784, 4785, 4786, 4787, 4788, 4789, 4790, 4791, 4792, 4793, 4794, 4795, 4796, 4797, 4798, 4799, 4800, 4801, 4802, 4803, 4804, 4805, 4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816, 4817, 4818, 4819, 4820, 4821, 4822, 4823, 4824, 4825, 4826, 4827, 4828, 4829, 4830, 4831, 4832, 4833, 4834, 4835, 4836, 4837, 4838, 4839, 4840, 4841, 4842, 4843, 4844, 4845, 4846, 4847, 4848, 4849, 4850, 4851, 4852, 4853, 4854, 4855, 4856, 4857, 4858, 4859, 4860, 4861, 4862, 4863, 4864, 4865, 4866, 4867, 4868, 4869, 4870, 4871, 4872, 4873, 4874, 4875, 4876, 4877, 4878, 4879, 4880, 4881, 4882, 4883, 4884, 4885, 4886, 4887, 4888, 4889, 4890, 4891, 4892, 4893, 4894, 4895, 4896, 4897, 4898, 4899, 4900, 4901, 4902, 4903, 4904, 4905, 4906, 4907, 4908, 4909, 4910, 4911, 4912, 4913, 4914, 4915, 4916, 4917, 4918, 4919, 4920, 4921, 4922, 4923, 4924, 4925, 4926, 4927, 4928, 4929, 4930, 4931, 4932, 4933, 4934, 4935, 4936, 4937, 4938, 4939, 4940, 4941, 4942, 4943, 4944, 4945, 4946, 4947, 4948, 4949, 4950, 4951, 4952, 4953, 4954, 4955, 4956, 4957, 4958, 4959, 4960, 4961, 4962, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973, 4974, 4975, 4976, 4977, 4978, 4979, 4980, 4981, 4982, 4983, 4984, 4985, 4986, 4987, 4988, 4989, 4990, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012, 5013, 5014, 5015, 5016, 5017, 5018, 5019, 5020, 5021, 5022, 5023, 5024, 5025, 5026, 5027, 5028, 5029, 5030, 5031, 5032, 5033, 5034, 5035, 5036, 5037, 5038, 5039, 5040, 5041, 5042, 5043, 5044, 5045, 5046, 5047, 5048, 5049, 5050, 5051, 5052, 5053, 5054, 5055, 5056, 5057, 5058, 5059, 5060, 5061, 5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100, 5101, 5102, 5103, 5104, 5105, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5114, 5115, 5116, 5117, 5118, 5119, 5120, 5121, 5122, 5123, 5124, 5125, 5126, 5127, 5128, 5129, 5130, 5131, 5132, 5133, 5134, 5135, 5136, 5137, 5138, 5139, 5140, 5141, 5142, 5143, 5144, 5145, 5146, 5147, 5148, 5149, 5150, 5151, 5152, 5153, 5154, 5155, 5156, 5157, 5158, 5159, 5160, 5161, 5162, 5163, 5164, 5165, 5166, 5167, 5168, 5169, 5170, 5171, 5172, 5173, 5174, 5175, 5176, 5177, 5178, 5179, 5180, 5181, 5182, 5183, 5184, 5185, 5186, 5187, 5188, 5189, 5190, 5191, 5192, 5193, 5194, 5195, 5196, 5197, 5198, 5199, 5200, 5201, 5202, 5203, 5204, 5205, 5206, 5207, 5208, 5209, 5210, 5211, 5212, 5213, 5214, 5215, 5216, 5217, 5218, 5219, 5220, 5221, 5222, 5223, 5224, 5225, 5226, 5227, 5228, 5229, 5230, 5231, 5232, 5233, 5234, 5235, 5236, 5237, 5238, 5239, 5240, 5241, 5242, 5243, 5244, 5245, 5246, 5247, 5248, 5249, 5250, 5251, 5252, 5253, 5254, 5255, 5256, 5257, 5258, 5259, 5260, 5261, 5262, 5263, 5264, 5265, 5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5290, 5291, 5292, 5293, 5294, 5295, 5296, 5297, 5298, 5299, 5300, 5301, 5302, 5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312, 5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322, 5323, 5324, 5325, 5326, 5327, 5328, 5329, 5330, 5331, 5332, 5333, 5334, 5335, 5336, 5337, 5338, 5339, 5340, 5341, 5342, 5343, 5344, 5345, 5346, 5347, 5348, 5349, 5350, 5351, 5352, 5353, 5354, 5355, 5356, 5357, 5358, 5359, 5360, 5361, 5362, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370, 5371, 5372, 5373, 5374, 5375, 5376, 5377, 5378, 5379, 5380, 5381, 5382, 5383, 5384, 5385, 5386, 5387, 5388, 5389, 5390, 5391, 5392, 5393, 5394, 5395, 5396, 5397,

5398, 5399, 5400, 5401, 5402, 5403, 5404, 5405, 5406, 5407, 5408, 5409, 5410, 5411, 5412, 5413, 5414, 5415, 5416, 5417, 5418, 5419, 5420, 5421, 5422, 5423, 5424, 5425, 5426, 5427, 5428, 5429, 5430, 5431, 5432, 5433, 5434, 5435, 5436, 5437, 5438, 5439, 5440, 5441, 5442, 5443, 5444, 5445, 5446, 5447, 5448, 5449, 5450, 5451, 5452, 5453, 5454, 5455, 5456, 5457, 5458, 5459, 5460, 5461, 5462, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5486, 5487, 5488, 5489, 5490, 5491, 5492, 5493, 5494, 5495, 5496, 5497, 5498, 5499, 5500, 5501, 5502, 5503, 5504, 5505, 5506, 5507, 5508, 5509, 5510, 5511, 5512, 5513, 5514, 5515, 5516, 5517, 5518, 5519, 5520, 5521, 5522, 5523, 5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534, 5535, 5536, 5537, 5538, 5539, 5540, 5541, 5542, 5543, 5544, 5545, 5546, 5547, 5548, 5549, 5550, 5551, 5552, 5553, 5554, 5555, 5556, 5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, 5593, 5594, 5595, 5596, 5597, 5598, 5599, 5600, 5601, 5602, 5603, 5604, 5605, 5606, 5607, 5608, 5609, 5610, 5611, 5612, 5613, 5614, 5615, 5616, 5617, 5618, 5619, 5620, 5621, 5622, 5623, 5624, 5625, 5626, 5627, 5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635, 5636, 5637, 5638, 5639, 5640, 5641, 5642, 5643, 5644, 5645, 5646, 5647, 5648, 5649, 5650, 5651, 5652, 5653, 5654, 5655, 5656, 5657, 5658, 5659, 5660, 5661, 5662, 5663, 5664, 5665, 5666, 5667, 5668, 5669, 5670, 5671, 5672, 5673, 5674, 5675, 5676, 5677, 5678, 5679, 5680, 5681, 5682, 5683, 5684, 5685, 5686, 5687, 5688, 5689, 5690, 5691, 5692, 5693, 5694, 5695, 5696, 5697, 5698, 5699, 5700, 5701, 5702, 5703, 5704, 5705, 5706, 5707, 5708, 5709, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721, 5722, 5723, 5724, 5725, 5726, 5727, 5728, 5729, 5730, 5731, 5732, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741, 5742, 5743, 5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751, 5752, 5753, 5754, 5755, 5756, 5757, 5758, 5759, 5760, 5761, 5762, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781, 5782, 5783, 5784, 5785, 5786, 5787, 5788, 5789, 5790, 5791, 5792, 5793, 5794, 5795, 5796, 5797, 5798, 5799, 5800, 5801, 5802, 5803, 5804, 5805, 5806, 5807, 5808, 5809, 5810, 5811, 5812, 5813, 5814, 5815, 5816, 5817, 5818, 5819, 5820, 5821, 5822, 5823, 5824, 5825, 5826, 5827, 5828, 5829, 5830, 5831, 5832, 5833, 5834, 5835, 5836, 5837, 5838, 5839, 5840, 5841, 5842, 5843, 5844, 5845, 5846, 5847, 5848, 5849, 5850, 5851, 5852, 5853, 5854, 5855, 5856, 5857, 5858, 5859, 5860, 5861, 5862, 5863, 5864, 5865, 5866, 5867, 5868, 5869, 5870, 5871, 5872, 5873, 5874, 5875, 5876, 5877, 5878, 5879, 5880, 5881, 5882, 5883, 5884, 5885, 5886, 5887, 5888, 5889, 5890, 5891, 5892, 5893, 5894, 5895, 5896, 5897, 5898, 5899, 5900, 5901, 5902, 5903, 5904, 5905, 5906, 5907, 5908, 5909, 5910, 5911, 5912, 5913, 5914, 5915, 5916, 5917, 5918, 5919, 5920, 5921, 5922, 5923, 5924, 5925, 5926, 5927, 5928, 5929, 5930, 5931, 5932, 5933, 5934, 5935, 5936, 5937, 5938, 5939, 5940, 5941, 5942, 5943, 5944, 5945, 5946, 5947, 5948, 5949, 5950, 5951, 5952, 5953, 5954, 5955, 5956, 5957, 5958, 5959, 5960, 5961, 5962, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 5994, 5995, 5996, 5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6012, 6013, 6014, 6015, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035, 6036, 6037, 6038, 6039, 6040, 6041, 6042, 6043, 6044, 6045, 6046, 6047, 6048, 6049, 6050, 6051, 6052, 6053, 6054, 6055, 6056, 6057, 6058, 6059, 6060, 6061, 6062, 6063, 6064, 6065, 6066, 6067, 6068, 6069, 6070, 6071, 6072, 6073, 6074, 6075, 6076, 6077, 6078, 6079, 6080, 6081, 6082, 6083, 6084, 6085, 6086, 6087, 6088, 6089, 6090, 6091, 6092, 6093, 6094, 6095, 6096, 6097, 6098, 6099, 6100, 6101, 6102, 6103, 6104, 6105, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6113, 6114, 6115, 6116, 6117, 6118, 6119, 6120, 6121, 6122, 6123, 6124, 6125, 6126, 6127, 6128, 6129, 6130, 6131, 6132, 6133, 6134, 6135, 6136, 6137, 6138, 6139, 6140, 6141, 6142, 6143, 6144, 6145, 6146, 6147, 6148, 6149, 6150, 6151, 6152, 6153, 6154, 6155, 6156, 6157, 6158, 6159, 6160, 6161, 6162, 6163, 6164, 6165, 6166, 6167, 6168, 6169, 6170, 6171, 6172, 6173, 6174, 6175, 6176, 6177, 6178, 6179, 6180, 6181, 6182, 6183, 6184, 6185, 6186, 6187, 6188, 6189, 6190, 6191, 6192, 6193, 6194, 6195, 6196, 6197, 6198, 6199, 6200, 6201, 6202, 6203, 6204, 6205, 6206, 6207, 6208, 6209, 6210, 6211, 6212, 6213, 6214, 6215, 6216, 6217, 6218, 6219, 6220, 6221, 6222, 6223, 6224, 6225, 6226, 6227, 6228, 6229, 6230, 6231, 6232, 6233, 6234, 6235, 6236, 6237, 6238, 6239, 6240, 6241, 6242, 6243, 6244, 6245, 6246, 6247, 6248, 6249, 6250, 6251, 6252, 6253, 6254, 6255, 6256, 6257, 6258, 6259, 6260, 6261, 6262, 6263, 6264, 6265, 6266, 6267, 6268, 6269, 6270, 6271, 6272, 6273, 6274, 6275, 6276, 6277, 6278, 6279, 6280, 6281, 6282, 6283, 6284, 6285, 6286, 6287, 6288, 6289, 6290, 6291, 6292, 6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301, 6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311, 6312, 6313, 6314, 6315, 6316, 6317, 6318, 6319, 6320, 6321, 6322, 6323, 6324, 6325, 6326, 6327, 6328, 6329, 6330, 6331, 6332, 6333, 6334, 6335, 6336, 6337, 6338, 6339, 6340, 6341, 6342, 6343, 6344, 6345, 6346, 6347, 6348, 6349, 6350, 6351, 6352, 6353, 6354, 6355, 6356, 6357, 6358, 6359, 6360, 6361, 6362, 6363, 6364, 6365, 6366, 6367, 6368, 6369, 6370, 6371, 6372, 6373, 6374, 6375, 6376, 6377, 6378, 6379, 6380, 6381, 6382, 6383, 6384, 6385, 6386, 6387, 6388, 6389, 6390, 6391, 6392, 6393, 6394, 6395, 6396, 6397, 6398, 6399, 6400, 6401, 6402, 6403, 6404, 6405, 6406, 6407, 6408, 6409, 6410, 6411, 6412, 6413, 6414, 6415, 6416, 6417, 6418, 6419, 6420, 6421, 6422, 6423, 6424, 6425, 6426, 6427, 6428, 6429, 6430, 6431, 6432, 6433, 6434, 6435, 6436, 6437, 6438, 6439, 6440, 6441, 6442, 6443, 6444, 6445, 6446, 6447, 6448, 6449, 6450, 6451, 6452, 6453, 6454, 6455, 6456, 6457, 6458, 6459, 6460, 6461, 6462, 6463, 6464, 6465, 6466, 6467, 6468, 6469, 6470, 6471, 6472, 6473, 6474, 6475, 6476, 6477, 6478, 6479, 6480, 6481, 6482, 6483, 6484, 6485, 6486, 6487, 6488, 6489, 6490, 6491, 6492, 6493, 6494, 6495, 6496, 6497, 6498, 6499, 6500, 6501, 6502, 6503, 6504, 6505, 6506, 6507, 6508, 6509, 6510, 6511, 6512, 6513, 6514, 6515, 6516, 6517, 6518, 6519, 6520, 6521, 6522, 6523, 6524, 6525, 6526, 6527, 6528, 6529, 6530, 6531, 6532, 6533, 6534, 6535, 6536, 6537, 6538, 6539, 6540, 6541, 6542, 6543, 6544, 6545, 6546, 6547, 6548, 6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580, 6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607, 6608, 6609, 6610, 6611, 6612, 6613, 6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, 6634, 6635, 6636, 6637, 6638, 6639, 6640, 6641, 6642, 6643, 6644, 6645, 6646, 6647, 6648, 6649, 6650, 6651, 6652, 6653, 6654, 6655, 6656, 6657, 6658, 6659, 6660, 6661, 6662, 6663, 6664, 6665, 6666, 6667, 6668, 6669, 6670, 6671, 6672, 6673, 6674, 6675, 6676, 6677, 6678, 6679, 6680, 6681, 6682, 6683, 6684, 6685, 6686, 6687, 6688, 6689, 6690, 6691, 6692, 6693, 6694, 6695, 6696, 6697, 6698, 6699, 6700, 6701, 6702, 6703, 6704, 6705, 6706, 6707, 6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718, 6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751, 6752, 6753, 6754, 6755, 6756, 6757, 6758, 6759, 6760, 6761, 6762, 6763, 6764, 6765, 6766, 6767,

6768, 6769, 6770, 6771, 6772, 6773, 6774, 6775, 6776, 6777, 6778, 6779, 6780, 6781, 6782, 6783, 6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, 6792, 6793, 6794, 6795, 6796, 6797, 6798, 6799, 6800, 6801, 6802, 6803, 6804, 6805, 6806, 6807, 6808, 6809, 6810, 6811, 6812, 6813, 6814, 6815, 6816, 6817, 6818, 6819, 6820, 6821, 6822, 6823, 6824, 6825, 6826, 6827, 6828, 6829, 6830, 6831, 6832, 6833, 6834, 6835, 6836, 6837, 6838, 6839, 6840, 6841, 6842, 6843, 6844, 6845, 6846, 6847, 6848, 6849, 6850, 6851, 6852, 6853, 6854, 6855, 6856, 6857, 6858, 6859, 6860, 6861, 6862, 6863, 6864, 6865, 6866, 6867, 6868, 6869, 6870, 6871, 6872, 6873, 6874, 6875, 6876, 6877, 6878, 6879, 6880, 6881, 6882, 6883, 6884, 6885, 6886, 6887, 6888, 6889, 6890, 6891, 6892, 6893, 6894, 6895, 6896, 6897, 6898, 6899, 6900, 6901, 6902, 6903, 6904, 6905, 6906, 6907, 6908, 6909, 6910, 6911, 6912, 6913, 6914, 6915, 6916, 6917, 6918, 6919, 6920, 6921, 6922, 6923, 6924, 6925, 6926, 6927, 6928, 6929, 6930, 6931, 6932, 6933, 6934, 6935, 6936, 6937, 6938, 6939, 6940, 6941, 6942, 6943, 6944, 6945, 6946, 6947, 6948, 6949, 6950, 6951, 6952, 6953, 6954, 6955, 6956, 6957, 6958, 6959, 6960, 6961, 6962, 6963, 6964, 6965, 6966, 6967, 6968, 6969, 6970, 6971, 6972, 6973, 6974, 6975, 6976, 6977, 6978, 6979, 6980, 6981, 6982, 6983, 6984, 6985, 6986, 6987, 6988, 6989, 6990, 6991, 6992, 6993, 6994, 6995, 6996, 6997, 6998, 6999, 7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 7021, 7022, 7023, 7024, 7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 7033, 7034, 7035, 7036, 7037, 7038, 7039, 7040, 7041, 7042, 7043, 7044, 7045, 7046, 7047, 7048, 7049, 7050, 7051, 7052, 7053, 7054, 7055, 7056, 7057, 7058, 7059, 7060, 7061, 7062, 7063, 7064, 7065, 7066, 7067, 7068, 7069, 7070, 7071, 7072, 7073, 7074, 7075, 7076, 7077, 7078, 7079, 7080, 7081, 7082, 7083, 7084, 7085, 7086, 7087, 7088, 7089, 7090, 7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100, 7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110, 7111, 7112, 7113, 7114, 7115, 7116, 7117, 7118, 7119, 7120, 7121, 7122, 7123, 7124, 7125, 7126, 7127, 7128, 7129, 7130, 7131, 7132, 7133, 7134, 7135, 7136, 7137, 7138, 7139, 7140, 7141, 7142, 7143, 7144, 7145, 7146, 7147, 7148, 7149, 7150, 7151, 7152, 7153, 7154, 7155, 7156, 7157, 7158, 7159, 7160, 7161, 7162, 7163, 7164, 7165, 7166, 7167, 7168, 7169, 7170, 7171, 7172, 7173, 7174, 7175, 7176, 7177, 7178, 7179, 7180, 7181, 7182, 7183, 7184, 7185, 7186, 7187, 7188, 7189, 7190, 7191, 7192, 7193, 7194, 7195, 7196, 7197, 7198, 7199, 7200, 7201, 7202, 7203, 7204, 7205, 7206, 7207, 7208, 7209, 7210, 7211, 7212, 7213, 7214, 7215, 7216, 7217, 7218, 7219, 7220, 7221, 7222, 7223, 7224, 7225, 7226, 7227, 7228, 7229, 7230, 7231, 7232, 7233, 7234, 7235, 7236, 7237, 7238, 7239, 7240, 7241, 7242, 7243, 7244, 7245, 7246, 7247, 7248, 7249, 7250, 7251, 7252, 7253, 7254, 7255, 7256, 7257, 7258, 7259, 7260, 7261, 7262, 7263, 7264, 7265, 7266, 7267, 7268, 7269, 7270, 7271, 7272, 7273, 7274, 7275, 7276, 7277, 7278, 7279, 7280, 7281, 7282, 7283, 7284, 7285, 7286, 7287, 7288, 7289, 7290, 7291, 7292, 7293, 7294, 7295, 7296, 7297, 7298, 7299, 7300, 7301, 7302, 7303, 7304, 7305, 7306, 7307, 7308, 7309, 7310, 7311, 7312, 7313, 7314, 7315, 7316, 7317, 7318, 7319, 7320, 7321, 7322, 7323, 7324, 7325, 7326, 7327, 7328, 7329, 7330, 7331, 7332, 7333, 7334, 7335, 7336, 7337, 7338, 7339, 7340, 7341, 7342, 7343, 7344, 7345, 7346, 7347, 7348, 7349, 7350, 7351, 7352, 7353, 7354, 7355, 7356, 7357, 7358, 7359, 7360, 7361, 7362, 7363, 7364, 7365, 7366, 7367, 7368, 7369, 7370, 7371, 7372, 7373, 7374, 7375, 7376, 7377, 7378, 7379, 7380, 7381, 7382, 7383, 7384, 7385, 7386, 7387, 7388, 7389, 7390, 7391, 7392, 7393, 7394, 7395, 7396, 7397, 7398, 7399, 7400, 7401, 7402, 7403, 7404, 7405, 7406, 7407, 7408, 7409, 7410, 7411, 7412, 7413, 7414, 7415, 7416, 7417, 7418, 7419, 7420, 7421, 7422, 7423, 7424, 7425, 7426, 7427, 7428, 7429, 7430, 7431, 7432, 7433, 7434, 7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444, 7445, 7446, 7447, 7448, 7449, 7450, 7451, 7452, 7453, 7454, 7455, 7456, 7457, 7458, 7459, 7460, 7461, 7462, 7463, 7464, 7465, 7466, 7467, 7468, 7469, 7470, 7471, 7472, 7473, 7474, 7475, 7476, 7477, 7478, 7479, 7480, 7481, 7482, 7483, 7484, 7485, 7486, 7487, 7488, 7489, 7490, 7491, 7492, 7493, 7494, 7495, 7496, 7497, 7498, 7499, 7500, 7501, 7502, 7503, 7504, 7505, 7506, 7507, 7508, 7509, 7510, 7511, 7512, 7513, 7514, 7515, 7516, 7517, 7518, 7519, 7520, 7521, 7522, 7523, 7524, 7525, 7526, 7527, 7528, 7529, 7530, 7531, 7532, 7533, 7534, 7535, 7536, 7537, 7538, 7539, 7540, 7541, 7542, 7543, 7544, 7545, 7546, 7547, 7548, 7549, 7550, 7551, 7552, 7553, 7554, 7555, 7556, 7557, 7558, 7559, 7560, 7561, 7562, 7563, 7564, 7565, 7566, 7567, 7568, 7569, 7570, 7571, 7572, 7573, 7574, 7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584, 7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, 7593, 7594, 7595, 7596, 7597, 7598, 7599, 7600, 7601, 7602, 7603, 7604, 7605, 7606, 7607, 7608, 7609, 7610, 7611, 7612, 7613, 7614, 7615, 7616, 7617, 7618, 7619, 7620, 7621, 7622, 7623, 7624, 7625, 7626, 7627, 7628, 7629, 7630, 7631, 7632, 7633, 7634, 7635, 7636, 7637, 7638, 7639, 7640, 7641, 7642, 7643, 7644, 7645, 7646, 7647, 7648, 7649, 7650, 7651, 7652, 7653, 7654, 7655, 7656, 7657, 7658, 7659, 7660, 7661, 7662, 7663, 7664, 7665, 7666, 7667, 7668, 7669, 7670, 7671, 7672, 7673, 7674, 7675, 7676, 7677, 7678, 7679, 7680, 7681, 7682, 7683, 7684, 7685, 7686, 7687, 7688, 7689, 7690, 7691, 7692, 7693, 7694, 7695, 7696, 7697, 7698, 7699, 7700, 7701, 7702, 7703, 7704, 7705, 7706, 7707, 7708, 7709, 7710, 7711, 7712, 7713, 7714, 7715, 7716, 7717, 7718, 7719, 7720, 7721, 7722, 7723, 7724, 7725, 7726, 7727, 7728, 7729, 7730, 7731, 7732, 7733, 7734, 7735, 7736, 7737, 7738, 7739, 7740, 7741, 7742, 7743, 7744, 7745, 7746, 7747, 7748, 7749, 7750, 7751, 7752, 7753, 7754, 7755, 7756, 7757, 7758, 7759, 7760, 7761, 7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770, 7771, 7772, 7773, 7774, 7775, 7776, 7777, 7778, 7779, 7780, 7781, 7782, 7783, 7784, 7785, 7786, 7787, 7788, 7789, 7790, 7791, 7792, 7793, 7794, 7795, 7796, 7797, 7798, 7799, 7800, 7801, 7802, 7803, 7804, 7805, 7806, 7807, 7808, 7809, 7810, 7811, 7812, 7813, 7814, 7815, 7816, 7817, 7818, 7819, 7820, 7821, 7822, 7823, 7824, 7825, 7826, 7827, 7828, 7829, 7830, 7831, 7832, 7833, 7834, 7835, 7836, 7837, 7838, 7839, 7840, 7841, 7842, 7843, 7844, 7845, 7846, 7847, 7848, 7849, 7850, 7851, 7852, 7853, 7854, 7855, 7856, 7857, 7858, 7859, 7860, 7861, 7862, 7863, 7864, 7865, 7866, 7867, 7868, 7869, 7870, 7871, 7872, 7873, 7874, 7875, 7876, 7877, 7878, 7879, 7880, 7881, 7882, 7883, 7884, 7885, 7886, 7887, 7888, 7889, 7890, 7891, 7892, 7893, 7894, 7895, 7896, 7897, 7898, 7899, 7900, 7901, 7902, 7903, 7904, 7905, 7906, 7907, 7908, 7909, 7910, 7911, 7912, 7913, 7914, 7915, 7916, 7917, 7918, 7919, 7920, 7921, 7922, 7923, 7924, 7925, 7926, 7927, 7928, 7929, 7930, 7931, 7932, 7933, 7934, 7935, 7936, 7937, 7938, 7939, 7940, 7941, 7942, 7943, 7944, 7945, 7946, 7947, 7948, 7949, 7950, 7951, 7952, 7953, 7954, 7955, 7956, 7957, 7958, 7959, 7960, 7961, 7962, 7963, 7964, 7965, 7966, 7967, 7968, 7969, 7970, 7971, 7972, 7973, 7974, 7975, 7976, 7977, 7978, 7979, 7980, 7981, 7982, For all It took 0:01:09.631523 time

In [201]:
columns=load_pkl(pickle_path+'columns_ref.pkl')
dirlist_written=load_pkl(pickle_path+'wrtitten_files.pkl')
symbols=load_pkl(pickle_path+'symbols.pkl')
stime=datetime.now()
stocks={}
for symb in symbols[0:20]:
    ntime=datetime.now()
    stocks.update({symb: load_pkl(pickle_path+tbl+'.pkl')})
#     print("It took {} time".format(datetime.now()-ntime))
print("For all It took {} time".format(datetime.now()-stime))

In [202]:
# for symb in symbols[0:20]:
#     print(symb)
# for tbl in tables[0:20]:
#     print(tbl)
stocks

{'ABB': [array([205.0, 220.0, 205.0, 215.0, 215.0, 500, 106150.0,
         Timestamp('1994-11-03 00:00:00'), 0], dtype=object),
  array([215.0, 215.0, 212.75, 215.0, 215.0, 400, 85812.5,
         Timestamp('1994-11-07 00:00:00'), 0], dtype=object),
  array([217.0, 217.0, 215.0, 215.0, 215.0, 200, 43100.0,
         Timestamp('1994-11-08 00:00:00'), 0], dtype=object),
  array([216.0, 216.0, 208.0, 208.0, 208.0, 150, 31800.0,
         Timestamp('1994-11-09 00:00:00'), 0], dtype=object),
  array([205.0, 206.0, 205.0, 206.0, 206.0, 600, 123400.0,
         Timestamp('1994-11-10 00:00:00'), 0], dtype=object),
  array([205.5, 210.0, 205.0, 208.75, 210.0, 600, 123775.0,
         Timestamp('1994-11-11 00:00:00'), 0], dtype=object),
  array([210.0, 210.0, 208.0, 210.0, 210.0, 750, 156500.0,
         Timestamp('1994-11-14 00:00:00'), 0], dtype=object),
  array([204.0, 208.5, 203.75, 208.5, 208.5, 300, 61687.5,
         Timestamp('1994-11-15 00:00:00'), 0], dtype=object),
  array([214.0, 214.0, 214.0, 214.0, 214.0, 250, 53500.0,
         Timestamp('1994-11-16 00:00:00'), 0], dtype=object),
  array([217.0, 217.0, 216.0, 216.0, 216.0, 250, 54150.0,
         Timestamp('1994-11-17 00:00:00'), 0], dtype=object),
  array([212.0, 220.0, 212.0, 216.5, 216.5, 600, 130500.0,
         Timestamp('1994-11-21 00:00:00'), 0], dtype=object),
  array([226.0, 227.0, 220.0, 223.0, 223.0, 1400, 314600.0,
         Timestamp('1994-11-22 00:00:00'), 0], dtype=object),
  array([220.0, 220.0, 207.0, 208.5, 207.0, 1150, 245900.0,
         Timestamp('1994-11-23 00:00:00'), 0], dtype=object),
  array([208.0, 215.0, 208.0, 211.0, 211.0, 500, 106100.0,
         Timestamp('1994-11-24 00:00:00'), 0], dtype=object),
  array([212.5, 212.5, 210.5, 212.0, 211.5, 550, 116400.0,
         Timestamp('1994-11-25 00:00:00'), 0], dtype=object),
  array([213.0, 215.0, 213.0, 215.0, 215.0, 350, 74950.0,
         Timestamp('1994-11-29 00:00:00'), 0], dtype=object),
  array([209.0, 210.5, 208.5, 208.75, 208.5, 550, 115150.0,
         Timestamp('1994-11-30 00:00:00'), 0], dtype=object),
  array([210.0, 212.0, 210.0, 212.0, 212.0, 800, 169375.0,
         Timestamp('1994-12-01 00:00:00'), 0], dtype=object),
  array([209.0, 211.0, 203.5, 209.0, 209.0, 1800, 376675.0,
         Timestamp('1994-12-02 00:00:00'), 0], dtype=object),
  array([212.0, 214.0, 209.0, 213.5, 213.5, 1800, 381225.0,
         Timestamp('1994-12-05 00:00:00'), 0], dtype=object),
  array([212.0, 216.0, 210.5, 215.5, 216.0, 6200, 1330400.0,
         Timestamp('1994-12-06 00:00:00'), 0], dtype=object),
  array([212.0, 214.0, 209.0, 213.0, 213.0, 2450, 520250.0,
         Timestamp('1994-12-07 00:00:00'), 0], dtype=object),
  array([210.0, 215.0, 207.0, 215.0, 215.0, 6800, 1458000.0,
         Timestamp('1994-12-08 00:00:00'), 0], dtype=object),
  array([210.0, 215.0, 210.0, 213.0, 213.0, 600, 127650.0,
         Timestamp('1994-12-09 00:00:00'), 0], dtype=object),
  array([205.0, 213.0, 201.0, 211.0, 211.0, 3750, 775600.0,
         Timestamp('1994-12-12 00:00:00'), 0], dtype=object),
  array([210.0, 212.0, 207.0, 208.5, 208.5, 2450, 512637.5,
         Timestamp('1994-12-13 00:00:00'), 0], dtype=object),
  array([210.0, 212.5, 209.25, 210.0, 210.0, 900, 190087.5,
         Timestamp('1994-12-14 00:00:00'), 0], dtype=object),
  array([209.5, 213.5, 209.5, 213.25, 213.5, 1200, 253450.0,
         Timestamp('1994-12-15 00:00:00'), 0], dtype=object),
  array([213.0, 216.0, 213.0, 216.0, 216.0, 2500, 535410.0,
         Timestamp('1994-12-16 00:00:00'), 0], dtype=object),
  array([207.5, 212.0, 207.5, 211.25, 211.25, 1150, 241050.0,
         Timestamp('1994-12-19 00:00:00'), 0], dtype=object),
  array([214.65, 214.65, 210.0, 213.25, 213.25, 1200, 254695.0,
         Timestamp('1994-12-20 00:00:00'), 0], dtype=object),
  array([212.0, 212.5, 212.0, 212.25, 212.2, 550, 116635.0,
         Timestamp('1994-12-21 00:00:00'), 0], dtype=object),
  array([212.0, 212.0, 210.0, 212.0, 212.0, 1600, 337025.0,
         Timestamp('1994-12-22 00:00:00'), 0], dtype=object),
  array([212.0, 213.5, 212.0, 213.0, 213.0, 950, 202300.0,
         Timestamp('1994-12-23 00:00:00'), 0], dtype=object),
  array([214.0, 214.75, 214.0, 214.75, 214.75, 900, 193000.0,
         Timestamp('1994-12-26 00:00:00'), 0], dtype=object),
  array([212.5, 213.5, 212.5, 213.5, 213.5, 1500, 319250.0,
         Timestamp('1994-12-27 00:00:00'), 0], dtype=object),
  array([212.0, 213.0, 210.0, 213.0, 213.0, 600, 126800.0,
         Timestamp('1994-12-28 00:00:00'), 0], dtype=object),
  array([210.0, 213.0, 210.0, 212.0, 212.0, 650, 136850.0,
         Timestamp('1994-12-29 00:00:00'), 0], dtype=object),
  array([207.0, 213.0, 207.0, 213.0, 213.0, 200, 42000.0,
         Timestamp('1994-12-30 00:00:00'), 0], dtype=object),
  array([210.0, 213.5, 209.0, 213.2, 213.5, 1850, 392850.0,
         Timestamp('1995-01-02 00:00:00'), 0], dtype=object),
  array([207.5, 216.0, 207.5, 216.0, 216.0, 1350, 285000.0,
         Timestamp('1995-01-03 00:00:00'), 0], dtype=object),
  array([208.0, 211.5, 208.0, 211.5, 211.5, 1500, 315525.0,
         Timestamp('1995-01-04 00:00:00'), 0], dtype=object),
  array([206.0, 208.5, 205.0, 207.5, 207.0, 1450, 299480.0,
         Timestamp('1995-01-05 00:00:00'), 0], dtype=object),
  array([207.0, 207.0, 204.0, 206.5, 206.5, 5300, 1093700.0,
         Timestamp('1995-01-06 00:00:00'), 0], dtype=object),
  array([200.0, 202.0, 200.0, 202.0, 202.0, 1450, 290150.0,
         Timestamp('1995-01-09 00:00:00'), 0], dtype=object),
  array([192.0, 192.0, 190.0, 190.35, 190.5, 350, 66675.0,
         Timestamp('1995-01-10 00:00:00'), 0], dtype=object),
  array([197.5, 197.5, 193.0, 196.25, 196.5, 2000, 389875.0,
         Timestamp('1995-01-11 00:00:00'), 0], dtype=object),
  array([196.0, 196.0, 190.0, 190.0, 190.0, 250, 48450.0,
         Timestamp('1995-01-12 00:00:00'), 0], dtype=object),
  array([192.5, 194.0, 190.0, 193.0, 193.0, 3250, 620325.0,
         Timestamp('1995-01-13 00:00:00'), 0], dtype=object),
  array([190.0, 195.0, 190.0, 192.65, 190.0, 9250, 1782850.0,
         Timestamp('1995-01-16 00:00:00'), 0], dtype=object),
  array([190.0, 195.0, 190.0, 193.1, 193.25, 2200, 425225.0,
         Timestamp('1995-01-17 00:00:00'), 0], dtype=object),
  array([181.0, 195.0, 181.0, 195.0, 195.0, 950, 176637.5,
         Timestamp('1995-01-18 00:00:00'), 0], dtype=object),
  array([195.0, 195.0, 194.0, 194.65, 194.0, 150, 29200.0,
         Timestamp('1995-01-19 00:00:00'), 0], dtype=object),
  array([191.5, 192.0, 180.0, 180.0, 180.0, 1050, 192977.5,
         Timestamp('1995-01-20 00:00:00'), 0], dtype=object),
  array([181.0, 185.0, 181.0, 181.5, 181.0, 500, 91400.0,
         Timestamp('1995-01-23 00:00:00'), 0], dtype=object),
  array([178.0, 182.5, 177.5, 181.5, 181.5, 1950, 351385.0,
         Timestamp('1995-01-24 00:00:00'), 0], dtype=object),
  array([182.0, 185.0, 182.0, 183.0, 183.0, 1550, 284000.0,
         Timestamp('1995-01-25 00:00:00'), 0], dtype=object),
  array([183.0, 200.0, 183.0, 193.0, 193.0, 400, 76912.5,
         Timestamp('1995-01-27 00:00:00'), 0], dtype=object),
  array([193.0, 195.0, 193.0, 193.5, 193.0, 400, 77550.0,
         Timestamp('1995-01-30 00:00:00'), 0], dtype=object),
  array([196.0, 200.0, 195.0, 199.0, 199.0, 1950, 386350.0,
         Timestamp('1995-01-31 00:00:00'), 0], dtype=object),
  array([200.0, 200.0, 195.6, 197.5, 197.5, 1550, 307005.0,
         Timestamp('1995-02-01 00:00:00'), 0], dtype=object),
  array([192.5, 197.0, 192.5, 196.9, 197.0, 1700, 332212.5,
         Timestamp('1995-02-02 00:00:00'), 0], dtype=object),
  array([192.0, 195.0, 192.0, 194.05, 193.1, 1050, 202460.0,
         Timestamp('1995-02-03 00:00:00'), 0], dtype=object),
  array([182.0, 185.0, 182.0, 182.0, 182.0, 400, 73212.5,
         Timestamp('1995-02-10 00:00:00'), 0], dtype=object),
  array([182.0, 182.0, 176.0, 177.35, 177.0, 400, 71500.0,
         Timestamp('1995-02-13 00:00:00'), 0], dtype=object),
  array([177.0, 177.0, 175.0, 175.0, 175.0, 1350, 236600.0,
         Timestamp('1995-02-14 00:00:00'), 0], dtype=object),
  array([175.0, 175.0, 172.0, 173.0, 173.0, 2100, 361400.0,
         Timestamp('1995-02-15 00:00:00'), 0], dtype=object),
  array([170.0, 170.0, 151.0, 160.0, 160.0, 7500, 1164720.0,
         Timestamp('1995-02-16 00:00:00'), 0], dtype=object),
  array([160.0, 163.0, 157.0, 161.95, 162.0, 3350, 537442.5,
         Timestamp('1995-02-17 00:00:00'), 0], dtype=object),
  array([163.0, 168.0, 161.0, 161.0, 161.0, 5900, 975425.0,
         Timestamp('1995-02-20 00:00:00'), 0], dtype=object),
  array([162.0, 166.5, 162.0, 164.5, 166.5, 3250, 530342.5,
         Timestamp('1995-02-21 00:00:00'), 0], dtype=object),
  array([154.95, 161.0, 154.95, 160.95, 160.95, 15200, 2381560.0,
         Timestamp('1995-02-22 00:00:00'), 0], dtype=object),
  array([167.5, 180.0, 166.0, 179.5, 179.0, 3300, 574250.0,
         Timestamp('1995-02-23 00:00:00'), 0], dtype=object),
  array([182.5, 184.0, 180.0, 180.75, 180.15, 4300, 781225.0,
         Timestamp('1995-02-24 00:00:00'), 0], dtype=object),
  array([170.0, 190.0, 167.5, 181.8, 190.0, 3900, 690910.0,
         Timestamp('1995-02-28 00:00:00'), 0], dtype=object),
  array([189.5, 189.5, 172.5, 175.0, 175.0, 4050, 719210.0,
         Timestamp('1995-03-01 00:00:00'), 0], dtype=object),
  array([175.0, 178.3, 170.0, 171.2, 171.0, 5650, 978762.5,
         Timestamp('1995-03-02 00:00:00'), 0], dtype=object),
  array([177.5, 177.5, 166.0, 172.9, 166.0, 8050, 1388615.0,
         Timestamp('1995-03-03 00:00:00'), 0], dtype=object),
  array([172.5, 172.5, 165.0, 170.0, 170.0, 3750, 636962.5,
         Timestamp('1995-03-06 00:00:00'), 0], dtype=object),
  array([170.0, 170.0, 165.0, 166.65, 165.0, 5000, 839015.0,
         Timestamp('1995-03-07 00:00:00'), 0], dtype=object),
  array([170.0, 170.0, 165.0, 169.1, 170.0, 4900, 815845.0,
         Timestamp('1995-03-08 00:00:00'), 0], dtype=object),
  array([166.5, 170.0, 165.0, 169.4, 170.0, 7950, 1325830.0,
         Timestamp('1995-03-09 00:00:00'), 0], dtype=object),
  array([173.75, 180.0, 172.6, 177.15, 177.0, 6150, 1081862.5,
         Timestamp('1995-03-10 00:00:00'), 0], dtype=object),
  array([168.0, 176.0, 164.0, 167.3, 165.0, 4400, 744427.5,
         Timestamp('1995-03-13 00:00:00'), 0], dtype=object),
  array([172.0, 173.5, 168.0, 170.2, 170.0, 5050, 862675.0,
         Timestamp('1995-03-14 00:00:00'), 0], dtype=object),
  array([165.5, 189.0, 165.5, 172.0, 172.0, 10200, 1817710.0,
         Timestamp('1995-03-15 00:00:00'), 0], dtype=object),
  array([172.0, 173.0, 160.0, 166.75, 166.75, 13350, 2178570.0,
         Timestamp('1995-03-16 00:00:00'), 0], dtype=object),
  array([160.0, 163.7, 158.25, 159.9, 159.5, 2000, 320772.5,
         Timestamp('1995-03-20 00:00:00'), 0], dtype=object),
  array([159.75, 164.0, 155.0, 155.25, 155.0, 7150, 1137957.5,
         Timestamp('1995-03-21 00:00:00'), 0], dtype=object),
  array([157.5, 163.0, 157.5, 162.0, 162.75, 2250, 360985.0,
         Timestamp('1995-03-22 00:00:00'), 0], dtype=object),
  array([160.0, 167.0, 160.0, 161.0, 161.0, 2650, 432675.0,
         Timestamp('1995-03-23 00:00:00'), 0], dtype=object),
  array([164.75, 164.75, 158.0, 161.5, 161.5, 1850, 296395.0,
         Timestamp('1995-03-24 00:00:00'), 0], dtype=object),
  array([161.0, 161.0, 158.0, 158.7, 158.0, 1200, 191640.0,
         Timestamp('1995-03-27 00:00:00'), 0], dtype=object),
  array([160.0, 165.0, 158.0, 158.8, 160.5, 1700, 271550.0,
         Timestamp('1995-03-28 00:00:00'), 0], dtype=object),
  array([160.0, 163.0, 160.0, 162.35, 162.5, 1200, 194062.5,
         Timestamp('1995-03-29 00:00:00'), 0], dtype=object),
  array([160.0, 161.0, 159.0, 159.95, 160.0, 3000, 479507.5,
         Timestamp('1995-03-30 00:00:00'), 0], dtype=object),
  array([160.05, 161.0, 156.0, 160.9, 160.9, 5100, 806327.5,
         Timestamp('1995-03-31 00:00:00'), 0], dtype=object),
  array([159.95, 159.95, 156.5, 157.6, 159.0, 4300, 680290.0,
         Timestamp('1995-04-03 00:00:00'), 0], dtype=object),
  array([157.0, 161.5, 157.0, 160.4, 160.5, 10800, 1729622.5,
         Timestamp('1995-04-04 00:00:00'), 0], dtype=object),
  array([162.5, 165.0, 162.5, 162.5, 162.5, 2750, 448540.0,
         Timestamp('1995-04-05 00:00:00'), 0], dtype=object),
  array([164.0, 172.5, 164.0, 168.5, 168.5, 7450, 1257880.0,
         Timestamp('1995-04-06 00:00:00'), 0], dtype=object),
  array([171.0, 173.9, 169.5, 171.5, 172.0, 10600, 1813632.5,
         Timestamp('1995-04-07 00:00:00'), 0], dtype=object),
  array([168.0, 170.0, 165.05, 166.75, 167.0, 3350, 557187.5,
         Timestamp('1995-04-10 00:00:00'), 0], dtype=object),
  array([166.0, 166.5, 165.0, 165.3, 165.0, 3650, 603070.0,
         Timestamp('1995-04-11 00:00:00'), 0], dtype=object),
  array([166.0, 166.5, 164.25, 166.0, 166.0, 1800, 297040.0,
         Timestamp('1995-04-12 00:00:00'), 0], dtype=object),
  array([164.0, 164.0, 160.0, 162.25, 162.5, 4300, 698315.0,
         Timestamp('1995-04-17 00:00:00'), 0], dtype=object),
  array([162.5, 162.5, 156.9, 159.55, 158.2, 11100, 1777997.5,
         Timestamp('1995-04-18 00:00:00'), 0], dtype=object),
  array([160.75, 161.0, 155.0, 157.5, 157.5, 4650, 732610.0,
         Timestamp('1995-04-19 00:00:00'), 0], dtype=object),
  array([157.0, 158.0, 155.25, 155.65, 156.0, 3550, 554150.0,
         Timestamp('1995-04-20 00:00:00'), 0], dtype=object),
  array([156.0, 157.5, 152.05, 155.05, 155.0, 3100, 481620.0,
         Timestamp('1995-04-21 00:00:00'), 0], dtype=object),
  array([156.5, 156.5, 150.0, 151.2, 151.0, 6750, 1024962.5,
         Timestamp('1995-04-24 00:00:00'), 0], dtype=object),
  array([150.75, 150.75, 147.0, 147.5, 147.5, 8300, 1231242.5,
         Timestamp('1995-04-25 00:00:00'), 0], dtype=object),
  array([146.0, 151.6, 146.0, 148.0, 148.0, 8550, 1270122.5,
         Timestamp('1995-04-26 00:00:00'), 0], dtype=object),
  array([150.0, 150.0, 142.75, 144.0, 144.0, 5450, 793967.5,
         Timestamp('1995-04-27 00:00:00'), 0], dtype=object),
  array([144.5, 144.5, 134.0, 134.85, 134.0, 10550, 1451537.5,
         Timestamp('1995-04-28 00:00:00'), 0], dtype=object),
  array([135.0, 135.0, 127.0, 128.4, 128.1, 8300, 1079182.5,
         Timestamp('1995-05-02 00:00:00'), 0], dtype=object),
  array([125.0, 135.0, 125.0, 133.35, 135.0, 19950, 2577677.5,
         Timestamp('1995-05-03 00:00:00'), 0], dtype=object),
  array([140.0, 141.95, 136.25, 141.1, 140.5, 18250, 2522905.0,
         Timestamp('1995-05-04 00:00:00'), 0], dtype=object),
  array([142.0, 145.0, 141.55, 142.5, 143.4, 8100, 1152245.0,
         Timestamp('1995-05-05 00:00:00'), 0], dtype=object),
  array([145.0, 145.0, 141.5, 143.5, 143.0, 4800, 688145.0,
         Timestamp('1995-05-08 00:00:00'), 0], dtype=object),
  array([143.5, 143.5, 140.0, 142.15, 143.0, 14050, 1986400.0,
         Timestamp('1995-05-09 00:00:00'), 0], dtype=object),
  array([142.5, 143.5, 139.5, 140.5, 141.0, 7000, 985737.5,
         Timestamp('1995-05-10 00:00:00'), 0], dtype=object),
  array([140.5, 140.5, 136.8, 139.65, 140.0, 3650, 505275.0,
         Timestamp('1995-05-12 00:00:00'), 0], dtype=object),
  array([137.0, 138.4, 134.0, 135.0, 135.0, 4900, 667025.0,
         Timestamp('1995-05-15 00:00:00'), 0], dtype=object),
  array([135.0, 137.75, 134.75, 137.45, 137.75, 7850, 1066960.0,
         Timestamp('1995-05-16 00:00:00'), 0], dtype=object),
  array([140.0, 142.65, 139.0, 141.3, 141.0, 3050, 427415.0,
         Timestamp('1995-05-17 00:00:00'), 0], dtype=object),
  array([141.0, 147.0, 141.0, 141.45, 142.0, 14500, 2074342.5,
         Timestamp('1995-05-18 00:00:00'), 0], dtype=object),
  array([145.0, 145.0, 141.0, 142.05, 142.0, 7450, 1062260.0,
         Timestamp('1995-05-19 00:00:00'), 0], dtype=object),
  array([142.25, 142.25, 138.0, 138.9, 138.5, 26700, 3693775.0,
         Timestamp('1995-05-22 00:00:00'), 0], dtype=object),
  array([138.0, 139.75, 137.1, 138.15, 138.5, 7550, 1045750.0,
         Timestamp('1995-05-23 00:00:00'), 0], dtype=object),
  array([142.0, 142.0, 137.55, 138.0, 138.0, 2800, 390085.0,
         Timestamp('1995-05-24 00:00:00'), 0], dtype=object),
  array([136.0, 137.25, 134.0, 135.45, 135.0, 4050, 547590.0,
         Timestamp('1995-05-25 00:00:00'), 0], dtype=object),
  array([136.5, 138.45, 135.0, 135.0, 135.0, 4050, 553340.0,
         Timestamp('1995-05-26 00:00:00'), 0], dtype=object),
  array([137.0, 137.0, 133.5, 135.15, 135.7, 7150, 963522.5,
         Timestamp('1995-05-29 00:00:00'), 0], dtype=object),
  array([134.0, 137.45, 133.5, 137.0, 137.45, 8950, 1215220.0,
         Timestamp('1995-05-30 00:00:00'), 0], dtype=object),
  array([139.0, 152.0, 139.0, 149.2, 148.15, 37400, 5543310.0,
         Timestamp('1995-05-31 00:00:00'), 0], dtype=object),
  array([147.0, 159.75, 147.0, 156.0, 155.75, 40600, 6306942.5,
         Timestamp('1995-06-01 00:00:00'), 0], dtype=object),
  array([155.0, 157.0, 150.0, 150.35, 150.0, 20050, 3067402.5,
         Timestamp('1995-06-02 00:00:00'), 0], dtype=object),
  array([150.0, 152.0, 149.0, 149.8, 150.0, 20600, 3088672.5,
         Timestamp('1995-06-05 00:00:00'), 0], dtype=object),
  array([150.0, 151.75, 149.5, 151.15, 151.0, 26400, 3973385.0,
         Timestamp('1995-06-06 00:00:00'), 0], dtype=object),
  array([155.0, 155.0, 151.0, 152.0, 152.0, 5800, 879510.0,
         Timestamp('1995-06-07 00:00:00'), 0], dtype=object),
  array([151.0, 151.0, 149.0, 149.75, 149.75, 8750, 1313432.5,
         Timestamp('1995-06-08 00:00:00'), 0], dtype=object),
  array([149.0, 150.0, 145.0, 147.5, 147.5, 6000, 891150.0,
         Timestamp('1995-06-09 00:00:00'), 0], dtype=object),
  array([145.0, 146.0, 142.5, 143.75, 144.0, 9750, 1409337.5,
         Timestamp('1995-06-12 00:00:00'), 0], dtype=object),
  array([144.0, 144.0, 138.0, 140.7, 140.0, 13550, 1897280.0,
         Timestamp('1995-06-13 00:00:00'), 0], dtype=object),
  array([142.0, 143.0, 140.55, 141.1, 141.0, 3300, 466182.5,
         Timestamp('1995-06-14 00:00:00'), 0], dtype=object),
  array([141.5, 142.0, 139.9, 140.95, 142.0, 5200, 730972.5,
         Timestamp('1995-06-15 00:00:00'), 0], dtype=object),
  array([141.0, 142.5, 140.0, 142.45, 142.5, 15600, 2201970.0,
         Timestamp('1995-06-16 00:00:00'), 0], dtype=object),
  array([142.0, 144.0, 141.0, 142.65, 142.6, 16950, 2429770.0,
         Timestamp('1995-06-19 00:00:00'), 0], dtype=object),
  array([143.75, 144.0, 141.25, 142.45, 142.45, 38500, 5502640.0,
         Timestamp('1995-06-20 00:00:00'), 0], dtype=object),
  array([142.5, 144.2, 142.5, 143.35, 143.15, 8750, 1252877.5,
         Timestamp('1995-06-21 00:00:00'), 0], dtype=object),
  array([143.0, 144.0, 141.05, 142.0, 142.0, 4450, 633610.0,
         Timestamp('1995-06-22 00:00:00'), 0], dtype=object),
  array([142.0, 142.2, 141.0, 141.25, 141.25, 8900, 1261480.0,
         Timestamp('1995-06-23 00:00:00'), 0], dtype=object),
  array([138.0, 140.0, 136.0, 137.5, 138.5, 10500, 1442702.5,
         Timestamp('1995-06-26 00:00:00'), 0], dtype=object),
  array([137.5, 139.0, 136.25, 137.3, 137.0, 6950, 953257.5,
         Timestamp('1995-06-27 00:00:00'), 0], dtype=object),
  array([137.0, 145.0, 136.5, 141.3, 141.25, 5050, 712217.5,
         Timestamp('1995-06-28 00:00:00'), 0], dtype=object),
  array([141.0, 142.5, 140.0, 140.05, 140.05, 3600, 508212.5,
         Timestamp('1995-06-29 00:00:00'), 0], dtype=object),
  array([141.0, 141.0, 138.05, 139.45, 140.0, 4900, 682255.0,
         Timestamp('1995-06-30 00:00:00'), 0], dtype=object),
  array([134.05, 137.0, 132.0, 134.15, 134.5, 4350, 587535.0,
         Timestamp('1995-07-03 00:00:00'), 0], dtype=object),
  array([126.0, 135.0, 125.0, 130.65, 130.05, 7650, 1007567.5,
         Timestamp('1995-07-04 00:00:00'), 0], dtype=object),
  array([134.05, 137.0, 131.95, 132.0, 132.0, 4450, 597570.0,
         Timestamp('1995-07-05 00:00:00'), 0], dtype=object),
  array([132.0, 132.5, 130.5, 132.0, 132.0, 4100, 540380.0,
         Timestamp('1995-07-06 00:00:00'), 0], dtype=object),
  array([133.95, 135.0, 132.05, 135.0, 135.0, 14250, 1896555.0,

In [194]:
symbols,tables

([array(['ABB', 'ACC', 'AHMEDELEC', ..., 'HINDCON', 'EMOFSR1RDP',
         'H3360D30RQ'], dtype=object)],
 array(['ABB', 'ACC', 'AHMEDELEC', ..., 'HINDCON', 'EMOFSR1RDP',
        'H3360D30RQ'], dtype=object))

In [150]:
import pickle

# obj0, obj1, obj2 are created here...
ntime=datetime.now()
# Saving the objects:
with open('table_fns.pkl', 'wb') as f:  # Python 3: open(..., 'wb')
    pickle.dump([table_fns], f)

print("It took {} time".format(datetime.now()-ntime))

It took 0:01:40.111550 time

In [248]:
for file in dirlist[2:]:
    print(file)
    zip_ref = ZipFile(data_folder+file, 'r')

cm08NOV1994bhav.csv.zip
cm09NOV1994bhav.csv.zip
cm10NOV1994bhav.csv.zip
cm11NOV1994bhav.csv.zip
cm14NOV1994bhav.csv.zip
cm15NOV1994bhav.csv.zip
cm16NOV1994bhav.csv.zip
cm17NOV1994bhav.csv.zip
cm21NOV1994bhav.csv.zip
cm22NOV1994bhav.csv.zip
cm23NOV1994bhav.csv.zip
cm24NOV1994bhav.csv.zip
cm25NOV1994bhav.csv.zip
cm28NOV1994bhav.csv.zip
cm29NOV1994bhav.csv.zip
cm30NOV1994bhav.csv.zip
cm01DEC1994bhav.csv.zip
cm02DEC1994bhav.csv.zip
cm05DEC1994bhav.csv.zip
cm06DEC1994bhav.csv.zip
cm07DEC1994bhav.csv.zip
cm08DEC1994bhav.csv.zip
cm09DEC1994bhav.csv.zip
cm12DEC1994bhav.csv.zip
cm13DEC1994bhav.csv.zip
cm14DEC1994bhav.csv.zip
cm15DEC1994bhav.csv.zip
cm16DEC1994bhav.csv.zip
cm19DEC1994bhav.csv.zip
cm20DEC1994bhav.csv.zip
cm21DEC1994bhav.csv.zip
cm22DEC1994bhav.csv.zip
cm23DEC1994bhav.csv.zip
cm26DEC1994bhav.csv.zip
cm27DEC1994bhav.csv.zip
cm28DEC1994bhav.csv.zip
cm29DEC1994bhav.csv.zip
cm30DEC1994bhav.csv.zip
cm02JAN1995bhav.csv.zip
cm03JAN1995bhav.csv.zip
cm04JAN1995bhav.csv.zip
cm05JAN1995bhav.csv.zip
cm06JAN1995bhav.csv.zip
cm09JAN1995bhav.csv.zip
cm10JAN1995bhav.csv.zip
cm11JAN1995bhav.csv.zip
cm12JAN1995bhav.csv.zip
cm13JAN1995bhav.csv.zip
cm16JAN1995bhav.csv.zip
cm17JAN1995bhav.csv.zip
cm18JAN1995bhav.csv.zip
cm19JAN1995bhav.csv.zip
cm20JAN1995bhav.csv.zip
cm23JAN1995bhav.csv.zip
cm24JAN1995bhav.csv.zip
cm25JAN1995bhav.csv.zip
cm27JAN1995bhav.csv.zip
cm30JAN1995bhav.csv.zip
cm31JAN1995bhav.csv.zip
cm01FEB1995bhav.csv.zip
cm02FEB1995bhav.csv.zip
cm03FEB1995bhav.csv.zip
cm10FEB1995bhav.csv.zip
cm13FEB1995bhav.csv.zip
cm14FEB1995bhav.csv.zip
cm15FEB1995bhav.csv.zip
cm16FEB1995bhav.csv.zip
cm17FEB1995bhav.csv.zip
cm20FEB1995bhav.csv.zip
cm21FEB1995bhav.csv.zip
cm22FEB1995bhav.csv.zip
cm23FEB1995bhav.csv.zip
cm24FEB1995bhav.csv.zip
cm28FEB1995bhav.csv.zip
cm01MAR1995bhav.csv.zip
cm02MAR1995bhav.csv.zip
cm03MAR1995bhav.csv.zip
cm06MAR1995bhav.csv.zip
cm07MAR1995bhav.csv.zip
cm08MAR1995bhav.csv.zip
cm09MAR1995bhav.csv.zip
cm10MAR1995bhav.csv.zip
cm13MAR1995bhav.csv.zip
cm14MAR1995bhav.csv.zip
cm15MAR1995bhav.csv.zip
cm16MAR1995bhav.csv.zip
cm20MAR1995bhav.csv.zip
cm21MAR1995bhav.csv.zip
cm22MAR1995bhav.csv.zip
cm23MAR1995bhav.csv.zip
cm24MAR1995bhav.csv.zip
cm27MAR1995bhav.csv.zip
cm28MAR1995bhav.csv.zip
cm29MAR1995bhav.csv.zip
cm30MAR1995bhav.csv.zip
cm31MAR1995bhav.csv.zip
cm03APR1995bhav.csv.zip
cm04APR1995bhav.csv.zip
cm05APR1995bhav.csv.zip
cm06APR1995bhav.csv.zip
cm07APR1995bhav.csv.zip
cm10APR1995bhav.csv.zip
cm11APR1995bhav.csv.zip
cm12APR1995bhav.csv.zip
cm17APR1995bhav.csv.zip
cm18APR1995bhav.csv.zip
cm19APR1995bhav.csv.zip
cm20APR1995bhav.csv.zip
cm21APR1995bhav.csv.zip
cm24APR1995bhav.csv.zip
cm25APR1995bhav.csv.zip
cm26APR1995bhav.csv.zip
cm27APR1995bhav.csv.zip
cm28APR1995bhav.csv.zip
cm02MAY1995bhav.csv.zip
cm03MAY1995bhav.csv.zip
cm04MAY1995bhav.csv.zip
cm05MAY1995bhav.csv.zip
cm08MAY1995bhav.csv.zip
cm09MAY1995bhav.csv.zip
cm10MAY1995bhav.csv.zip
cm12MAY1995bhav.csv.zip
cm15MAY1995bhav.csv.zip
cm16MAY1995bhav.csv.zip
cm17MAY1995bhav.csv.zip
cm18MAY1995bhav.csv.zip
cm19MAY1995bhav.csv.zip
cm22MAY1995bhav.csv.zip
cm23MAY1995bhav.csv.zip
cm24MAY1995bhav.csv.zip
cm25MAY1995bhav.csv.zip
cm26MAY1995bhav.csv.zip
cm29MAY1995bhav.csv.zip
cm30MAY1995bhav.csv.zip
cm31MAY1995bhav.csv.zip
cm01JUN1995bhav.csv.zip
cm02JUN1995bhav.csv.zip
cm05JUN1995bhav.csv.zip
cm06JUN1995bhav.csv.zip
cm07JUN1995bhav.csv.zip
cm08JUN1995bhav.csv.zip
cm09JUN1995bhav.csv.zip
cm12JUN1995bhav.csv.zip
cm13JUN1995bhav.csv.zip
cm14JUN1995bhav.csv.zip
cm15JUN1995bhav.csv.zip
cm16JUN1995bhav.csv.zip
cm19JUN1995bhav.csv.zip
cm20JUN1995bhav.csv.zip
cm21JUN1995bhav.csv.zip
cm22JUN1995bhav.csv.zip
cm23JUN1995bhav.csv.zip
cm26JUN1995bhav.csv.zip
cm27JUN1995bhav.csv.zip
cm28JUN1995bhav.csv.zip
cm29JUN1995bhav.csv.zip
cm30JUN1995bhav.csv.zip
cm03JUL1995bhav.csv.zip
cm04JUL1995bhav.csv.zip
cm05JUL1995bhav.csv.zip
cm06JUL1995bhav.csv.zip
cm07JUL1995bhav.csv.zip
cm10JUL1995bhav.csv.zip
cm11JUL1995bhav.csv.zip
cm12JUL1995bhav.csv.zip
cm13JUL1995bhav.csv.zip
cm14JUL1995bhav.csv.zip
cm17JUL1995bhav.csv.zip
cm18JUL1995bhav.csv.zip
cm19JUL1995bhav.csv.zip
cm20JUL1995bhav.csv.zip
cm21JUL1995bhav.csv.zip
cm24JUL1995bhav.csv.zip
cm25JUL1995bhav.csv.zip
cm26JUL1995bhav.csv.zip
cm27JUL1995bhav.csv.zip
cm28JUL1995bhav.csv.zip
cm31JUL1995bhav.csv.zip
cm01AUG1995bhav.csv.zip
cm02AUG1995bhav.csv.zip
cm03AUG1995bhav.csv.zip
cm04AUG1995bhav.csv.zip
cm07AUG1995bhav.csv.zip
cm08AUG1995bhav.csv.zip
cm09AUG1995bhav.csv.zip
cm11AUG1995bhav.csv.zip
cm14AUG1995bhav.csv.zip
cm16AUG1995bhav.csv.zip
cm17AUG1995bhav.csv.zip
cm18AUG1995bhav.csv.zip
cm21AUG1995bhav.csv.zip
cm22AUG1995bhav.csv.zip
cm23AUG1995bhav.csv.zip
cm24AUG1995bhav.csv.zip
cm25AUG1995bhav.csv.zip
cm28AUG1995bhav.csv.zip
cm30AUG1995bhav.csv.zip
cm31AUG1995bhav.csv.zip
cm01SEP1995bhav.csv.zip
cm04SEP1995bhav.csv.zip
cm05SEP1995bhav.csv.zip
cm06SEP1995bhav.csv.zip
cm07SEP1995bhav.csv.zip
cm08SEP1995bhav.csv.zip
cm11SEP1995bhav.csv.zip
cm12SEP1995bhav.csv.zip
cm13SEP1995bhav.csv.zip
cm14SEP1995bhav.csv.zip
cm15SEP1995bhav.csv.zip
cm18SEP1995bhav.csv.zip
cm19SEP1995bhav.csv.zip
cm20SEP1995bhav.csv.zip
cm21SEP1995bhav.csv.zip
cm22SEP1995bhav.csv.zip
cm25SEP1995bhav.csv.zip
cm26SEP1995bhav.csv.zip
cm27SEP1995bhav.csv.zip
cm28SEP1995bhav.csv.zip
cm29SEP1995bhav.csv.zip
cm04OCT1995bhav.csv.zip
cm05OCT1995bhav.csv.zip
cm06OCT1995bhav.csv.zip
cm09OCT1995bhav.csv.zip
cm10OCT1995bhav.csv.zip
cm11OCT1995bhav.csv.zip
cm12OCT1995bhav.csv.zip
cm13OCT1995bhav.csv.zip
cm16OCT1995bhav.csv.zip
cm17OCT1995bhav.csv.zip
cm18OCT1995bhav.csv.zip
cm19OCT1995bhav.csv.zip
cm20OCT1995bhav.csv.zip
cm23OCT1995bhav.csv.zip
cm24OCT1995bhav.csv.zip
cm25OCT1995bhav.csv.zip
cm26OCT1995bhav.csv.zip
cm27OCT1995bhav.csv.zip
cm30OCT1995bhav.csv.zip
cm31OCT1995bhav.csv.zip
cm01NOV1995bhav.csv.zip
cm02NOV1995bhav.csv.zip
cm03NOV1995bhav.csv.zip
cm06NOV1995bhav.csv.zip
cm07NOV1995bhav.csv.zip
cm08NOV1995bhav.csv.zip
cm09NOV1995bhav.csv.zip
cm10NOV1995bhav.csv.zip
cm13NOV1995bhav.csv.zip
cm14NOV1995bhav.csv.zip
cm15NOV1995bhav.csv.zip
cm16NOV1995bhav.csv.zip
cm17NOV1995bhav.csv.zip
cm20NOV1995bhav.csv.zip
cm21NOV1995bhav.csv.zip
cm22NOV1995bhav.csv.zip
cm23NOV1995bhav.csv.zip
cm24NOV1995bhav.csv.zip
cm27NOV1995bhav.csv.zip
cm28NOV1995bhav.csv.zip
cm29NOV1995bhav.csv.zip
cm30NOV1995bhav.csv.zip
cm01DEC1995bhav.csv.zip
cm04DEC1995bhav.csv.zip
cm05DEC1995bhav.csv.zip
cm06DEC1995bhav.csv.zip
cm07DEC1995bhav.csv.zip
cm08DEC1995bhav.csv.zip
cm11DEC1995bhav.csv.zip
cm12DEC1995bhav.csv.zip
cm13DEC1995bhav.csv.zip
cm14DEC1995bhav.csv.zip
cm15DEC1995bhav.csv.zip
cm18DEC1995bhav.csv.zip
cm19DEC1995bhav.csv.zip
cm20DEC1995bhav.csv.zip
cm21DEC1995bhav.csv.zip
cm22DEC1995bhav.csv.zip
cm26DEC1995bhav.csv.zip
cm27DEC1995bhav.csv.zip
cm28DEC1995bhav.csv.zip
cm29DEC1995bhav.csv.zip
cm01JAN1996bhav.csv.zip
cm02JAN1996bhav.csv.zip
cm03JAN1996bhav.csv.zip
cm04JAN1996bhav.csv.zip
cm05JAN1996bhav.csv.zip
cm08JAN1996bhav.csv.zip
cm09JAN1996bhav.csv.zip
cm10JAN1996bhav.csv.zip
cm11JAN1996bhav.csv.zip
cm12JAN1996bhav.csv.zip
cm15JAN1996bhav.csv.zip
cm16JAN1996bhav.csv.zip
cm17JAN1996bhav.csv.zip
cm18JAN1996bhav.csv.zip
cm19JAN1996bhav.csv.zip
cm22JAN1996bhav.csv.zip
cm23JAN1996bhav.csv.zip
cm24JAN1996bhav.csv.zip
cm25JAN1996bhav.csv.zip
cm29JAN1996bhav.csv.zip
cm30JAN1996bhav.csv.zip
cm31JAN1996bhav.csv.zip
cm01FEB1996bhav.csv.zip
cm02FEB1996bhav.csv.zip
cm05FEB1996bhav.csv.zip
cm06FEB1996bhav.csv.zip
cm07FEB1996bhav.csv.zip
cm08FEB1996bhav.csv.zip
cm09FEB1996bhav.csv.zip
cm12FEB1996bhav.csv.zip
cm13FEB1996bhav.csv.zip
cm14FEB1996bhav.csv.zip
cm15FEB1996bhav.csv.zip
cm16FEB1996bhav.csv.zip
cm19FEB1996bhav.csv.zip
cm20FEB1996bhav.csv.zip
cm22FEB1996bhav.csv.zip
cm23FEB1996bhav.csv.zip
cm26FEB1996bhav.csv.zip
cm27FEB1996bhav.csv.zip
cm28FEB1996bhav.csv.zip
cm29FEB1996bhav.csv.zip
cm01MAR1996bhav.csv.zip
cm04MAR1996bhav.csv.zip
cm06MAR1996bhav.csv.zip
cm07MAR1996bhav.csv.zip
cm08MAR1996bhav.csv.zip
cm11MAR1996bhav.csv.zip
cm12MAR1996bhav.csv.zip
cm13MAR1996bhav.csv.zip
cm14MAR1996bhav.csv.zip
cm15MAR1996bhav.csv.zip
cm18MAR1996bhav.csv.zip
cm19MAR1996bhav.csv.zip
cm21MAR1996bhav.csv.zip
cm22MAR1996bhav.csv.zip
cm25MAR1996bhav.csv.zip
cm26MAR1996bhav.csv.zip
cm27MAR1996bhav.csv.zip
cm28MAR1996bhav.csv.zip
cm29MAR1996bhav.csv.zip
cm01APR1996bhav.csv.zip
cm02APR1996bhav.csv.zip

cm03APR1996bhav.csv.zip
cm04APR1996bhav.csv.zip
cm08APR1996bhav.csv.zip
cm09APR1996bhav.csv.zip
cm10APR1996bhav.csv.zip
cm11APR1996bhav.csv.zip
cm12APR1996bhav.csv.zip
cm15APR1996bhav.csv.zip
cm16APR1996bhav.csv.zip
cm17APR1996bhav.csv.zip
cm18APR1996bhav.csv.zip
cm19APR1996bhav.csv.zip
cm22APR1996bhav.csv.zip
cm23APR1996bhav.csv.zip
cm24APR1996bhav.csv.zip
cm25APR1996bhav.csv.zip
cm26APR1996bhav.csv.zip
cm29APR1996bhav.csv.zip
cm30APR1996bhav.csv.zip
cm01MAY1996bhav.csv.zip
cm02MAY1996bhav.csv.zip
cm03MAY1996bhav.csv.zip
cm06MAY1996bhav.csv.zip
cm07MAY1996bhav.csv.zip
cm08MAY1996bhav.csv.zip
cm09MAY1996bhav.csv.zip
cm10MAY1996bhav.csv.zip
cm13MAY1996bhav.csv.zip
cm14MAY1996bhav.csv.zip
cm15MAY1996bhav.csv.zip
cm16MAY1996bhav.csv.zip
cm17MAY1996bhav.csv.zip
cm20MAY1996bhav.csv.zip
cm21MAY1996bhav.csv.zip
cm22MAY1996bhav.csv.zip
cm23MAY1996bhav.csv.zip
cm24MAY1996bhav.csv.zip
cm27MAY1996bhav.csv.zip
cm28MAY1996bhav.csv.zip
cm29MAY1996bhav.csv.zip
cm30MAY1996bhav.csv.zip
cm31MAY1996bhav.csv.zip
cm03JUN1996bhav.csv.zip
cm04JUN1996bhav.csv.zip
cm05JUN1996bhav.csv.zip
cm06JUN1996bhav.csv.zip
cm07JUN1996bhav.csv.zip
cm10JUN1996bhav.csv.zip
cm11JUN1996bhav.csv.zip
cm12JUN1996bhav.csv.zip
cm13JUN1996bhav.csv.zip
cm14JUN1996bhav.csv.zip
cm17JUN1996bhav.csv.zip
cm18JUN1996bhav.csv.zip
cm19JUN1996bhav.csv.zip
cm20JUN1996bhav.csv.zip
cm21JUN1996bhav.csv.zip
cm24JUN1996bhav.csv.zip
cm25JUN1996bhav.csv.zip
cm26JUN1996bhav.csv.zip
cm27JUN1996bhav.csv.zip
cm28JUN1996bhav.csv.zip
cm01JUL1996bhav.csv.zip
cm02JUL1996bhav.csv.zip
cm03JUL1996bhav.csv.zip
cm04JUL1996bhav.csv.zip
cm05JUL1996bhav.csv.zip
cm08JUL1996bhav.csv.zip
cm09JUL1996bhav.csv.zip
cm10JUL1996bhav.csv.zip
cm11JUL1996bhav.csv.zip
cm12JUL1996bhav.csv.zip
cm15JUL1996bhav.csv.zip
cm16JUL1996bhav.csv.zip
cm17JUL1996bhav.csv.zip
cm18JUL1996bhav.csv.zip
cm19JUL1996bhav.csv.zip
cm22JUL1996bhav.csv.zip
cm23JUL1996bhav.csv.zip
cm24JUL1996bhav.csv.zip
cm25JUL1996bhav.csv.zip
cm26JUL1996bhav.csv.zip
cm29JUL1996bhav.csv.zip
cm30JUL1996bhav.csv.zip
cm31JUL1996bhav.csv.zip
cm01AUG1996bhav.csv.zip
cm02AUG1996bhav.csv.zip
cm05AUG1996bhav.csv.zip
cm06AUG1996bhav.csv.zip
cm07AUG1996bhav.csv.zip
cm08AUG1996bhav.csv.zip
cm09AUG1996bhav.csv.zip
cm12AUG1996bhav.csv.zip
cm13AUG1996bhav.csv.zip
cm14AUG1996bhav.csv.zip
cm16AUG1996bhav.csv.zip
cm19AUG1996bhav.csv.zip
cm20AUG1996bhav.csv.zip
cm21AUG1996bhav.csv.zip
cm22AUG1996bhav.csv.zip
cm23AUG1996bhav.csv.zip
cm26AUG1996bhav.csv.zip
cm27AUG1996bhav.csv.zip
cm28AUG1996bhav.csv.zip
cm29AUG1996bhav.csv.zip
cm30AUG1996bhav.csv.zip
cm02SEP1996bhav.csv.zip
cm03SEP1996bhav.csv.zip
cm04SEP1996bhav.csv.zip
cm05SEP1996bhav.csv.zip
cm06SEP1996bhav.csv.zip
cm09SEP1996bhav.csv.zip
cm10SEP1996bhav.csv.zip
cm11SEP1996bhav.csv.zip
cm12SEP1996bhav.csv.zip
cm13SEP1996bhav.csv.zip
cm16SEP1996bhav.csv.zip
cm17SEP1996bhav.csv.zip
cm18SEP1996bhav.csv.zip
cm19SEP1996bhav.csv.zip
cm20SEP1996bhav.csv.zip
cm23SEP1996bhav.csv.zip
cm24SEP1996bhav.csv.zip
cm25SEP1996bhav.csv.zip
cm26SEP1996bhav.csv.zip
cm27SEP1996bhav.csv.zip
cm30SEP1996bhav.csv.zip
cm01OCT1996bhav.csv.zip
cm03OCT1996bhav.csv.zip
cm04OCT1996bhav.csv.zip
cm07OCT1996bhav.csv.zip
cm08OCT1996bhav.csv.zip
cm09OCT1996bhav.csv.zip
cm10OCT1996bhav.csv.zip
cm11OCT1996bhav.csv.zip
cm14OCT1996bhav.csv.zip
cm15OCT1996bhav.csv.zip
cm16OCT1996bhav.csv.zip
cm17OCT1996bhav.csv.zip
cm18OCT1996bhav.csv.zip
cm22OCT1996bhav.csv.zip
cm23OCT1996bhav.csv.zip
cm24OCT1996bhav.csv.zip
cm25OCT1996bhav.csv.zip
cm28OCT1996bhav.csv.zip
cm29OCT1996bhav.csv.zip
cm31OCT1996bhav.csv.zip
cm01NOV1996bhav.csv.zip
cm04NOV1996bhav.csv.zip
cm05NOV1996bhav.csv.zip
cm06NOV1996bhav.csv.zip
cm07NOV1996bhav.csv.zip
cm08NOV1996bhav.csv.zip
cm11NOV1996bhav.csv.zip
cm13NOV1996bhav.csv.zip
cm14NOV1996bhav.csv.zip
cm15NOV1996bhav.csv.zip
cm18NOV1996bhav.csv.zip
cm19NOV1996bhav.csv.zip
cm20NOV1996bhav.csv.zip
cm21NOV1996bhav.csv.zip
cm22NOV1996bhav.csv.zip
cm25NOV1996bhav.csv.zip
cm26NOV1996bhav.csv.zip
cm27NOV1996bhav.csv.zip
cm28NOV1996bhav.csv.zip
cm29NOV1996bhav.csv.zip
cm02DEC1996bhav.csv.zip
cm03DEC1996bhav.csv.zip
cm04DEC1996bhav.csv.zip
cm05DEC1996bhav.csv.zip
cm06DEC1996bhav.csv.zip
cm09DEC1996bhav.csv.zip
cm10DEC1996bhav.csv.zip
cm11DEC1996bhav.csv.zip
cm12DEC1996bhav.csv.zip
cm13DEC1996bhav.csv.zip
cm16DEC1996bhav.csv.zip
cm17DEC1996bhav.csv.zip
cm18DEC1996bhav.csv.zip
cm19DEC1996bhav.csv.zip
cm20DEC1996bhav.csv.zip
cm23DEC1996bhav.csv.zip
cm24DEC1996bhav.csv.zip
cm26DEC1996bhav.csv.zip
cm31DEC1996bhav.csv.zip
cm01JAN1997bhav.csv.zip
cm02JAN1997bhav.csv.zip
cm03JAN1997bhav.csv.zip
cm06JAN1997bhav.csv.zip
cm07JAN1997bhav.csv.zip
cm08JAN1997bhav.csv.zip
cm09JAN1997bhav.csv.zip
cm10JAN1997bhav.csv.zip
cm13JAN1997bhav.csv.zip
cm14JAN1997bhav.csv.zip
cm15JAN1997bhav.csv.zip
cm16JAN1997bhav.csv.zip
cm17JAN1997bhav.csv.zip
cm20JAN1997bhav.csv.zip
cm21JAN1997bhav.csv.zip
cm22JAN1997bhav.csv.zip
cm24JAN1997bhav.csv.zip
cm27JAN1997bhav.csv.zip
cm28JAN1997bhav.csv.zip
cm29JAN1997bhav.csv.zip
cm30JAN1997bhav.csv.zip
cm31JAN1997bhav.csv.zip
cm03FEB1997bhav.csv.zip
cm04FEB1997bhav.csv.zip
cm05FEB1997bhav.csv.zip
cm06FEB1997bhav.csv.zip
cm07FEB1997bhav.csv.zip
cm10FEB1997bhav.csv.zip
cm11FEB1997bhav.csv.zip
cm12FEB1997bhav.csv.zip
cm13FEB1997bhav.csv.zip
cm14FEB1997bhav.csv.zip
cm17FEB1997bhav.csv.zip
cm18FEB1997bhav.csv.zip
cm19FEB1997bhav.csv.zip
cm20FEB1997bhav.csv.zip
cm21FEB1997bhav.csv.zip
cm24FEB1997bhav.csv.zip
cm25FEB1997bhav.csv.zip
cm26FEB1997bhav.csv.zip
cm27FEB1997bhav.csv.zip
cm28FEB1997bhav.csv.zip
cm01MAR1997bhav.csv.zip
cm03MAR1997bhav.csv.zip
cm04MAR1997bhav.csv.zip
cm12MAR1997bhav.csv.zip
cm13MAR1997bhav.csv.zip
cm14MAR1997bhav.csv.zip
cm17MAR1997bhav.csv.zip
cm18MAR1997bhav.csv.zip
cm19MAR1997bhav.csv.zip
cm20MAR1997bhav.csv.zip
cm21MAR1997bhav.csv.zip
cm25MAR1997bhav.csv.zip
cm26MAR1997bhav.csv.zip
cm27MAR1997bhav.csv.zip
cm31MAR1997bhav.csv.zip
cm01APR1997bhav.csv.zip
cm02APR1997bhav.csv.zip
cm03APR1997bhav.csv.zip
cm04APR1997bhav.csv.zip
cm07APR1997bhav.csv.zip
cm09APR1997bhav.csv.zip
cm10APR1997bhav.csv.zip
cm11APR1997bhav.csv.zip
cm12APR1997bhav.csv.zip
cm15APR1997bhav.csv.zip
cm17APR1997bhav.csv.zip
cm21APR1997bhav.csv.zip
cm22APR1997bhav.csv.zip
cm23APR1997bhav.csv.zip
cm24APR1997bhav.csv.zip
cm25APR1997bhav.csv.zip
cm28APR1997bhav.csv.zip
cm29APR1997bhav.csv.zip
cm30APR1997bhav.csv.zip
cm02MAY1997bhav.csv.zip
cm05MAY1997bhav.csv.zip
cm06MAY1997bhav.csv.zip
cm07MAY1997bhav.csv.zip
cm08MAY1997bhav.csv.zip
cm09MAY1997bhav.csv.zip
cm12MAY1997bhav.csv.zip
cm13MAY1997bhav.csv.zip
cm14MAY1997bhav.csv.zip
cm15MAY1997bhav.csv.zip
cm16MAY1997bhav.csv.zip
cm19MAY1997bhav.csv.zip
cm20MAY1997bhav.csv.zip
cm21MAY1997bhav.csv.zip
cm22MAY1997bhav.csv.zip
cm23MAY1997bhav.csv.zip
cm26MAY1997bhav.csv.zip
cm27MAY1997bhav.csv.zip
cm28MAY1997bhav.csv.zip
cm29MAY1997bhav.csv.zip
cm30MAY1997bhav.csv.zip
cm02JUN1997bhav.csv.zip
cm03JUN1997bhav.csv.zip
cm04JUN1997bhav.csv.zip
cm05JUN1997bhav.csv.zip
cm06JUN1997bhav.csv.zip
cm09JUN1997bhav.csv.zip
cm10JUN1997bhav.csv.zip
cm11JUN1997bhav.csv.zip
cm12JUN1997bhav.csv.zip
cm13JUN1997bhav.csv.zip
cm16JUN1997bhav.csv.zip
cm17JUN1997bhav.csv.zip
cm18JUN1997bhav.csv.zip
cm19JUN1997bhav.csv.zip
cm20JUN1997bhav.csv.zip
cm23JUN1997bhav.csv.zip
cm24JUN1997bhav.csv.zip
cm25JUN1997bhav.csv.zip
cm26JUN1997bhav.csv.zip
cm27JUN1997bhav.csv.zip
cm30JUN1997bhav.csv.zip
cm01JUL1997bhav.csv.zip
cm02JUL1997bhav.csv.zip
cm03JUL1997bhav.csv.zip
cm04JUL1997bhav.csv.zip
cm07JUL1997bhav.csv.zip
cm08JUL1997bhav.csv.zip
cm09JUL1997bhav.csv.zip
cm10JUL1997bhav.csv.zip
cm11JUL1997bhav.csv.zip
cm14JUL1997bhav.csv.zip
cm15JUL1997bhav.csv.zip
cm16JUL1997bhav.csv.zip
cm17JUL1997bhav.csv.zip
cm21JUL1997bhav.csv.zip
cm22JUL1997bhav.csv.zip
cm23JUL1997bhav.csv.zip
cm24JUL1997bhav.csv.zip
cm25JUL1997bhav.csv.zip
cm28JUL1997bhav.csv.zip
cm29JUL1997bhav.csv.zip
cm30JUL1997bhav.csv.zip
cm31JUL1997bhav.csv.zip
cm01AUG1997bhav.csv.zip
cm04AUG1997bhav.csv.zip
cm05AUG1997bhav.csv.zip
cm06AUG1997bhav.csv.zip
cm07AUG1997bhav.csv.zip
cm08AUG1997bhav.csv.zip
cm11AUG1997bhav.csv.zip
cm12AUG1997bhav.csv.zip
cm13AUG1997bhav.csv.zip
cm14AUG1997bhav.csv.zip
cm18AUG1997bhav.csv.zip
cm19AUG1997bhav.csv.zip
cm20AUG1997bhav.csv.zip
cm21AUG1997bhav.csv.zip
cm22AUG1997bhav.csv.zip
cm25AUG1997bhav.csv.zip
cm26AUG1997bhav.csv.zip
cm27AUG1997bhav.csv.zip
cm28AUG1997bhav.csv.zip
cm29AUG1997bhav.csv.zip
cm01SEP1997bhav.csv.zip
cm02SEP1997bhav.csv.zip
cm03SEP1997bhav.csv.zip
cm04SEP1997bhav.csv.zip
cm05SEP1997bhav.csv.zip
cm08SEP1997bhav.csv.zip
cm09SEP1997bhav.csv.zip

cm10SEP1997bhav.csv.zip
cm11SEP1997bhav.csv.zip
cm12SEP1997bhav.csv.zip
cm15SEP1997bhav.csv.zip
cm16SEP1997bhav.csv.zip
cm17SEP1997bhav.csv.zip
cm18SEP1997bhav.csv.zip
cm19SEP1997bhav.csv.zip
cm22SEP1997bhav.csv.zip
cm23SEP1997bhav.csv.zip
cm24SEP1997bhav.csv.zip
cm25SEP1997bhav.csv.zip
cm26SEP1997bhav.csv.zip
cm29SEP1997bhav.csv.zip
cm30SEP1997bhav.csv.zip
cm01OCT1997bhav.csv.zip
cm09OCT1997bhav.csv.zip
cm10OCT1997bhav.csv.zip
cm13OCT1997bhav.csv.zip
cm14OCT1997bhav.csv.zip
cm15OCT1997bhav.csv.zip
cm16OCT1997bhav.csv.zip
cm17OCT1997bhav.csv.zip
cm20OCT1997bhav.csv.zip
cm21OCT1997bhav.csv.zip
cm22OCT1997bhav.csv.zip
cm23OCT1997bhav.csv.zip
cm24OCT1997bhav.csv.zip
cm27OCT1997bhav.csv.zip
cm28OCT1997bhav.csv.zip
cm29OCT1997bhav.csv.zip
cm30OCT1997bhav.csv.zip
cm03NOV1997bhav.csv.zip
cm04NOV1997bhav.csv.zip
cm05NOV1997bhav.csv.zip
cm06NOV1997bhav.csv.zip
cm07NOV1997bhav.csv.zip
cm10NOV1997bhav.csv.zip
cm11NOV1997bhav.csv.zip
cm12NOV1997bhav.csv.zip
cm13NOV1997bhav.csv.zip
cm17NOV1997bhav.csv.zip
cm18NOV1997bhav.csv.zip
cm19NOV1997bhav.csv.zip
cm20NOV1997bhav.csv.zip
cm21NOV1997bhav.csv.zip
cm24NOV1997bhav.csv.zip
cm25NOV1997bhav.csv.zip
cm26NOV1997bhav.csv.zip
cm27NOV1997bhav.csv.zip
cm28NOV1997bhav.csv.zip
cm01DEC1997bhav.csv.zip
cm02DEC1997bhav.csv.zip
cm03DEC1997bhav.csv.zip
cm04DEC1997bhav.csv.zip
cm05DEC1997bhav.csv.zip
cm08DEC1997bhav.csv.zip
cm09DEC1997bhav.csv.zip
cm10DEC1997bhav.csv.zip
cm11DEC1997bhav.csv.zip
cm12DEC1997bhav.csv.zip
cm15DEC1997bhav.csv.zip
cm16DEC1997bhav.csv.zip
cm17DEC1997bhav.csv.zip
cm18DEC1997bhav.csv.zip
cm19DEC1997bhav.csv.zip
cm22DEC1997bhav.csv.zip
cm23DEC1997bhav.csv.zip
cm24DEC1997bhav.csv.zip
cm26DEC1997bhav.csv.zip
cm29DEC1997bhav.csv.zip
cm30DEC1997bhav.csv.zip
cm31DEC1997bhav.csv.zip
cm01JAN1998bhav.csv.zip
cm02JAN1998bhav.csv.zip
cm05JAN1998bhav.csv.zip
cm06JAN1998bhav.csv.zip
cm07JAN1998bhav.csv.zip
cm08JAN1998bhav.csv.zip
cm09JAN1998bhav.csv.zip
cm12JAN1998bhav.csv.zip
cm13JAN1998bhav.csv.zip
cm14JAN1998bhav.csv.zip
cm15JAN1998bhav.csv.zip
cm16JAN1998bhav.csv.zip
cm19JAN1998bhav.csv.zip
cm20JAN1998bhav.csv.zip
cm21JAN1998bhav.csv.zip
cm22JAN1998bhav.csv.zip
cm23JAN1998bhav.csv.zip
cm27JAN1998bhav.csv.zip
cm28JAN1998bhav.csv.zip
cm29JAN1998bhav.csv.zip
cm30JAN1998bhav.csv.zip
cm02FEB1998bhav.csv.zip
cm03FEB1998bhav.csv.zip
cm04FEB1998bhav.csv.zip
cm05FEB1998bhav.csv.zip
cm06FEB1998bhav.csv.zip
cm09FEB1998bhav.csv.zip
cm10FEB1998bhav.csv.zip
cm11FEB1998bhav.csv.zip
cm12FEB1998bhav.csv.zip
cm13FEB1998bhav.csv.zip
cm17FEB1998bhav.csv.zip
cm18FEB1998bhav.csv.zip
cm19FEB1998bhav.csv.zip
cm20FEB1998bhav.csv.zip
cm23FEB1998bhav.csv.zip
cm24FEB1998bhav.csv.zip
cm25FEB1998bhav.csv.zip
cm26FEB1998bhav.csv.zip
cm27FEB1998bhav.csv.zip
cm02MAR1998bhav.csv.zip
cm03MAR1998bhav.csv.zip
cm04MAR1998bhav.csv.zip
cm05MAR1998bhav.csv.zip
cm06MAR1998bhav.csv.zip
cm09MAR1998bhav.csv.zip
cm10MAR1998bhav.csv.zip
cm11MAR1998bhav.csv.zip
cm12MAR1998bhav.csv.zip
cm16MAR1998bhav.csv.zip
cm17MAR1998bhav.csv.zip
cm18MAR1998bhav.csv.zip
cm19MAR1998bhav.csv.zip
cm20MAR1998bhav.csv.zip
cm23MAR1998bhav.csv.zip
cm24MAR1998bhav.csv.zip
cm25MAR1998bhav.csv.zip
cm26MAR1998bhav.csv.zip
cm27MAR1998bhav.csv.zip
cm30MAR1998bhav.csv.zip
cm31MAR1998bhav.csv.zip
cm01APR1998bhav.csv.zip
cm02APR1998bhav.csv.zip
cm03APR1998bhav.csv.zip
cm06APR1998bhav.csv.zip
cm07APR1998bhav.csv.zip
cm09APR1998bhav.csv.zip
cm10APR1998bhav.csv.zip
cm13APR1998bhav.csv.zip
cm15APR1998bhav.csv.zip
cm16APR1998bhav.csv.zip
cm17APR1998bhav.csv.zip
cm20APR1998bhav.csv.zip
cm21APR1998bhav.csv.zip
cm22APR1998bhav.csv.zip
cm23APR1998bhav.csv.zip
cm24APR1998bhav.csv.zip
cm27APR1998bhav.csv.zip
cm28APR1998bhav.csv.zip
cm29APR1998bhav.csv.zip
cm30APR1998bhav.csv.zip
cm04MAY1998bhav.csv.zip
cm05MAY1998bhav.csv.zip
cm06MAY1998bhav.csv.zip
cm08MAY1998bhav.csv.zip
cm11MAY1998bhav.csv.zip
cm12MAY1998bhav.csv.zip
cm13MAY1998bhav.csv.zip
cm14MAY1998bhav.csv.zip
cm15MAY1998bhav.csv.zip
cm18MAY1998bhav.csv.zip
cm19MAY1998bhav.csv.zip
cm20MAY1998bhav.csv.zip
cm21MAY1998bhav.csv.zip
cm22MAY1998bhav.csv.zip
cm25MAY1998bhav.csv.zip
cm26MAY1998bhav.csv.zip
cm27MAY1998bhav.csv.zip
cm28MAY1998bhav.csv.zip
cm29MAY1998bhav.csv.zip
cm01JUN1998bhav.csv.zip
cm02JUN1998bhav.csv.zip
cm03JUN1998bhav.csv.zip
cm04JUN1998bhav.csv.zip
cm05JUN1998bhav.csv.zip
cm08JUN1998bhav.csv.zip
cm09JUN1998bhav.csv.zip
cm10JUN1998bhav.csv.zip
cm11JUN1998bhav.csv.zip
cm12JUN1998bhav.csv.zip
cm15JUN1998bhav.csv.zip
cm16JUN1998bhav.csv.zip
cm17JUN1998bhav.csv.zip
cm18JUN1998bhav.csv.zip
cm19JUN1998bhav.csv.zip
cm22JUN1998bhav.csv.zip
cm23JUN1998bhav.csv.zip
cm24JUN1998bhav.csv.zip
cm25JUN1998bhav.csv.zip
cm26JUN1998bhav.csv.zip
cm29JUN1998bhav.csv.zip
cm30JUN1998bhav.csv.zip
cm01JUL1998bhav.csv.zip
cm02JUL1998bhav.csv.zip
cm03JUL1998bhav.csv.zip
cm06JUL1998bhav.csv.zip
cm07JUL1998bhav.csv.zip
cm08JUL1998bhav.csv.zip
cm09JUL1998bhav.csv.zip
cm10JUL1998bhav.csv.zip
cm13JUL1998bhav.csv.zip
cm14JUL1998bhav.csv.zip
cm15JUL1998bhav.csv.zip
cm16JUL1998bhav.csv.zip
cm17JUL1998bhav.csv.zip
cm20JUL1998bhav.csv.zip
cm21JUL1998bhav.csv.zip
cm22JUL1998bhav.csv.zip
cm23JUL1998bhav.csv.zip
cm24JUL1998bhav.csv.zip
cm27JUL1998bhav.csv.zip
cm28JUL1998bhav.csv.zip
cm29JUL1998bhav.csv.zip
cm30JUL1998bhav.csv.zip
cm31JUL1998bhav.csv.zip
cm03AUG1998bhav.csv.zip
cm04AUG1998bhav.csv.zip
cm05AUG1998bhav.csv.zip
cm06AUG1998bhav.csv.zip
cm07AUG1998bhav.csv.zip
cm10AUG1998bhav.csv.zip
cm11AUG1998bhav.csv.zip
cm12AUG1998bhav.csv.zip
cm13AUG1998bhav.csv.zip
cm14AUG1998bhav.csv.zip
cm17AUG1998bhav.csv.zip
cm18AUG1998bhav.csv.zip
cm19AUG1998bhav.csv.zip
cm20AUG1998bhav.csv.zip
cm21AUG1998bhav.csv.zip
cm24AUG1998bhav.csv.zip
cm25AUG1998bhav.csv.zip
cm27AUG1998bhav.csv.zip
cm28AUG1998bhav.csv.zip
cm31AUG1998bhav.csv.zip
cm01SEP1998bhav.csv.zip
cm02SEP1998bhav.csv.zip
cm03SEP1998bhav.csv.zip
cm04SEP1998bhav.csv.zip
cm07SEP1998bhav.csv.zip
cm08SEP1998bhav.csv.zip
cm09SEP1998bhav.csv.zip
cm10SEP1998bhav.csv.zip
cm11SEP1998bhav.csv.zip
cm14SEP1998bhav.csv.zip
cm15SEP1998bhav.csv.zip
cm16SEP1998bhav.csv.zip
cm17SEP1998bhav.csv.zip
cm18SEP1998bhav.csv.zip
cm21SEP1998bhav.csv.zip
cm22SEP1998bhav.csv.zip
cm23SEP1998bhav.csv.zip
cm24SEP1998bhav.csv.zip
cm25SEP1998bhav.csv.zip
cm28SEP1998bhav.csv.zip
cm29SEP1998bhav.csv.zip
cm30SEP1998bhav.csv.zip
cm05OCT1998bhav.csv.zip
cm06OCT1998bhav.csv.zip
cm07OCT1998bhav.csv.zip
cm08OCT1998bhav.csv.zip
cm09OCT1998bhav.csv.zip
cm12OCT1998bhav.csv.zip
cm13OCT1998bhav.csv.zip
cm14OCT1998bhav.csv.zip
cm15OCT1998bhav.csv.zip
cm16OCT1998bhav.csv.zip
cm19OCT1998bhav.csv.zip
cm20OCT1998bhav.csv.zip
cm22OCT1998bhav.csv.zip
cm23OCT1998bhav.csv.zip
cm26OCT1998bhav.csv.zip
cm27OCT1998bhav.csv.zip
cm28OCT1998bhav.csv.zip
cm29OCT1998bhav.csv.zip
cm30OCT1998bhav.csv.zip
cm31OCT1998bhav.csv.zip
cm02NOV1998bhav.csv.zip
cm03NOV1998bhav.csv.zip
cm05NOV1998bhav.csv.zip
cm06NOV1998bhav.csv.zip
cm09NOV1998bhav.csv.zip
cm10NOV1998bhav.csv.zip
cm11NOV1998bhav.csv.zip
cm12NOV1998bhav.csv.zip
cm13NOV1998bhav.csv.zip
cm16NOV1998bhav.csv.zip
cm17NOV1998bhav.csv.zip
cm18NOV1998bhav.csv.zip
cm19NOV1998bhav.csv.zip
cm20NOV1998bhav.csv.zip
cm21NOV1998bhav.csv.zip
cm23NOV1998bhav.csv.zip
cm24NOV1998bhav.csv.zip
cm26NOV1998bhav.csv.zip
cm27NOV1998bhav.csv.zip
cm28NOV1998bhav.csv.zip
cm30NOV1998bhav.csv.zip
cm01DEC1998bhav.csv.zip
cm02DEC1998bhav.csv.zip
cm03DEC1998bhav.csv.zip
cm04DEC1998bhav.csv.zip
cm07DEC1998bhav.csv.zip
cm08DEC1998bhav.csv.zip
cm09DEC1998bhav.csv.zip
cm10DEC1998bhav.csv.zip
cm11DEC1998bhav.csv.zip
cm14DEC1998bhav.csv.zip
cm15DEC1998bhav.csv.zip
cm16DEC1998bhav.csv.zip
cm17DEC1998bhav.csv.zip
cm18DEC1998bhav.csv.zip
cm21DEC1998bhav.csv.zip
cm22DEC1998bhav.csv.zip
cm23DEC1998bhav.csv.zip
cm24DEC1998bhav.csv.zip
cm28DEC1998bhav.csv.zip
cm29DEC1998bhav.csv.zip
cm30DEC1998bhav.csv.zip
cm31DEC1998bhav.csv.zip
cm01JAN1999bhav.csv.zip
cm04JAN1999bhav.csv.zip
cm05JAN1999bhav.csv.zip
cm06JAN1999bhav.csv.zip
cm07JAN1999bhav.csv.zip
cm08JAN1999bhav.csv.zip
cm11JAN1999bhav.csv.zip
cm12JAN1999bhav.csv.zip
cm13JAN1999bhav.csv.zip
cm14JAN1999bhav.csv.zip
cm15JAN1999bhav.csv.zip
cm18JAN1999bhav.csv.zip
cm19JAN1999bhav.csv.zip
cm21JAN1999bhav.csv.zip
cm22JAN1999bhav.csv.zip
cm25JAN1999bhav.csv.zip
cm27JAN1999bhav.csv.zip
cm28JAN1999bhav.csv.zip
cm29JAN1999bhav.csv.zip
cm01FEB1999bhav.csv.zip
cm02FEB1999bhav.csv.zip
cm03FEB1999bhav.csv.zip
cm04FEB1999bhav.csv.zip
cm05FEB1999bhav.csv.zip
cm08FEB1999bhav.csv.zip
cm09FEB1999bhav.csv.zip
cm10FEB1999bhav.csv.zip
cm11FEB1999bhav.csv.zip
cm12FEB1999bhav.csv.zip
cm15FEB1999bhav.csv.zip
cm16FEB1999bhav.csv.zip
cm17FEB1999bhav.csv.zip
cm18FEB1999bhav.csv.zip
cm19FEB1999bhav.csv.zip
cm22FEB1999bhav.csv.zip
cm23FEB1999bhav.csv.zip

cm24FEB1999bhav.csv.zip
cm25FEB1999bhav.csv.zip
cm26FEB1999bhav.csv.zip
cm27FEB1999bhav.csv.zip
cm01MAR1999bhav.csv.zip
cm03MAR1999bhav.csv.zip
cm04MAR1999bhav.csv.zip
cm05MAR1999bhav.csv.zip
cm08MAR1999bhav.csv.zip
cm09MAR1999bhav.csv.zip
cm10MAR1999bhav.csv.zip
cm11MAR1999bhav.csv.zip
cm12MAR1999bhav.csv.zip
cm15MAR1999bhav.csv.zip
cm16MAR1999bhav.csv.zip
cm17MAR1999bhav.csv.zip
cm18MAR1999bhav.csv.zip
cm19MAR1999bhav.csv.zip
cm20MAR1999bhav.csv.zip
cm22MAR1999bhav.csv.zip
cm23MAR1999bhav.csv.zip
cm24MAR1999bhav.csv.zip
cm25MAR1999bhav.csv.zip
cm26MAR1999bhav.csv.zip
cm30MAR1999bhav.csv.zip
cm31MAR1999bhav.csv.zip
cm01APR1999bhav.csv.zip
cm05APR1999bhav.csv.zip
cm06APR1999bhav.csv.zip
cm07APR1999bhav.csv.zip
cm08APR1999bhav.csv.zip
cm09APR1999bhav.csv.zip
cm12APR1999bhav.csv.zip
cm13APR1999bhav.csv.zip
cm15APR1999bhav.csv.zip
cm16APR1999bhav.csv.zip
cm17APR1999bhav.csv.zip
cm19APR1999bhav.csv.zip
cm20APR1999bhav.csv.zip
cm21APR1999bhav.csv.zip
cm22APR1999bhav.csv.zip
cm23APR1999bhav.csv.zip
cm26APR1999bhav.csv.zip
cm28APR1999bhav.csv.zip
cm29APR1999bhav.csv.zip
cm30APR1999bhav.csv.zip
cm03MAY1999bhav.csv.zip
cm04MAY1999bhav.csv.zip
cm05MAY1999bhav.csv.zip
cm06MAY1999bhav.csv.zip
cm07MAY1999bhav.csv.zip
cm10MAY1999bhav.csv.zip
cm11MAY1999bhav.csv.zip
cm12MAY1999bhav.csv.zip
cm13MAY1999bhav.csv.zip
cm14MAY1999bhav.csv.zip
cm17MAY1999bhav.csv.zip
cm18MAY1999bhav.csv.zip
cm19MAY1999bhav.csv.zip
cm20MAY1999bhav.csv.zip
cm21MAY1999bhav.csv.zip
cm24MAY1999bhav.csv.zip
cm25MAY1999bhav.csv.zip
cm26MAY1999bhav.csv.zip
cm27MAY1999bhav.csv.zip
cm28MAY1999bhav.csv.zip
cm31MAY1999bhav.csv.zip
cm01JUN1999bhav.csv.zip
cm02JUN1999bhav.csv.zip
cm03JUN1999bhav.csv.zip
cm04JUN1999bhav.csv.zip
cm07JUN1999bhav.csv.zip
cm08JUN1999bhav.csv.zip
cm09JUN1999bhav.csv.zip
cm10JUN1999bhav.csv.zip
cm11JUN1999bhav.csv.zip
cm14JUN1999bhav.csv.zip
cm15JUN1999bhav.csv.zip
cm16JUN1999bhav.csv.zip
cm17JUN1999bhav.csv.zip
cm18JUN1999bhav.csv.zip
cm21JUN1999bhav.csv.zip
cm22JUN1999bhav.csv.zip
cm23JUN1999bhav.csv.zip
cm24JUN1999bhav.csv.zip
cm25JUN1999bhav.csv.zip
cm28JUN1999bhav.csv.zip
cm29JUN1999bhav.csv.zip
cm30JUN1999bhav.csv.zip
cm01JUL1999bhav.csv.zip
cm02JUL1999bhav.csv.zip
cm05JUL1999bhav.csv.zip
cm06JUL1999bhav.csv.zip
cm07JUL1999bhav.csv.zip
cm08JUL1999bhav.csv.zip
cm09JUL1999bhav.csv.zip
cm12JUL1999bhav.csv.zip
cm13JUL1999bhav.csv.zip
cm14JUL1999bhav.csv.zip
cm15JUL1999bhav.csv.zip
cm16JUL1999bhav.csv.zip
cm19JUL1999bhav.csv.zip
cm20JUL1999bhav.csv.zip
cm21JUL1999bhav.csv.zip
cm22JUL1999bhav.csv.zip
cm23JUL1999bhav.csv.zip
cm26JUL1999bhav.csv.zip
cm27JUL1999bhav.csv.zip
cm28JUL1999bhav.csv.zip
cm29JUL1999bhav.csv.zip
cm30JUL1999bhav.csv.zip
cm02AUG1999bhav.csv.zip
cm03AUG1999bhav.csv.zip
cm04AUG1999bhav.csv.zip
cm05AUG1999bhav.csv.zip
cm06AUG1999bhav.csv.zip
cm09AUG1999bhav.csv.zip
cm10AUG1999bhav.csv.zip
cm11AUG1999bhav.csv.zip
cm12AUG1999bhav.csv.zip
cm13AUG1999bhav.csv.zip
cm16AUG1999bhav.csv.zip
cm17AUG1999bhav.csv.zip
cm18AUG1999bhav.csv.zip
cm19AUG1999bhav.csv.zip
cm20AUG1999bhav.csv.zip
cm23AUG1999bhav.csv.zip
cm24AUG1999bhav.csv.zip
cm25AUG1999bhav.csv.zip
cm26AUG1999bhav.csv.zip
cm27AUG1999bhav.csv.zip
cm30AUG1999bhav.csv.zip
cm31AUG1999bhav.csv.zip
cm01SEP1999bhav.csv.zip
cm02SEP1999bhav.csv.zip
cm03SEP1999bhav.csv.zip
cm06SEP1999bhav.csv.zip
cm07SEP1999bhav.csv.zip
cm08SEP1999bhav.csv.zip
cm09SEP1999bhav.csv.zip
cm10SEP1999bhav.csv.zip
cm14SEP1999bhav.csv.zip
cm15SEP1999bhav.csv.zip
cm16SEP1999bhav.csv.zip
cm17SEP1999bhav.csv.zip
cm20SEP1999bhav.csv.zip
cm21SEP1999bhav.csv.zip
cm22SEP1999bhav.csv.zip
cm23SEP1999bhav.csv.zip
cm24SEP1999bhav.csv.zip
cm27SEP1999bhav.csv.zip
cm28SEP1999bhav.csv.zip
cm29SEP1999bhav.csv.zip
cm30SEP1999bhav.csv.zip
cm01OCT1999bhav.csv.zip
cm04OCT1999bhav.csv.zip
cm05OCT1999bhav.csv.zip
cm06OCT1999bhav.csv.zip
cm07OCT1999bhav.csv.zip
cm08OCT1999bhav.csv.zip
cm11OCT1999bhav.csv.zip
cm12OCT1999bhav.csv.zip
cm13OCT1999bhav.csv.zip
cm14OCT1999bhav.csv.zip
cm15OCT1999bhav.csv.zip
cm18OCT1999bhav.csv.zip
cm20OCT1999bhav.csv.zip
cm21OCT1999bhav.csv.zip
cm22OCT1999bhav.csv.zip
cm23OCT1999bhav.csv.zip
cm25OCT1999bhav.csv.zip
cm26OCT1999bhav.csv.zip
cm27OCT1999bhav.csv.zip
cm28OCT1999bhav.csv.zip
cm29OCT1999bhav.csv.zip
cm01NOV1999bhav.csv.zip
cm02NOV1999bhav.csv.zip
cm03NOV1999bhav.csv.zip
cm04NOV1999bhav.csv.zip
cm05NOV1999bhav.csv.zip
cm09NOV1999bhav.csv.zip
cm10NOV1999bhav.csv.zip
cm11NOV1999bhav.csv.zip
cm12NOV1999bhav.csv.zip
cm15NOV1999bhav.csv.zip
cm16NOV1999bhav.csv.zip
cm17NOV1999bhav.csv.zip
cm18NOV1999bhav.csv.zip
cm19NOV1999bhav.csv.zip
cm22NOV1999bhav.csv.zip
cm24NOV1999bhav.csv.zip
cm25NOV1999bhav.csv.zip
cm26NOV1999bhav.csv.zip
cm29NOV1999bhav.csv.zip
cm30NOV1999bhav.csv.zip
cm01DEC1999bhav.csv.zip
cm02DEC1999bhav.csv.zip
cm03DEC1999bhav.csv.zip
cm06DEC1999bhav.csv.zip
cm07DEC1999bhav.csv.zip
cm08DEC1999bhav.csv.zip
cm09DEC1999bhav.csv.zip
cm10DEC1999bhav.csv.zip
cm13DEC1999bhav.csv.zip
cm14DEC1999bhav.csv.zip
cm15DEC1999bhav.csv.zip
cm16DEC1999bhav.csv.zip
cm17DEC1999bhav.csv.zip
cm20DEC1999bhav.csv.zip
cm21DEC1999bhav.csv.zip
cm22DEC1999bhav.csv.zip
cm23DEC1999bhav.csv.zip
cm27DEC1999bhav.csv.zip
cm28DEC1999bhav.csv.zip
cm29DEC1999bhav.csv.zip
cm30DEC1999bhav.csv.zip
cm03JAN2000bhav.csv.zip
cm04JAN2000bhav.csv.zip
cm05JAN2000bhav.csv.zip
cm06JAN2000bhav.csv.zip
cm07JAN2000bhav.csv.zip
cm10JAN2000bhav.csv.zip
cm11JAN2000bhav.csv.zip
cm12JAN2000bhav.csv.zip
cm13JAN2000bhav.csv.zip
cm14JAN2000bhav.csv.zip
cm17JAN2000bhav.csv.zip
cm18JAN2000bhav.csv.zip
cm19JAN2000bhav.csv.zip
cm20JAN2000bhav.csv.zip
cm21JAN2000bhav.csv.zip
cm24JAN2000bhav.csv.zip
cm25JAN2000bhav.csv.zip
cm27JAN2000bhav.csv.zip
cm28JAN2000bhav.csv.zip
cm31JAN2000bhav.csv.zip
cm01FEB2000bhav.csv.zip
cm02FEB2000bhav.csv.zip
cm03FEB2000bhav.csv.zip
cm04FEB2000bhav.csv.zip
cm07FEB2000bhav.csv.zip
cm08FEB2000bhav.csv.zip
cm09FEB2000bhav.csv.zip
cm10FEB2000bhav.csv.zip
cm11FEB2000bhav.csv.zip
cm14FEB2000bhav.csv.zip
cm15FEB2000bhav.csv.zip
cm16FEB2000bhav.csv.zip
cm17FEB2000bhav.csv.zip
cm18FEB2000bhav.csv.zip
cm21FEB2000bhav.csv.zip
cm22FEB2000bhav.csv.zip
cm23FEB2000bhav.csv.zip
cm24FEB2000bhav.csv.zip
cm25FEB2000bhav.csv.zip
cm28FEB2000bhav.csv.zip
cm29FEB2000bhav.csv.zip
cm01MAR2000bhav.csv.zip
cm02MAR2000bhav.csv.zip
cm03MAR2000bhav.csv.zip
cm06MAR2000bhav.csv.zip
cm07MAR2000bhav.csv.zip
cm08MAR2000bhav.csv.zip
cm09MAR2000bhav.csv.zip
cm10MAR2000bhav.csv.zip
cm13MAR2000bhav.csv.zip
cm14MAR2000bhav.csv.zip
cm15MAR2000bhav.csv.zip
cm16MAR2000bhav.csv.zip
cm21MAR2000bhav.csv.zip
cm22MAR2000bhav.csv.zip
cm23MAR2000bhav.csv.zip
cm24MAR2000bhav.csv.zip
cm27MAR2000bhav.csv.zip
cm28MAR2000bhav.csv.zip
cm29MAR2000bhav.csv.zip
cm30MAR2000bhav.csv.zip
cm31MAR2000bhav.csv.zip
cm03APR2000bhav.csv.zip
cm04APR2000bhav.csv.zip
cm05APR2000bhav.csv.zip
cm06APR2000bhav.csv.zip
cm07APR2000bhav.csv.zip
cm10APR2000bhav.csv.zip
cm11APR2000bhav.csv.zip
cm12APR2000bhav.csv.zip
cm13APR2000bhav.csv.zip
cm17APR2000bhav.csv.zip
cm18APR2000bhav.csv.zip
cm19APR2000bhav.csv.zip
cm20APR2000bhav.csv.zip
cm24APR2000bhav.csv.zip
cm25APR2000bhav.csv.zip
cm26APR2000bhav.csv.zip
cm27APR2000bhav.csv.zip
cm28APR2000bhav.csv.zip
cm02MAY2000bhav.csv.zip
cm03MAY2000bhav.csv.zip
cm04MAY2000bhav.csv.zip
cm05MAY2000bhav.csv.zip
cm08MAY2000bhav.csv.zip
cm09MAY2000bhav.csv.zip
cm10MAY2000bhav.csv.zip
cm11MAY2000bhav.csv.zip
cm12MAY2000bhav.csv.zip
cm15MAY2000bhav.csv.zip
cm16MAY2000bhav.csv.zip
cm17MAY2000bhav.csv.zip
cm18MAY2000bhav.csv.zip
cm19MAY2000bhav.csv.zip
cm22MAY2000bhav.csv.zip
cm23MAY2000bhav.csv.zip
cm24MAY2000bhav.csv.zip
cm25MAY2000bhav.csv.zip
cm26MAY2000bhav.csv.zip
cm29MAY2000bhav.csv.zip
cm30MAY2000bhav.csv.zip
cm31MAY2000bhav.csv.zip
cm01JUN2000bhav.csv.zip
cm02JUN2000bhav.csv.zip
cm05JUN2000bhav.csv.zip
cm06JUN2000bhav.csv.zip
cm07JUN2000bhav.csv.zip
cm08JUN2000bhav.csv.zip
cm09JUN2000bhav.csv.zip
cm12JUN2000bhav.csv.zip
cm13JUN2000bhav.csv.zip
cm14JUN2000bhav.csv.zip
cm15JUN2000bhav.csv.zip
cm16JUN2000bhav.csv.zip
cm19JUN2000bhav.csv.zip
cm20JUN2000bhav.csv.zip
cm21JUN2000bhav.csv.zip
cm22JUN2000bhav.csv.zip
cm23JUN2000bhav.csv.zip
cm26JUN2000bhav.csv.zip
cm27JUN2000bhav.csv.zip
cm28JUN2000bhav.csv.zip
cm29JUN2000bhav.csv.zip
cm30JUN2000bhav.csv.zip
cm03JUL2000bhav.csv.zip
cm04JUL2000bhav.csv.zip
cm05JUL2000bhav.csv.zip
cm06JUL2000bhav.csv.zip
cm07JUL2000bhav.csv.zip
cm10JUL2000bhav.csv.zip
cm11JUL2000bhav.csv.zip
cm12JUL2000bhav.csv.zip
cm13JUL2000bhav.csv.zip
cm14JUL2000bhav.csv.zip
cm17JUL2000bhav.csv.zip
cm18JUL2000bhav.csv.zip
cm19JUL2000bhav.csv.zip
cm20JUL2000bhav.csv.zip
cm21JUL2000bhav.csv.zip
cm24JUL2000bhav.csv.zip
cm25JUL2000bhav.csv.zip
cm26JUL2000bhav.csv.zip
cm27JUL2000bhav.csv.zip
cm28JUL2000bhav.csv.zip
cm31JUL2000bhav.csv.zip
cm01AUG2000bhav.csv.zip
cm02AUG2000bhav.csv.zip
cm03AUG2000bhav.csv.zip
cm04AUG2000bhav.csv.zip
cm07AUG2000bhav.csv.zip
cm08AUG2000bhav.csv.zip
cm09AUG2000bhav.csv.zip
cm10AUG2000bhav.csv.zip
cm11AUG2000bhav.csv.zip
cm14AUG2000bhav.csv.zip
cm16AUG2000bhav.csv.zip
cm17AUG2000bhav.csv.zip
cm18AUG2000bhav.csv.zip

cm21AUG2000bhav.csv.zip
cm22AUG2000bhav.csv.zip
cm23AUG2000bhav.csv.zip
cm24AUG2000bhav.csv.zip
cm25AUG2000bhav.csv.zip
cm28AUG2000bhav.csv.zip
cm29AUG2000bhav.csv.zip
cm30AUG2000bhav.csv.zip
cm31AUG2000bhav.csv.zip
cm04SEP2000bhav.csv.zip
cm05SEP2000bhav.csv.zip
cm06SEP2000bhav.csv.zip
cm07SEP2000bhav.csv.zip
cm08SEP2000bhav.csv.zip
cm11SEP2000bhav.csv.zip
cm12SEP2000bhav.csv.zip
cm13SEP2000bhav.csv.zip
cm14SEP2000bhav.csv.zip
cm15SEP2000bhav.csv.zip
cm18SEP2000bhav.csv.zip
cm19SEP2000bhav.csv.zip
cm20SEP2000bhav.csv.zip
cm21SEP2000bhav.csv.zip
cm22SEP2000bhav.csv.zip
cm25SEP2000bhav.csv.zip
cm26SEP2000bhav.csv.zip
cm27SEP2000bhav.csv.zip
cm28SEP2000bhav.csv.zip
cm29SEP2000bhav.csv.zip
cm03OCT2000bhav.csv.zip
cm04OCT2000bhav.csv.zip
cm05OCT2000bhav.csv.zip
cm06OCT2000bhav.csv.zip
cm09OCT2000bhav.csv.zip
cm10OCT2000bhav.csv.zip
cm11OCT2000bhav.csv.zip
cm12OCT2000bhav.csv.zip
cm13OCT2000bhav.csv.zip
cm16OCT2000bhav.csv.zip
cm17OCT2000bhav.csv.zip
cm18OCT2000bhav.csv.zip
cm19OCT2000bhav.csv.zip
cm20OCT2000bhav.csv.zip
cm23OCT2000bhav.csv.zip
cm24OCT2000bhav.csv.zip
cm25OCT2000bhav.csv.zip
cm26OCT2000bhav.csv.zip
cm27OCT2000bhav.csv.zip
cm30OCT2000bhav.csv.zip
cm31OCT2000bhav.csv.zip
cm01NOV2000bhav.csv.zip
cm02NOV2000bhav.csv.zip
cm03NOV2000bhav.csv.zip
cm06NOV2000bhav.csv.zip
cm07NOV2000bhav.csv.zip
cm08NOV2000bhav.csv.zip
cm09NOV2000bhav.csv.zip
cm10NOV2000bhav.csv.zip
cm13NOV2000bhav.csv.zip
cm14NOV2000bhav.csv.zip
cm15NOV2000bhav.csv.zip
cm16NOV2000bhav.csv.zip
cm17NOV2000bhav.csv.zip
cm20NOV2000bhav.csv.zip
cm21NOV2000bhav.csv.zip
cm22NOV2000bhav.csv.zip
cm23NOV2000bhav.csv.zip
cm24NOV2000bhav.csv.zip
cm27NOV2000bhav.csv.zip
cm28NOV2000bhav.csv.zip
cm29NOV2000bhav.csv.zip
cm30NOV2000bhav.csv.zip
cm01DEC2000bhav.csv.zip
cm04DEC2000bhav.csv.zip
cm05DEC2000bhav.csv.zip
cm06DEC2000bhav.csv.zip
cm07DEC2000bhav.csv.zip
cm08DEC2000bhav.csv.zip
cm11DEC2000bhav.csv.zip
cm12DEC2000bhav.csv.zip
cm13DEC2000bhav.csv.zip
cm14DEC2000bhav.csv.zip
cm15DEC2000bhav.csv.zip
cm18DEC2000bhav.csv.zip
cm19DEC2000bhav.csv.zip
cm20DEC2000bhav.csv.zip
cm21DEC2000bhav.csv.zip
cm22DEC2000bhav.csv.zip
cm26DEC2000bhav.csv.zip
cm27DEC2000bhav.csv.zip
cm28DEC2000bhav.csv.zip
cm29DEC2000bhav.csv.zip
cm01JAN2001bhav.csv.zip
cm02JAN2001bhav.csv.zip
cm03JAN2001bhav.csv.zip
cm04JAN2001bhav.csv.zip
cm05JAN2001bhav.csv.zip
cm08JAN2001bhav.csv.zip
cm09JAN2001bhav.csv.zip
cm10JAN2001bhav.csv.zip
cm11JAN2001bhav.csv.zip
cm12JAN2001bhav.csv.zip
cm15JAN2001bhav.csv.zip
cm16JAN2001bhav.csv.zip
cm17JAN2001bhav.csv.zip
cm18JAN2001bhav.csv.zip
cm19JAN2001bhav.csv.zip
cm22JAN2001bhav.csv.zip
cm23JAN2001bhav.csv.zip
cm24JAN2001bhav.csv.zip
cm25JAN2001bhav.csv.zip
cm29JAN2001bhav.csv.zip
cm30JAN2001bhav.csv.zip
cm31JAN2001bhav.csv.zip
cm01FEB2001bhav.csv.zip
cm02FEB2001bhav.csv.zip
cm05FEB2001bhav.csv.zip
cm06FEB2001bhav.csv.zip
cm07FEB2001bhav.csv.zip
cm08FEB2001bhav.csv.zip
cm09FEB2001bhav.csv.zip
cm12FEB2001bhav.csv.zip
cm13FEB2001bhav.csv.zip
cm14FEB2001bhav.csv.zip
cm15FEB2001bhav.csv.zip
cm16FEB2001bhav.csv.zip
cm19FEB2001bhav.csv.zip
cm20FEB2001bhav.csv.zip
cm21FEB2001bhav.csv.zip
cm22FEB2001bhav.csv.zip
cm23FEB2001bhav.csv.zip
cm26FEB2001bhav.csv.zip
cm27FEB2001bhav.csv.zip
cm28FEB2001bhav.csv.zip
cm01MAR2001bhav.csv.zip
cm02MAR2001bhav.csv.zip
cm05MAR2001bhav.csv.zip
cm07MAR2001bhav.csv.zip
cm08MAR2001bhav.csv.zip
cm09MAR2001bhav.csv.zip
cm12MAR2001bhav.csv.zip
cm13MAR2001bhav.csv.zip
cm14MAR2001bhav.csv.zip
cm15MAR2001bhav.csv.zip
cm16MAR2001bhav.csv.zip
cm19MAR2001bhav.csv.zip
cm20MAR2001bhav.csv.zip
cm21MAR2001bhav.csv.zip
cm22MAR2001bhav.csv.zip
cm23MAR2001bhav.csv.zip
cm26MAR2001bhav.csv.zip
cm27MAR2001bhav.csv.zip
cm28MAR2001bhav.csv.zip
cm29MAR2001bhav.csv.zip
cm30MAR2001bhav.csv.zip
cm02APR2001bhav.csv.zip
cm03APR2001bhav.csv.zip
cm04APR2001bhav.csv.zip
cm06APR2001bhav.csv.zip
cm09APR2001bhav.csv.zip
cm10APR2001bhav.csv.zip
cm11APR2001bhav.csv.zip
cm12APR2001bhav.csv.zip
cm16APR2001bhav.csv.zip
cm17APR2001bhav.csv.zip
cm18APR2001bhav.csv.zip
cm19APR2001bhav.csv.zip
cm20APR2001bhav.csv.zip
cm23APR2001bhav.csv.zip
cm24APR2001bhav.csv.zip
cm25APR2001bhav.csv.zip
cm26APR2001bhav.csv.zip
cm27APR2001bhav.csv.zip
cm30APR2001bhav.csv.zip
cm02MAY2001bhav.csv.zip
cm03MAY2001bhav.csv.zip
cm04MAY2001bhav.csv.zip
cm07MAY2001bhav.csv.zip
cm08MAY2001bhav.csv.zip
cm09MAY2001bhav.csv.zip
cm10MAY2001bhav.csv.zip
cm11MAY2001bhav.csv.zip
cm14MAY2001bhav.csv.zip
cm15MAY2001bhav.csv.zip
cm16MAY2001bhav.csv.zip
cm17MAY2001bhav.csv.zip
cm18MAY2001bhav.csv.zip
cm21MAY2001bhav.csv.zip
cm22MAY2001bhav.csv.zip
cm23MAY2001bhav.csv.zip
cm24MAY2001bhav.csv.zip
cm25MAY2001bhav.csv.zip
cm28MAY2001bhav.csv.zip
cm29MAY2001bhav.csv.zip
cm30MAY2001bhav.csv.zip
cm31MAY2001bhav.csv.zip
cm01JUN2001bhav.csv.zip
cm04JUN2001bhav.csv.zip
cm05JUN2001bhav.csv.zip
cm06JUN2001bhav.csv.zip
cm07JUN2001bhav.csv.zip
cm08JUN2001bhav.csv.zip
cm11JUN2001bhav.csv.zip
cm12JUN2001bhav.csv.zip
cm13JUN2001bhav.csv.zip
cm14JUN2001bhav.csv.zip
cm15JUN2001bhav.csv.zip
cm18JUN2001bhav.csv.zip
cm19JUN2001bhav.csv.zip
cm20JUN2001bhav.csv.zip
cm21JUN2001bhav.csv.zip
cm22JUN2001bhav.csv.zip
cm25JUN2001bhav.csv.zip
cm26JUN2001bhav.csv.zip
cm27JUN2001bhav.csv.zip
cm28JUN2001bhav.csv.zip
cm29JUN2001bhav.csv.zip
cm02JUL2001bhav.csv.zip
cm03JUL2001bhav.csv.zip
cm04JUL2001bhav.csv.zip
cm05JUL2001bhav.csv.zip
cm06JUL2001bhav.csv.zip
cm09JUL2001bhav.csv.zip
cm10JUL2001bhav.csv.zip
cm11JUL2001bhav.csv.zip
cm12JUL2001bhav.csv.zip
cm13JUL2001bhav.csv.zip
cm16JUL2001bhav.csv.zip
cm17JUL2001bhav.csv.zip
cm18JUL2001bhav.csv.zip
cm19JUL2001bhav.csv.zip
cm20JUL2001bhav.csv.zip
cm23JUL2001bhav.csv.zip
cm24JUL2001bhav.csv.zip
cm25JUL2001bhav.csv.zip
cm26JUL2001bhav.csv.zip
cm27JUL2001bhav.csv.zip
cm30JUL2001bhav.csv.zip
cm31JUL2001bhav.csv.zip
cm01AUG2001bhav.csv.zip
cm02AUG2001bhav.csv.zip
cm03AUG2001bhav.csv.zip
cm06AUG2001bhav.csv.zip
cm07AUG2001bhav.csv.zip
cm08AUG2001bhav.csv.zip
cm09AUG2001bhav.csv.zip
cm10AUG2001bhav.csv.zip
cm13AUG2001bhav.csv.zip
cm14AUG2001bhav.csv.zip
cm16AUG2001bhav.csv.zip
cm17AUG2001bhav.csv.zip
cm20AUG2001bhav.csv.zip
cm21AUG2001bhav.csv.zip
cm23AUG2001bhav.csv.zip
cm24AUG2001bhav.csv.zip
cm27AUG2001bhav.csv.zip
cm28AUG2001bhav.csv.zip
cm29AUG2001bhav.csv.zip
cm30AUG2001bhav.csv.zip
cm31AUG2001bhav.csv.zip
cm03SEP2001bhav.csv.zip
cm04SEP2001bhav.csv.zip
cm05SEP2001bhav.csv.zip
cm06SEP2001bhav.csv.zip
cm07SEP2001bhav.csv.zip
cm10SEP2001bhav.csv.zip
cm11SEP2001bhav.csv.zip
cm12SEP2001bhav.csv.zip
cm13SEP2001bhav.csv.zip
cm14SEP2001bhav.csv.zip
cm17SEP2001bhav.csv.zip
cm18SEP2001bhav.csv.zip
cm19SEP2001bhav.csv.zip
cm20SEP2001bhav.csv.zip
cm21SEP2001bhav.csv.zip
cm24SEP2001bhav.csv.zip
cm25SEP2001bhav.csv.zip
cm26SEP2001bhav.csv.zip
cm27SEP2001bhav.csv.zip
cm28SEP2001bhav.csv.zip
cm01OCT2001bhav.csv.zip
cm03OCT2001bhav.csv.zip
cm04OCT2001bhav.csv.zip
cm05OCT2001bhav.csv.zip
cm08OCT2001bhav.csv.zip
cm09OCT2001bhav.csv.zip
cm10OCT2001bhav.csv.zip
cm11OCT2001bhav.csv.zip
cm12OCT2001bhav.csv.zip
cm15OCT2001bhav.csv.zip
cm16OCT2001bhav.csv.zip
cm17OCT2001bhav.csv.zip
cm18OCT2001bhav.csv.zip
cm19OCT2001bhav.csv.zip
cm22OCT2001bhav.csv.zip
cm23OCT2001bhav.csv.zip
cm24OCT2001bhav.csv.zip
cm25OCT2001bhav.csv.zip
cm29OCT2001bhav.csv.zip
cm30OCT2001bhav.csv.zip
cm31OCT2001bhav.csv.zip
cm01NOV2001bhav.csv.zip
cm02NOV2001bhav.csv.zip
cm05NOV2001bhav.csv.zip
cm06NOV2001bhav.csv.zip
cm07NOV2001bhav.csv.zip
cm08NOV2001bhav.csv.zip
cm09NOV2001bhav.csv.zip
cm12NOV2001bhav.csv.zip
cm13NOV2001bhav.csv.zip
cm14NOV2001bhav.csv.zip
cm15NOV2001bhav.csv.zip
cm19NOV2001bhav.csv.zip
cm20NOV2001bhav.csv.zip
cm21NOV2001bhav.csv.zip
cm22NOV2001bhav.csv.zip
cm23NOV2001bhav.csv.zip
cm26NOV2001bhav.csv.zip
cm27NOV2001bhav.csv.zip
cm28NOV2001bhav.csv.zip
cm29NOV2001bhav.csv.zip
cm03DEC2001bhav.csv.zip
cm04DEC2001bhav.csv.zip
cm05DEC2001bhav.csv.zip
cm06DEC2001bhav.csv.zip
cm07DEC2001bhav.csv.zip
cm10DEC2001bhav.csv.zip
cm11DEC2001bhav.csv.zip
cm12DEC2001bhav.csv.zip
cm13DEC2001bhav.csv.zip
cm14DEC2001bhav.csv.zip
cm18DEC2001bhav.csv.zip
cm19DEC2001bhav.csv.zip
cm20DEC2001bhav.csv.zip
cm21DEC2001bhav.csv.zip
cm24DEC2001bhav.csv.zip
cm26DEC2001bhav.csv.zip
cm27DEC2001bhav.csv.zip
cm28DEC2001bhav.csv.zip
cm31DEC2001bhav.csv.zip
cm01JAN2002bhav.csv.zip
cm02JAN2002bhav.csv.zip
cm03JAN2002bhav.csv.zip
cm04JAN2002bhav.csv.zip
cm07JAN2002bhav.csv.zip
cm08JAN2002bhav.csv.zip
cm09JAN2002bhav.csv.zip
cm10JAN2002bhav.csv.zip
cm11JAN2002bhav.csv.zip
cm14JAN2002bhav.csv.zip
cm15JAN2002bhav.csv.zip
cm16JAN2002bhav.csv.zip
cm17JAN2002bhav.csv.zip
cm18JAN2002bhav.csv.zip
cm21JAN2002bhav.csv.zip
cm22JAN2002bhav.csv.zip
cm23JAN2002bhav.csv.zip
cm24JAN2002bhav.csv.zip
cm25JAN2002bhav.csv.zip
cm28JAN2002bhav.csv.zip
cm29JAN2002bhav.csv.zip
cm30JAN2002bhav.csv.zip
cm31JAN2002bhav.csv.zip

cm01FEB2002bhav.csv.zip
cm04FEB2002bhav.csv.zip
cm05FEB2002bhav.csv.zip
cm06FEB2002bhav.csv.zip
cm07FEB2002bhav.csv.zip
cm08FEB2002bhav.csv.zip
cm11FEB2002bhav.csv.zip
cm12FEB2002bhav.csv.zip
cm13FEB2002bhav.csv.zip
cm14FEB2002bhav.csv.zip
cm15FEB2002bhav.csv.zip
cm18FEB2002bhav.csv.zip
cm19FEB2002bhav.csv.zip
cm20FEB2002bhav.csv.zip
cm21FEB2002bhav.csv.zip
cm22FEB2002bhav.csv.zip
cm25FEB2002bhav.csv.zip
cm26FEB2002bhav.csv.zip
cm27FEB2002bhav.csv.zip
cm28FEB2002bhav.csv.zip
cm01MAR2002bhav.csv.zip
cm04MAR2002bhav.csv.zip
cm05MAR2002bhav.csv.zip
cm06MAR2002bhav.csv.zip
cm07MAR2002bhav.csv.zip
cm08MAR2002bhav.csv.zip
cm11MAR2002bhav.csv.zip
cm12MAR2002bhav.csv.zip
cm13MAR2002bhav.csv.zip
cm14MAR2002bhav.csv.zip
cm15MAR2002bhav.csv.zip
cm18MAR2002bhav.csv.zip
cm19MAR2002bhav.csv.zip
cm20MAR2002bhav.csv.zip
cm21MAR2002bhav.csv.zip
cm22MAR2002bhav.csv.zip
cm26MAR2002bhav.csv.zip
cm27MAR2002bhav.csv.zip
cm28MAR2002bhav.csv.zip
cm01APR2002bhav.csv.zip
cm02APR2002bhav.csv.zip
cm03APR2002bhav.csv.zip
cm05APR2002bhav.csv.zip
cm08APR2002bhav.csv.zip
cm09APR2002bhav.csv.zip
cm10APR2002bhav.csv.zip
cm11APR2002bhav.csv.zip
cm12APR2002bhav.csv.zip
cm15APR2002bhav.csv.zip
cm16APR2002bhav.csv.zip
cm17APR2002bhav.csv.zip
cm18APR2002bhav.csv.zip
cm19APR2002bhav.csv.zip
cm22APR2002bhav.csv.zip
cm23APR2002bhav.csv.zip
cm24APR2002bhav.csv.zip
cm25APR2002bhav.csv.zip
cm26APR2002bhav.csv.zip
cm29APR2002bhav.csv.zip
cm30APR2002bhav.csv.zip
cm02MAY2002bhav.csv.zip
cm03MAY2002bhav.csv.zip
cm06MAY2002bhav.csv.zip
cm07MAY2002bhav.csv.zip
cm08MAY2002bhav.csv.zip
cm09MAY2002bhav.csv.zip
cm10MAY2002bhav.csv.zip
cm13MAY2002bhav.csv.zip
cm14MAY2002bhav.csv.zip
cm15MAY2002bhav.csv.zip
cm16MAY2002bhav.csv.zip
cm17MAY2002bhav.csv.zip
cm20MAY2002bhav.csv.zip
cm21MAY2002bhav.csv.zip
cm22MAY2002bhav.csv.zip
cm23MAY2002bhav.csv.zip
cm24MAY2002bhav.csv.zip
cm27MAY2002bhav.csv.zip
cm28MAY2002bhav.csv.zip
cm29MAY2002bhav.csv.zip
cm30MAY2002bhav.csv.zip
cm31MAY2002bhav.csv.zip
cm03JUN2002bhav.csv.zip
cm04JUN2002bhav.csv.zip
cm05JUN2002bhav.csv.zip
cm06JUN2002bhav.csv.zip
cm07JUN2002bhav.csv.zip
cm10JUN2002bhav.csv.zip
cm11JUN2002bhav.csv.zip
cm12JUN2002bhav.csv.zip
cm13JUN2002bhav.csv.zip
cm14JUN2002bhav.csv.zip
cm17JUN2002bhav.csv.zip
cm18JUN2002bhav.csv.zip
cm19JUN2002bhav.csv.zip
cm20JUN2002bhav.csv.zip
cm21JUN2002bhav.csv.zip
cm24JUN2002bhav.csv.zip
cm25JUN2002bhav.csv.zip
cm26JUN2002bhav.csv.zip
cm27JUN2002bhav.csv.zip
cm28JUN2002bhav.csv.zip
cm01JUL2002bhav.csv.zip
cm03JUL2002bhav.csv.zip
cm04JUL2002bhav.csv.zip
cm05JUL2002bhav.csv.zip
cm08JUL2002bhav.csv.zip
cm09JUL2002bhav.csv.zip
cm10JUL2002bhav.csv.zip
cm11JUL2002bhav.csv.zip
cm12JUL2002bhav.csv.zip
cm15JUL2002bhav.csv.zip
cm16JUL2002bhav.csv.zip
cm17JUL2002bhav.csv.zip
cm12AUG2002bhav.csv.zip
cm13AUG2002bhav.csv.zip
cm14AUG2002bhav.csv.zip
cm16AUG2002bhav.csv.zip
cm19AUG2002bhav.csv.zip
cm20AUG2002bhav.csv.zip
cm21AUG2002bhav.csv.zip
cm22AUG2002bhav.csv.zip
cm23AUG2002bhav.csv.zip
cm26AUG2002bhav.csv.zip
cm27AUG2002bhav.csv.zip
cm28AUG2002bhav.csv.zip
cm29AUG2002bhav.csv.zip
cm02SEP2002bhav.csv.zip
cm03SEP2002bhav.csv.zip
cm04SEP2002bhav.csv.zip
cm05SEP2002bhav.csv.zip
cm06SEP2002bhav.csv.zip
cm09SEP2002bhav.csv.zip
cm11SEP2002bhav.csv.zip
cm12SEP2002bhav.csv.zip
cm13SEP2002bhav.csv.zip
cm16SEP2002bhav.csv.zip
cm17SEP2002bhav.csv.zip
cm18SEP2002bhav.csv.zip
cm19SEP2002bhav.csv.zip
cm20SEP2002bhav.csv.zip
cm23SEP2002bhav.csv.zip
cm24SEP2002bhav.csv.zip
cm25SEP2002bhav.csv.zip
cm26SEP2002bhav.csv.zip
cm27SEP2002bhav.csv.zip
cm30SEP2002bhav.csv.zip
cm01OCT2002bhav.csv.zip
cm03OCT2002bhav.csv.zip
cm04OCT2002bhav.csv.zip
cm07OCT2002bhav.csv.zip
cm08OCT2002bhav.csv.zip
cm09OCT2002bhav.csv.zip
cm10OCT2002bhav.csv.zip
cm11OCT2002bhav.csv.zip
cm14OCT2002bhav.csv.zip
cm16OCT2002bhav.csv.zip
cm17OCT2002bhav.csv.zip
cm18OCT2002bhav.csv.zip
cm21OCT2002bhav.csv.zip
cm22OCT2002bhav.csv.zip
cm23OCT2002bhav.csv.zip
cm24OCT2002bhav.csv.zip
cm25OCT2002bhav.csv.zip
cm28OCT2002bhav.csv.zip
cm29OCT2002bhav.csv.zip
cm30OCT2002bhav.csv.zip
cm31OCT2002bhav.csv.zip
cm01NOV2002bhav.csv.zip
cm04NOV2002bhav.csv.zip
cm05NOV2002bhav.csv.zip
cm07NOV2002bhav.csv.zip
cm08NOV2002bhav.csv.zip
cm11NOV2002bhav.csv.zip
cm12NOV2002bhav.csv.zip
cm13NOV2002bhav.csv.zip
cm14NOV2002bhav.csv.zip
cm18NOV2002bhav.csv.zip
cm20NOV2002bhav.csv.zip
cm21NOV2002bhav.csv.zip
cm22NOV2002bhav.csv.zip
cm25NOV2002bhav.csv.zip
cm26NOV2002bhav.csv.zip
cm27NOV2002bhav.csv.zip
cm28NOV2002bhav.csv.zip
cm29NOV2002bhav.csv.zip
cm02DEC2002bhav.csv.zip
cm03DEC2002bhav.csv.zip
cm04DEC2002bhav.csv.zip
cm05DEC2002bhav.csv.zip
cm06DEC2002bhav.csv.zip
cm09DEC2002bhav.csv.zip
cm10DEC2002bhav.csv.zip
cm11DEC2002bhav.csv.zip
cm12DEC2002bhav.csv.zip
cm13DEC2002bhav.csv.zip
cm16DEC2002bhav.csv.zip
cm17DEC2002bhav.csv.zip
cm18DEC2002bhav.csv.zip
cm19DEC2002bhav.csv.zip
cm20DEC2002bhav.csv.zip
cm23DEC2002bhav.csv.zip
cm24DEC2002bhav.csv.zip
cm26DEC2002bhav.csv.zip
cm27DEC2002bhav.csv.zip
cm30DEC2002bhav.csv.zip
cm31DEC2002bhav.csv.zip
cm01JAN2003bhav.csv.zip
cm02JAN2003bhav.csv.zip
cm03JAN2003bhav.csv.zip
cm06JAN2003bhav.csv.zip
cm07JAN2003bhav.csv.zip
cm08JAN2003bhav.csv.zip
cm09JAN2003bhav.csv.zip
cm10JAN2003bhav.csv.zip
cm13JAN2003bhav.csv.zip
cm14JAN2003bhav.csv.zip
cm15JAN2003bhav.csv.zip
cm16JAN2003bhav.csv.zip
cm17JAN2003bhav.csv.zip
cm20JAN2003bhav.csv.zip
cm21JAN2003bhav.csv.zip
cm22JAN2003bhav.csv.zip
cm23JAN2003bhav.csv.zip
cm24JAN2003bhav.csv.zip
cm27JAN2003bhav.csv.zip
cm28JAN2003bhav.csv.zip
cm29JAN2003bhav.csv.zip
cm30JAN2003bhav.csv.zip
cm31JAN2003bhav.csv.zip
cm03FEB2003bhav.csv.zip
cm04FEB2003bhav.csv.zip
cm05FEB2003bhav.csv.zip
cm06FEB2003bhav.csv.zip
cm07FEB2003bhav.csv.zip
cm10FEB2003bhav.csv.zip
cm11FEB2003bhav.csv.zip
cm12FEB2003bhav.csv.zip
cm14FEB2003bhav.csv.zip
cm17FEB2003bhav.csv.zip
cm18FEB2003bhav.csv.zip
cm19FEB2003bhav.csv.zip
cm20FEB2003bhav.csv.zip
cm21FEB2003bhav.csv.zip
cm24FEB2003bhav.csv.zip
cm25FEB2003bhav.csv.zip
cm26FEB2003bhav.csv.zip
cm27FEB2003bhav.csv.zip
cm28FEB2003bhav.csv.zip
cm03MAR2003bhav.csv.zip
cm05MAR2003bhav.csv.zip
cm06MAR2003bhav.csv.zip
cm07MAR2003bhav.csv.zip
cm10MAR2003bhav.csv.zip
cm11MAR2003bhav.csv.zip
cm12MAR2003bhav.csv.zip
cm13MAR2003bhav.csv.zip
cm17MAR2003bhav.csv.zip
cm19MAR2003bhav.csv.zip
cm20MAR2003bhav.csv.zip
cm21MAR2003bhav.csv.zip
cm22MAR2003bhav.csv.zip
cm24MAR2003bhav.csv.zip
cm25MAR2003bhav.csv.zip
cm26MAR2003bhav.csv.zip
cm27MAR2003bhav.csv.zip
cm28MAR2003bhav.csv.zip
cm31MAR2003bhav.csv.zip
cm01APR2003bhav.csv.zip
cm02APR2003bhav.csv.zip
cm03APR2003bhav.csv.zip
cm04APR2003bhav.csv.zip
cm07APR2003bhav.csv.zip
cm09APR2003bhav.csv.zip
cm10APR2003bhav.csv.zip
cm11APR2003bhav.csv.zip
cm15APR2003bhav.csv.zip
cm16APR2003bhav.csv.zip
cm17APR2003bhav.csv.zip
cm21APR2003bhav.csv.zip
cm22APR2003bhav.csv.zip
cm23APR2003bhav.csv.zip
cm24APR2003bhav.csv.zip
cm25APR2003bhav.csv.zip
cm28APR2003bhav.csv.zip
cm29APR2003bhav.csv.zip
cm30APR2003bhav.csv.zip
cm02MAY2003bhav.csv.zip
cm05MAY2003bhav.csv.zip
cm06MAY2003bhav.csv.zip
cm07MAY2003bhav.csv.zip
cm08MAY2003bhav.csv.zip
cm09MAY2003bhav.csv.zip
cm12MAY2003bhav.csv.zip
cm13MAY2003bhav.csv.zip
cm14MAY2003bhav.csv.zip
cm15MAY2003bhav.csv.zip
cm16MAY2003bhav.csv.zip
cm19MAY2003bhav.csv.zip
cm20MAY2003bhav.csv.zip
cm21MAY2003bhav.csv.zip
cm22MAY2003bhav.csv.zip
cm23MAY2003bhav.csv.zip
cm26MAY2003bhav.csv.zip
cm27MAY2003bhav.csv.zip
cm28MAY2003bhav.csv.zip
cm29MAY2003bhav.csv.zip
cm30MAY2003bhav.csv.zip
cm02JUN2003bhav.csv.zip
cm03JUN2003bhav.csv.zip
cm04JUN2003bhav.csv.zip
cm05JUN2003bhav.csv.zip
cm06JUN2003bhav.csv.zip
cm09JUN2003bhav.csv.zip
cm10JUN2003bhav.csv.zip
cm11JUN2003bhav.csv.zip
cm12JUN2003bhav.csv.zip
cm13JUN2003bhav.csv.zip
cm16JUN2003bhav.csv.zip
cm17JUN2003bhav.csv.zip
cm18JUN2003bhav.csv.zip
cm19JUN2003bhav.csv.zip
cm20JUN2003bhav.csv.zip
cm23JUN2003bhav.csv.zip
cm24JUN2003bhav.csv.zip
cm25JUN2003bhav.csv.zip
cm26JUN2003bhav.csv.zip
cm27JUN2003bhav.csv.zip
cm30JUN2003bhav.csv.zip
cm01JUL2003bhav.csv.zip
cm02JUL2003bhav.csv.zip
cm03JUL2003bhav.csv.zip
cm04JUL2003bhav.csv.zip
cm07JUL2003bhav.csv.zip
cm08JUL2003bhav.csv.zip
cm09JUL2003bhav.csv.zip
cm10JUL2003bhav.csv.zip
cm11JUL2003bhav.csv.zip
cm14JUL2003bhav.csv.zip
cm15JUL2003bhav.csv.zip
cm16JUL2003bhav.csv.zip
cm17JUL2003bhav.csv.zip
cm18JUL2003bhav.csv.zip
cm21JUL2003bhav.csv.zip
cm22JUL2003bhav.csv.zip
cm23JUL2003bhav.csv.zip
cm24JUL2003bhav.csv.zip
cm25JUL2003bhav.csv.zip
cm28JUL2003bhav.csv.zip
cm29JUL2003bhav.csv.zip
cm30JUL2003bhav.csv.zip

cm31JUL2003bhav.csv.zip
cm01AUG2003bhav.csv.zip
cm04AUG2003bhav.csv.zip
cm05AUG2003bhav.csv.zip
cm06AUG2003bhav.csv.zip
cm07AUG2003bhav.csv.zip
cm08AUG2003bhav.csv.zip
cm11AUG2003bhav.csv.zip
cm12AUG2003bhav.csv.zip
cm13AUG2003bhav.csv.zip
cm14AUG2003bhav.csv.zip
cm18AUG2003bhav.csv.zip
cm19AUG2003bhav.csv.zip
cm20AUG2003bhav.csv.zip
cm21AUG2003bhav.csv.zip
cm22AUG2003bhav.csv.zip
cm25AUG2003bhav.csv.zip
cm26AUG2003bhav.csv.zip
cm27AUG2003bhav.csv.zip
cm28AUG2003bhav.csv.zip
cm29AUG2003bhav.csv.zip
cm01SEP2003bhav.csv.zip
cm02SEP2003bhav.csv.zip
cm03SEP2003bhav.csv.zip
cm04SEP2003bhav.csv.zip
cm05SEP2003bhav.csv.zip
cm08SEP2003bhav.csv.zip
cm09SEP2003bhav.csv.zip
cm10SEP2003bhav.csv.zip
cm11SEP2003bhav.csv.zip
cm12SEP2003bhav.csv.zip
cm15SEP2003bhav.csv.zip
cm16SEP2003bhav.csv.zip
cm17SEP2003bhav.csv.zip
cm18SEP2003bhav.csv.zip
cm19SEP2003bhav.csv.zip
cm22SEP2003bhav.csv.zip
cm23SEP2003bhav.csv.zip
cm24SEP2003bhav.csv.zip
cm25SEP2003bhav.csv.zip
cm26SEP2003bhav.csv.zip
cm29SEP2003bhav.csv.zip
cm30SEP2003bhav.csv.zip
cm01OCT2003bhav.csv.zip
cm03OCT2003bhav.csv.zip
cm06OCT2003bhav.csv.zip
cm07OCT2003bhav.csv.zip
cm08OCT2003bhav.csv.zip
cm09OCT2003bhav.csv.zip
cm10OCT2003bhav.csv.zip
cm13OCT2003bhav.csv.zip
cm14OCT2003bhav.csv.zip
cm15OCT2003bhav.csv.zip
cm16OCT2003bhav.csv.zip
cm17OCT2003bhav.csv.zip
cm20OCT2003bhav.csv.zip
cm22OCT2003bhav.csv.zip
cm23OCT2003bhav.csv.zip
cm24OCT2003bhav.csv.zip
cm25OCT2003bhav.csv.zip
cm27OCT2003bhav.csv.zip
cm28OCT2003bhav.csv.zip
cm29OCT2003bhav.csv.zip
cm30OCT2003bhav.csv.zip
cm31OCT2003bhav.csv.zip
cm03NOV2003bhav.csv.zip
cm04NOV2003bhav.csv.zip
cm05NOV2003bhav.csv.zip
cm06NOV2003bhav.csv.zip
cm07NOV2003bhav.csv.zip
cm10NOV2003bhav.csv.zip
cm11NOV2003bhav.csv.zip
cm12NOV2003bhav.csv.zip
cm13NOV2003bhav.csv.zip
cm14NOV2003bhav.csv.zip
cm15NOV2003bhav.csv.zip
cm17NOV2003bhav.csv.zip
cm18NOV2003bhav.csv.zip
cm19NOV2003bhav.csv.zip
cm20NOV2003bhav.csv.zip
cm21NOV2003bhav.csv.zip
cm24NOV2003bhav.csv.zip
cm25NOV2003bhav.csv.zip
cm27NOV2003bhav.csv.zip
cm28NOV2003bhav.csv.zip
cm01DEC2003bhav.csv.zip
cm02DEC2003bhav.csv.zip
cm03DEC2003bhav.csv.zip
cm04DEC2003bhav.csv.zip
cm05DEC2003bhav.csv.zip
cm08DEC2003bhav.csv.zip
cm09DEC2003bhav.csv.zip
cm10DEC2003bhav.csv.zip
cm11DEC2003bhav.csv.zip
cm12DEC2003bhav.csv.zip
cm15DEC2003bhav.csv.zip
cm16DEC2003bhav.csv.zip
cm17DEC2003bhav.csv.zip
cm18DEC2003bhav.csv.zip
cm19DEC2003bhav.csv.zip
cm22DEC2003bhav.csv.zip
cm23DEC2003bhav.csv.zip
cm24DEC2003bhav.csv.zip
cm26DEC2003bhav.csv.zip
cm29DEC2003bhav.csv.zip
cm30DEC2003bhav.csv.zip
cm31DEC2003bhav.csv.zip
cm01JAN2004bhav.csv.zip
cm02JAN2004bhav.csv.zip
cm05JAN2004bhav.csv.zip
cm06JAN2004bhav.csv.zip
cm07JAN2004bhav.csv.zip
cm08JAN2004bhav.csv.zip
cm09JAN2004bhav.csv.zip
cm12JAN2004bhav.csv.zip
cm13JAN2004bhav.csv.zip
cm14JAN2004bhav.csv.zip
cm15JAN2004bhav.csv.zip
cm16JAN2004bhav.csv.zip
cm19JAN2004bhav.csv.zip
cm20JAN2004bhav.csv.zip
cm21JAN2004bhav.csv.zip
cm22JAN2004bhav.csv.zip
cm23JAN2004bhav.csv.zip
cm27JAN2004bhav.csv.zip
cm28JAN2004bhav.csv.zip
cm29JAN2004bhav.csv.zip
cm30JAN2004bhav.csv.zip
cm03FEB2004bhav.csv.zip
cm04FEB2004bhav.csv.zip
cm05FEB2004bhav.csv.zip
cm06FEB2004bhav.csv.zip
cm09FEB2004bhav.csv.zip
cm10FEB2004bhav.csv.zip
cm11FEB2004bhav.csv.zip
cm12FEB2004bhav.csv.zip
cm13FEB2004bhav.csv.zip
cm16FEB2004bhav.csv.zip
cm17FEB2004bhav.csv.zip
cm18FEB2004bhav.csv.zip
cm19FEB2004bhav.csv.zip
cm20FEB2004bhav.csv.zip
cm23FEB2004bhav.csv.zip
cm24FEB2004bhav.csv.zip
cm25FEB2004bhav.csv.zip
cm26FEB2004bhav.csv.zip
cm27FEB2004bhav.csv.zip
cm01MAR2004bhav.csv.zip
cm03MAR2004bhav.csv.zip
cm04MAR2004bhav.csv.zip
cm05MAR2004bhav.csv.zip
cm08MAR2004bhav.csv.zip
cm09MAR2004bhav.csv.zip
cm10MAR2004bhav.csv.zip
cm11MAR2004bhav.csv.zip
cm12MAR2004bhav.csv.zip
cm15MAR2004bhav.csv.zip
cm16MAR2004bhav.csv.zip
cm17MAR2004bhav.csv.zip
cm18MAR2004bhav.csv.zip
cm19MAR2004bhav.csv.zip
cm22MAR2004bhav.csv.zip
cm23MAR2004bhav.csv.zip
cm24MAR2004bhav.csv.zip
cm25MAR2004bhav.csv.zip
cm26MAR2004bhav.csv.zip
cm29MAR2004bhav.csv.zip
cm30MAR2004bhav.csv.zip
cm31MAR2004bhav.csv.zip
cm01APR2004bhav.csv.zip
cm02APR2004bhav.csv.zip
cm05APR2004bhav.csv.zip
cm06APR2004bhav.csv.zip
cm07APR2004bhav.csv.zip
cm08APR2004bhav.csv.zip
cm12APR2004bhav.csv.zip
cm13APR2004bhav.csv.zip
cm15APR2004bhav.csv.zip
cm16APR2004bhav.csv.zip
cm17APR2004bhav.csv.zip
cm19APR2004bhav.csv.zip
cm20APR2004bhav.csv.zip
cm21APR2004bhav.csv.zip
cm22APR2004bhav.csv.zip
cm23APR2004bhav.csv.zip
cm27APR2004bhav.csv.zip
cm28APR2004bhav.csv.zip
cm29APR2004bhav.csv.zip
cm30APR2004bhav.csv.zip
cm03MAY2004bhav.csv.zip
cm04MAY2004bhav.csv.zip
cm05MAY2004bhav.csv.zip
cm06MAY2004bhav.csv.zip
cm07MAY2004bhav.csv.zip
cm10MAY2004bhav.csv.zip
cm11MAY2004bhav.csv.zip
cm12MAY2004bhav.csv.zip
cm13MAY2004bhav.csv.zip
cm14MAY2004bhav.csv.zip
cm17MAY2004bhav.csv.zip
cm18MAY2004bhav.csv.zip
cm19MAY2004bhav.csv.zip
cm20MAY2004bhav.csv.zip
cm21MAY2004bhav.csv.zip
cm24MAY2004bhav.csv.zip
cm25MAY2004bhav.csv.zip
cm26MAY2004bhav.csv.zip
cm27MAY2004bhav.csv.zip
cm28MAY2004bhav.csv.zip
cm31MAY2004bhav.csv.zip
cm01JUN2004bhav.csv.zip
cm02JUN2004bhav.csv.zip
cm03JUN2004bhav.csv.zip
cm04JUN2004bhav.csv.zip
cm07JUN2004bhav.csv.zip
cm08JUN2004bhav.csv.zip
cm09JUN2004bhav.csv.zip
cm10JUN2004bhav.csv.zip
cm11JUN2004bhav.csv.zip
cm14JUN2004bhav.csv.zip
cm15JUN2004bhav.csv.zip
cm16JUN2004bhav.csv.zip
cm17JUN2004bhav.csv.zip
cm18JUN2004bhav.csv.zip
cm21JUN2004bhav.csv.zip
cm22JUN2004bhav.csv.zip
cm23JUN2004bhav.csv.zip
cm24JUN2004bhav.csv.zip
cm25JUN2004bhav.csv.zip
cm28JUN2004bhav.csv.zip
cm29JUN2004bhav.csv.zip
cm30JUN2004bhav.csv.zip
cm01JUL2004bhav.csv.zip
cm02JUL2004bhav.csv.zip
cm05JUL2004bhav.csv.zip
cm06JUL2004bhav.csv.zip
cm07JUL2004bhav.csv.zip
cm08JUL2004bhav.csv.zip
cm09JUL2004bhav.csv.zip
cm12JUL2004bhav.csv.zip
cm13JUL2004bhav.csv.zip
cm14JUL2004bhav.csv.zip
cm15JUL2004bhav.csv.zip
cm16JUL2004bhav.csv.zip
cm19JUL2004bhav.csv.zip
cm20JUL2004bhav.csv.zip
cm21JUL2004bhav.csv.zip
cm22JUL2004bhav.csv.zip
cm23JUL2004bhav.csv.zip
cm26JUL2004bhav.csv.zip
cm27JUL2004bhav.csv.zip
cm28JUL2004bhav.csv.zip
cm29JUL2004bhav.csv.zip
cm30JUL2004bhav.csv.zip
cm02AUG2004bhav.csv.zip
cm03AUG2004bhav.csv.zip
cm04AUG2004bhav.csv.zip
cm05AUG2004bhav.csv.zip
cm06AUG2004bhav.csv.zip
cm09AUG2004bhav.csv.zip
cm10AUG2004bhav.csv.zip
cm11AUG2004bhav.csv.zip
cm12AUG2004bhav.csv.zip
cm13AUG2004bhav.csv.zip
cm17AUG2004bhav.csv.zip
cm18AUG2004bhav.csv.zip
cm19AUG2004bhav.csv.zip
cm20AUG2004bhav.csv.zip
cm23AUG2004bhav.csv.zip
cm24AUG2004bhav.csv.zip
cm25AUG2004bhav.csv.zip
cm26AUG2004bhav.csv.zip
cm27AUG2004bhav.csv.zip
cm30AUG2004bhav.csv.zip
cm31AUG2004bhav.csv.zip
cm01SEP2004bhav.csv.zip
cm02SEP2004bhav.csv.zip
cm03SEP2004bhav.csv.zip
cm06SEP2004bhav.csv.zip
cm07SEP2004bhav.csv.zip
cm08SEP2004bhav.csv.zip
cm09SEP2004bhav.csv.zip
cm10SEP2004bhav.csv.zip
cm13SEP2004bhav.csv.zip
cm14SEP2004bhav.csv.zip
cm15SEP2004bhav.csv.zip
cm16SEP2004bhav.csv.zip
cm17SEP2004bhav.csv.zip
cm20SEP2004bhav.csv.zip
cm21SEP2004bhav.csv.zip
cm22SEP2004bhav.csv.zip
cm23SEP2004bhav.csv.zip
cm24SEP2004bhav.csv.zip
cm27SEP2004bhav.csv.zip
cm28SEP2004bhav.csv.zip
cm29SEP2004bhav.csv.zip
cm30SEP2004bhav.csv.zip
cm01OCT2004bhav.csv.zip
cm04OCT2004bhav.csv.zip
cm05OCT2004bhav.csv.zip
cm06OCT2004bhav.csv.zip
cm07OCT2004bhav.csv.zip
cm09OCT2004bhav.csv.zip
cm11OCT2004bhav.csv.zip
cm14OCT2004bhav.csv.zip
cm15OCT2004bhav.csv.zip
cm18OCT2004bhav.csv.zip
cm19OCT2004bhav.csv.zip
cm20OCT2004bhav.csv.zip
cm21OCT2004bhav.csv.zip
cm25OCT2004bhav.csv.zip
cm26OCT2004bhav.csv.zip
cm27OCT2004bhav.csv.zip
cm28OCT2004bhav.csv.zip
cm29OCT2004bhav.csv.zip
cm01NOV2004bhav.csv.zip
cm03NOV2004bhav.csv.zip
cm04NOV2004bhav.csv.zip
cm05NOV2004bhav.csv.zip
cm08NOV2004bhav.csv.zip
cm09NOV2004bhav.csv.zip
cm10NOV2004bhav.csv.zip
cm11NOV2004bhav.csv.zip
cm12NOV2004bhav.csv.zip
cm16NOV2004bhav.csv.zip
cm17NOV2004bhav.csv.zip
cm18NOV2004bhav.csv.zip
cm19NOV2004bhav.csv.zip
cm22NOV2004bhav.csv.zip
cm23NOV2004bhav.csv.zip
cm24NOV2004bhav.csv.zip
cm25NOV2004bhav.csv.zip
cm29NOV2004bhav.csv.zip
cm30NOV2004bhav.csv.zip
cm01DEC2004bhav.csv.zip
cm02DEC2004bhav.csv.zip
cm03DEC2004bhav.csv.zip
cm06DEC2004bhav.csv.zip
cm07DEC2004bhav.csv.zip
cm08DEC2004bhav.csv.zip
cm09DEC2004bhav.csv.zip
cm10DEC2004bhav.csv.zip
cm13DEC2004bhav.csv.zip
cm14DEC2004bhav.csv.zip
cm15DEC2004bhav.csv.zip
cm16DEC2004bhav.csv.zip
cm17DEC2004bhav.csv.zip
cm20DEC2004bhav.csv.zip
cm21DEC2004bhav.csv.zip
cm22DEC2004bhav.csv.zip
cm23DEC2004bhav.csv.zip
cm24DEC2004bhav.csv.zip
cm27DEC2004bhav.csv.zip
cm28DEC2004bhav.csv.zip
cm29DEC2004bhav.csv.zip
cm30DEC2004bhav.csv.zip
cm31DEC2004bhav.csv.zip
cm03JAN2005bhav.csv.zip
cm04JAN2005bhav.csv.zip
cm05JAN2005bhav.csv.zip
cm06JAN2005bhav.csv.zip
cm07JAN2005bhav.csv.zip
cm10JAN2005bhav.csv.zip
cm11JAN2005bhav.csv.zip
cm12JAN2005bhav.csv.zip
cm13JAN2005bhav.csv.zip
cm14JAN2005bhav.csv.zip
cm17JAN2005bhav.csv.zip
cm18JAN2005bhav.csv.zip
cm19JAN2005bhav.csv.zip
cm20JAN2005bhav.csv.zip
cm24JAN2005bhav.csv.zip

cm25JAN2005bhav.csv.zip
cm27JAN2005bhav.csv.zip
cm28JAN2005bhav.csv.zip
cm31JAN2005bhav.csv.zip
cm01FEB2005bhav.csv.zip
cm02FEB2005bhav.csv.zip
cm03FEB2005bhav.csv.zip
cm04FEB2005bhav.csv.zip
cm07FEB2005bhav.csv.zip
cm08FEB2005bhav.csv.zip
cm09FEB2005bhav.csv.zip
cm10FEB2005bhav.csv.zip
cm11FEB2005bhav.csv.zip
cm14FEB2005bhav.csv.zip
cm15FEB2005bhav.csv.zip
cm16FEB2005bhav.csv.zip
cm17FEB2005bhav.csv.zip
cm18FEB2005bhav.csv.zip
cm21FEB2005bhav.csv.zip
cm22FEB2005bhav.csv.zip
cm23FEB2005bhav.csv.zip
cm24FEB2005bhav.csv.zip
cm25FEB2005bhav.csv.zip
cm28FEB2005bhav.csv.zip
cm01MAR2005bhav.csv.zip
cm02MAR2005bhav.csv.zip
cm03MAR2005bhav.csv.zip
cm04MAR2005bhav.csv.zip
cm07MAR2005bhav.csv.zip
cm08MAR2005bhav.csv.zip
cm09MAR2005bhav.csv.zip
cm10MAR2005bhav.csv.zip
cm11MAR2005bhav.csv.zip
cm14MAR2005bhav.csv.zip
cm15MAR2005bhav.csv.zip
cm16MAR2005bhav.csv.zip
cm17MAR2005bhav.csv.zip
cm18MAR2005bhav.csv.zip
cm21MAR2005bhav.csv.zip
cm22MAR2005bhav.csv.zip
cm23MAR2005bhav.csv.zip
cm24MAR2005bhav.csv.zip
cm28MAR2005bhav.csv.zip
cm29MAR2005bhav.csv.zip
cm30MAR2005bhav.csv.zip
cm31MAR2005bhav.csv.zip
cm01APR2005bhav.csv.zip
cm04APR2005bhav.csv.zip
cm05APR2005bhav.csv.zip
cm06APR2005bhav.csv.zip
cm07APR2005bhav.csv.zip
cm08APR2005bhav.csv.zip
cm11APR2005bhav.csv.zip
cm12APR2005bhav.csv.zip
cm13APR2005bhav.csv.zip
cm15APR2005bhav.csv.zip
cm18APR2005bhav.csv.zip
cm19APR2005bhav.csv.zip
cm20APR2005bhav.csv.zip
cm21APR2005bhav.csv.zip
cm22APR2005bhav.csv.zip
cm25APR2005bhav.csv.zip
cm26APR2005bhav.csv.zip
cm27APR2005bhav.csv.zip
cm28APR2005bhav.csv.zip
cm29APR2005bhav.csv.zip
cm02MAY2005bhav.csv.zip
cm03MAY2005bhav.csv.zip
cm04MAY2005bhav.csv.zip
cm05MAY2005bhav.csv.zip
cm06MAY2005bhav.csv.zip
cm09MAY2005bhav.csv.zip
cm10MAY2005bhav.csv.zip
cm11MAY2005bhav.csv.zip
cm12MAY2005bhav.csv.zip
cm13MAY2005bhav.csv.zip
cm16MAY2005bhav.csv.zip
cm17MAY2005bhav.csv.zip
cm18MAY2005bhav.csv.zip
cm19MAY2005bhav.csv.zip
cm20MAY2005bhav.csv.zip
cm23MAY2005bhav.csv.zip
cm24MAY2005bhav.csv.zip
cm25MAY2005bhav.csv.zip
cm26MAY2005bhav.csv.zip
cm27MAY2005bhav.csv.zip
cm30MAY2005bhav.csv.zip
cm31MAY2005bhav.csv.zip
cm01JUN2005bhav.csv.zip
cm02JUN2005bhav.csv.zip
cm03JUN2005bhav.csv.zip
cm04JUN2005bhav.csv.zip
cm06JUN2005bhav.csv.zip
cm07JUN2005bhav.csv.zip
cm08JUN2005bhav.csv.zip
cm09JUN2005bhav.csv.zip
cm10JUN2005bhav.csv.zip
cm13JUN2005bhav.csv.zip
cm14JUN2005bhav.csv.zip
cm15JUN2005bhav.csv.zip
cm16JUN2005bhav.csv.zip
cm17JUN2005bhav.csv.zip
cm20JUN2005bhav.csv.zip
cm21JUN2005bhav.csv.zip
cm22JUN2005bhav.csv.zip
cm23JUN2005bhav.csv.zip
cm24JUN2005bhav.csv.zip
cm27JUN2005bhav.csv.zip
cm28JUN2005bhav.csv.zip
cm29JUN2005bhav.csv.zip
cm30JUN2005bhav.csv.zip
cm01JUL2005bhav.csv.zip
cm04JUL2005bhav.csv.zip
cm05JUL2005bhav.csv.zip
cm06JUL2005bhav.csv.zip
cm07JUL2005bhav.csv.zip
cm08JUL2005bhav.csv.zip
cm11JUL2005bhav.csv.zip
cm12JUL2005bhav.csv.zip
cm13JUL2005bhav.csv.zip
cm14JUL2005bhav.csv.zip
cm15JUL2005bhav.csv.zip
cm18JUL2005bhav.csv.zip
cm19JUL2005bhav.csv.zip
cm20JUL2005bhav.csv.zip
cm21JUL2005bhav.csv.zip
cm22JUL2005bhav.csv.zip
cm25JUL2005bhav.csv.zip
cm26JUL2005bhav.csv.zip
cm27JUL2005bhav.csv.zip
cm29JUL2005bhav.csv.zip
cm01AUG2005bhav.csv.zip
cm02AUG2005bhav.csv.zip
cm03AUG2005bhav.csv.zip
cm04AUG2005bhav.csv.zip
cm05AUG2005bhav.csv.zip
cm08AUG2005bhav.csv.zip
cm09AUG2005bhav.csv.zip
cm10AUG2005bhav.csv.zip
cm11AUG2005bhav.csv.zip
cm12AUG2005bhav.csv.zip
cm16AUG2005bhav.csv.zip
cm17AUG2005bhav.csv.zip
cm18AUG2005bhav.csv.zip
cm19AUG2005bhav.csv.zip
cm22AUG2005bhav.csv.zip
cm23AUG2005bhav.csv.zip
cm24AUG2005bhav.csv.zip
cm25AUG2005bhav.csv.zip
cm26AUG2005bhav.csv.zip
cm29AUG2005bhav.csv.zip
cm30AUG2005bhav.csv.zip
cm31AUG2005bhav.csv.zip
cm01SEP2005bhav.csv.zip
cm02SEP2005bhav.csv.zip
cm05SEP2005bhav.csv.zip
cm06SEP2005bhav.csv.zip
cm08SEP2005bhav.csv.zip
cm09SEP2005bhav.csv.zip
cm12SEP2005bhav.csv.zip
cm13SEP2005bhav.csv.zip
cm14SEP2005bhav.csv.zip
cm15SEP2005bhav.csv.zip
cm16SEP2005bhav.csv.zip
cm19SEP2005bhav.csv.zip
cm20SEP2005bhav.csv.zip
cm21SEP2005bhav.csv.zip
cm22SEP2005bhav.csv.zip
cm23SEP2005bhav.csv.zip
cm26SEP2005bhav.csv.zip
cm27SEP2005bhav.csv.zip
cm28SEP2005bhav.csv.zip
cm29SEP2005bhav.csv.zip
cm30SEP2005bhav.csv.zip
cm03OCT2005bhav.csv.zip
cm04OCT2005bhav.csv.zip
cm05OCT2005bhav.csv.zip
cm06OCT2005bhav.csv.zip
cm07OCT2005bhav.csv.zip
cm10OCT2005bhav.csv.zip
cm11OCT2005bhav.csv.zip
cm13OCT2005bhav.csv.zip
cm17OCT2005bhav.csv.zip
cm18OCT2005bhav.csv.zip
cm19OCT2005bhav.csv.zip
cm20OCT2005bhav.csv.zip
cm21OCT2005bhav.csv.zip
cm24OCT2005bhav.csv.zip
cm25OCT2005bhav.csv.zip
cm26OCT2005bhav.csv.zip
cm27OCT2005bhav.csv.zip
cm28OCT2005bhav.csv.zip
cm31OCT2005bhav.csv.zip
cm01NOV2005bhav.csv.zip
cm02NOV2005bhav.csv.zip
cm07NOV2005bhav.csv.zip
cm08NOV2005bhav.csv.zip
cm09NOV2005bhav.csv.zip
cm10NOV2005bhav.csv.zip
cm11NOV2005bhav.csv.zip
cm14NOV2005bhav.csv.zip
cm16NOV2005bhav.csv.zip
cm17NOV2005bhav.csv.zip
cm18NOV2005bhav.csv.zip
cm21NOV2005bhav.csv.zip
cm22NOV2005bhav.csv.zip
cm23NOV2005bhav.csv.zip
cm24NOV2005bhav.csv.zip
cm25NOV2005bhav.csv.zip
cm26NOV2005bhav.csv.zip
cm28NOV2005bhav.csv.zip
cm29NOV2005bhav.csv.zip
cm30NOV2005bhav.csv.zip
cm01DEC2005bhav.csv.zip
cm02DEC2005bhav.csv.zip
cm05DEC2005bhav.csv.zip
cm06DEC2005bhav.csv.zip
cm07DEC2005bhav.csv.zip
cm08DEC2005bhav.csv.zip
cm09DEC2005bhav.csv.zip
cm12DEC2005bhav.csv.zip
cm13DEC2005bhav.csv.zip
cm14DEC2005bhav.csv.zip
cm15DEC2005bhav.csv.zip
cm16DEC2005bhav.csv.zip
cm19DEC2005bhav.csv.zip
cm20DEC2005bhav.csv.zip
cm21DEC2005bhav.csv.zip
cm22DEC2005bhav.csv.zip
cm23DEC2005bhav.csv.zip
cm26DEC2005bhav.csv.zip
cm27DEC2005bhav.csv.zip
cm28DEC2005bhav.csv.zip
cm29DEC2005bhav.csv.zip
cm30DEC2005bhav.csv.zip
cm02JAN2006bhav.csv.zip
cm03JAN2006bhav.csv.zip
cm04JAN2006bhav.csv.zip
cm05JAN2006bhav.csv.zip
cm06JAN2006bhav.csv.zip
cm09JAN2006bhav.csv.zip
cm10JAN2006bhav.csv.zip
cm12JAN2006bhav.csv.zip
cm13JAN2006bhav.csv.zip
cm16JAN2006bhav.csv.zip
cm17JAN2006bhav.csv.zip
cm18JAN2006bhav.csv.zip
cm19JAN2006bhav.csv.zip
cm20JAN2006bhav.csv.zip
cm23JAN2006bhav.csv.zip
cm24JAN2006bhav.csv.zip
cm25JAN2006bhav.csv.zip
cm27JAN2006bhav.csv.zip
cm30JAN2006bhav.csv.zip
cm31JAN2006bhav.csv.zip
cm01FEB2006bhav.csv.zip
cm02FEB2006bhav.csv.zip
cm03FEB2006bhav.csv.zip
cm06FEB2006bhav.csv.zip
cm07FEB2006bhav.csv.zip
cm08FEB2006bhav.csv.zip
cm10FEB2006bhav.csv.zip
cm13FEB2006bhav.csv.zip
cm14FEB2006bhav.csv.zip
cm15FEB2006bhav.csv.zip
cm16FEB2006bhav.csv.zip
cm17FEB2006bhav.csv.zip
cm20FEB2006bhav.csv.zip
cm21FEB2006bhav.csv.zip
cm22FEB2006bhav.csv.zip
cm23FEB2006bhav.csv.zip
cm24FEB2006bhav.csv.zip
cm27FEB2006bhav.csv.zip
cm28FEB2006bhav.csv.zip
cm01MAR2006bhav.csv.zip
cm02MAR2006bhav.csv.zip
cm03MAR2006bhav.csv.zip
cm06MAR2006bhav.csv.zip
cm07MAR2006bhav.csv.zip
cm08MAR2006bhav.csv.zip
cm09MAR2006bhav.csv.zip
cm10MAR2006bhav.csv.zip
cm13MAR2006bhav.csv.zip
cm14MAR2006bhav.csv.zip
cm16MAR2006bhav.csv.zip
cm17MAR2006bhav.csv.zip
cm20MAR2006bhav.csv.zip
cm21MAR2006bhav.csv.zip
cm22MAR2006bhav.csv.zip
cm23MAR2006bhav.csv.zip
cm24MAR2006bhav.csv.zip
cm27MAR2006bhav.csv.zip
cm28MAR2006bhav.csv.zip
cm29MAR2006bhav.csv.zip
cm30MAR2006bhav.csv.zip
cm31MAR2006bhav.csv.zip
cm03APR2006bhav.csv.zip
cm04APR2006bhav.csv.zip
cm05APR2006bhav.csv.zip
cm07APR2006bhav.csv.zip
cm10APR2006bhav.csv.zip
cm12APR2006bhav.csv.zip
cm13APR2006bhav.csv.zip
cm17APR2006bhav.csv.zip
cm18APR2006bhav.csv.zip
cm19APR2006bhav.csv.zip
cm20APR2006bhav.csv.zip
cm21APR2006bhav.csv.zip
cm24APR2006bhav.csv.zip
cm25APR2006bhav.csv.zip
cm26APR2006bhav.csv.zip
cm27APR2006bhav.csv.zip
cm28APR2006bhav.csv.zip
cm29APR2006bhav.csv.zip
cm02MAY2006bhav.csv.zip
cm03MAY2006bhav.csv.zip
cm04MAY2006bhav.csv.zip
cm05MAY2006bhav.csv.zip
cm08MAY2006bhav.csv.zip
cm09MAY2006bhav.csv.zip
cm10MAY2006bhav.csv.zip
cm11MAY2006bhav.csv.zip
cm12MAY2006bhav.csv.zip
cm15MAY2006bhav.csv.zip
cm16MAY2006bhav.csv.zip
cm17MAY2006bhav.csv.zip
cm18MAY2006bhav.csv.zip
cm19MAY2006bhav.csv.zip
cm22MAY2006bhav.csv.zip
cm23MAY2006bhav.csv.zip
cm24MAY2006bhav.csv.zip
cm25MAY2006bhav.csv.zip
cm26MAY2006bhav.csv.zip
cm29MAY2006bhav.csv.zip
cm30MAY2006bhav.csv.zip
cm31MAY2006bhav.csv.zip
cm01JUN2006bhav.csv.zip
cm02JUN2006bhav.csv.zip
cm05JUN2006bhav.csv.zip
cm06JUN2006bhav.csv.zip
cm07JUN2006bhav.csv.zip
cm08JUN2006bhav.csv.zip
cm09JUN2006bhav.csv.zip
cm12JUN2006bhav.csv.zip
cm13JUN2006bhav.csv.zip

cm14JUN2006bhav.csv.zip
cm15JUN2006bhav.csv.zip
cm16JUN2006bhav.csv.zip
cm19JUN2006bhav.csv.zip
cm20JUN2006bhav.csv.zip
cm22JUN2006bhav.csv.zip
cm23JUN2006bhav.csv.zip
cm26JUN2006bhav.csv.zip
cm27JUN2006bhav.csv.zip
cm28JUN2006bhav.csv.zip
cm29JUN2006bhav.csv.zip
cm30JUN2006bhav.csv.zip
cm03JUL2006bhav.csv.zip
cm04JUL2006bhav.csv.zip
cm05JUL2006bhav.csv.zip
cm06JUL2006bhav.csv.zip
cm07JUL2006bhav.csv.zip
cm10JUL2006bhav.csv.zip
cm11JUL2006bhav.csv.zip
cm12JUL2006bhav.csv.zip
cm13JUL2006bhav.csv.zip
cm14JUL2006bhav.csv.zip
cm17JUL2006bhav.csv.zip
cm18JUL2006bhav.csv.zip
cm19JUL2006bhav.csv.zip
cm20JUL2006bhav.csv.zip
cm24JUL2006bhav.csv.zip
cm25JUL2006bhav.csv.zip
cm26JUL2006bhav.csv.zip
cm27JUL2006bhav.csv.zip
cm28JUL2006bhav.csv.zip
cm31JUL2006bhav.csv.zip
cm01AUG2006bhav.csv.zip
cm02AUG2006bhav.csv.zip
cm03AUG2006bhav.csv.zip
cm04AUG2006bhav.csv.zip
cm07AUG2006bhav.csv.zip
cm08AUG2006bhav.csv.zip
cm09AUG2006bhav.csv.zip
cm10AUG2006bhav.csv.zip
cm11AUG2006bhav.csv.zip
cm14AUG2006bhav.csv.zip
cm16AUG2006bhav.csv.zip
cm17AUG2006bhav.csv.zip
cm18AUG2006bhav.csv.zip
cm21AUG2006bhav.csv.zip
cm22AUG2006bhav.csv.zip
cm23AUG2006bhav.csv.zip
cm24AUG2006bhav.csv.zip
cm25AUG2006bhav.csv.zip
cm28AUG2006bhav.csv.zip
cm29AUG2006bhav.csv.zip
cm30AUG2006bhav.csv.zip
cm31AUG2006bhav.csv.zip
cm01SEP2006bhav.csv.zip
cm04SEP2006bhav.csv.zip
cm05SEP2006bhav.csv.zip
cm06SEP2006bhav.csv.zip
cm07SEP2006bhav.csv.zip
cm08SEP2006bhav.csv.zip
cm11SEP2006bhav.csv.zip
cm12SEP2006bhav.csv.zip
cm13SEP2006bhav.csv.zip
cm14SEP2006bhav.csv.zip
cm15SEP2006bhav.csv.zip
cm18SEP2006bhav.csv.zip
cm19SEP2006bhav.csv.zip
cm20SEP2006bhav.csv.zip
cm21SEP2006bhav.csv.zip
cm22SEP2006bhav.csv.zip
cm25SEP2006bhav.csv.zip
cm26SEP2006bhav.csv.zip
cm27SEP2006bhav.csv.zip
cm28SEP2006bhav.csv.zip
cm29SEP2006bhav.csv.zip
cm03OCT2006bhav.csv.zip
cm04OCT2006bhav.csv.zip
cm05OCT2006bhav.csv.zip
cm06OCT2006bhav.csv.zip
cm09OCT2006bhav.csv.zip
cm10OCT2006bhav.csv.zip
cm11OCT2006bhav.csv.zip
cm12OCT2006bhav.csv.zip
cm13OCT2006bhav.csv.zip
cm16OCT2006bhav.csv.zip
cm17OCT2006bhav.csv.zip
cm18OCT2006bhav.csv.zip
cm19OCT2006bhav.csv.zip
cm20OCT2006bhav.csv.zip
cm21OCT2006bhav.csv.zip
cm23OCT2006bhav.csv.zip
cm26OCT2006bhav.csv.zip
cm27OCT2006bhav.csv.zip
cm30OCT2006bhav.csv.zip
cm31OCT2006bhav.csv.zip
cm01NOV2006bhav.csv.zip
cm02NOV2006bhav.csv.zip
cm03NOV2006bhav.csv.zip
cm06NOV2006bhav.csv.zip
cm07NOV2006bhav.csv.zip
cm08NOV2006bhav.csv.zip
cm09NOV2006bhav.csv.zip
cm10NOV2006bhav.csv.zip
cm13NOV2006bhav.csv.zip
cm14NOV2006bhav.csv.zip
cm15NOV2006bhav.csv.zip
cm16NOV2006bhav.csv.zip
cm17NOV2006bhav.csv.zip
cm20NOV2006bhav.csv.zip
cm21NOV2006bhav.csv.zip
cm22NOV2006bhav.csv.zip
cm23NOV2006bhav.csv.zip
cm24NOV2006bhav.csv.zip
cm27NOV2006bhav.csv.zip
cm28NOV2006bhav.csv.zip
cm29NOV2006bhav.csv.zip
cm30NOV2006bhav.csv.zip
cm01DEC2006bhav.csv.zip
cm04DEC2006bhav.csv.zip
cm05DEC2006bhav.csv.zip
cm06DEC2006bhav.csv.zip
cm07DEC2006bhav.csv.zip
cm08DEC2006bhav.csv.zip
cm11DEC2006bhav.csv.zip
cm12DEC2006bhav.csv.zip
cm13DEC2006bhav.csv.zip
cm14DEC2006bhav.csv.zip
cm15DEC2006bhav.csv.zip
cm18DEC2006bhav.csv.zip
cm19DEC2006bhav.csv.zip
cm20DEC2006bhav.csv.zip
cm21DEC2006bhav.csv.zip
cm22DEC2006bhav.csv.zip
cm26DEC2006bhav.csv.zip
cm27DEC2006bhav.csv.zip
cm28DEC2006bhav.csv.zip
cm29DEC2006bhav.csv.zip
cm02JAN2007bhav.csv.zip
cm03JAN2007bhav.csv.zip
cm04JAN2007bhav.csv.zip
cm05JAN2007bhav.csv.zip
cm08JAN2007bhav.csv.zip
cm09JAN2007bhav.csv.zip
cm10JAN2007bhav.csv.zip
cm11JAN2007bhav.csv.zip
cm12JAN2007bhav.csv.zip
cm15JAN2007bhav.csv.zip
cm16JAN2007bhav.csv.zip
cm17JAN2007bhav.csv.zip
cm18JAN2007bhav.csv.zip
cm19JAN2007bhav.csv.zip
cm22JAN2007bhav.csv.zip
cm23JAN2007bhav.csv.zip
cm24JAN2007bhav.csv.zip
cm25JAN2007bhav.csv.zip
cm29JAN2007bhav.csv.zip
cm31JAN2007bhav.csv.zip
cm01FEB2007bhav.csv.zip
cm02FEB2007bhav.csv.zip
cm05FEB2007bhav.csv.zip
cm06FEB2007bhav.csv.zip
cm07FEB2007bhav.csv.zip
cm08FEB2007bhav.csv.zip
cm09FEB2007bhav.csv.zip
cm12FEB2007bhav.csv.zip
cm13FEB2007bhav.csv.zip
cm14FEB2007bhav.csv.zip
cm15FEB2007bhav.csv.zip
cm19FEB2007bhav.csv.zip
cm20FEB2007bhav.csv.zip
cm21FEB2007bhav.csv.zip
cm22FEB2007bhav.csv.zip
cm23FEB2007bhav.csv.zip
cm26FEB2007bhav.csv.zip
cm27FEB2007bhav.csv.zip
cm28FEB2007bhav.csv.zip
cm01MAR2007bhav.csv.zip
cm02MAR2007bhav.csv.zip
cm05MAR2007bhav.csv.zip
cm06MAR2007bhav.csv.zip
cm07MAR2007bhav.csv.zip
cm08MAR2007bhav.csv.zip
cm09MAR2007bhav.csv.zip
cm12MAR2007bhav.csv.zip
cm13MAR2007bhav.csv.zip
cm14MAR2007bhav.csv.zip
cm15MAR2007bhav.csv.zip
cm16MAR2007bhav.csv.zip
cm19MAR2007bhav.csv.zip
cm20MAR2007bhav.csv.zip
cm21MAR2007bhav.csv.zip
cm22MAR2007bhav.csv.zip
cm23MAR2007bhav.csv.zip
cm26MAR2007bhav.csv.zip
cm28MAR2007bhav.csv.zip
cm29MAR2007bhav.csv.zip
cm30MAR2007bhav.csv.zip
cm02APR2007bhav.csv.zip
cm03APR2007bhav.csv.zip
cm04APR2007bhav.csv.zip
cm05APR2007bhav.csv.zip
cm09APR2007bhav.csv.zip
cm10APR2007bhav.csv.zip
cm11APR2007bhav.csv.zip
cm12APR2007bhav.csv.zip
cm13APR2007bhav.csv.zip
cm16APR2007bhav.csv.zip
cm17APR2007bhav.csv.zip
cm18APR2007bhav.csv.zip
cm19APR2007bhav.csv.zip
cm20APR2007bhav.csv.zip
cm23APR2007bhav.csv.zip
cm24APR2007bhav.csv.zip
cm25APR2007bhav.csv.zip
cm26APR2007bhav.csv.zip
cm27APR2007bhav.csv.zip
cm30APR2007bhav.csv.zip
cm03MAY2007bhav.csv.zip
cm04MAY2007bhav.csv.zip
cm07MAY2007bhav.csv.zip
cm08MAY2007bhav.csv.zip
cm09MAY2007bhav.csv.zip
cm10MAY2007bhav.csv.zip
cm11MAY2007bhav.csv.zip
cm14MAY2007bhav.csv.zip
cm15MAY2007bhav.csv.zip
cm16MAY2007bhav.csv.zip
cm17MAY2007bhav.csv.zip
cm18MAY2007bhav.csv.zip
cm21MAY2007bhav.csv.zip
cm22MAY2007bhav.csv.zip
cm23MAY2007bhav.csv.zip
cm24MAY2007bhav.csv.zip
cm25MAY2007bhav.csv.zip
cm28MAY2007bhav.csv.zip
cm29MAY2007bhav.csv.zip
cm30MAY2007bhav.csv.zip
cm31MAY2007bhav.csv.zip
cm01JUN2007bhav.csv.zip
cm04JUN2007bhav.csv.zip
cm05JUN2007bhav.csv.zip
cm06JUN2007bhav.csv.zip
cm07JUN2007bhav.csv.zip
cm08JUN2007bhav.csv.zip
cm11JUN2007bhav.csv.zip
cm12JUN2007bhav.csv.zip
cm13JUN2007bhav.csv.zip
cm14JUN2007bhav.csv.zip
cm15JUN2007bhav.csv.zip
cm18JUN2007bhav.csv.zip
cm19JUN2007bhav.csv.zip
cm20JUN2007bhav.csv.zip
cm21JUN2007bhav.csv.zip
cm22JUN2007bhav.csv.zip
cm25JUN2007bhav.csv.zip
cm26JUN2007bhav.csv.zip
cm27JUN2007bhav.csv.zip
cm28JUN2007bhav.csv.zip
cm29JUN2007bhav.csv.zip
cm02JUL2007bhav.csv.zip
cm03JUL2007bhav.csv.zip
cm04JUL2007bhav.csv.zip
cm05JUL2007bhav.csv.zip
cm06JUL2007bhav.csv.zip
cm09JUL2007bhav.csv.zip
cm10JUL2007bhav.csv.zip
cm11JUL2007bhav.csv.zip
cm12JUL2007bhav.csv.zip
cm13JUL2007bhav.csv.zip
cm16JUL2007bhav.csv.zip
cm17JUL2007bhav.csv.zip
cm18JUL2007bhav.csv.zip
cm19JUL2007bhav.csv.zip
cm20JUL2007bhav.csv.zip
cm23JUL2007bhav.csv.zip
cm24JUL2007bhav.csv.zip
cm25JUL2007bhav.csv.zip
cm26JUL2007bhav.csv.zip
cm27JUL2007bhav.csv.zip
cm30JUL2007bhav.csv.zip
cm31JUL2007bhav.csv.zip
cm01AUG2007bhav.csv.zip
cm02AUG2007bhav.csv.zip
cm03AUG2007bhav.csv.zip
cm06AUG2007bhav.csv.zip
cm07AUG2007bhav.csv.zip
cm08AUG2007bhav.csv.zip
cm09AUG2007bhav.csv.zip
cm10AUG2007bhav.csv.zip
cm13AUG2007bhav.csv.zip
cm14AUG2007bhav.csv.zip
cm16AUG2007bhav.csv.zip
cm17AUG2007bhav.csv.zip
cm20AUG2007bhav.csv.zip
cm21AUG2007bhav.csv.zip
cm22AUG2007bhav.csv.zip
cm23AUG2007bhav.csv.zip
cm24AUG2007bhav.csv.zip
cm27AUG2007bhav.csv.zip
cm28AUG2007bhav.csv.zip
cm29AUG2007bhav.csv.zip
cm30AUG2007bhav.csv.zip
cm31AUG2007bhav.csv.zip
cm03SEP2007bhav.csv.zip
cm04SEP2007bhav.csv.zip
cm05SEP2007bhav.csv.zip
cm06SEP2007bhav.csv.zip
cm07SEP2007bhav.csv.zip
cm10SEP2007bhav.csv.zip
cm11SEP2007bhav.csv.zip
cm12SEP2007bhav.csv.zip
cm13SEP2007bhav.csv.zip
cm14SEP2007bhav.csv.zip
cm17SEP2007bhav.csv.zip
cm18SEP2007bhav.csv.zip
cm19SEP2007bhav.csv.zip
cm20SEP2007bhav.csv.zip
cm21SEP2007bhav.csv.zip
cm24SEP2007bhav.csv.zip
cm25SEP2007bhav.csv.zip
cm26SEP2007bhav.csv.zip
cm27SEP2007bhav.csv.zip
cm28SEP2007bhav.csv.zip
cm01OCT2007bhav.csv.zip
cm03OCT2007bhav.csv.zip
cm04OCT2007bhav.csv.zip
cm05OCT2007bhav.csv.zip
cm08OCT2007bhav.csv.zip
cm09OCT2007bhav.csv.zip
cm10OCT2007bhav.csv.zip
cm11OCT2007bhav.csv.zip
cm12OCT2007bhav.csv.zip
cm15OCT2007bhav.csv.zip
cm16OCT2007bhav.csv.zip
cm17OCT2007bhav.csv.zip
cm18OCT2007bhav.csv.zip
cm19OCT2007bhav.csv.zip
cm22OCT2007bhav.csv.zip
cm23OCT2007bhav.csv.zip
cm24OCT2007bhav.csv.zip
cm25OCT2007bhav.csv.zip
cm26OCT2007bhav.csv.zip
cm29OCT2007bhav.csv.zip
cm30OCT2007bhav.csv.zip
cm31OCT2007bhav.csv.zip
cm01NOV2007bhav.csv.zip
cm02NOV2007bhav.csv.zip
cm05NOV2007bhav.csv.zip
cm06NOV2007bhav.csv.zip
cm07NOV2007bhav.csv.zip
cm08NOV2007bhav.csv.zip
cm09NOV2007bhav.csv.zip
cm12NOV2007bhav.csv.zip

cm13NOV2007bhav.csv.zip
cm14NOV2007bhav.csv.zip
cm15NOV2007bhav.csv.zip
cm16NOV2007bhav.csv.zip
cm19NOV2007bhav.csv.zip
cm20NOV2007bhav.csv.zip
cm21NOV2007bhav.csv.zip
cm22NOV2007bhav.csv.zip
cm23NOV2007bhav.csv.zip
cm26NOV2007bhav.csv.zip
cm27NOV2007bhav.csv.zip
cm28NOV2007bhav.csv.zip
cm29NOV2007bhav.csv.zip
cm30NOV2007bhav.csv.zip
cm03DEC2007bhav.csv.zip
cm04DEC2007bhav.csv.zip
cm05DEC2007bhav.csv.zip
cm06DEC2007bhav.csv.zip
cm07DEC2007bhav.csv.zip
cm10DEC2007bhav.csv.zip
cm11DEC2007bhav.csv.zip
cm12DEC2007bhav.csv.zip
cm13DEC2007bhav.csv.zip
cm14DEC2007bhav.csv.zip
cm17DEC2007bhav.csv.zip
cm18DEC2007bhav.csv.zip
cm19DEC2007bhav.csv.zip
cm20DEC2007bhav.csv.zip
cm24DEC2007bhav.csv.zip
cm26DEC2007bhav.csv.zip
cm27DEC2007bhav.csv.zip
cm28DEC2007bhav.csv.zip
cm31DEC2007bhav.csv.zip
cm01JAN2008bhav.csv.zip
cm02JAN2008bhav.csv.zip
cm03JAN2008bhav.csv.zip
cm04JAN2008bhav.csv.zip
cm07JAN2008bhav.csv.zip
cm08JAN2008bhav.csv.zip
cm09JAN2008bhav.csv.zip
cm10JAN2008bhav.csv.zip
cm11JAN2008bhav.csv.zip
cm14JAN2008bhav.csv.zip
cm15JAN2008bhav.csv.zip
cm16JAN2008bhav.csv.zip
cm17JAN2008bhav.csv.zip
cm18JAN2008bhav.csv.zip
cm21JAN2008bhav.csv.zip
cm22JAN2008bhav.csv.zip
cm23JAN2008bhav.csv.zip
cm24JAN2008bhav.csv.zip
cm25JAN2008bhav.csv.zip
cm28JAN2008bhav.csv.zip
cm29JAN2008bhav.csv.zip
cm30JAN2008bhav.csv.zip
cm31JAN2008bhav.csv.zip
cm01FEB2008bhav.csv.zip
cm04FEB2008bhav.csv.zip
cm05FEB2008bhav.csv.zip
cm06FEB2008bhav.csv.zip
cm07FEB2008bhav.csv.zip
cm08FEB2008bhav.csv.zip
cm11FEB2008bhav.csv.zip
cm12FEB2008bhav.csv.zip
cm13FEB2008bhav.csv.zip
cm14FEB2008bhav.csv.zip
cm15FEB2008bhav.csv.zip
cm18FEB2008bhav.csv.zip
cm19FEB2008bhav.csv.zip
cm20FEB2008bhav.csv.zip
cm21FEB2008bhav.csv.zip
cm22FEB2008bhav.csv.zip
cm25FEB2008bhav.csv.zip
cm26FEB2008bhav.csv.zip
cm27FEB2008bhav.csv.zip
cm28FEB2008bhav.csv.zip
cm29FEB2008bhav.csv.zip
cm03MAR2008bhav.csv.zip
cm04MAR2008bhav.csv.zip
cm05MAR2008bhav.csv.zip
cm07MAR2008bhav.csv.zip
cm10MAR2008bhav.csv.zip
cm11MAR2008bhav.csv.zip
cm12MAR2008bhav.csv.zip
cm13MAR2008bhav.csv.zip
cm14MAR2008bhav.csv.zip
cm17MAR2008bhav.csv.zip
cm18MAR2008bhav.csv.zip
cm19MAR2008bhav.csv.zip
cm24MAR2008bhav.csv.zip
cm25MAR2008bhav.csv.zip
cm26MAR2008bhav.csv.zip
cm27MAR2008bhav.csv.zip
cm28MAR2008bhav.csv.zip
cm31MAR2008bhav.csv.zip
cm01APR2008bhav.csv.zip
cm02APR2008bhav.csv.zip
cm03APR2008bhav.csv.zip
cm04APR2008bhav.csv.zip
cm07APR2008bhav.csv.zip
cm08APR2008bhav.csv.zip
cm09APR2008bhav.csv.zip
cm10APR2008bhav.csv.zip
cm11APR2008bhav.csv.zip
cm15APR2008bhav.csv.zip
cm16APR2008bhav.csv.zip
cm17APR2008bhav.csv.zip
cm21APR2008bhav.csv.zip
cm22APR2008bhav.csv.zip
cm23APR2008bhav.csv.zip
cm25APR2008bhav.csv.zip
cm28APR2008bhav.csv.zip
cm29APR2008bhav.csv.zip
cm30APR2008bhav.csv.zip
cm02MAY2008bhav.csv.zip
cm05MAY2008bhav.csv.zip
cm06MAY2008bhav.csv.zip
cm07MAY2008bhav.csv.zip
cm08MAY2008bhav.csv.zip
cm09MAY2008bhav.csv.zip
cm12MAY2008bhav.csv.zip
cm13MAY2008bhav.csv.zip
cm14MAY2008bhav.csv.zip
cm15MAY2008bhav.csv.zip
cm16MAY2008bhav.csv.zip
cm20MAY2008bhav.csv.zip
cm21MAY2008bhav.csv.zip
cm22MAY2008bhav.csv.zip
cm23MAY2008bhav.csv.zip
cm26MAY2008bhav.csv.zip
cm27MAY2008bhav.csv.zip
cm28MAY2008bhav.csv.zip
cm29MAY2008bhav.csv.zip
cm30MAY2008bhav.csv.zip
cm02JUN2008bhav.csv.zip
cm03JUN2008bhav.csv.zip
cm04JUN2008bhav.csv.zip
cm05JUN2008bhav.csv.zip
cm06JUN2008bhav.csv.zip
cm09JUN2008bhav.csv.zip
cm10JUN2008bhav.csv.zip
cm11JUN2008bhav.csv.zip
cm12JUN2008bhav.csv.zip
cm13JUN2008bhav.csv.zip
cm16JUN2008bhav.csv.zip
cm17JUN2008bhav.csv.zip
cm19JUN2008bhav.csv.zip
cm20JUN2008bhav.csv.zip
cm23JUN2008bhav.csv.zip
cm24JUN2008bhav.csv.zip
cm25JUN2008bhav.csv.zip
cm26JUN2008bhav.csv.zip
cm27JUN2008bhav.csv.zip
cm30JUN2008bhav.csv.zip
cm01JUL2008bhav.csv.zip
cm02JUL2008bhav.csv.zip
cm03JUL2008bhav.csv.zip
cm04JUL2008bhav.csv.zip
cm07JUL2008bhav.csv.zip
cm08JUL2008bhav.csv.zip
cm09JUL2008bhav.csv.zip
cm10JUL2008bhav.csv.zip
cm11JUL2008bhav.csv.zip
cm14JUL2008bhav.csv.zip
cm15JUL2008bhav.csv.zip
cm16JUL2008bhav.csv.zip
cm17JUL2008bhav.csv.zip
cm18JUL2008bhav.csv.zip
cm21JUL2008bhav.csv.zip
cm22JUL2008bhav.csv.zip
cm23JUL2008bhav.csv.zip
cm24JUL2008bhav.csv.zip
cm25JUL2008bhav.csv.zip
cm28JUL2008bhav.csv.zip
cm29JUL2008bhav.csv.zip
cm30JUL2008bhav.csv.zip
cm31JUL2008bhav.csv.zip
cm01AUG2008bhav.csv.zip
cm04AUG2008bhav.csv.zip
cm05AUG2008bhav.csv.zip
cm06AUG2008bhav.csv.zip
cm07AUG2008bhav.csv.zip
cm08AUG2008bhav.csv.zip
cm11AUG2008bhav.csv.zip
cm12AUG2008bhav.csv.zip
cm13AUG2008bhav.csv.zip
cm14AUG2008bhav.csv.zip
cm18AUG2008bhav.csv.zip
cm19AUG2008bhav.csv.zip
cm20AUG2008bhav.csv.zip
cm21AUG2008bhav.csv.zip
cm22AUG2008bhav.csv.zip
cm25AUG2008bhav.csv.zip
cm26AUG2008bhav.csv.zip
cm27AUG2008bhav.csv.zip
cm28AUG2008bhav.csv.zip
cm29AUG2008bhav.csv.zip
cm01SEP2008bhav.csv.zip
cm02SEP2008bhav.csv.zip
cm04SEP2008bhav.csv.zip
cm05SEP2008bhav.csv.zip
cm08SEP2008bhav.csv.zip
cm09SEP2008bhav.csv.zip
cm10SEP2008bhav.csv.zip
cm11SEP2008bhav.csv.zip
cm12SEP2008bhav.csv.zip
cm15SEP2008bhav.csv.zip
cm16SEP2008bhav.csv.zip
cm17SEP2008bhav.csv.zip
cm18SEP2008bhav.csv.zip
cm19SEP2008bhav.csv.zip
cm22SEP2008bhav.csv.zip
cm23SEP2008bhav.csv.zip
cm24SEP2008bhav.csv.zip
cm25SEP2008bhav.csv.zip
cm26SEP2008bhav.csv.zip
cm29SEP2008bhav.csv.zip
cm30SEP2008bhav.csv.zip
cm01OCT2008bhav.csv.zip
cm03OCT2008bhav.csv.zip
cm06OCT2008bhav.csv.zip
cm07OCT2008bhav.csv.zip
cm08OCT2008bhav.csv.zip
cm10OCT2008bhav.csv.zip
cm13OCT2008bhav.csv.zip
cm14OCT2008bhav.csv.zip
cm15OCT2008bhav.csv.zip
cm16OCT2008bhav.csv.zip
cm17OCT2008bhav.csv.zip
cm20OCT2008bhav.csv.zip
cm21OCT2008bhav.csv.zip
cm22OCT2008bhav.csv.zip
cm23OCT2008bhav.csv.zip
cm24OCT2008bhav.csv.zip
cm27OCT2008bhav.csv.zip
cm28OCT2008bhav.csv.zip
cm29OCT2008bhav.csv.zip
cm31OCT2008bhav.csv.zip
cm03NOV2008bhav.csv.zip
cm04NOV2008bhav.csv.zip
cm05NOV2008bhav.csv.zip
cm06NOV2008bhav.csv.zip
cm07NOV2008bhav.csv.zip
cm10NOV2008bhav.csv.zip
cm11NOV2008bhav.csv.zip
cm12NOV2008bhav.csv.zip
cm14NOV2008bhav.csv.zip
cm17NOV2008bhav.csv.zip
cm18NOV2008bhav.csv.zip
cm19NOV2008bhav.csv.zip
cm20NOV2008bhav.csv.zip
cm21NOV2008bhav.csv.zip
cm24NOV2008bhav.csv.zip
cm25NOV2008bhav.csv.zip
cm26NOV2008bhav.csv.zip
cm28NOV2008bhav.csv.zip
cm01DEC2008bhav.csv.zip
cm02DEC2008bhav.csv.zip
cm03DEC2008bhav.csv.zip
cm04DEC2008bhav.csv.zip
cm05DEC2008bhav.csv.zip
cm08DEC2008bhav.csv.zip
cm10DEC2008bhav.csv.zip
cm11DEC2008bhav.csv.zip
cm12DEC2008bhav.csv.zip
cm15DEC2008bhav.csv.zip
cm16DEC2008bhav.csv.zip
cm17DEC2008bhav.csv.zip
cm18DEC2008bhav.csv.zip
cm19DEC2008bhav.csv.zip
cm22DEC2008bhav.csv.zip
cm23DEC2008bhav.csv.zip
cm24DEC2008bhav.csv.zip
cm26DEC2008bhav.csv.zip
cm29DEC2008bhav.csv.zip
cm30DEC2008bhav.csv.zip
cm31DEC2008bhav.csv.zip
cm01JAN2009bhav.csv.zip
cm02JAN2009bhav.csv.zip
cm05JAN2009bhav.csv.zip
cm06JAN2009bhav.csv.zip
cm07JAN2009bhav.csv.zip
cm09JAN2009bhav.csv.zip
cm12JAN2009bhav.csv.zip
cm13JAN2009bhav.csv.zip
cm14JAN2009bhav.csv.zip
cm15JAN2009bhav.csv.zip
cm16JAN2009bhav.csv.zip
cm19JAN2009bhav.csv.zip
cm20JAN2009bhav.csv.zip
cm21JAN2009bhav.csv.zip
cm22JAN2009bhav.csv.zip
cm23JAN2009bhav.csv.zip
cm27JAN2009bhav.csv.zip
cm28JAN2009bhav.csv.zip
cm29JAN2009bhav.csv.zip
cm30JAN2009bhav.csv.zip
cm02FEB2009bhav.csv.zip
cm03FEB2009bhav.csv.zip
cm04FEB2009bhav.csv.zip
cm05FEB2009bhav.csv.zip
cm06FEB2009bhav.csv.zip
cm09FEB2009bhav.csv.zip
cm10FEB2009bhav.csv.zip
cm11FEB2009bhav.csv.zip
cm12FEB2009bhav.csv.zip
cm13FEB2009bhav.csv.zip
cm16FEB2009bhav.csv.zip
cm17FEB2009bhav.csv.zip
cm19FEB2009bhav.csv.zip
cm20FEB2009bhav.csv.zip
cm24FEB2009bhav.csv.zip
cm25FEB2009bhav.csv.zip
cm26FEB2009bhav.csv.zip
cm27FEB2009bhav.csv.zip
cm02MAR2009bhav.csv.zip
cm03MAR2009bhav.csv.zip
cm04MAR2009bhav.csv.zip
cm05MAR2009bhav.csv.zip
cm06MAR2009bhav.csv.zip
cm09MAR2009bhav.csv.zip
cm12MAR2009bhav.csv.zip
cm13MAR2009bhav.csv.zip
cm16MAR2009bhav.csv.zip
cm17MAR2009bhav.csv.zip
cm18MAR2009bhav.csv.zip
cm19MAR2009bhav.csv.zip
cm20MAR2009bhav.csv.zip
cm23MAR2009bhav.csv.zip
cm24MAR2009bhav.csv.zip
cm25MAR2009bhav.csv.zip
cm26MAR2009bhav.csv.zip
cm27MAR2009bhav.csv.zip
cm30MAR2009bhav.csv.zip
cm31MAR2009bhav.csv.zip
cm01APR2009bhav.csv.zip
cm02APR2009bhav.csv.zip
cm06APR2009bhav.csv.zip
cm08APR2009bhav.csv.zip
cm09APR2009bhav.csv.zip
cm13APR2009bhav.csv.zip
cm15APR2009bhav.csv.zip
cm16APR2009bhav.csv.zip
cm17APR2009bhav.csv.zip
cm20APR2009bhav.csv.zip
cm21APR2009bhav.csv.zip
cm22APR2009bhav.csv.zip
cm23APR2009bhav.csv.zip
cm24APR2009bhav.csv.zip
cm27APR2009bhav.csv.zip
cm28APR2009bhav.csv.zip
cm29APR2009bhav.csv.zip
cm04MAY2009bhav.csv.zip
cm05MAY2009bhav.csv.zip
cm06MAY2009bhav.csv.zip
cm07MAY2009bhav.csv.zip

cm08MAY2009bhav.csv.zip
cm12MAY2009bhav.csv.zip
cm13MAY2009bhav.csv.zip
cm14MAY2009bhav.csv.zip
cm15MAY2009bhav.csv.zip
cm18MAY2009bhav.csv.zip
cm19MAY2009bhav.csv.zip
cm20MAY2009bhav.csv.zip
cm21MAY2009bhav.csv.zip
cm22MAY2009bhav.csv.zip
cm25MAY2009bhav.csv.zip
cm26MAY2009bhav.csv.zip
cm27MAY2009bhav.csv.zip
cm28MAY2009bhav.csv.zip
cm29MAY2009bhav.csv.zip
cm01JUN2009bhav.csv.zip
cm02JUN2009bhav.csv.zip
cm03JUN2009bhav.csv.zip
cm05JUN2009bhav.csv.zip
cm08JUN2009bhav.csv.zip
cm09JUN2009bhav.csv.zip
cm10JUN2009bhav.csv.zip
cm11JUN2009bhav.csv.zip
cm12JUN2009bhav.csv.zip
cm15JUN2009bhav.csv.zip
cm16JUN2009bhav.csv.zip
cm17JUN2009bhav.csv.zip
cm18JUN2009bhav.csv.zip
cm19JUN2009bhav.csv.zip
cm22JUN2009bhav.csv.zip
cm23JUN2009bhav.csv.zip
cm24JUN2009bhav.csv.zip
cm25JUN2009bhav.csv.zip
cm26JUN2009bhav.csv.zip
cm29JUN2009bhav.csv.zip
cm30JUN2009bhav.csv.zip
cm01JUL2009bhav.csv.zip
cm02JUL2009bhav.csv.zip
cm03JUL2009bhav.csv.zip
cm06JUL2009bhav.csv.zip
cm07JUL2009bhav.csv.zip
cm08JUL2009bhav.csv.zip
cm09JUL2009bhav.csv.zip
cm10JUL2009bhav.csv.zip
cm13JUL2009bhav.csv.zip
cm14JUL2009bhav.csv.zip
cm15JUL2009bhav.csv.zip
cm16JUL2009bhav.csv.zip
cm17JUL2009bhav.csv.zip
cm20JUL2009bhav.csv.zip
cm21JUL2009bhav.csv.zip
cm22JUL2009bhav.csv.zip
cm23JUL2009bhav.csv.zip
cm24JUL2009bhav.csv.zip
cm27JUL2009bhav.csv.zip
cm28JUL2009bhav.csv.zip
cm29JUL2009bhav.csv.zip
cm30JUL2009bhav.csv.zip
cm31JUL2009bhav.csv.zip
cm03AUG2009bhav.csv.zip
cm04AUG2009bhav.csv.zip
cm05AUG2009bhav.csv.zip
cm06AUG2009bhav.csv.zip
cm07AUG2009bhav.csv.zip
cm10AUG2009bhav.csv.zip
cm11AUG2009bhav.csv.zip
cm12AUG2009bhav.csv.zip
cm13AUG2009bhav.csv.zip
cm14AUG2009bhav.csv.zip
cm17AUG2009bhav.csv.zip
cm18AUG2009bhav.csv.zip
cm19AUG2009bhav.csv.zip
cm20AUG2009bhav.csv.zip
cm21AUG2009bhav.csv.zip
cm24AUG2009bhav.csv.zip
cm25AUG2009bhav.csv.zip
cm26AUG2009bhav.csv.zip
cm27AUG2009bhav.csv.zip
cm28AUG2009bhav.csv.zip
cm31AUG2009bhav.csv.zip
cm01SEP2009bhav.csv.zip
cm02SEP2009bhav.csv.zip
cm03SEP2009bhav.csv.zip
cm04SEP2009bhav.csv.zip
cm07SEP2009bhav.csv.zip
cm08SEP2009bhav.csv.zip
cm09SEP2009bhav.csv.zip
cm10SEP2009bhav.csv.zip
cm11SEP2009bhav.csv.zip
cm14SEP2009bhav.csv.zip
cm15SEP2009bhav.csv.zip
cm16SEP2009bhav.csv.zip
cm17SEP2009bhav.csv.zip
cm18SEP2009bhav.csv.zip
cm22SEP2009bhav.csv.zip
cm23SEP2009bhav.csv.zip
cm24SEP2009bhav.csv.zip
cm25SEP2009bhav.csv.zip
cm29SEP2009bhav.csv.zip
cm30SEP2009bhav.csv.zip
cm01OCT2009bhav.csv.zip
cm05OCT2009bhav.csv.zip
cm06OCT2009bhav.csv.zip
cm07OCT2009bhav.csv.zip
cm08OCT2009bhav.csv.zip
cm09OCT2009bhav.csv.zip
cm12OCT2009bhav.csv.zip
cm14OCT2009bhav.csv.zip
cm16OCT2009bhav.csv.zip
cm20OCT2009bhav.csv.zip
cm21OCT2009bhav.csv.zip
cm22OCT2009bhav.csv.zip
cm23OCT2009bhav.csv.zip
cm26OCT2009bhav.csv.zip
cm27OCT2009bhav.csv.zip
cm28OCT2009bhav.csv.zip
cm29OCT2009bhav.csv.zip
cm30OCT2009bhav.csv.zip
cm03NOV2009bhav.csv.zip
cm04NOV2009bhav.csv.zip
cm05NOV2009bhav.csv.zip
cm06NOV2009bhav.csv.zip
cm09NOV2009bhav.csv.zip
cm10NOV2009bhav.csv.zip
cm11NOV2009bhav.csv.zip
cm12NOV2009bhav.csv.zip
cm13NOV2009bhav.csv.zip
cm16NOV2009bhav.csv.zip
cm17NOV2009bhav.csv.zip
cm18NOV2009bhav.csv.zip
cm19NOV2009bhav.csv.zip
cm20NOV2009bhav.csv.zip
cm23NOV2009bhav.csv.zip
cm24NOV2009bhav.csv.zip
cm25NOV2009bhav.csv.zip
cm26NOV2009bhav.csv.zip
cm27NOV2009bhav.csv.zip
cm30NOV2009bhav.csv.zip
cm01DEC2009bhav.csv.zip
cm02DEC2009bhav.csv.zip
cm03DEC2009bhav.csv.zip
cm04DEC2009bhav.csv.zip
cm07DEC2009bhav.csv.zip
cm08DEC2009bhav.csv.zip
cm09DEC2009bhav.csv.zip
cm10DEC2009bhav.csv.zip
cm11DEC2009bhav.csv.zip
cm14DEC2009bhav.csv.zip
cm15DEC2009bhav.csv.zip
cm16DEC2009bhav.csv.zip
cm17DEC2009bhav.csv.zip
cm18DEC2009bhav.csv.zip
cm21DEC2009bhav.csv.zip
cm22DEC2009bhav.csv.zip
cm23DEC2009bhav.csv.zip
cm24DEC2009bhav.csv.zip
cm29DEC2009bhav.csv.zip
cm30DEC2009bhav.csv.zip
cm31DEC2009bhav.csv.zip
cm04JAN2010bhav.csv.zip
cm05JAN2010bhav.csv.zip
cm06JAN2010bhav.csv.zip
cm07JAN2010bhav.csv.zip
cm08JAN2010bhav.csv.zip
cm11JAN2010bhav.csv.zip
cm12JAN2010bhav.csv.zip
cm13JAN2010bhav.csv.zip
cm14JAN2010bhav.csv.zip
cm15JAN2010bhav.csv.zip
cm18JAN2010bhav.csv.zip
cm19JAN2010bhav.csv.zip
cm20JAN2010bhav.csv.zip
cm21JAN2010bhav.csv.zip
cm22JAN2010bhav.csv.zip
cm25JAN2010bhav.csv.zip
cm27JAN2010bhav.csv.zip
cm28JAN2010bhav.csv.zip
cm29JAN2010bhav.csv.zip
cm01FEB2010bhav.csv.zip
cm02FEB2010bhav.csv.zip
cm03FEB2010bhav.csv.zip
cm04FEB2010bhav.csv.zip
cm05FEB2010bhav.csv.zip
cm06FEB2010bhav.csv.zip
cm09FEB2010bhav.csv.zip
cm10FEB2010bhav.csv.zip
cm11FEB2010bhav.csv.zip
cm15FEB2010bhav.csv.zip
cm16FEB2010bhav.csv.zip
cm17FEB2010bhav.csv.zip
cm18FEB2010bhav.csv.zip
cm19FEB2010bhav.csv.zip
cm22FEB2010bhav.csv.zip
cm23FEB2010bhav.csv.zip
cm24FEB2010bhav.csv.zip
cm25FEB2010bhav.csv.zip
cm02MAR2010bhav.csv.zip
cm03MAR2010bhav.csv.zip
cm04MAR2010bhav.csv.zip
cm05MAR2010bhav.csv.zip
cm08MAR2010bhav.csv.zip
cm09MAR2010bhav.csv.zip
cm10MAR2010bhav.csv.zip
cm11MAR2010bhav.csv.zip
cm12MAR2010bhav.csv.zip
cm15MAR2010bhav.csv.zip
cm16MAR2010bhav.csv.zip
cm17MAR2010bhav.csv.zip
cm18MAR2010bhav.csv.zip
cm19MAR2010bhav.csv.zip
cm22MAR2010bhav.csv.zip
cm23MAR2010bhav.csv.zip
cm25MAR2010bhav.csv.zip
cm26MAR2010bhav.csv.zip
cm29MAR2010bhav.csv.zip
cm30MAR2010bhav.csv.zip
cm31MAR2010bhav.csv.zip
cm01APR2010bhav.csv.zip
cm05APR2010bhav.csv.zip
cm06APR2010bhav.csv.zip
cm07APR2010bhav.csv.zip
cm08APR2010bhav.csv.zip
cm09APR2010bhav.csv.zip
cm12APR2010bhav.csv.zip
cm13APR2010bhav.csv.zip
cm15APR2010bhav.csv.zip
cm16APR2010bhav.csv.zip
cm19APR2010bhav.csv.zip
cm20APR2010bhav.csv.zip
cm21APR2010bhav.csv.zip
cm22APR2010bhav.csv.zip
cm23APR2010bhav.csv.zip
cm26APR2010bhav.csv.zip
cm27APR2010bhav.csv.zip
cm28APR2010bhav.csv.zip
cm29APR2010bhav.csv.zip
cm30APR2010bhav.csv.zip
cm03MAY2010bhav.csv.zip
cm04MAY2010bhav.csv.zip
cm05MAY2010bhav.csv.zip
cm06MAY2010bhav.csv.zip
cm07MAY2010bhav.csv.zip
cm10MAY2010bhav.csv.zip
cm11MAY2010bhav.csv.zip
cm12MAY2010bhav.csv.zip
cm13MAY2010bhav.csv.zip
cm14MAY2010bhav.csv.zip
cm17MAY2010bhav.csv.zip
cm18MAY2010bhav.csv.zip
cm19MAY2010bhav.csv.zip
cm20MAY2010bhav.csv.zip
cm21MAY2010bhav.csv.zip
cm24MAY2010bhav.csv.zip
cm25MAY2010bhav.csv.zip
cm26MAY2010bhav.csv.zip
cm27MAY2010bhav.csv.zip
cm28MAY2010bhav.csv.zip
cm31MAY2010bhav.csv.zip
cm01JUN2010bhav.csv.zip
cm02JUN2010bhav.csv.zip
cm03JUN2010bhav.csv.zip
cm04JUN2010bhav.csv.zip
cm07JUN2010bhav.csv.zip
cm08JUN2010bhav.csv.zip
cm09JUN2010bhav.csv.zip
cm10JUN2010bhav.csv.zip
cm11JUN2010bhav.csv.zip
cm14JUN2010bhav.csv.zip
cm15JUN2010bhav.csv.zip
cm16JUN2010bhav.csv.zip
cm17JUN2010bhav.csv.zip
cm18JUN2010bhav.csv.zip
cm21JUN2010bhav.csv.zip
cm22JUN2010bhav.csv.zip
cm23JUN2010bhav.csv.zip
cm24JUN2010bhav.csv.zip
cm25JUN2010bhav.csv.zip
cm28JUN2010bhav.csv.zip
cm29JUN2010bhav.csv.zip
cm30JUN2010bhav.csv.zip
cm01JUL2010bhav.csv.zip
cm02JUL2010bhav.csv.zip
cm05JUL2010bhav.csv.zip
cm06JUL2010bhav.csv.zip
cm07JUL2010bhav.csv.zip
cm08JUL2010bhav.csv.zip
cm09JUL2010bhav.csv.zip
cm12JUL2010bhav.csv.zip
cm13JUL2010bhav.csv.zip
cm14JUL2010bhav.csv.zip
cm15JUL2010bhav.csv.zip
cm16JUL2010bhav.csv.zip
cm19JUL2010bhav.csv.zip
cm20JUL2010bhav.csv.zip
cm21JUL2010bhav.csv.zip
cm22JUL2010bhav.csv.zip
cm23JUL2010bhav.csv.zip
cm26JUL2010bhav.csv.zip
cm27JUL2010bhav.csv.zip
cm28JUL2010bhav.csv.zip
cm29JUL2010bhav.csv.zip
cm30JUL2010bhav.csv.zip
cm02AUG2010bhav.csv.zip
cm03AUG2010bhav.csv.zip
cm04AUG2010bhav.csv.zip
cm05AUG2010bhav.csv.zip
cm06AUG2010bhav.csv.zip
cm09AUG2010bhav.csv.zip
cm10AUG2010bhav.csv.zip
cm11AUG2010bhav.csv.zip
cm12AUG2010bhav.csv.zip
cm13AUG2010bhav.csv.zip
cm16AUG2010bhav.csv.zip
cm17AUG2010bhav.csv.zip
cm18AUG2010bhav.csv.zip
cm19AUG2010bhav.csv.zip
cm23AUG2010bhav.csv.zip
cm24AUG2010bhav.csv.zip
cm25AUG2010bhav.csv.zip
cm26AUG2010bhav.csv.zip
cm27AUG2010bhav.csv.zip
cm30AUG2010bhav.csv.zip
cm31AUG2010bhav.csv.zip
cm01SEP2010bhav.csv.zip
cm02SEP2010bhav.csv.zip
cm03SEP2010bhav.csv.zip
cm06SEP2010bhav.csv.zip
cm07SEP2010bhav.csv.zip
cm08SEP2010bhav.csv.zip
cm09SEP2010bhav.csv.zip
cm13SEP2010bhav.csv.zip
cm14SEP2010bhav.csv.zip
cm15SEP2010bhav.csv.zip
cm16SEP2010bhav.csv.zip
cm17SEP2010bhav.csv.zip
cm20SEP2010bhav.csv.zip
cm21SEP2010bhav.csv.zip
cm22SEP2010bhav.csv.zip
cm23SEP2010bhav.csv.zip
cm24SEP2010bhav.csv.zip
cm27SEP2010bhav.csv.zip
cm28SEP2010bhav.csv.zip
cm29SEP2010bhav.csv.zip
cm30SEP2010bhav.csv.zip

cm01OCT2010bhav.csv.zip
cm04OCT2010bhav.csv.zip
cm05OCT2010bhav.csv.zip
cm06OCT2010bhav.csv.zip
cm07OCT2010bhav.csv.zip
cm08OCT2010bhav.csv.zip
cm11OCT2010bhav.csv.zip
cm12OCT2010bhav.csv.zip
cm13OCT2010bhav.csv.zip
cm14OCT2010bhav.csv.zip
cm15OCT2010bhav.csv.zip
cm18OCT2010bhav.csv.zip
cm19OCT2010bhav.csv.zip
cm20OCT2010bhav.csv.zip
cm21OCT2010bhav.csv.zip
cm22OCT2010bhav.csv.zip
cm25OCT2010bhav.csv.zip
cm26OCT2010bhav.csv.zip
cm27OCT2010bhav.csv.zip
cm28OCT2010bhav.csv.zip
cm29OCT2010bhav.csv.zip
cm01NOV2010bhav.csv.zip
cm02NOV2010bhav.csv.zip
cm03NOV2010bhav.csv.zip
cm04NOV2010bhav.csv.zip
cm05NOV2010bhav.csv.zip
cm08NOV2010bhav.csv.zip
cm09NOV2010bhav.csv.zip
cm10NOV2010bhav.csv.zip
cm11NOV2010bhav.csv.zip
cm12NOV2010bhav.csv.zip
cm15NOV2010bhav.csv.zip
cm16NOV2010bhav.csv.zip
cm18NOV2010bhav.csv.zip
cm19NOV2010bhav.csv.zip
cm22NOV2010bhav.csv.zip
cm23NOV2010bhav.csv.zip
cm24NOV2010bhav.csv.zip
cm25NOV2010bhav.csv.zip
cm26NOV2010bhav.csv.zip
cm29NOV2010bhav.csv.zip
cm30NOV2010bhav.csv.zip
cm01DEC2010bhav.csv.zip
cm02DEC2010bhav.csv.zip
cm03DEC2010bhav.csv.zip
cm06DEC2010bhav.csv.zip
cm07DEC2010bhav.csv.zip
cm08DEC2010bhav.csv.zip
cm09DEC2010bhav.csv.zip
cm10DEC2010bhav.csv.zip
cm13DEC2010bhav.csv.zip
cm14DEC2010bhav.csv.zip
cm15DEC2010bhav.csv.zip
cm16DEC2010bhav.csv.zip
cm20DEC2010bhav.csv.zip
cm21DEC2010bhav.csv.zip
cm22DEC2010bhav.csv.zip
cm23DEC2010bhav.csv.zip
cm24DEC2010bhav.csv.zip
cm27DEC2010bhav.csv.zip
cm28DEC2010bhav.csv.zip
cm29DEC2010bhav.csv.zip
cm30DEC2010bhav.csv.zip
cm31DEC2010bhav.csv.zip
cm03JAN2011bhav.csv.zip
cm04JAN2011bhav.csv.zip
cm05JAN2011bhav.csv.zip
cm06JAN2011bhav.csv.zip
cm07JAN2011bhav.csv.zip
cm10JAN2011bhav.csv.zip
cm11JAN2011bhav.csv.zip
cm12JAN2011bhav.csv.zip
cm13JAN2011bhav.csv.zip
cm14JAN2011bhav.csv.zip
cm17JAN2011bhav.csv.zip
cm18JAN2011bhav.csv.zip
cm19JAN2011bhav.csv.zip
cm21JAN2011bhav.csv.zip
cm24JAN2011bhav.csv.zip
cm25JAN2011bhav.csv.zip
cm27JAN2011bhav.csv.zip
cm28JAN2011bhav.csv.zip
cm31JAN2011bhav.csv.zip
cm01FEB2011bhav.csv.zip
cm02FEB2011bhav.csv.zip
cm03FEB2011bhav.csv.zip
cm04FEB2011bhav.csv.zip
cm07FEB2011bhav.csv.zip
cm08FEB2011bhav.csv.zip
cm09FEB2011bhav.csv.zip
cm10FEB2011bhav.csv.zip
cm11FEB2011bhav.csv.zip
cm14FEB2011bhav.csv.zip
cm15FEB2011bhav.csv.zip
cm16FEB2011bhav.csv.zip
cm17FEB2011bhav.csv.zip
cm18FEB2011bhav.csv.zip
cm21FEB2011bhav.csv.zip
cm22FEB2011bhav.csv.zip
cm23FEB2011bhav.csv.zip
cm25FEB2011bhav.csv.zip
cm28FEB2011bhav.csv.zip
cm01MAR2011bhav.csv.zip
cm03MAR2011bhav.csv.zip
cm04MAR2011bhav.csv.zip
cm07MAR2011bhav.csv.zip
cm08MAR2011bhav.csv.zip
cm09MAR2011bhav.csv.zip
cm10MAR2011bhav.csv.zip
cm11MAR2011bhav.csv.zip
cm15MAR2011bhav.csv.zip
cm16MAR2011bhav.csv.zip
cm17MAR2011bhav.csv.zip
cm18MAR2011bhav.csv.zip
cm21MAR2011bhav.csv.zip
cm22MAR2011bhav.csv.zip
cm23MAR2011bhav.csv.zip
cm24MAR2011bhav.csv.zip
cm25MAR2011bhav.csv.zip
cm28MAR2011bhav.csv.zip
cm29MAR2011bhav.csv.zip
cm30MAR2011bhav.csv.zip
cm31MAR2011bhav.csv.zip
cm01APR2011bhav.csv.zip
cm04APR2011bhav.csv.zip
cm05APR2011bhav.csv.zip
cm06APR2011bhav.csv.zip
cm07APR2011bhav.csv.zip
cm08APR2011bhav.csv.zip
cm11APR2011bhav.csv.zip
cm13APR2011bhav.csv.zip
cm15APR2011bhav.csv.zip
cm18APR2011bhav.csv.zip
cm19APR2011bhav.csv.zip
cm20APR2011bhav.csv.zip
cm21APR2011bhav.csv.zip
cm25APR2011bhav.csv.zip
cm26APR2011bhav.csv.zip
cm27APR2011bhav.csv.zip
cm28APR2011bhav.csv.zip
cm29APR2011bhav.csv.zip
cm02MAY2011bhav.csv.zip
cm03MAY2011bhav.csv.zip
cm04MAY2011bhav.csv.zip
cm05MAY2011bhav.csv.zip
cm06MAY2011bhav.csv.zip
cm09MAY2011bhav.csv.zip
cm10MAY2011bhav.csv.zip
cm11MAY2011bhav.csv.zip
cm12MAY2011bhav.csv.zip
cm13MAY2011bhav.csv.zip
cm16MAY2011bhav.csv.zip
cm17MAY2011bhav.csv.zip
cm18MAY2011bhav.csv.zip
cm19MAY2011bhav.csv.zip
cm20MAY2011bhav.csv.zip
cm23MAY2011bhav.csv.zip
cm24MAY2011bhav.csv.zip
cm25MAY2011bhav.csv.zip
cm26MAY2011bhav.csv.zip
cm27MAY2011bhav.csv.zip
cm30MAY2011bhav.csv.zip
cm31MAY2011bhav.csv.zip
cm01JUN2011bhav.csv.zip
cm02JUN2011bhav.csv.zip
cm03JUN2011bhav.csv.zip
cm06JUN2011bhav.csv.zip
cm07JUN2011bhav.csv.zip
cm08JUN2011bhav.csv.zip
cm09JUN2011bhav.csv.zip
cm10JUN2011bhav.csv.zip
cm13JUN2011bhav.csv.zip
cm14JUN2011bhav.csv.zip
cm15JUN2011bhav.csv.zip
cm16JUN2011bhav.csv.zip
cm17JUN2011bhav.csv.zip
cm20JUN2011bhav.csv.zip
cm21JUN2011bhav.csv.zip
cm22JUN2011bhav.csv.zip
cm23JUN2011bhav.csv.zip
cm24JUN2011bhav.csv.zip
cm27JUN2011bhav.csv.zip
cm28JUN2011bhav.csv.zip
cm29JUN2011bhav.csv.zip
cm01JUL2011bhav.csv.zip
cm04JUL2011bhav.csv.zip
cm05JUL2011bhav.csv.zip
cm06JUL2011bhav.csv.zip
cm07JUL2011bhav.csv.zip
cm08JUL2011bhav.csv.zip
cm11JUL2011bhav.csv.zip
cm12JUL2011bhav.csv.zip
cm14JUL2011bhav.csv.zip
cm15JUL2011bhav.csv.zip
cm18JUL2011bhav.csv.zip
cm19JUL2011bhav.csv.zip
cm20JUL2011bhav.csv.zip
cm21JUL2011bhav.csv.zip
cm22JUL2011bhav.csv.zip
cm25JUL2011bhav.csv.zip
cm26JUL2011bhav.csv.zip
cm27JUL2011bhav.csv.zip
cm28JUL2011bhav.csv.zip
cm29JUL2011bhav.csv.zip
cm01AUG2011bhav.csv.zip
cm02AUG2011bhav.csv.zip
cm03AUG2011bhav.csv.zip
cm04AUG2011bhav.csv.zip
cm05AUG2011bhav.csv.zip
cm08AUG2011bhav.csv.zip
cm09AUG2011bhav.csv.zip
cm10AUG2011bhav.csv.zip
cm11AUG2011bhav.csv.zip
cm12AUG2011bhav.csv.zip
cm16AUG2011bhav.csv.zip
cm17AUG2011bhav.csv.zip
cm18AUG2011bhav.csv.zip
cm19AUG2011bhav.csv.zip
cm22AUG2011bhav.csv.zip
cm23AUG2011bhav.csv.zip
cm24AUG2011bhav.csv.zip
cm25AUG2011bhav.csv.zip
cm26AUG2011bhav.csv.zip
cm29AUG2011bhav.csv.zip
cm30AUG2011bhav.csv.zip
cm02SEP2011bhav.csv.zip
cm05SEP2011bhav.csv.zip
cm06SEP2011bhav.csv.zip
cm07SEP2011bhav.csv.zip
cm08SEP2011bhav.csv.zip
cm09SEP2011bhav.csv.zip
cm12SEP2011bhav.csv.zip
cm13SEP2011bhav.csv.zip
cm14SEP2011bhav.csv.zip
cm15SEP2011bhav.csv.zip
cm16SEP2011bhav.csv.zip
cm19SEP2011bhav.csv.zip
cm20SEP2011bhav.csv.zip
cm21SEP2011bhav.csv.zip
cm22SEP2011bhav.csv.zip
cm23SEP2011bhav.csv.zip
cm26SEP2011bhav.csv.zip
cm27SEP2011bhav.csv.zip
cm28SEP2011bhav.csv.zip
cm29SEP2011bhav.csv.zip
cm30SEP2011bhav.csv.zip
cm03OCT2011bhav.csv.zip
cm04OCT2011bhav.csv.zip
cm05OCT2011bhav.csv.zip
cm07OCT2011bhav.csv.zip
cm10OCT2011bhav.csv.zip
cm11OCT2011bhav.csv.zip
cm12OCT2011bhav.csv.zip
cm13OCT2011bhav.csv.zip
cm14OCT2011bhav.csv.zip
cm17OCT2011bhav.csv.zip
cm18OCT2011bhav.csv.zip
cm19OCT2011bhav.csv.zip
cm20OCT2011bhav.csv.zip
cm21OCT2011bhav.csv.zip
cm24OCT2011bhav.csv.zip
cm25OCT2011bhav.csv.zip
cm26OCT2011bhav.csv.zip
cm28OCT2011bhav.csv.zip
cm31OCT2011bhav.csv.zip
cm01NOV2011bhav.csv.zip
cm02NOV2011bhav.csv.zip
cm03NOV2011bhav.csv.zip
cm04NOV2011bhav.csv.zip
cm08NOV2011bhav.csv.zip
cm09NOV2011bhav.csv.zip
cm11NOV2011bhav.csv.zip
cm14NOV2011bhav.csv.zip
cm15NOV2011bhav.csv.zip
cm16NOV2011bhav.csv.zip
cm17NOV2011bhav.csv.zip
cm18NOV2011bhav.csv.zip
cm21NOV2011bhav.csv.zip
cm22NOV2011bhav.csv.zip
cm23NOV2011bhav.csv.zip
cm24NOV2011bhav.csv.zip
cm25NOV2011bhav.csv.zip
cm28NOV2011bhav.csv.zip
cm29NOV2011bhav.csv.zip
cm30NOV2011bhav.csv.zip
cm01DEC2011bhav.csv.zip
cm02DEC2011bhav.csv.zip
cm05DEC2011bhav.csv.zip
cm07DEC2011bhav.csv.zip
cm08DEC2011bhav.csv.zip
cm09DEC2011bhav.csv.zip
cm12DEC2011bhav.csv.zip
cm13DEC2011bhav.csv.zip
cm14DEC2011bhav.csv.zip
cm15DEC2011bhav.csv.zip
cm16DEC2011bhav.csv.zip
cm19DEC2011bhav.csv.zip
cm20DEC2011bhav.csv.zip
cm21DEC2011bhav.csv.zip
cm22DEC2011bhav.csv.zip
cm23DEC2011bhav.csv.zip
cm26DEC2011bhav.csv.zip
cm27DEC2011bhav.csv.zip
cm28DEC2011bhav.csv.zip
cm29DEC2011bhav.csv.zip
cm30DEC2011bhav.csv.zip
cm02JAN2012bhav.csv.zip
cm03JAN2012bhav.csv.zip
cm04JAN2012bhav.csv.zip
cm05JAN2012bhav.csv.zip
cm06JAN2012bhav.csv.zip
cm07JAN2012bhav.csv.zip
cm09JAN2012bhav.csv.zip
cm10JAN2012bhav.csv.zip
cm11JAN2012bhav.csv.zip
cm12JAN2012bhav.csv.zip
cm13JAN2012bhav.csv.zip
cm16JAN2012bhav.csv.zip
cm17JAN2012bhav.csv.zip
cm18JAN2012bhav.csv.zip
cm19JAN2012bhav.csv.zip
cm20JAN2012bhav.csv.zip
cm23JAN2012bhav.csv.zip
cm24JAN2012bhav.csv.zip
cm25JAN2012bhav.csv.zip
cm27JAN2012bhav.csv.zip
cm30JAN2012bhav.csv.zip
cm31JAN2012bhav.csv.zip
cm01FEB2012bhav.csv.zip
cm02FEB2012bhav.csv.zip
cm03FEB2012bhav.csv.zip
cm06FEB2012bhav.csv.zip
cm07FEB2012bhav.csv.zip
cm08FEB2012bhav.csv.zip
cm09FEB2012bhav.csv.zip
cm10FEB2012bhav.csv.zip
cm13FEB2012bhav.csv.zip
cm14FEB2012bhav.csv.zip
cm15FEB2012bhav.csv.zip
cm16FEB2012bhav.csv.zip
cm17FEB2012bhav.csv.zip
cm21FEB2012bhav.csv.zip
cm22FEB2012bhav.csv.zip
cm23FEB2012bhav.csv.zip

cm24FEB2012bhav.csv.zip
cm27FEB2012bhav.csv.zip
cm28FEB2012bhav.csv.zip
cm29FEB2012bhav.csv.zip
cm01MAR2012bhav.csv.zip
cm02MAR2012bhav.csv.zip
cm03MAR2012bhav.csv.zip
cm05MAR2012bhav.csv.zip
cm06MAR2012bhav.csv.zip
cm07MAR2012bhav.csv.zip
cm09MAR2012bhav.csv.zip
cm12MAR2012bhav.csv.zip
cm13MAR2012bhav.csv.zip
cm14MAR2012bhav.csv.zip
cm15MAR2012bhav.csv.zip
cm16MAR2012bhav.csv.zip
cm19MAR2012bhav.csv.zip
cm20MAR2012bhav.csv.zip
cm21MAR2012bhav.csv.zip
cm22MAR2012bhav.csv.zip
cm23MAR2012bhav.csv.zip
cm26MAR2012bhav.csv.zip
cm27MAR2012bhav.csv.zip
cm28MAR2012bhav.csv.zip
cm29MAR2012bhav.csv.zip
cm30MAR2012bhav.csv.zip
cm02APR2012bhav.csv.zip
cm03APR2012bhav.csv.zip
cm04APR2012bhav.csv.zip
cm09APR2012bhav.csv.zip
cm10APR2012bhav.csv.zip
cm11APR2012bhav.csv.zip
cm12APR2012bhav.csv.zip
cm13APR2012bhav.csv.zip
cm16APR2012bhav.csv.zip
cm17APR2012bhav.csv.zip
cm18APR2012bhav.csv.zip
cm19APR2012bhav.csv.zip
cm20APR2012bhav.csv.zip
cm23APR2012bhav.csv.zip
cm24APR2012bhav.csv.zip
cm25APR2012bhav.csv.zip
cm26APR2012bhav.csv.zip
cm27APR2012bhav.csv.zip
cm28APR2012bhav.csv.zip
cm30APR2012bhav.csv.zip
cm02MAY2012bhav.csv.zip
cm03MAY2012bhav.csv.zip
cm04MAY2012bhav.csv.zip
cm07MAY2012bhav.csv.zip
cm08MAY2012bhav.csv.zip
cm09MAY2012bhav.csv.zip
cm10MAY2012bhav.csv.zip
cm11MAY2012bhav.csv.zip
cm14MAY2012bhav.csv.zip
cm15MAY2012bhav.csv.zip
cm16MAY2012bhav.csv.zip
cm17MAY2012bhav.csv.zip
cm18MAY2012bhav.csv.zip
cm21MAY2012bhav.csv.zip
cm22MAY2012bhav.csv.zip
cm23MAY2012bhav.csv.zip
cm24MAY2012bhav.csv.zip
cm25MAY2012bhav.csv.zip
cm28MAY2012bhav.csv.zip
cm29MAY2012bhav.csv.zip
cm30MAY2012bhav.csv.zip
cm31MAY2012bhav.csv.zip
cm01JUN2012bhav.csv.zip
cm04JUN2012bhav.csv.zip
cm06JUN2012bhav.csv.zip
cm07JUN2012bhav.csv.zip
cm08JUN2012bhav.csv.zip
cm11JUN2012bhav.csv.zip
cm12JUN2012bhav.csv.zip
cm13JUN2012bhav.csv.zip
cm14JUN2012bhav.csv.zip
cm15JUN2012bhav.csv.zip
cm18JUN2012bhav.csv.zip
cm19JUN2012bhav.csv.zip
cm20JUN2012bhav.csv.zip
cm21JUN2012bhav.csv.zip
cm22JUN2012bhav.csv.zip
cm25JUN2012bhav.csv.zip
cm26JUN2012bhav.csv.zip
cm27JUN2012bhav.csv.zip
cm28JUN2012bhav.csv.zip
cm29JUN2012bhav.csv.zip
cm02JUL2012bhav.csv.zip
cm03JUL2012bhav.csv.zip
cm04JUL2012bhav.csv.zip
cm05JUL2012bhav.csv.zip
cm06JUL2012bhav.csv.zip
cm09JUL2012bhav.csv.zip
cm10JUL2012bhav.csv.zip
cm11JUL2012bhav.csv.zip
cm12JUL2012bhav.csv.zip
cm13JUL2012bhav.csv.zip
cm16JUL2012bhav.csv.zip
cm17JUL2012bhav.csv.zip
cm18JUL2012bhav.csv.zip
cm19JUL2012bhav.csv.zip
cm20JUL2012bhav.csv.zip
cm23JUL2012bhav.csv.zip
cm24JUL2012bhav.csv.zip
cm25JUL2012bhav.csv.zip
cm26JUL2012bhav.csv.zip
cm27JUL2012bhav.csv.zip
cm30JUL2012bhav.csv.zip
cm31JUL2012bhav.csv.zip
cm01AUG2012bhav.csv.zip
cm02AUG2012bhav.csv.zip
cm03AUG2012bhav.csv.zip
cm06AUG2012bhav.csv.zip
cm07AUG2012bhav.csv.zip
cm08AUG2012bhav.csv.zip
cm09AUG2012bhav.csv.zip
cm10AUG2012bhav.csv.zip
cm13AUG2012bhav.csv.zip
cm14AUG2012bhav.csv.zip
cm16AUG2012bhav.csv.zip
cm17AUG2012bhav.csv.zip
cm21AUG2012bhav.csv.zip
cm22AUG2012bhav.csv.zip
cm23AUG2012bhav.csv.zip
cm24AUG2012bhav.csv.zip
cm27AUG2012bhav.csv.zip
cm28AUG2012bhav.csv.zip
cm29AUG2012bhav.csv.zip
cm30AUG2012bhav.csv.zip
cm31AUG2012bhav.csv.zip
cm03SEP2012bhav.csv.zip
cm04SEP2012bhav.csv.zip
cm05SEP2012bhav.csv.zip
cm06SEP2012bhav.csv.zip
cm07SEP2012bhav.csv.zip
cm08SEP2012bhav.csv.zip
cm10SEP2012bhav.csv.zip
cm11SEP2012bhav.csv.zip
cm12SEP2012bhav.csv.zip
cm13SEP2012bhav.csv.zip
cm14SEP2012bhav.csv.zip
cm17SEP2012bhav.csv.zip
cm18SEP2012bhav.csv.zip
cm20SEP2012bhav.csv.zip
cm21SEP2012bhav.csv.zip
cm24SEP2012bhav.csv.zip
cm26SEP2012bhav.csv.zip
cm27SEP2012bhav.csv.zip
cm28SEP2012bhav.csv.zip
cm01OCT2012bhav.csv.zip
cm03OCT2012bhav.csv.zip
cm04OCT2012bhav.csv.zip
cm05OCT2012bhav.csv.zip
cm08OCT2012bhav.csv.zip
cm09OCT2012bhav.csv.zip
cm10OCT2012bhav.csv.zip
cm11OCT2012bhav.csv.zip
cm12OCT2012bhav.csv.zip
cm15OCT2012bhav.csv.zip
cm16OCT2012bhav.csv.zip
cm17OCT2012bhav.csv.zip
cm18OCT2012bhav.csv.zip
cm19OCT2012bhav.csv.zip
cm22OCT2012bhav.csv.zip
cm23OCT2012bhav.csv.zip
cm25OCT2012bhav.csv.zip
cm26OCT2012bhav.csv.zip
cm29OCT2012bhav.csv.zip
cm30OCT2012bhav.csv.zip
cm31OCT2012bhav.csv.zip
cm01NOV2012bhav.csv.zip
cm02NOV2012bhav.csv.zip
cm05NOV2012bhav.csv.zip
cm06NOV2012bhav.csv.zip
cm07NOV2012bhav.csv.zip
cm08NOV2012bhav.csv.zip
cm09NOV2012bhav.csv.zip
cm12NOV2012bhav.csv.zip
cm13NOV2012bhav.csv.zip
cm15NOV2012bhav.csv.zip
cm16NOV2012bhav.csv.zip
cm19NOV2012bhav.csv.zip
cm20NOV2012bhav.csv.zip
cm21NOV2012bhav.csv.zip
cm22NOV2012bhav.csv.zip
cm23NOV2012bhav.csv.zip
cm26NOV2012bhav.csv.zip
cm27NOV2012bhav.csv.zip
cm29NOV2012bhav.csv.zip
cm30NOV2012bhav.csv.zip
cm03DEC2012bhav.csv.zip
cm04DEC2012bhav.csv.zip
cm05DEC2012bhav.csv.zip
cm06DEC2012bhav.csv.zip
cm07DEC2012bhav.csv.zip
cm10DEC2012bhav.csv.zip
cm11DEC2012bhav.csv.zip
cm12DEC2012bhav.csv.zip
cm13DEC2012bhav.csv.zip
cm14DEC2012bhav.csv.zip
cm17DEC2012bhav.csv.zip
cm18DEC2012bhav.csv.zip
cm19DEC2012bhav.csv.zip
cm20DEC2012bhav.csv.zip
cm21DEC2012bhav.csv.zip
cm24DEC2012bhav.csv.zip
cm26DEC2012bhav.csv.zip
cm27DEC2012bhav.csv.zip
cm28DEC2012bhav.csv.zip
cm31DEC2012bhav.csv.zip
cm01JAN2013bhav.csv.zip
cm02JAN2013bhav.csv.zip
cm07JAN2013bhav.csv.zip
cm08JAN2013bhav.csv.zip
cm09JAN2013bhav.csv.zip
cm10JAN2013bhav.csv.zip
cm11JAN2013bhav.csv.zip
cm14JAN2013bhav.csv.zip
cm15JAN2013bhav.csv.zip
cm16JAN2013bhav.csv.zip
cm17JAN2013bhav.csv.zip
cm18JAN2013bhav.csv.zip
cm21JAN2013bhav.csv.zip
cm22JAN2013bhav.csv.zip
cm23JAN2013bhav.csv.zip
cm24JAN2013bhav.csv.zip
cm25JAN2013bhav.csv.zip
cm28JAN2013bhav.csv.zip
cm29JAN2013bhav.csv.zip
cm30JAN2013bhav.csv.zip
cm31JAN2013bhav.csv.zip
cm01FEB2013bhav.csv.zip
cm04FEB2013bhav.csv.zip
cm05FEB2013bhav.csv.zip
cm06FEB2013bhav.csv.zip
cm07FEB2013bhav.csv.zip
cm08FEB2013bhav.csv.zip
cm11FEB2013bhav.csv.zip
cm12FEB2013bhav.csv.zip
cm13FEB2013bhav.csv.zip
cm14FEB2013bhav.csv.zip
cm15FEB2013bhav.csv.zip
cm18FEB2013bhav.csv.zip
cm19FEB2013bhav.csv.zip
cm20FEB2013bhav.csv.zip
cm21FEB2013bhav.csv.zip
cm22FEB2013bhav.csv.zip
cm25FEB2013bhav.csv.zip
cm26FEB2013bhav.csv.zip
cm27FEB2013bhav.csv.zip
cm28FEB2013bhav.csv.zip
cm01MAR2013bhav.csv.zip
cm04MAR2013bhav.csv.zip
cm05MAR2013bhav.csv.zip
cm06MAR2013bhav.csv.zip
cm07MAR2013bhav.csv.zip
cm08MAR2013bhav.csv.zip
cm11MAR2013bhav.csv.zip
cm12MAR2013bhav.csv.zip
cm13MAR2013bhav.csv.zip
cm14MAR2013bhav.csv.zip
cm15MAR2013bhav.csv.zip
cm18MAR2013bhav.csv.zip
cm19MAR2013bhav.csv.zip
cm20MAR2013bhav.csv.zip
cm21MAR2013bhav.csv.zip
cm22MAR2013bhav.csv.zip
cm25MAR2013bhav.csv.zip
cm26MAR2013bhav.csv.zip
cm28MAR2013bhav.csv.zip
cm01APR2013bhav.csv.zip
cm02APR2013bhav.csv.zip
cm03APR2013bhav.csv.zip
cm04APR2013bhav.csv.zip
cm05APR2013bhav.csv.zip
cm08APR2013bhav.csv.zip
cm09APR2013bhav.csv.zip
cm10APR2013bhav.csv.zip
cm11APR2013bhav.csv.zip
cm12APR2013bhav.csv.zip
cm15APR2013bhav.csv.zip
cm16APR2013bhav.csv.zip
cm17APR2013bhav.csv.zip
cm18APR2013bhav.csv.zip
cm22APR2013bhav.csv.zip
cm23APR2013bhav.csv.zip
cm25APR2013bhav.csv.zip
cm26APR2013bhav.csv.zip
cm29APR2013bhav.csv.zip
cm30APR2013bhav.csv.zip
cm02MAY2013bhav.csv.zip
cm03MAY2013bhav.csv.zip
cm06MAY2013bhav.csv.zip
cm07MAY2013bhav.csv.zip
cm08MAY2013bhav.csv.zip
cm09MAY2013bhav.csv.zip
cm10MAY2013bhav.csv.zip
cm11MAY2013bhav.csv.zip
cm13MAY2013bhav.csv.zip
cm14MAY2013bhav.csv.zip
cm15MAY2013bhav.csv.zip
cm16MAY2013bhav.csv.zip
cm17MAY2013bhav.csv.zip
cm20MAY2013bhav.csv.zip
cm21MAY2013bhav.csv.zip
cm22MAY2013bhav.csv.zip
cm23MAY2013bhav.csv.zip
cm24MAY2013bhav.csv.zip
cm27MAY2013bhav.csv.zip
cm28MAY2013bhav.csv.zip
cm29MAY2013bhav.csv.zip
cm30MAY2013bhav.csv.zip
cm31MAY2013bhav.csv.zip
cm03JUN2013bhav.csv.zip
cm04JUN2013bhav.csv.zip
cm05JUN2013bhav.csv.zip
cm06JUN2013bhav.csv.zip
cm07JUN2013bhav.csv.zip
cm10JUN2013bhav.csv.zip
cm11JUN2013bhav.csv.zip
cm12JUN2013bhav.csv.zip
cm13JUN2013bhav.csv.zip
cm14JUN2013bhav.csv.zip
cm17JUN2013bhav.csv.zip
cm18JUN2013bhav.csv.zip
cm19JUN2013bhav.csv.zip
cm20JUN2013bhav.csv.zip
cm21JUN2013bhav.csv.zip
cm24JUN2013bhav.csv.zip
cm25JUN2013bhav.csv.zip
cm26JUN2013bhav.csv.zip
cm27JUN2013bhav.csv.zip
cm28JUN2013bhav.csv.zip
cm01JUL2013bhav.csv.zip
cm02JUL2013bhav.csv.zip
cm03JUL2013bhav.csv.zip
cm04JUL2013bhav.csv.zip
cm05JUL2013bhav.csv.zip
cm08JUL2013bhav.csv.zip
cm09JUL2013bhav.csv.zip
cm10JUL2013bhav.csv.zip
cm11JUL2013bhav.csv.zip
cm12JUL2013bhav.csv.zip
cm15JUL2013bhav.csv.zip
cm16JUL2013bhav.csv.zip
cm17JUL2013bhav.csv.zip
cm18JUL2013bhav.csv.zip
cm19JUL2013bhav.csv.zip
cm22JUL2013bhav.csv.zip
cm23JUL2013bhav.csv.zip
cm24JUL2013bhav.csv.zip
cm25JUL2013bhav.csv.zip
cm26JUL2013bhav.csv.zip

cm29JUL2013bhav.csv.zip
cm30JUL2013bhav.csv.zip
cm31JUL2013bhav.csv.zip
cm01AUG2013bhav.csv.zip
cm02AUG2013bhav.csv.zip
cm05AUG2013bhav.csv.zip
cm06AUG2013bhav.csv.zip
cm07AUG2013bhav.csv.zip
cm08AUG2013bhav.csv.zip
cm12AUG2013bhav.csv.zip
cm13AUG2013bhav.csv.zip
cm14AUG2013bhav.csv.zip
cm16AUG2013bhav.csv.zip
cm19AUG2013bhav.csv.zip
cm20AUG2013bhav.csv.zip
cm21AUG2013bhav.csv.zip
cm22AUG2013bhav.csv.zip
cm23AUG2013bhav.csv.zip
cm26AUG2013bhav.csv.zip
cm27AUG2013bhav.csv.zip
cm28AUG2013bhav.csv.zip
cm29AUG2013bhav.csv.zip
cm30AUG2013bhav.csv.zip
cm02SEP2013bhav.csv.zip
cm03SEP2013bhav.csv.zip
cm04SEP2013bhav.csv.zip
cm05SEP2013bhav.csv.zip
cm06SEP2013bhav.csv.zip
cm10SEP2013bhav.csv.zip
cm11SEP2013bhav.csv.zip
cm12SEP2013bhav.csv.zip
cm13SEP2013bhav.csv.zip
cm16SEP2013bhav.csv.zip
cm17SEP2013bhav.csv.zip
cm18SEP2013bhav.csv.zip
cm19SEP2013bhav.csv.zip
cm20SEP2013bhav.csv.zip
cm23SEP2013bhav.csv.zip
cm24SEP2013bhav.csv.zip
cm25SEP2013bhav.csv.zip
cm26SEP2013bhav.csv.zip
cm27SEP2013bhav.csv.zip
cm30SEP2013bhav.csv.zip
cm01OCT2013bhav.csv.zip
cm03OCT2013bhav.csv.zip
cm04OCT2013bhav.csv.zip
cm07OCT2013bhav.csv.zip
cm08OCT2013bhav.csv.zip
cm09OCT2013bhav.csv.zip
cm10OCT2013bhav.csv.zip
cm11OCT2013bhav.csv.zip
cm14OCT2013bhav.csv.zip
cm15OCT2013bhav.csv.zip
cm17OCT2013bhav.csv.zip
cm18OCT2013bhav.csv.zip
cm21OCT2013bhav.csv.zip
cm22OCT2013bhav.csv.zip
cm23OCT2013bhav.csv.zip
cm24OCT2013bhav.csv.zip
cm25OCT2013bhav.csv.zip
cm28OCT2013bhav.csv.zip
cm29OCT2013bhav.csv.zip
cm30OCT2013bhav.csv.zip
cm31OCT2013bhav.csv.zip
cm01NOV2013bhav.csv.zip
cm05NOV2013bhav.csv.zip
cm06NOV2013bhav.csv.zip
cm07NOV2013bhav.csv.zip
cm08NOV2013bhav.csv.zip
cm11NOV2013bhav.csv.zip
cm12NOV2013bhav.csv.zip
cm13NOV2013bhav.csv.zip
cm14NOV2013bhav.csv.zip
cm18NOV2013bhav.csv.zip
cm19NOV2013bhav.csv.zip
cm20NOV2013bhav.csv.zip
cm21NOV2013bhav.csv.zip
cm22NOV2013bhav.csv.zip
cm25NOV2013bhav.csv.zip
cm26NOV2013bhav.csv.zip
cm27NOV2013bhav.csv.zip
cm28NOV2013bhav.csv.zip
cm29NOV2013bhav.csv.zip
cm02DEC2013bhav.csv.zip
cm03DEC2013bhav.csv.zip
cm04DEC2013bhav.csv.zip
cm05DEC2013bhav.csv.zip
cm06DEC2013bhav.csv.zip
cm09DEC2013bhav.csv.zip
cm10DEC2013bhav.csv.zip
cm11DEC2013bhav.csv.zip
cm12DEC2013bhav.csv.zip
cm13DEC2013bhav.csv.zip
cm16DEC2013bhav.csv.zip
cm17DEC2013bhav.csv.zip
cm18DEC2013bhav.csv.zip
cm19DEC2013bhav.csv.zip
cm20DEC2013bhav.csv.zip
cm23DEC2013bhav.csv.zip
cm24DEC2013bhav.csv.zip
cm26DEC2013bhav.csv.zip
cm27DEC2013bhav.csv.zip
cm30DEC2013bhav.csv.zip
cm31DEC2013bhav.csv.zip
cm01JAN2014bhav.csv.zip
cm02JAN2014bhav.csv.zip
cm03JAN2014bhav.csv.zip
cm06JAN2014bhav.csv.zip
cm07JAN2014bhav.csv.zip
cm08JAN2014bhav.csv.zip
cm09JAN2014bhav.csv.zip
cm10JAN2014bhav.csv.zip
cm13JAN2014bhav.csv.zip
cm14JAN2014bhav.csv.zip
cm15JAN2014bhav.csv.zip
cm16JAN2014bhav.csv.zip
cm17JAN2014bhav.csv.zip
cm20JAN2014bhav.csv.zip
cm21JAN2014bhav.csv.zip
cm22JAN2014bhav.csv.zip
cm23JAN2014bhav.csv.zip
cm24JAN2014bhav.csv.zip
cm27JAN2014bhav.csv.zip
cm28JAN2014bhav.csv.zip
cm29JAN2014bhav.csv.zip
cm30JAN2014bhav.csv.zip
cm31JAN2014bhav.csv.zip
cm03FEB2014bhav.csv.zip
cm04FEB2014bhav.csv.zip
cm05FEB2014bhav.csv.zip
cm06FEB2014bhav.csv.zip
cm07FEB2014bhav.csv.zip
cm10FEB2014bhav.csv.zip
cm11FEB2014bhav.csv.zip
cm12FEB2014bhav.csv.zip
cm13FEB2014bhav.csv.zip
cm14FEB2014bhav.csv.zip
cm17FEB2014bhav.csv.zip
cm18FEB2014bhav.csv.zip
cm19FEB2014bhav.csv.zip
cm20FEB2014bhav.csv.zip
cm21FEB2014bhav.csv.zip
cm24FEB2014bhav.csv.zip
cm25FEB2014bhav.csv.zip
cm26FEB2014bhav.csv.zip
cm28FEB2014bhav.csv.zip
cm03MAR2014bhav.csv.zip
cm04MAR2014bhav.csv.zip
cm05MAR2014bhav.csv.zip
cm06MAR2014bhav.csv.zip
cm07MAR2014bhav.csv.zip
cm10MAR2014bhav.csv.zip
cm11MAR2014bhav.csv.zip
cm12MAR2014bhav.csv.zip
cm13MAR2014bhav.csv.zip
cm14MAR2014bhav.csv.zip
cm18MAR2014bhav.csv.zip
cm19MAR2014bhav.csv.zip
cm20MAR2014bhav.csv.zip
cm21MAR2014bhav.csv.zip
cm22MAR2014bhav.csv.zip
cm24MAR2014bhav.csv.zip
cm25MAR2014bhav.csv.zip
cm26MAR2014bhav.csv.zip
cm27MAR2014bhav.csv.zip
cm28MAR2014bhav.csv.zip
cm31MAR2014bhav.csv.zip
cm01APR2014bhav.csv.zip
cm02APR2014bhav.csv.zip
cm03APR2014bhav.csv.zip
cm04APR2014bhav.csv.zip
cm07APR2014bhav.csv.zip
cm09APR2014bhav.csv.zip
cm10APR2014bhav.csv.zip
cm11APR2014bhav.csv.zip
cm15APR2014bhav.csv.zip
cm16APR2014bhav.csv.zip
cm17APR2014bhav.csv.zip
cm21APR2014bhav.csv.zip
cm22APR2014bhav.csv.zip
cm23APR2014bhav.csv.zip
cm25APR2014bhav.csv.zip
cm28APR2014bhav.csv.zip
cm29APR2014bhav.csv.zip
cm30APR2014bhav.csv.zip
cm02MAY2014bhav.csv.zip
cm05MAY2014bhav.csv.zip
cm06MAY2014bhav.csv.zip
cm07MAY2014bhav.csv.zip
cm08MAY2014bhav.csv.zip
cm09MAY2014bhav.csv.zip
cm12MAY2014bhav.csv.zip
cm13MAY2014bhav.csv.zip
cm14MAY2014bhav.csv.zip
cm15MAY2014bhav.csv.zip
cm16MAY2014bhav.csv.zip
cm19MAY2014bhav.csv.zip
cm20MAY2014bhav.csv.zip
cm21MAY2014bhav.csv.zip
cm22MAY2014bhav.csv.zip
cm23MAY2014bhav.csv.zip
cm26MAY2014bhav.csv.zip
cm27MAY2014bhav.csv.zip
cm28MAY2014bhav.csv.zip
cm29MAY2014bhav.csv.zip
cm30MAY2014bhav.csv.zip
cm02JUN2014bhav.csv.zip
cm03JUN2014bhav.csv.zip
cm04JUN2014bhav.csv.zip
cm05JUN2014bhav.csv.zip
cm06JUN2014bhav.csv.zip
cm09JUN2014bhav.csv.zip
cm10JUN2014bhav.csv.zip
cm11JUN2014bhav.csv.zip
cm12JUN2014bhav.csv.zip
cm13JUN2014bhav.csv.zip
cm16JUN2014bhav.csv.zip
cm17JUN2014bhav.csv.zip
cm18JUN2014bhav.csv.zip
cm19JUN2014bhav.csv.zip
cm20JUN2014bhav.csv.zip
cm23JUN2014bhav.csv.zip
cm24JUN2014bhav.csv.zip
cm25JUN2014bhav.csv.zip
cm26JUN2014bhav.csv.zip
cm27JUN2014bhav.csv.zip
cm30JUN2014bhav.csv.zip
cm01JUL2014bhav.csv.zip
cm02JUL2014bhav.csv.zip
cm03JUL2014bhav.csv.zip
cm04JUL2014bhav.csv.zip
cm07JUL2014bhav.csv.zip
cm08JUL2014bhav.csv.zip
cm09JUL2014bhav.csv.zip
cm10JUL2014bhav.csv.zip
cm11JUL2014bhav.csv.zip
cm14JUL2014bhav.csv.zip
cm15JUL2014bhav.csv.zip
cm16JUL2014bhav.csv.zip
cm17JUL2014bhav.csv.zip
cm18JUL2014bhav.csv.zip
cm21JUL2014bhav.csv.zip
cm22JUL2014bhav.csv.zip
cm23JUL2014bhav.csv.zip
cm24JUL2014bhav.csv.zip
cm25JUL2014bhav.csv.zip
cm28JUL2014bhav.csv.zip
cm30JUL2014bhav.csv.zip
cm31JUL2014bhav.csv.zip
cm01AUG2014bhav.csv.zip
cm04AUG2014bhav.csv.zip
cm05AUG2014bhav.csv.zip
cm06AUG2014bhav.csv.zip
cm07AUG2014bhav.csv.zip
cm08AUG2014bhav.csv.zip
cm11AUG2014bhav.csv.zip
cm12AUG2014bhav.csv.zip
cm13AUG2014bhav.csv.zip
cm14AUG2014bhav.csv.zip
cm18AUG2014bhav.csv.zip
cm19AUG2014bhav.csv.zip
cm20AUG2014bhav.csv.zip
cm21AUG2014bhav.csv.zip
cm22AUG2014bhav.csv.zip
cm25AUG2014bhav.csv.zip
cm26AUG2014bhav.csv.zip
cm27AUG2014bhav.csv.zip
cm28AUG2014bhav.csv.zip
cm01SEP2014bhav.csv.zip
cm02SEP2014bhav.csv.zip
cm03SEP2014bhav.csv.zip
cm04SEP2014bhav.csv.zip
cm05SEP2014bhav.csv.zip
cm08SEP2014bhav.csv.zip
cm09SEP2014bhav.csv.zip
cm10SEP2014bhav.csv.zip
cm11SEP2014bhav.csv.zip
cm12SEP2014bhav.csv.zip
cm15SEP2014bhav.csv.zip
cm16SEP2014bhav.csv.zip
cm17SEP2014bhav.csv.zip
cm18SEP2014bhav.csv.zip
cm19SEP2014bhav.csv.zip
cm22SEP2014bhav.csv.zip
cm23SEP2014bhav.csv.zip
cm24SEP2014bhav.csv.zip
cm25SEP2014bhav.csv.zip
cm26SEP2014bhav.csv.zip
cm29SEP2014bhav.csv.zip
cm30SEP2014bhav.csv.zip
cm01OCT2014bhav.csv.zip
cm07OCT2014bhav.csv.zip
cm08OCT2014bhav.csv.zip
cm09OCT2014bhav.csv.zip
cm10OCT2014bhav.csv.zip
cm13OCT2014bhav.csv.zip
cm14OCT2014bhav.csv.zip
cm16OCT2014bhav.csv.zip
cm17OCT2014bhav.csv.zip
cm20OCT2014bhav.csv.zip
cm21OCT2014bhav.csv.zip
cm22OCT2014bhav.csv.zip
cm23OCT2014bhav.csv.zip
cm27OCT2014bhav.csv.zip
cm28OCT2014bhav.csv.zip
cm29OCT2014bhav.csv.zip
cm30OCT2014bhav.csv.zip
cm31OCT2014bhav.csv.zip
cm03NOV2014bhav.csv.zip
cm05NOV2014bhav.csv.zip
cm07NOV2014bhav.csv.zip
cm10NOV2014bhav.csv.zip
cm11NOV2014bhav.csv.zip
cm12NOV2014bhav.csv.zip
cm13NOV2014bhav.csv.zip
cm14NOV2014bhav.csv.zip
cm17NOV2014bhav.csv.zip
cm18NOV2014bhav.csv.zip
cm19NOV2014bhav.csv.zip
cm20NOV2014bhav.csv.zip
cm21NOV2014bhav.csv.zip
cm24NOV2014bhav.csv.zip
cm25NOV2014bhav.csv.zip
cm26NOV2014bhav.csv.zip
cm27NOV2014bhav.csv.zip
cm28NOV2014bhav.csv.zip
cm01DEC2014bhav.csv.zip
cm02DEC2014bhav.csv.zip
cm03DEC2014bhav.csv.zip
cm04DEC2014bhav.csv.zip
cm05DEC2014bhav.csv.zip
cm08DEC2014bhav.csv.zip
cm09DEC2014bhav.csv.zip
cm10DEC2014bhav.csv.zip
cm11DEC2014bhav.csv.zip
cm12DEC2014bhav.csv.zip
cm15DEC2014bhav.csv.zip
cm16DEC2014bhav.csv.zip
cm17DEC2014bhav.csv.zip
cm18DEC2014bhav.csv.zip
cm19DEC2014bhav.csv.zip
cm22DEC2014bhav.csv.zip
cm23DEC2014bhav.csv.zip
cm24DEC2014bhav.csv.zip
cm26DEC2014bhav.csv.zip
cm29DEC2014bhav.csv.zip
cm30DEC2014bhav.csv.zip
cm31DEC2014bhav.csv.zip
cm01JAN2015bhav.csv.zip
cm02JAN2015bhav.csv.zip
cm05JAN2015bhav.csv.zip
cm06JAN2015bhav.csv.zip
cm07JAN2015bhav.csv.zip
cm08JAN2015bhav.csv.zip
cm09JAN2015bhav.csv.zip
cm12JAN2015bhav.csv.zip
cm13JAN2015bhav.csv.zip
cm14JAN2015bhav.csv.zip
cm15JAN2015bhav.csv.zip
cm16JAN2015bhav.csv.zip
cm19JAN2015bhav.csv.zip
cm20JAN2015bhav.csv.zip
cm21JAN2015bhav.csv.zip
cm22JAN2015bhav.csv.zip
cm23JAN2015bhav.csv.zip
cm27JAN2015bhav.csv.zip
cm28JAN2015bhav.csv.zip
cm29JAN2015bhav.csv.zip
cm30JAN2015bhav.csv.zip

cm02FEB2015bhav.csv.zip
cm03FEB2015bhav.csv.zip
cm04FEB2015bhav.csv.zip
cm05FEB2015bhav.csv.zip
cm06FEB2015bhav.csv.zip
cm09FEB2015bhav.csv.zip
cm10FEB2015bhav.csv.zip
cm11FEB2015bhav.csv.zip
cm12FEB2015bhav.csv.zip
cm13FEB2015bhav.csv.zip
cm16FEB2015bhav.csv.zip
cm18FEB2015bhav.csv.zip
cm19FEB2015bhav.csv.zip
cm20FEB2015bhav.csv.zip
cm23FEB2015bhav.csv.zip
cm24FEB2015bhav.csv.zip
cm25FEB2015bhav.csv.zip
cm26FEB2015bhav.csv.zip
cm27FEB2015bhav.csv.zip
cm28FEB2015bhav.csv.zip
cm02MAR2015bhav.csv.zip
cm03MAR2015bhav.csv.zip
cm04MAR2015bhav.csv.zip
cm05MAR2015bhav.csv.zip
cm09MAR2015bhav.csv.zip
cm10MAR2015bhav.csv.zip
cm11MAR2015bhav.csv.zip
cm12MAR2015bhav.csv.zip
cm13MAR2015bhav.csv.zip
cm16MAR2015bhav.csv.zip
cm17MAR2015bhav.csv.zip
cm18MAR2015bhav.csv.zip
cm19MAR2015bhav.csv.zip
cm20MAR2015bhav.csv.zip
cm23MAR2015bhav.csv.zip
cm24MAR2015bhav.csv.zip
cm25MAR2015bhav.csv.zip
cm26MAR2015bhav.csv.zip
cm27MAR2015bhav.csv.zip
cm30MAR2015bhav.csv.zip
cm31MAR2015bhav.csv.zip
cm01APR2015bhav.csv.zip
cm06APR2015bhav.csv.zip
cm07APR2015bhav.csv.zip
cm08APR2015bhav.csv.zip
cm09APR2015bhav.csv.zip
cm10APR2015bhav.csv.zip
cm13APR2015bhav.csv.zip
cm15APR2015bhav.csv.zip
cm16APR2015bhav.csv.zip
cm17APR2015bhav.csv.zip
cm20APR2015bhav.csv.zip
cm21APR2015bhav.csv.zip
cm22APR2015bhav.csv.zip
cm23APR2015bhav.csv.zip
cm24APR2015bhav.csv.zip
cm27APR2015bhav.csv.zip
cm28APR2015bhav.csv.zip
cm29APR2015bhav.csv.zip
cm30APR2015bhav.csv.zip
cm04MAY2015bhav.csv.zip
cm05MAY2015bhav.csv.zip
cm06MAY2015bhav.csv.zip
cm07MAY2015bhav.csv.zip
cm08MAY2015bhav.csv.zip
cm11MAY2015bhav.csv.zip
cm12MAY2015bhav.csv.zip
cm13MAY2015bhav.csv.zip
cm14MAY2015bhav.csv.zip
cm15MAY2015bhav.csv.zip
cm18MAY2015bhav.csv.zip
cm19MAY2015bhav.csv.zip
cm20MAY2015bhav.csv.zip
cm21MAY2015bhav.csv.zip
cm22MAY2015bhav.csv.zip
cm25MAY2015bhav.csv.zip
cm26MAY2015bhav.csv.zip
cm27MAY2015bhav.csv.zip
cm28MAY2015bhav.csv.zip
cm29MAY2015bhav.csv.zip
cm01JUN2015bhav.csv.zip
cm02JUN2015bhav.csv.zip
cm03JUN2015bhav.csv.zip
cm04JUN2015bhav.csv.zip
cm05JUN2015bhav.csv.zip
cm08JUN2015bhav.csv.zip
cm09JUN2015bhav.csv.zip
cm10JUN2015bhav.csv.zip
cm11JUN2015bhav.csv.zip
cm12JUN2015bhav.csv.zip
cm15JUN2015bhav.csv.zip
cm16JUN2015bhav.csv.zip
cm17JUN2015bhav.csv.zip
cm18JUN2015bhav.csv.zip
cm19JUN2015bhav.csv.zip
cm22JUN2015bhav.csv.zip
cm23JUN2015bhav.csv.zip
cm24JUN2015bhav.csv.zip
cm25JUN2015bhav.csv.zip
cm26JUN2015bhav.csv.zip
cm29JUN2015bhav.csv.zip
cm30JUN2015bhav.csv.zip
cm01JUL2015bhav.csv.zip
cm02JUL2015bhav.csv.zip
cm03JUL2015bhav.csv.zip
cm06JUL2015bhav.csv.zip
cm07JUL2015bhav.csv.zip
cm08JUL2015bhav.csv.zip
cm09JUL2015bhav.csv.zip
cm10JUL2015bhav.csv.zip
cm13JUL2015bhav.csv.zip
cm14JUL2015bhav.csv.zip
cm15JUL2015bhav.csv.zip
cm16JUL2015bhav.csv.zip
cm17JUL2015bhav.csv.zip
cm20JUL2015bhav.csv.zip
cm21JUL2015bhav.csv.zip
cm22JUL2015bhav.csv.zip
cm23JUL2015bhav.csv.zip
cm24JUL2015bhav.csv.zip
cm27JUL2015bhav.csv.zip
cm28JUL2015bhav.csv.zip
cm29JUL2015bhav.csv.zip
cm30JUL2015bhav.csv.zip
cm31JUL2015bhav.csv.zip
cm03AUG2015bhav.csv.zip
cm04AUG2015bhav.csv.zip
cm05AUG2015bhav.csv.zip
cm06AUG2015bhav.csv.zip
cm07AUG2015bhav.csv.zip
cm10AUG2015bhav.csv.zip
cm11AUG2015bhav.csv.zip
cm12AUG2015bhav.csv.zip
cm13AUG2015bhav.csv.zip
cm14AUG2015bhav.csv.zip
cm17AUG2015bhav.csv.zip
cm18AUG2015bhav.csv.zip
cm19AUG2015bhav.csv.zip
cm20AUG2015bhav.csv.zip
cm21AUG2015bhav.csv.zip
cm24AUG2015bhav.csv.zip
cm25AUG2015bhav.csv.zip
cm26AUG2015bhav.csv.zip
cm27AUG2015bhav.csv.zip
cm28AUG2015bhav.csv.zip
cm31AUG2015bhav.csv.zip
cm01SEP2015bhav.csv.zip
cm02SEP2015bhav.csv.zip
cm03SEP2015bhav.csv.zip
cm04SEP2015bhav.csv.zip
cm07SEP2015bhav.csv.zip
cm08SEP2015bhav.csv.zip
cm09SEP2015bhav.csv.zip
cm10SEP2015bhav.csv.zip
cm11SEP2015bhav.csv.zip
cm14SEP2015bhav.csv.zip
cm15SEP2015bhav.csv.zip
cm16SEP2015bhav.csv.zip
cm18SEP2015bhav.csv.zip
cm21SEP2015bhav.csv.zip
cm22SEP2015bhav.csv.zip
cm23SEP2015bhav.csv.zip
cm24SEP2015bhav.csv.zip
cm28SEP2015bhav.csv.zip
cm29SEP2015bhav.csv.zip
cm30SEP2015bhav.csv.zip
cm01OCT2015bhav.csv.zip
cm05OCT2015bhav.csv.zip
cm06OCT2015bhav.csv.zip
cm07OCT2015bhav.csv.zip
cm08OCT2015bhav.csv.zip
cm09OCT2015bhav.csv.zip
cm12OCT2015bhav.csv.zip
cm13OCT2015bhav.csv.zip
cm14OCT2015bhav.csv.zip
cm15OCT2015bhav.csv.zip
cm16OCT2015bhav.csv.zip
cm19OCT2015bhav.csv.zip
cm20OCT2015bhav.csv.zip
cm21OCT2015bhav.csv.zip
cm23OCT2015bhav.csv.zip
cm26OCT2015bhav.csv.zip
cm27OCT2015bhav.csv.zip
cm28OCT2015bhav.csv.zip
cm29OCT2015bhav.csv.zip
cm30OCT2015bhav.csv.zip
cm02NOV2015bhav.csv.zip
cm03NOV2015bhav.csv.zip
cm04NOV2015bhav.csv.zip
cm05NOV2015bhav.csv.zip
cm06NOV2015bhav.csv.zip
cm09NOV2015bhav.csv.zip
cm10NOV2015bhav.csv.zip
cm11NOV2015bhav.csv.zip
cm13NOV2015bhav.csv.zip
cm16NOV2015bhav.csv.zip
cm17NOV2015bhav.csv.zip
cm18NOV2015bhav.csv.zip
cm19NOV2015bhav.csv.zip
cm20NOV2015bhav.csv.zip
cm23NOV2015bhav.csv.zip
cm24NOV2015bhav.csv.zip
cm26NOV2015bhav.csv.zip
cm27NOV2015bhav.csv.zip
cm30NOV2015bhav.csv.zip
cm01DEC2015bhav.csv.zip
cm02DEC2015bhav.csv.zip
cm03DEC2015bhav.csv.zip
cm04DEC2015bhav.csv.zip
cm07DEC2015bhav.csv.zip
cm08DEC2015bhav.csv.zip
cm09DEC2015bhav.csv.zip
cm10DEC2015bhav.csv.zip
cm11DEC2015bhav.csv.zip
cm14DEC2015bhav.csv.zip
cm15DEC2015bhav.csv.zip
cm16DEC2015bhav.csv.zip
cm17DEC2015bhav.csv.zip
cm18DEC2015bhav.csv.zip
cm21DEC2015bhav.csv.zip
cm22DEC2015bhav.csv.zip
cm23DEC2015bhav.csv.zip
cm24DEC2015bhav.csv.zip
cm28DEC2015bhav.csv.zip
cm29DEC2015bhav.csv.zip
cm30DEC2015bhav.csv.zip
cm31DEC2015bhav.csv.zip
cm01JAN2016bhav.csv.zip
cm04JAN2016bhav.csv.zip
cm05JAN2016bhav.csv.zip
cm06JAN2016bhav.csv.zip
cm07JAN2016bhav.csv.zip
cm08JAN2016bhav.csv.zip
cm11JAN2016bhav.csv.zip
cm12JAN2016bhav.csv.zip
cm13JAN2016bhav.csv.zip
cm14JAN2016bhav.csv.zip
cm15JAN2016bhav.csv.zip
cm18JAN2016bhav.csv.zip
cm19JAN2016bhav.csv.zip
cm20JAN2016bhav.csv.zip
cm21JAN2016bhav.csv.zip
cm22JAN2016bhav.csv.zip
cm25JAN2016bhav.csv.zip
cm27JAN2016bhav.csv.zip
cm28JAN2016bhav.csv.zip
cm29JAN2016bhav.csv.zip
cm01FEB2016bhav.csv.zip
cm02FEB2016bhav.csv.zip
cm03FEB2016bhav.csv.zip
cm04FEB2016bhav.csv.zip
cm05FEB2016bhav.csv.zip
cm08FEB2016bhav.csv.zip
cm09FEB2016bhav.csv.zip
cm10FEB2016bhav.csv.zip
cm11FEB2016bhav.csv.zip
cm12FEB2016bhav.csv.zip
cm15FEB2016bhav.csv.zip
cm16FEB2016bhav.csv.zip
cm17FEB2016bhav.csv.zip
cm18FEB2016bhav.csv.zip
cm19FEB2016bhav.csv.zip
cm22FEB2016bhav.csv.zip
cm23FEB2016bhav.csv.zip
cm24FEB2016bhav.csv.zip
cm25FEB2016bhav.csv.zip
cm26FEB2016bhav.csv.zip
cm29FEB2016bhav.csv.zip
cm01MAR2016bhav.csv.zip
cm02MAR2016bhav.csv.zip
cm04MAR2016bhav.csv.zip
cm08MAR2016bhav.csv.zip
cm09MAR2016bhav.csv.zip
cm10MAR2016bhav.csv.zip
cm11MAR2016bhav.csv.zip
cm14MAR2016bhav.csv.zip
cm15MAR2016bhav.csv.zip
cm16MAR2016bhav.csv.zip
cm17MAR2016bhav.csv.zip
cm18MAR2016bhav.csv.zip
cm21MAR2016bhav.csv.zip
cm22MAR2016bhav.csv.zip
cm23MAR2016bhav.csv.zip
cm28MAR2016bhav.csv.zip
cm29MAR2016bhav.csv.zip
cm30MAR2016bhav.csv.zip
cm31MAR2016bhav.csv.zip
cm01APR2016bhav.csv.zip
cm04APR2016bhav.csv.zip
cm05APR2016bhav.csv.zip
cm06APR2016bhav.csv.zip
cm07APR2016bhav.csv.zip
cm08APR2016bhav.csv.zip
cm11APR2016bhav.csv.zip
cm12APR2016bhav.csv.zip
cm13APR2016bhav.csv.zip
cm18APR2016bhav.csv.zip
cm20APR2016bhav.csv.zip
cm21APR2016bhav.csv.zip
cm22APR2016bhav.csv.zip
cm25APR2016bhav.csv.zip
cm26APR2016bhav.csv.zip
cm27APR2016bhav.csv.zip
cm28APR2016bhav.csv.zip
cm29APR2016bhav.csv.zip
cm02MAY2016bhav.csv.zip
cm03MAY2016bhav.csv.zip
cm04MAY2016bhav.csv.zip
cm05MAY2016bhav.csv.zip
cm06MAY2016bhav.csv.zip
cm09MAY2016bhav.csv.zip
cm10MAY2016bhav.csv.zip
cm11MAY2016bhav.csv.zip
cm12MAY2016bhav.csv.zip
cm13MAY2016bhav.csv.zip
cm16MAY2016bhav.csv.zip
cm17MAY2016bhav.csv.zip
cm18MAY2016bhav.csv.zip
cm19MAY2016bhav.csv.zip
cm20MAY2016bhav.csv.zip
cm23MAY2016bhav.csv.zip
cm24MAY2016bhav.csv.zip
cm25MAY2016bhav.csv.zip
cm26MAY2016bhav.csv.zip
cm27MAY2016bhav.csv.zip
cm30MAY2016bhav.csv.zip
cm31MAY2016bhav.csv.zip
cm01JUN2016bhav.csv.zip
cm02JUN2016bhav.csv.zip
cm03JUN2016bhav.csv.zip
cm06JUN2016bhav.csv.zip
cm07JUN2016bhav.csv.zip
cm08JUN2016bhav.csv.zip
cm09JUN2016bhav.csv.zip
cm10JUN2016bhav.csv.zip
cm13JUN2016bhav.csv.zip
cm14JUN2016bhav.csv.zip
cm15JUN2016bhav.csv.zip
cm16JUN2016bhav.csv.zip
cm17JUN2016bhav.csv.zip
cm20JUN2016bhav.csv.zip
cm21JUN2016bhav.csv.zip
cm22JUN2016bhav.csv.zip
cm23JUN2016bhav.csv.zip
cm24JUN2016bhav.csv.zip
cm27JUN2016bhav.csv.zip
cm28JUN2016bhav.csv.zip
cm29JUN2016bhav.csv.zip
cm30JUN2016bhav.csv.zip

cm01JUL2016bhav.csv.zip
cm04JUL2016bhav.csv.zip
cm05JUL2016bhav.csv.zip
cm07JUL2016bhav.csv.zip
cm08JUL2016bhav.csv.zip
cm11JUL2016bhav.csv.zip
cm12JUL2016bhav.csv.zip
cm13JUL2016bhav.csv.zip
cm14JUL2016bhav.csv.zip
cm15JUL2016bhav.csv.zip
cm18JUL2016bhav.csv.zip
cm19JUL2016bhav.csv.zip
cm20JUL2016bhav.csv.zip
cm21JUL2016bhav.csv.zip
cm22JUL2016bhav.csv.zip
cm25JUL2016bhav.csv.zip
cm26JUL2016bhav.csv.zip
cm27JUL2016bhav.csv.zip
cm28JUL2016bhav.csv.zip
cm29JUL2016bhav.csv.zip
cm01AUG2016bhav.csv.zip
cm02AUG2016bhav.csv.zip
cm03AUG2016bhav.csv.zip
cm04AUG2016bhav.csv.zip
cm05AUG2016bhav.csv.zip
cm08AUG2016bhav.csv.zip
cm09AUG2016bhav.csv.zip
cm10AUG2016bhav.csv.zip
cm11AUG2016bhav.csv.zip
cm12AUG2016bhav.csv.zip
cm16AUG2016bhav.csv.zip
cm17AUG2016bhav.csv.zip
cm18AUG2016bhav.csv.zip
cm19AUG2016bhav.csv.zip
cm22AUG2016bhav.csv.zip
cm23AUG2016bhav.csv.zip
cm24AUG2016bhav.csv.zip
cm25AUG2016bhav.csv.zip
cm26AUG2016bhav.csv.zip
cm29AUG2016bhav.csv.zip
cm30AUG2016bhav.csv.zip
cm31AUG2016bhav.csv.zip
cm01SEP2016bhav.csv.zip
cm02SEP2016bhav.csv.zip
cm06SEP2016bhav.csv.zip
cm07SEP2016bhav.csv.zip
cm08SEP2016bhav.csv.zip
cm09SEP2016bhav.csv.zip
cm12SEP2016bhav.csv.zip
cm14SEP2016bhav.csv.zip
cm15SEP2016bhav.csv.zip
cm16SEP2016bhav.csv.zip
cm19SEP2016bhav.csv.zip
cm20SEP2016bhav.csv.zip
cm21SEP2016bhav.csv.zip
cm22SEP2016bhav.csv.zip
cm23SEP2016bhav.csv.zip
cm26SEP2016bhav.csv.zip
cm27SEP2016bhav.csv.zip
cm28SEP2016bhav.csv.zip
cm29SEP2016bhav.csv.zip
cm30SEP2016bhav.csv.zip
cm03OCT2016bhav.csv.zip
cm04OCT2016bhav.csv.zip
cm05OCT2016bhav.csv.zip
cm06OCT2016bhav.csv.zip
cm07OCT2016bhav.csv.zip
cm10OCT2016bhav.csv.zip
cm13OCT2016bhav.csv.zip
cm14OCT2016bhav.csv.zip
cm17OCT2016bhav.csv.zip
cm18OCT2016bhav.csv.zip
cm19OCT2016bhav.csv.zip
cm20OCT2016bhav.csv.zip
cm21OCT2016bhav.csv.zip
cm24OCT2016bhav.csv.zip
cm25OCT2016bhav.csv.zip
cm26OCT2016bhav.csv.zip
cm27OCT2016bhav.csv.zip
cm28OCT2016bhav.csv.zip
cm01NOV2016bhav.csv.zip
cm02NOV2016bhav.csv.zip
cm03NOV2016bhav.csv.zip
cm04NOV2016bhav.csv.zip
cm07NOV2016bhav.csv.zip
cm08NOV2016bhav.csv.zip
cm09NOV2016bhav.csv.zip
cm10NOV2016bhav.csv.zip
cm11NOV2016bhav.csv.zip
cm15NOV2016bhav.csv.zip
cm16NOV2016bhav.csv.zip
cm17NOV2016bhav.csv.zip
cm18NOV2016bhav.csv.zip
cm21NOV2016bhav.csv.zip
cm22NOV2016bhav.csv.zip
cm23NOV2016bhav.csv.zip
cm24NOV2016bhav.csv.zip
cm25NOV2016bhav.csv.zip
cm28NOV2016bhav.csv.zip
cm29NOV2016bhav.csv.zip
cm30NOV2016bhav.csv.zip
cm01DEC2016bhav.csv.zip
cm02DEC2016bhav.csv.zip
cm05DEC2016bhav.csv.zip
cm06DEC2016bhav.csv.zip
cm07DEC2016bhav.csv.zip
cm08DEC2016bhav.csv.zip
cm09DEC2016bhav.csv.zip
cm12DEC2016bhav.csv.zip
cm13DEC2016bhav.csv.zip
cm14DEC2016bhav.csv.zip
cm15DEC2016bhav.csv.zip
cm16DEC2016bhav.csv.zip
cm19DEC2016bhav.csv.zip
cm20DEC2016bhav.csv.zip
cm21DEC2016bhav.csv.zip
cm22DEC2016bhav.csv.zip
cm23DEC2016bhav.csv.zip
cm26DEC2016bhav.csv.zip
cm27DEC2016bhav.csv.zip
cm28DEC2016bhav.csv.zip
cm29DEC2016bhav.csv.zip
cm30DEC2016bhav.csv.zip
cm02JAN2017bhav.csv.zip
cm03JAN2017bhav.csv.zip
cm04JAN2017bhav.csv.zip
cm05JAN2017bhav.csv.zip
cm06JAN2017bhav.csv.zip
cm09JAN2017bhav.csv.zip
cm10JAN2017bhav.csv.zip
cm11JAN2017bhav.csv.zip
cm12JAN2017bhav.csv.zip
cm13JAN2017bhav.csv.zip
cm16JAN2017bhav.csv.zip
cm17JAN2017bhav.csv.zip
cm18JAN2017bhav.csv.zip
cm19JAN2017bhav.csv.zip
cm20JAN2017bhav.csv.zip
cm23JAN2017bhav.csv.zip
cm24JAN2017bhav.csv.zip
cm25JAN2017bhav.csv.zip
cm27JAN2017bhav.csv.zip
cm30JAN2017bhav.csv.zip
cm31JAN2017bhav.csv.zip
cm01FEB2017bhav.csv.zip
cm02FEB2017bhav.csv.zip
cm03FEB2017bhav.csv.zip
cm06FEB2017bhav.csv.zip
cm07FEB2017bhav.csv.zip
cm08FEB2017bhav.csv.zip
cm09FEB2017bhav.csv.zip
cm10FEB2017bhav.csv.zip
cm13FEB2017bhav.csv.zip
cm14FEB2017bhav.csv.zip
cm15FEB2017bhav.csv.zip
cm16FEB2017bhav.csv.zip
cm17FEB2017bhav.csv.zip
cm20FEB2017bhav.csv.zip
cm21FEB2017bhav.csv.zip
cm22FEB2017bhav.csv.zip
cm23FEB2017bhav.csv.zip
cm27FEB2017bhav.csv.zip
cm28FEB2017bhav.csv.zip
cm01MAR2017bhav.csv.zip
cm02MAR2017bhav.csv.zip
cm03MAR2017bhav.csv.zip
cm06MAR2017bhav.csv.zip
cm07MAR2017bhav.csv.zip
cm08MAR2017bhav.csv.zip
cm09MAR2017bhav.csv.zip
cm10MAR2017bhav.csv.zip
cm14MAR2017bhav.csv.zip
cm15MAR2017bhav.csv.zip
cm16MAR2017bhav.csv.zip
cm17MAR2017bhav.csv.zip
cm20MAR2017bhav.csv.zip
cm21MAR2017bhav.csv.zip
cm22MAR2017bhav.csv.zip
cm23MAR2017bhav.csv.zip
cm24MAR2017bhav.csv.zip
cm27MAR2017bhav.csv.zip
cm28MAR2017bhav.csv.zip
cm29MAR2017bhav.csv.zip
cm30MAR2017bhav.csv.zip
cm31MAR2017bhav.csv.zip
cm03APR2017bhav.csv.zip
cm05APR2017bhav.csv.zip
cm06APR2017bhav.csv.zip
cm07APR2017bhav.csv.zip
cm10APR2017bhav.csv.zip
cm11APR2017bhav.csv.zip
cm12APR2017bhav.csv.zip
cm13APR2017bhav.csv.zip
cm17APR2017bhav.csv.zip
cm18APR2017bhav.csv.zip
cm19APR2017bhav.csv.zip
cm20APR2017bhav.csv.zip
cm21APR2017bhav.csv.zip
cm24APR2017bhav.csv.zip
cm25APR2017bhav.csv.zip
cm26APR2017bhav.csv.zip
cm27APR2017bhav.csv.zip
cm28APR2017bhav.csv.zip
cm02MAY2017bhav.csv.zip
cm03MAY2017bhav.csv.zip
cm04MAY2017bhav.csv.zip
cm05MAY2017bhav.csv.zip
cm08MAY2017bhav.csv.zip
cm09MAY2017bhav.csv.zip
cm10MAY2017bhav.csv.zip
cm11MAY2017bhav.csv.zip
cm12MAY2017bhav.csv.zip
cm15MAY2017bhav.csv.zip
cm16MAY2017bhav.csv.zip
cm17MAY2017bhav.csv.zip
cm18MAY2017bhav.csv.zip
cm19MAY2017bhav.csv.zip
cm22MAY2017bhav.csv.zip
cm23MAY2017bhav.csv.zip
cm24MAY2017bhav.csv.zip
cm25MAY2017bhav.csv.zip
cm26MAY2017bhav.csv.zip
cm29MAY2017bhav.csv.zip
cm30MAY2017bhav.csv.zip
cm31MAY2017bhav.csv.zip
cm01JUN2017bhav.csv.zip
cm02JUN2017bhav.csv.zip
cm05JUN2017bhav.csv.zip
cm06JUN2017bhav.csv.zip
cm07JUN2017bhav.csv.zip
cm08JUN2017bhav.csv.zip
cm09JUN2017bhav.csv.zip
cm12JUN2017bhav.csv.zip
cm13JUN2017bhav.csv.zip
cm14JUN2017bhav.csv.zip
cm15JUN2017bhav.csv.zip
cm16JUN2017bhav.csv.zip
cm19JUN2017bhav.csv.zip
cm21JUN2017bhav.csv.zip
cm22JUN2017bhav.csv.zip
cm23JUN2017bhav.csv.zip
cm27JUN2017bhav.csv.zip
cm28JUN2017bhav.csv.zip
cm29JUN2017bhav.csv.zip
cm30JUN2017bhav.csv.zip
cm03JUL2017bhav.csv.zip
cm04JUL2017bhav.csv.zip
cm05JUL2017bhav.csv.zip
cm06JUL2017bhav.csv.zip
cm07JUL2017bhav.csv.zip
cm10JUL2017bhav.csv.zip
cm11JUL2017bhav.csv.zip
cm12JUL2017bhav.csv.zip
cm13JUL2017bhav.csv.zip
cm14JUL2017bhav.csv.zip
cm17JUL2017bhav.csv.zip
cm18JUL2017bhav.csv.zip
cm19JUL2017bhav.csv.zip
cm20JUL2017bhav.csv.zip
cm21JUL2017bhav.csv.zip
cm24JUL2017bhav.csv.zip
cm25JUL2017bhav.csv.zip
cm26JUL2017bhav.csv.zip
cm27JUL2017bhav.csv.zip
cm28JUL2017bhav.csv.zip
cm31JUL2017bhav.csv.zip
cm01AUG2017bhav.csv.zip
cm02AUG2017bhav.csv.zip
cm03AUG2017bhav.csv.zip
cm04AUG2017bhav.csv.zip
cm07AUG2017bhav.csv.zip
cm08AUG2017bhav.csv.zip
cm09AUG2017bhav.csv.zip
cm10AUG2017bhav.csv.zip
cm11AUG2017bhav.csv.zip
cm14AUG2017bhav.csv.zip
cm16AUG2017bhav.csv.zip
cm17AUG2017bhav.csv.zip
cm18AUG2017bhav.csv.zip
cm21AUG2017bhav.csv.zip
cm22AUG2017bhav.csv.zip
cm23AUG2017bhav.csv.zip
cm24AUG2017bhav.csv.zip
cm28AUG2017bhav.csv.zip
cm29AUG2017bhav.csv.zip
cm30AUG2017bhav.csv.zip
cm31AUG2017bhav.csv.zip
cm01SEP2017bhav.csv.zip
cm04SEP2017bhav.csv.zip
cm05SEP2017bhav.csv.zip
cm06SEP2017bhav.csv.zip
cm07SEP2017bhav.csv.zip
cm08SEP2017bhav.csv.zip
cm11SEP2017bhav.csv.zip
cm12SEP2017bhav.csv.zip
cm13SEP2017bhav.csv.zip
cm14SEP2017bhav.csv.zip
cm15SEP2017bhav.csv.zip
cm18SEP2017bhav.csv.zip
cm19SEP2017bhav.csv.zip
cm20SEP2017bhav.csv.zip
cm21SEP2017bhav.csv.zip
cm22SEP2017bhav.csv.zip
cm25SEP2017bhav.csv.zip
cm26SEP2017bhav.csv.zip
cm27SEP2017bhav.csv.zip
cm28SEP2017bhav.csv.zip
cm29SEP2017bhav.csv.zip
cm03OCT2017bhav.csv.zip
cm04OCT2017bhav.csv.zip
cm05OCT2017bhav.csv.zip
cm06OCT2017bhav.csv.zip
cm09OCT2017bhav.csv.zip
cm10OCT2017bhav.csv.zip
cm11OCT2017bhav.csv.zip
cm12OCT2017bhav.csv.zip
cm13OCT2017bhav.csv.zip
cm16OCT2017bhav.csv.zip
cm17OCT2017bhav.csv.zip
cm18OCT2017bhav.csv.zip
cm19OCT2017bhav.csv.zip
cm23OCT2017bhav.csv.zip
cm24OCT2017bhav.csv.zip
cm25OCT2017bhav.csv.zip
cm26OCT2017bhav.csv.zip
cm27OCT2017bhav.csv.zip
cm30OCT2017bhav.csv.zip
cm31OCT2017bhav.csv.zip
cm01NOV2017bhav.csv.zip
cm02NOV2017bhav.csv.zip
cm03NOV2017bhav.csv.zip
cm06NOV2017bhav.csv.zip
cm07NOV2017bhav.csv.zip
cm08NOV2017bhav.csv.zip
cm09NOV2017bhav.csv.zip
cm10NOV2017bhav.csv.zip
cm13NOV2017bhav.csv.zip
cm14NOV2017bhav.csv.zip
cm15NOV2017bhav.csv.zip
cm16NOV2017bhav.csv.zip
cm17NOV2017bhav.csv.zip
cm20NOV2017bhav.csv.zip
cm21NOV2017bhav.csv.zip
cm22NOV2017bhav.csv.zip
cm23NOV2017bhav.csv.zip
cm24NOV2017bhav.csv.zip
cm27NOV2017bhav.csv.zip
cm28NOV2017bhav.csv.zip
cm29NOV2017bhav.csv.zip
cm30NOV2017bhav.csv.zip
cm01DEC2017bhav.csv.zip
cm04DEC2017bhav.csv.zip
cm05DEC2017bhav.csv.zip
cm06DEC2017bhav.csv.zip

cm07DEC2017bhav.csv.zip
cm08DEC2017bhav.csv.zip
cm11DEC2017bhav.csv.zip
cm12DEC2017bhav.csv.zip
cm13DEC2017bhav.csv.zip
cm14DEC2017bhav.csv.zip
cm15DEC2017bhav.csv.zip
cm18DEC2017bhav.csv.zip
cm19DEC2017bhav.csv.zip
cm20DEC2017bhav.csv.zip
cm21DEC2017bhav.csv.zip
cm22DEC2017bhav.csv.zip
cm26DEC2017bhav.csv.zip
cm27DEC2017bhav.csv.zip
cm28DEC2017bhav.csv.zip
cm29DEC2017bhav.csv.zip
cm01JAN2018bhav.csv.zip
cm02JAN2018bhav.csv.zip
cm03JAN2018bhav.csv.zip
cm04JAN2018bhav.csv.zip
cm05JAN2018bhav.csv.zip
cm08JAN2018bhav.csv.zip
cm09JAN2018bhav.csv.zip
cm10JAN2018bhav.csv.zip
cm11JAN2018bhav.csv.zip
cm12JAN2018bhav.csv.zip
cm15JAN2018bhav.csv.zip
cm16JAN2018bhav.csv.zip
cm17JAN2018bhav.csv.zip
cm18JAN2018bhav.csv.zip
cm19JAN2018bhav.csv.zip
cm22JAN2018bhav.csv.zip
cm23JAN2018bhav.csv.zip
cm24JAN2018bhav.csv.zip
cm25JAN2018bhav.csv.zip
cm29JAN2018bhav.csv.zip
cm30JAN2018bhav.csv.zip
cm31JAN2018bhav.csv.zip
cm01FEB2018bhav.csv.zip
cm02FEB2018bhav.csv.zip
cm05FEB2018bhav.csv.zip
cm06FEB2018bhav.csv.zip
cm07FEB2018bhav.csv.zip
cm08FEB2018bhav.csv.zip
cm09FEB2018bhav.csv.zip
cm12FEB2018bhav.csv.zip
cm14FEB2018bhav.csv.zip
cm15FEB2018bhav.csv.zip
cm16FEB2018bhav.csv.zip
cm19FEB2018bhav.csv.zip
cm20FEB2018bhav.csv.zip
cm21FEB2018bhav.csv.zip
cm22FEB2018bhav.csv.zip
cm23FEB2018bhav.csv.zip
cm26FEB2018bhav.csv.zip
cm27FEB2018bhav.csv.zip
cm28FEB2018bhav.csv.zip
cm01MAR2018bhav.csv.zip
cm05MAR2018bhav.csv.zip
cm06MAR2018bhav.csv.zip
cm07MAR2018bhav.csv.zip
cm08MAR2018bhav.csv.zip
cm09MAR2018bhav.csv.zip
cm12MAR2018bhav.csv.zip
cm13MAR2018bhav.csv.zip

In [218]:
mydict={}
mydict.update({'1':'hello','2':'jello'})
gdict={'3':'hello1','a':'jello2'}
mydict.update({'3':'hello1','a':'jello2'})

In [228]:
len(tables)

0

In [211]:
new_tfns[]

{'BROOKBOND': __main__.stock_class.<locals>.Stock,
 'JKCORP': __main__.stock_class.<locals>.Stock,
 'SCI': __main__.stock_class.<locals>.Stock,
 'TATAHYDRO': __main__.stock_class.<locals>.Stock,
 'VOLTAS': __main__.stock_class.<locals>.Stock}

In [202]:
tbls_not_in_db

array(['BROOKBOND', 'JKCORP', 'SCI', 'TATAHYDRO', 'VOLTAS'], dtype=object)

In [212]:
new_tfns[tbls_not_in_db[0]]

__main__.stock_class.<locals>.Stock

In [37]:
genomes = ["A", "B"]
tbl=[]
# tables = {x: build_genome_table(x) for x in genomes}
# mytable1=get_class('table1')
# mytable2=get_class('table2')
i=0
for s in genomes:
    tbl.append(stock_class(s))
    i +=1
Base.metadata.create_all(db_engine)

D:\adiarun\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  item.__name__

In [70]:
# df.SYMBOL.values

In [71]:
values.shape[1]
# len(values)
values[1]

array([4500.0, 4660.0, 4500.0, 4625.0, 0.0, 210, 955350.0,
       Timestamp('1994-11-03 00:00:00'), 0], dtype=object)

In [30]:
def get_class(table_name):
    extend_existing=True
    class GenericTable(Base):
        __tablename__ = table_name

        ID= Column(Integer, primary_key=True)
#         def funcation(self):
#             pass
    return GenericTable

In [100]:


# tstamp=datetime.strptime(df['TIMESTAMP'].iloc[0],'%d-%b-%Y')
# mfrec['id']=mfrec.index
# df['TIMESTAMP']=tstamp
# df
# if 'Unnamed: 11' in df.columns:
#     df=df.drop(['Unnamed: 11'], axis=1)
#     print('Yes it is')
# df
len(dirlist)
file
# 4094, 4095, Zip file not good for file: cm22JUN2011bhav.csv.zip
# Zip file not good for file: cm23JUN2011bhav.csv.zip
df.head(4)

,OPEN,HIGH,LOW,CLOSE,LAST,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,715.0,715.0,715.0,715.00,715.0,100,71500.0,1994-11-03,0
1,4500.0,4660.0,4500.0,4636.75,4625.0,210,955350.0,1994-11-03,0
2,62.0,62.0,62.0,62.00,62.0,100,6200.0,1994-11-03,0
3,425.0,425.0,425.0,425.00,425.0,100,42500.0,1994-11-03,0

In [155]:

dirlist[-10:]

['cm27FEB2018bhav.csv.zip',
 'cm28FEB2018bhav.csv.zip',
 'cm01MAR2018bhav.csv.zip',
 'cm05MAR2018bhav.csv.zip',
 'cm06MAR2018bhav.csv.zip',
 'cm07MAR2018bhav.csv.zip',
 'cm08MAR2018bhav.csv.zip',
 'cm09MAR2018bhav.csv.zip',
 'cm12MAR2018bhav.csv.zip',
 'cm13MAR2018bhav.csv.zip']

In [17]:
# dirlist.sort()
# dirlist

import os
from datetime import datetime
for filename in dirlist:
    info = os.stat("D:/SoftwareWebApps/Python/python_wb/Stocks/Data/"+filename)
    print (datetime.fromtimestamp(info.st_mtime))

2018-01-20 09:25:36.384344
2018-01-20 08:55:36.946496
2018-01-20 04:34:09.482402
2018-01-20 04:04:32.574550
2018-01-20 03:35:21.090492
2018-01-20 03:05:04.566205
2018-01-20 08:45:26.279938
2018-01-20 04:53:55.442812
2018-01-20 04:24:04.708156
2018-01-20 03:54:45.698209
2018-01-20 02:55:16.521244
2018-01-20 02:25:47.072958
2018-01-20 09:35:23.683132
2018-01-20 09:05:42.201239
2018-01-20 08:35:31.325376
2018-01-20 03:45:06.457118
2018-01-20 03:15:39.654761
2018-01-20 02:45:23.006925
2018-01-20 02:15:55.431077
2018-01-20 09:30:26.306890
2018-01-20 09:00:45.983607
2018-01-20 08:30:33.201493
2018-01-20 04:38:50.649267
2018-01-20 03:10:16.733533
2018-01-20 02:40:23.153975
2018-01-20 04:41:23.849816
2018-01-20 04:11:47.004485
2018-01-20 03:42:35.811636
2018-01-20 03:12:43.086353
2018-01-20 02:13:28.537547
2018-01-20 09:18:15.387271
2018-01-20 08:48:07.612074
2018-01-20 04:26:37.107669
2018-01-20 03:57:16.776443
2018-01-20 03:28:01.624182
2018-01-20 02:57:43.750047
2018-01-20 09:20:41.549067
2018-01-20 08:50:39.830534
2018-01-20 04:58:47.707651
2018-01-20 03:30:29.609428
2018-01-20 03:00:11.968568
2018-01-20 02:30:41.284141
2018-01-20 08:58:09.960620
2018-01-20 08:28:12.477692
2018-01-20 04:36:35.763541
2018-01-20 03:07:55.186903
2018-01-20 02:38:07.409115
2018-01-20 09:08:06.896672
2018-01-20 08:37:56.990039
2018-01-20 04:46:16.223673
2018-01-20 04:16:40.012758
2018-01-20 02:47:50.000463
2018-01-20 02:18:22.988413
2018-01-20 09:10:32.176533
2018-01-20 04:48:48.170717
2018-01-20 04:19:10.756811
2018-01-20 03:49:55.453780
2018-01-20 03:20:33.606479
2018-01-20 09:12:59.921632
2018-01-20 03:52:20.465235
2018-01-20 03:23:00.109978
2018-01-20 02:52:44.267251
2018-01-20 02:23:14.719035
2018-01-20 08:25:41.276838
2018-01-20 04:34:03.689193
2018-01-20 04:04:27.330503
2018-01-20 09:15:45.592986
2018-01-20 08:45:24.051281
2018-01-20 04:53:49.678227
2018-01-20 04:23:59.829658
2018-01-20 02:55:12.169214
2018-01-20 02:25:41.053826
2018-01-20 01:41:53.168090
2018-01-20 09:35:18.116403
2018-01-20 09:05:36.552250
2018-01-20 08:35:25.648655
2018-01-20 04:14:13.237159
2018-01-20 03:45:02.360035
2018-01-20 03:15:34.414085
2018-01-20 02:45:17.417974
2018-01-20 09:30:20.740652
2018-01-20 09:00:40.225874
2018-01-20 08:30:27.582633
2018-01-20 03:40:03.811596
2018-01-20 03:10:10.985496
2018-01-20 02:40:17.355594
2018-01-20 08:32:59.505972
2018-01-20 04:41:18.591566
2018-01-20 04:11:41.386092
2018-01-20 03:42:30.194120
2018-01-20 02:42:50.122697
2018-01-20 02:13:22.954199
2018-01-20 09:18:09.793233
2018-01-20 04:56:22.288431
2018-01-20 04:26:31.072051
2018-01-20 03:57:11.382826
2018-01-20 03:27:56.413508
2018-01-20 09:20:36.278944
2018-01-20 08:50:34.059031
2018-01-20 03:59:36.439334
2018-01-20 03:30:23.030735
2018-01-20 03:00:05.784826
2018-01-20 02:30:35.603815
2018-01-20 09:28:03.426281
2018-01-20 08:28:07.319752
2018-01-20 03:37:49.282014
2018-01-20 03:07:49.584315
2018-01-20 02:38:01.689955
2018-01-20 08:53:09.823084
2018-01-20 05:01:14.419084
2018-01-20 04:31:23.313208
2018-01-20 04:02:01.406818
2018-01-20 03:02:38.279148
2018-01-20 02:33:08.043773
2018-01-20 09:08:01.268477
2018-01-20 08:37:51.292360
2018-01-20 04:46:10.892745
2018-01-20 03:18:00.780706
2018-01-20 02:47:44.616603
2018-01-20 02:18:17.193947
2018-01-20 09:12:54.223171
2018-01-20 08:42:44.920031
2018-01-20 04:21:31.063888
2018-01-20 03:52:14.815971
2018-01-20 03:22:54.646385
2018-01-20 02:52:38.757465
2018-01-20 08:25:35.531009
2018-01-20 04:33:57.990822
2018-01-20 04:04:21.274611
2018-01-20 02:35:29.121836
2018-01-20 09:15:39.205261
2018-01-20 08:45:19.322872
2018-01-20 04:53:44.259513
2018-01-20 03:25:22.432586
2018-01-20 02:55:05.514329
2018-01-20 02:25:35.396358
2018-01-20 01:38:51.014724
2018-01-20 09:35:12.795414
2018-01-20 09:05:30.802557
2018-01-20 04:43:44.566316
2018-01-20 04:14:07.868271
2018-01-20 03:44:55.756850
2018-01-20 03:15:03.909590
2018-01-20 09:30:15.074592
2018-01-20 09:00:34.837223
2018-01-20 08:30:22.153081
2018-01-20 04:09:09.101591
2018-01-20 03:39:58.118414
2018-01-20 03:10:05.291132
2018-01-20 02:40:12.035153
2018-01-20 09:03:05.570950
2018-01-20 08:32:53.552545
2018-01-20 04:11:35.682034
2018-01-20 02:42:44.389441
2018-01-20 02:13:17.570575
2018-01-20 04:56:15.846778
2018-01-20 04:26:25.644574
2018-01-20 03:57:05.422329
2018-01-20 03:27:50.420916
2018-01-20 02:28:09.338535
2018-01-20 09:20:30.197099
2018-01-20 08:50:30.435360
2018-01-20 04:28:51.415910
2018-01-20 03:59:30.896437
2018-01-20 03:30:17.364550
2018-01-20 03:00:00.000128
2018-01-20 09:27:57.721893
2018-01-20 08:57:58.856920
2018-01-20 08:28:00.994573
2018-01-20 04:06:54.319325
2018-01-20 03:37:45.551352
2018-01-20 02:37:55.909648
2018-01-20 09:23:03.232480
2018-01-20 08:53:04.545433
2018-01-20 05:01:08.813520
2018-01-20 04:31:17.728557
2018-01-20 03:02:32.537849
2018-01-20 02:33:02.599726
2018-01-20 09:37:38.735348
2018-01-20 09:07:56.043282
2018-01-20 08:37:45.837700
2018-01-20 03:47:19.878055
2018-01-20 03:17:54.936536
2018-01-20 02:47:38.967832
2018-01-20 02:18:11.545867
2018-01-20 08:40:17.570622
2018-01-20 04:48:37.233854
2018-01-20 04:19:00.435903
2018-01-20 02:50:11.332971
2018-01-20 02:20:43.421949
2018-01-20 09:12:48.702530
2018-01-20 04:51:17.886808
2018-01-20 04:21:25.245908
2018-01-20 03:52:09.640243
2018-01-20 03:22:49.097391
2018-01-20 08:55:27.027669
2018-01-20 08:25:30.083307
2018-01-20 04:33:52.194639
2018-01-20 04:04:15.967223
2018-01-20 03:04:53.839103
2018-01-20 09:15:33.753228
2018-01-20 08:45:07.044536
2018-01-20 03:54:34.782275
2018-01-20 03:25:16.579326
2018-01-20 02:54:59.665570
2018-01-20 02:25:29.755911
2018-01-20 09:35:06.842356
2018-01-20 04:43:38.844888
2018-01-20 04:14:02.131605
2018-01-20 03:44:49.995962
2018-01-20 03:14:58.235328
2018-01-20 02:15:44.522583
2018-01-20 09:30:09.231395
2018-01-20 09:00:32.443613
2018-01-20 04:38:39.181115
2018-01-20 04:09:03.352964
2018-01-20 03:39:52.624782
2018-01-20 03:09:59.554391
2018-01-20 09:32:41.448354
2018-01-20 09:02:59.913348
2018-01-20 08:32:48.062309
2018-01-20 03:12:32.105608
2018-01-20 02:42:39.760204
2018-01-20 02:13:11.979889
2018-01-20 08:47:56.692698
2018-01-20 04:56:10.369267
2018-01-20 04:26:20.603873
2018-01-20 03:56:59.539427
2018-01-20 02:57:32.477982
2018-01-20 02:28:03.538331
2018-01-20 09:20:24.625898
2018-01-20 04:58:36.707622
2018-01-20 04:28:45.688070
2018-01-20 03:59:25.239655
2018-01-20 03:30:11.528195
2018-01-20 09:27:52.399830
2018-01-20 08:57:55.321422
2018-01-20 04:36:24.742199
2018-01-20 04:06:48.844225
2018-01-20 03:37:36.891294
2018-01-20 03:07:38.734809
2018-01-20 09:22:57.629318
2018-01-20 08:53:00.626938
2018-01-20 05:01:03.106263
2018-01-20 03:32:44.057090
2018-01-20 03:02:27.389442
2018-01-20 02:32:57.105661
2018-01-20 09:37:33.150034
2018-01-20 09:07:50.103770
2018-01-20 08:37:40.348304
2018-01-20 03:17:49.338085
2018-01-20 02:47:33.024965
2018-01-20 09:10:21.111897
2018-01-20 08:40:11.666773
2018-01-20 04:48:31.253147
2018-01-20 04:18:54.978727
2018-01-20 02:50:05.491993
2018-01-20 02:20:38.726429
2018-01-20 04:51:12.367067
2018-01-20 04:21:19.622002
2018-01-20 03:52:03.533041
2018-01-20 03:22:43.471354
2018-01-20 02:23:03.497661
2018-01-20 09:25:18.728364
2018-01-20 08:55:20.142724
2018-01-20 04:33:47.139837
2018-01-20 03:04:47.966764
2018-01-20 02:35:17.684319
2018-01-20 09:15:28.371954
2018-01-20 08:45:05.210775
2018-01-20 04:23:47.641178
2018-01-20 03:54:29.156401
2018-01-20 03:25:10.837997
2018-01-20 02:54:54.012567
2018-01-20 08:35:14.689588
2018-01-20 04:43:33.113522
2018-01-20 04:13:57.077165
2018-01-20 03:44:44.593018
2018-01-20 02:45:06.318820
2018-01-20 02:15:38.749775
2018-01-20 09:30:03.669374
2018-01-20 04:38:33.290210
2018-01-20 04:08:57.913954
2018-01-20 03:39:47.173933
2018-01-20 03:09:53.858290
2018-01-20 09:32:35.262017
2018-01-20 09:02:54.240853
2018-01-20 08:32:42.125640
2018-01-20 03:42:19.123627
2018-01-20 03:12:26.571369
2018-01-20 02:42:33.058233
2018-01-20 02:13:06.003866
2018-01-20 09:17:58.575271
2018-01-20 08:47:50.761108
2018-01-20 04:56:04.637742
2018-01-20 04:26:14.200092
2018-01-20 02:57:26.874586
2018-01-20 02:27:58.000791
2018-01-20 04:28:40.054487
2018-01-20 03:59:19.960912
2018-01-20 03:30:05.974347
2018-01-20 02:30:24.449120
2018-01-20 09:27:46.625595
2018-01-20 08:27:55.410689
2018-01-20 04:36:18.972449
2018-01-20 04:06:43.206538
2018-01-20 03:37:30.821752
2018-01-20 09:22:51.789821
2018-01-20 08:52:52.936114
2018-01-20 04:01:50.147342
2018-01-20 03:32:38.426220
2018-01-20 03:02:21.504323
2018-01-20 02:32:53.171231
2018-01-20 09:37:27.639849
2018-01-20 09:07:44.565778
2018-01-20 04:45:59.667110
2018-01-20 04:16:23.005032
2018-01-20 03:47:08.739888
2018-01-20 03:17:43.454918
2018-01-20 09:10:15.301497
2018-01-20 08:40:06.151623
2018-01-20 04:48:25.727176
2018-01-20 03:20:16.256852
2018-01-20 02:50:00.059480
2018-01-20 02:20:31.966162
2018-01-20 08:42:34.101964
2018-01-20 04:51:06.879313
2018-01-20 04:21:13.887873
2018-01-20 03:51:58.070045
2018-01-20 02:22:57.833817
2018-01-20 09:25:13.135700
2018-01-20 08:55:14.585659
2018-01-20 03:34:59.536216
2018-01-20 03:04:42.177949
2018-01-20 02:35:12.001320
2018-01-20 09:15:22.341781
2018-01-20 04:53:32.864906
2018-01-20 04:23:42.197172
2018-01-20 03:54:23.492419
2018-01-20 03:25:05.264758
2018-01-20 09:05:19.738874
2018-01-20 04:43:27.419865
2018-01-20 04:13:51.791713
2018-01-20 02:45:00.335273
2018-01-20 02:15:33.002551
2018-01-20 09:29:58.343288
2018-01-20 08:30:10.885521
2018-01-20 04:38:27.714717
2018-01-20 04:08:51.979621
2018-01-20 03:39:41.325161
2018-01-20 02:40:00.392878
2018-01-20 09:32:29.472736
2018-01-20 09:02:48.611826
2018-01-20 08:32:37.184740
2018-01-20 04:11:24.380923
2018-01-20 03:42:13.121266
2018-01-20 03:12:20.772264
2018-01-20 02:42:27.572520
2018-01-20 09:17:52.759426
2018-01-20 08:47:45.450560
2018-01-20 04:55:59.048549
2018-01-20 03:27:39.222262
2018-01-20 02:27:52.405152
2018-01-20 08:50:15.231799
2018-01-20 04:58:25.429258
2018-01-20 04:28:34.422061
2018-01-20 03:59:14.196393
2018-01-20 02:59:48.885621
2018-01-20 02:30:18.685679
2018-01-20 08:27:49.749383
2018-01-20 04:36:13.190480
2018-01-20 04:06:37.247336
2018-01-20 02:37:44.755151
2018-01-20 09:22:46.732914
2018-01-20 08:52:46.206061
2018-01-20 04:31:06.646790
2018-01-20 04:01:44.535587
2018-01-20 03:32:32.985317
2018-01-20 03:02:15.798803
2018-01-20 09:37:22.507170
2018-01-20 04:45:53.808917
2018-01-20 04:16:17.558538
2018-01-20 03:17:37.678740
2018-01-20 02:18:00.221184
2018-01-20 09:10:09.821373
2018-01-20 03:20:10.780351
2018-01-20 02:49:53.873794
2018-01-20 02:20:26.230392
2018-01-20 09:12:37.342792
2018-01-20 08:42:28.431348
2018-01-20 04:51:01.120643
2018-01-20 04:21:08.520665
2018-01-20 02:52:21.631360
2018-01-20 02:22:52.478529
2018-01-20 09:25:07.710123
2018-01-20 08:55:09.007904
2018-01-20 04:04:05.262743
2018-01-20 03:34:53.554531
2018-01-20 03:04:36.386724
2018-01-20 02:35:06.337703
2018-01-20 04:53:27.107275
2018-01-20 04:23:36.537930
2018-01-20 03:54:17.818454
2018-01-20 03:24:59.520777
2018-01-20 02:25:18.457912
2018-01-20 09:34:55.647986
2018-01-20 09:05:14.155943
2018-01-20 08:35:03.152536
2018-01-20 04:43:21.743484
2018-01-20 03:14:47.176898
2018-01-20 02:44:54.632361
2018-01-20 02:15:27.357086
2018-01-20 09:00:10.366683
2018-01-20 08:30:05.656207
2018-01-20 04:38:21.959164
2018-01-20 04:08:46.802619
2018-01-20 02:39:54.476382
2018-01-20 09:32:23.951327
2018-01-20 09:02:43.180649
2018-01-20 08:32:31.161618
2018-01-20 04:40:54.140775
2018-01-20 04:11:18.655606
2018-01-20 03:42:07.802255
2018-01-20 03:12:15.160891
2018-01-20 09:17:47.392469
2018-01-20 08:47:39.888602
2018-01-20 03:56:49.128551
2018-01-20 03:27:33.299181
2018-01-20 02:57:15.377612
2018-01-20 02:27:46.893926
2018-01-20 09:20:14.149154
2018-01-20 08:50:07.827540
2018-01-20 04:58:19.641834
2018-01-20 04:28:28.779465
2018-01-20 02:59:43.058430
2018-01-20 02:30:12.875656
2018-01-20 08:57:42.544833
2018-01-20 08:27:44.729507
2018-01-20 04:36:07.356759
2018-01-20 04:06:31.615142
2018-01-20 02:37:38.917311
2018-01-20 09:22:40.575237
2018-01-20 05:00:52.200698
2018-01-20 04:31:00.796852
2018-01-20 04:01:39.062521
2018-01-20 03:32:27.063129
2018-01-20 04:45:48.134211
2018-01-20 04:16:11.857562
2018-01-20 03:46:57.564173
2018-01-20 02:47:22.006615
2018-01-20 02:17:54.455851
2018-01-20 09:10:04.145435
2018-01-20 08:39:55.641656
2018-01-20 04:18:43.762188
2018-01-20 03:49:27.616152
2018-01-20 03:20:05.092515
2018-01-20 02:49:48.112413
2018-01-20 09:12:31.850635
2018-01-20 08:42:22.807343
2018-01-20 04:50:55.392656
2018-01-20 03:22:32.040575
2018-01-20 02:52:16.063214
2018-01-20 02:22:46.563648
2018-01-20 09:25:01.436801
2018-01-20 08:55:03.293045
2018-01-20 04:33:35.459152
2018-01-20 03:34:47.762575
2018-01-20 03:04:30.903483
2018-01-20 08:44:47.457753
2018-01-20 04:53:21.435140
2018-01-20 04:23:31.402712
2018-01-20 03:54:12.352490
2018-01-20 02:54:42.757946
2018-01-20 02:25:12.734752
2018-01-20 09:34:49.064039
2018-01-20 09:05:10.946433
2018-01-20 08:34:57.700613
2018-01-20 03:44:33.507622
2018-01-20 03:14:41.556271
2018-01-20 02:44:48.827137
2018-01-20 02:15:22.239525
2018-01-20 09:00:05.106064
2018-01-20 08:29:59.910914
2018-01-20 04:38:16.045006
2018-01-20 03:09:42.618564
2018-01-20 02:39:48.857880
2018-01-20 09:32:18.459094
2018-01-20 04:40:48.299912
2018-01-20 04:11:13.228002
2018-01-20 03:42:02.316656
2018-01-20 03:12:09.635396
2018-01-20 02:12:55.094240
2018-01-20 09:17:41.963598
2018-01-20 08:47:35.238693
2018-01-20 04:26:03.037737
2018-01-20 03:56:42.808831
2018-01-20 03:27:27.702977
2018-01-20 02:57:09.683052
2018-01-20 09:20:08.055037
2018-01-20 08:50:02.066316
2018-01-20 04:58:14.067945
2018-01-20 03:29:54.767644
2018-01-20 02:59:37.326378
2018-01-20 02:30:07.143983
2018-01-20 09:27:35.380103
2018-01-20 08:57:36.794715
2018-01-20 04:36:01.772207
2018-01-20 03:07:21.539587
2018-01-20 02:37:33.352860
2018-01-20 05:00:46.414659
2018-01-20 04:30:55.202662
2018-01-20 04:01:33.363639
2018-01-20 03:32:21.328435
2018-01-20 02:32:40.177173
2018-01-20 09:07:33.259548
2018-01-20 08:37:23.947212
2018-01-20 04:45:42.623356
2018-01-20 04:16:06.709780
2018-01-20 02:47:16.219227
2018-01-20 02:17:48.722516
2018-01-20 09:40:01.013401
2018-01-20 09:09:59.352844
2018-01-20 04:48:14.515300
2018-01-20 04:18:37.182812
2018-01-20 03:49:22.209006
2018-01-20 03:19:59.270350
2018-01-20 09:12:26.323153
2018-01-20 08:42:17.160129
2018-01-20 04:50:49.718437
2018-01-20 03:51:47.043836
2018-01-20 03:22:26.390198
2018-01-20 02:52:10.404794
2018-01-20 02:22:41.059380
2018-01-20 09:24:55.655465
2018-01-20 08:25:07.790308
2018-01-20 04:33:29.909862
2018-01-20 04:03:53.682842
2018-01-20 03:34:42.197009
2018-01-20 09:15:11.264469
2018-01-20 08:44:41.847120
2018-01-20 04:53:15.792031
2018-01-20 02:54:37.163495
2018-01-20 02:25:07.335325
2018-01-20 09:34:43.650340
2018-01-20 09:05:02.634729
2018-01-20 08:34:52.760811
2018-01-20 04:13:39.964755
2018-01-20 03:44:27.955198
2018-01-20 03:14:36.026662
2018-01-20 02:44:43.110020
2018-01-20 09:29:45.587867
2018-01-20 08:59:59.171080
2018-01-20 08:29:54.813695
2018-01-20 03:39:30.115820
2018-01-20 03:09:37.107713
2018-01-20 02:39:43.134369
2018-01-20 08:32:25.769696
2018-01-20 04:40:43.412010
2018-01-20 04:11:07.278049
2018-01-20 03:41:56.554112
2018-01-20 02:42:16.541577
2018-01-20 02:12:49.089290
2018-01-20 09:17:36.161188
2018-01-20 04:55:47.719207
2018-01-20 04:25:57.417032
2018-01-20 03:56:37.301091
2018-01-20 03:27:21.788259
2018-01-20 09:20:02.457978
2018-01-20 08:49:55.984637
2018-01-20 03:59:03.154497
2018-01-20 03:29:49.173327
2018-01-20 02:59:31.560396
2018-01-20 02:30:01.580583
2018-01-20 09:27:29.436552
2018-01-20 08:57:31.302666
2018-01-20 08:27:32.748092
2018-01-20 03:37:14.033324
2018-01-20 03:07:16.136538
2018-01-20 02:37:27.631730
2018-01-20 08:52:34.614734
2018-01-20 05:00:40.965549
2018-01-20 04:30:49.630183
2018-01-20 04:01:27.718487
2018-01-20 03:02:04.395758
2018-01-20 02:32:34.531056
2018-01-20 09:37:10.769979
2018-01-20 09:07:27.793809
2018-01-20 08:37:18.619349
2018-01-20 04:45:36.809197
2018-01-20 03:17:27.215766
2018-01-20 02:47:10.409205
2018-01-20 02:17:43.203695
2018-01-20 09:39:55.140656
2018-01-20 04:48:08.813901
2018-01-20 04:18:31.858295
2018-01-20 03:49:16.546092
2018-01-20 03:19:53.489735
2018-01-20 02:20:15.486482
2018-01-20 09:12:21.052649
2018-01-20 08:42:11.956083
2018-01-20 03:51:41.409100
2018-01-20 03:22:20.908860
2018-01-20 02:52:04.644237
2018-01-20 08:25:02.101831
2018-01-20 04:33:24.407269
2018-01-20 04:03:48.062267
2018-01-20 03:34:36.357839
2018-01-20 02:34:55.051943
2018-01-20 09:15:05.869604
2018-01-20 08:44:36.582314
2018-01-20 04:53:10.227334
2018-01-20 03:24:48.074918
2018-01-20 02:54:31.435566
2018-01-20 02:25:01.449892
2018-01-20 09:34:37.897001
2018-01-20 09:04:57.033473
2018-01-20 04:43:10.816809
2018-01-20 04:13:35.100850
2018-01-20 03:44:22.277849
2018-01-20 03:14:30.156458
2018-01-20 09:29:40.027109
2018-01-20 08:59:53.420029
2018-01-20 08:29:48.715165
2018-01-20 04:08:35.394362
2018-01-20 03:39:24.157057
2018-01-20 03:09:31.901335
2018-01-20 02:39:37.655199
2018-01-20 09:02:31.838797
2018-01-20 08:32:19.888682
2018-01-20 04:40:37.096001
2018-01-20 04:11:01.749674
2018-01-20 02:42:10.689903
2018-01-20 02:12:43.328169
2018-01-20 04:55:42.094898
2018-01-20 04:25:51.901878
2018-01-20 03:56:31.764739
2018-01-20 03:27:16.102553
2018-01-20 02:27:35.378789
2018-01-20 09:19:56.950496
2018-01-20 08:49:50.100809
2018-01-20 04:28:18.555887
2018-01-20 03:58:57.545344
2018-01-20 03:29:43.673280
2018-01-20 02:59:26.633344
2018-01-20 09:27:23.537903
2018-01-20 08:57:25.702488
2018-01-20 04:06:20.731925
2018-01-20 03:37:08.181542
2018-01-20 03:07:10.267097
2018-01-20 02:37:22.258201
2018-01-20 09:22:29.275203
2018-01-20 08:52:28.748054
2018-01-20 05:00:35.162683
2018-01-20 04:30:44.187395
2018-01-20 03:01:58.403828
2018-01-20 02:32:29.174613
2018-01-20 09:37:05.339058
2018-01-20 09:07:22.301633
2018-01-20 03:46:47.201161
2018-01-20 03:17:21.591889
2018-01-20 02:47:04.676606
2018-01-20 02:17:37.708876
2018-01-20 08:39:43.613066
2018-01-20 04:48:03.164551
2018-01-20 04:18:26.093162
2018-01-20 03:49:10.647002
2018-01-20 02:49:37.270872
2018-01-20 02:20:09.519814
2018-01-20 04:50:44.224926
2018-01-20 04:20:51.651248
2018-01-20 03:51:35.969704
2018-01-20 03:22:15.044295
2018-01-20 08:54:51.825223
2018-01-20 08:24:56.513378
2018-01-20 04:33:24.115280
2018-01-20 04:03:42.583541
2018-01-20 03:04:19.466632
2018-01-20 02:34:49.463745
2018-01-20 09:14:59.628437
2018-01-20 08:44:30.779447
2018-01-20 03:54:00.899175
2018-01-20 03:24:42.241581
2018-01-20 02:54:25.632202
2018-01-20 02:24:55.867245
2018-01-20 09:34:32.510001
2018-01-20 04:43:05.204850
2018-01-20 04:13:28.699482
2018-01-20 03:44:16.820693
2018-01-20 03:14:24.406099
2018-01-20 02:15:10.618314
2018-01-20 09:29:36.614145
2018-01-20 08:59:52.939544
2018-01-20 04:38:05.571301
2018-01-20 04:08:29.655749
2018-01-20 03:39:18.726086
2018-01-20 03:09:25.918563
2018-01-20 09:32:07.195355
2018-01-20 09:02:26.251753
2018-01-20 08:32:14.838477
2018-01-20 04:40:31.512314
2018-01-20 03:11:58.198171
2018-01-20 02:42:05.108686
2018-01-20 02:12:37.461877
2018-01-20 08:47:22.939111
2018-01-20 04:55:36.410923
2018-01-20 04:25:46.207360
2018-01-20 03:56:26.155896
2018-01-20 02:56:59.306216
2018-01-20 02:27:29.523094
2018-01-20 09:19:51.215185
2018-01-20 04:58:02.606694
2018-01-20 04:28:12.838682
2018-01-20 03:58:51.971807
2018-01-20 03:29:38.117727
2018-01-20 09:27:19.052581
2018-01-20 08:57:20.109548
2018-01-20 04:35:51.087170
2018-01-20 04:06:14.620307
2018-01-20 03:37:02.413867
2018-01-20 03:07:04.583689
2018-01-20 09:22:23.641641
2018-01-20 08:52:23.234405
2018-01-20 05:00:29.643219
2018-01-20 04:30:38.501723
2018-01-20 03:32:10.527961
2018-01-20 03:01:52.777572
2018-01-20 02:32:23.357339
2018-01-20 09:36:59.640550
2018-01-20 09:07:17.323601
2018-01-20 08:37:07.616041
2018-01-20 04:15:55.073647
2018-01-20 03:46:41.102577
2018-01-20 03:17:15.861476
2018-01-20 02:46:59.605798
2018-01-20 09:09:46.982755
2018-01-20 08:39:37.958994
2018-01-20 04:47:57.565350
2018-01-20 04:18:20.288800
2018-01-20 02:20:03.960176
2018-01-20 04:50:38.652758

2018-01-20 03:34:25.236437
2018-01-20 03:04:08.073258
2018-01-20 02:34:38.204353
2018-01-20 09:14:48.566092
2018-01-20 04:52:58.964193
2018-01-20 04:23:06.165542
2018-01-20 03:53:49.718935
2018-01-20 03:24:31.016890
2018-01-20 09:04:46.233249
2018-01-20 08:34:35.342704
2018-01-20 04:42:53.864004
2018-01-20 04:13:17.557670
2018-01-20 02:44:26.266384
2018-01-20 02:14:59.293370
2018-01-20 08:29:37.837634
2018-01-20 04:37:53.831541
2018-01-20 04:08:18.502268
2018-01-20 03:39:07.929349
2018-01-20 02:39:26.260656
2018-01-20 09:31:56.015369
2018-01-20 09:02:15.403914
2018-01-20 08:32:02.980175
2018-01-20 04:10:50.559910
2018-01-20 03:41:39.296815
2018-01-20 03:11:47.130016
2018-01-20 02:41:53.419789
2018-01-20 09:17:19.946730
2018-01-20 04:55:25.168439
2018-01-20 03:27:05.128994
2018-01-20 02:56:47.282565
2018-01-20 02:27:18.281912
2018-01-20 08:49:38.951544
2018-01-20 04:57:51.682262
2018-01-20 04:28:00.749584
2018-01-20 03:58:40.956960
2018-01-20 02:59:14.595248
2018-01-20 02:29:44.930813
2018-01-20 08:27:15.705739
2018-01-20 04:35:39.486565
2018-01-20 04:06:03.304796
2018-01-20 03:36:51.025491
2018-01-20 09:22:12.264814
2018-01-20 08:52:11.486634
2018-01-20 04:30:32.972026
2018-01-20 04:01:11.259257
2018-01-20 03:31:58.634257
2018-01-20 03:01:41.426078
2018-01-20 09:36:48.285659
2018-01-20 04:45:20.169348
2018-01-20 04:15:43.809714
2018-01-20 03:46:30.142268
2018-01-20 03:17:05.852469
2018-01-20 02:17:26.242398
2018-01-20 09:09:36.281019
2018-01-20 08:39:26.696114
2018-01-20 03:49:00.403009
2018-01-20 03:19:36.787134
2018-01-20 02:49:20.555861
2018-01-20 02:19:53.152472
2018-01-20 09:12:06.096852
2018-01-20 08:41:54.216701
2018-01-20 04:50:27.373902
2018-01-20 04:20:34.887143
2018-01-20 02:22:18.752906
2018-01-20 04:52:53.297513
2018-01-20 04:23:00.933872
2018-01-20 03:53:43.667467
2018-01-20 03:24:25.316709
2018-01-20 02:24:44.770847
2018-01-20 09:34:21.233120
2018-01-20 09:04:40.352638
2018-01-20 08:34:30.044563
2018-01-20 04:42:48.228554
2018-01-20 03:14:13.626911
2018-01-20 02:44:20.486878
2018-01-20 02:14:53.520488
2018-01-20 08:59:23.932933
2018-01-20 08:29:32.162798
2018-01-20 04:37:48.359180
2018-01-20 04:08:12.704209
2018-01-20 02:39:21.023506
2018-01-20 09:31:50.321516
2018-01-20 09:02:09.863835
2018-01-20 04:40:20.485478
2018-01-20 04:10:44.683046
2018-01-20 03:41:33.705396
2018-01-20 03:11:41.068378
2018-01-20 09:17:13.784382
2018-01-20 08:46:51.133342
2018-01-20 03:56:15.030686
2018-01-20 03:26:59.482122
2018-01-20 02:56:41.383966
2018-01-20 02:27:12.491204
2018-01-20 09:19:39.849351
2018-01-20 08:49:32.815590
2018-01-20 04:57:45.888355
2018-01-20 04:27:54.979373
2018-01-20 02:59:08.883121
2018-01-20 02:29:38.954373
2018-01-20 08:27:10.064164
2018-01-20 04:35:33.765660
2018-01-20 04:05:58.051782
2018-01-20 03:06:53.365143
2018-01-20 02:37:05.430341
2018-01-20 09:22:06.657464
2018-01-20 05:00:18.338226
2018-01-20 04:30:27.141721
2018-01-20 04:01:05.536853
2018-01-20 03:31:52.851259
2018-01-20 08:36:55.897366
2018-01-20 04:15:38.211776
2018-01-20 03:46:24.698361
2018-01-20 02:17:20.508918
2018-01-20 09:39:32.445538
2018-01-20 09:09:30.350556
2018-01-20 08:39:21.123937
2018-01-20 04:18:09.135826
2018-01-20 03:48:54.328018
2018-01-20 03:19:31.152999
2018-01-20 02:49:14.598364
2018-01-20 09:11:56.170327
2018-01-20 08:41:49.237234
2018-01-20 04:50:21.609258
2018-01-20 03:21:58.594219
2018-01-20 02:51:42.029023
2018-01-20 02:22:13.233337
2018-01-20 09:24:27.244144
2018-01-20 08:54:29.002160
2018-01-20 04:32:46.947928
2018-01-20 04:03:25.661540
2018-01-20 03:34:14.704613
2018-01-20 09:34:15.310804
2018-01-20 09:04:34.742521
2018-01-20 08:34:24.126153
2018-01-20 03:43:59.540780
2018-01-20 03:14:07.646285
2018-01-20 02:44:14.672459
2018-01-20 02:14:47.949373
2018-01-20 09:29:17.348546
2018-01-20 08:59:16.587790
2018-01-20 08:29:26.441991
2018-01-20 04:37:43.071738
2018-01-20 03:09:09.181984
2018-01-20 02:39:14.797588
2018-01-20 09:31:44.755771
2018-01-20 04:40:15.040852
2018-01-20 04:10:38.983615
2018-01-20 03:41:28.548577
2018-01-20 03:11:35.404757
2018-01-20 02:12:20.460804
2018-01-20 09:17:08.327060
2018-01-20 08:46:45.321985
2018-01-20 04:25:30.040778
2018-01-20 03:56:09.250419
2018-01-20 03:26:53.891435
2018-01-20 02:56:35.736995
2018-01-20 09:19:34.300178
2018-01-20 08:49:27.016365
2018-01-20 04:57:41.293526
2018-01-20 03:29:21.040989
2018-01-20 02:59:03.417899
2018-01-20 02:29:33.203451
2018-01-20 09:27:00.819515
2018-01-20 08:57:03.246032
2018-01-20 08:27:04.548134
2018-01-20 04:35:28.366877
2018-01-20 03:06:47.666482
2018-01-20 02:37:00.325287
2018-01-20 05:00:12.456245
2018-01-20 04:30:21.893760
2018-01-20 04:00:59.997796
2018-01-20 03:31:47.452593
2018-01-20 02:32:06.477431
2018-01-20 09:07:00.094181
2018-01-20 08:36:50.328806
2018-01-20 04:45:08.694136
2018-01-20 02:46:42.203347
2018-01-20 02:17:15.000439
2018-01-20 09:09:24.822353
2018-01-20 04:47:40.664839
2018-01-20 04:18:03.622688
2018-01-20 03:19:25.806628
2018-01-20 09:11:51.064048
2018-01-20 08:41:43.201760
2018-01-20 03:51:13.554967
2018-01-20 03:21:52.248181
2018-01-20 02:51:36.425917
2018-01-20 02:22:07.458368
2018-01-20 09:24:21.770388
2018-01-20 08:24:33.955445
2018-01-20 04:32:41.514453
2018-01-20 04:03:20.121598
2018-01-20 03:34:08.755808
2018-01-20 09:14:37.539512
2018-01-20 08:44:09.812063
2018-01-20 04:52:42.201902
2018-01-20 04:22:49.406101
2018-01-20 02:54:03.175538
2018-01-20 02:24:33.362338
2018-01-20 09:34:09.865104
2018-01-20 09:04:29.104576
2018-01-20 08:34:18.679902
2018-01-20 04:13:06.317718
2018-01-20 03:43:54.039822
2018-01-20 03:14:01.934586
2018-01-20 02:44:08.987478
2018-01-20 09:29:11.842618
2018-01-20 08:59:11.426556
2018-01-20 08:29:20.928482
2018-01-20 03:38:56.265959
2018-01-20 03:09:03.299069
2018-01-20 02:39:09.037668
2018-01-20 08:31:51.701933
2018-01-20 04:40:09.233610
2018-01-20 04:10:33.533162
2018-01-20 03:41:22.284392
2018-01-20 02:41:42.849773
2018-01-20 02:12:14.957755
2018-01-20 09:17:02.714774
2018-01-20 04:55:14.091482
2018-01-20 04:25:23.302293
2018-01-20 03:56:03.710611
2018-01-20 03:26:48.045791
2018-01-20 09:19:28.706886
2018-01-20 08:49:21.084437
2018-01-20 03:58:29.274719
2018-01-20 03:29:15.376252
2018-01-20 02:58:57.418785
2018-01-20 02:29:27.436071
2018-01-20 09:26:54.825395
2018-01-20 08:56:57.450136
2018-01-20 08:26:59.210945
2018-01-20 03:36:39.725178
2018-01-20 03:06:41.957636
2018-01-20 02:36:54.184942
2018-01-20 08:52:00.494463
2018-01-20 05:00:06.624539
2018-01-20 04:30:16.089159
2018-01-20 04:00:54.369593
2018-01-20 03:01:30.199009
2018-01-20 02:32:00.781873
2018-01-20 09:36:37.308770
2018-01-20 09:06:54.563999
2018-01-20 08:36:44.969290
2018-01-20 04:45:03.998528
2018-01-20 03:16:53.135277
2018-01-20 02:46:36.949861
2018-01-20 02:17:09.169790
2018-01-20 09:39:21.310683
2018-01-20 04:47:34.974840
2018-01-20 03:48:43.233530
2018-01-20 03:19:19.687009
2018-01-20 02:19:42.315124
2018-01-20 09:11:44.993617
2018-01-20 08:41:37.811049
2018-01-20 04:20:23.669617
2018-01-20 03:51:08.099194
2018-01-20 03:21:46.503329
2018-01-20 02:51:30.931750
2018-01-20 08:24:28.528992
2018-01-20 04:32:35.744382
2018-01-20 04:03:14.873049
2018-01-20 03:34:02.572092
2018-01-20 02:34:21.681145
2018-01-20 09:14:31.457791
2018-01-20 08:44:02.668897
2018-01-20 04:52:36.815243
2018-01-20 03:24:14.530049
2018-01-20 02:53:57.487961
2018-01-20 02:24:27.623526
2018-01-20 09:34:04.250596
2018-01-20 04:42:36.962023
2018-01-20 04:13:00.598840
2018-01-20 03:43:48.803444
2018-01-20 03:13:56.722402
2018-01-20 09:29:06.159844
2018-01-20 08:59:05.464614
2018-01-20 08:29:15.417952
2018-01-20 04:08:01.601208
2018-01-20 03:08:57.701931
2018-01-20 02:39:03.703482
2018-01-20 09:01:58.819932
2018-01-20 08:31:46.164407
2018-01-20 04:40:03.669550
2018-01-20 04:10:27.808956
2018-01-20 02:41:36.489574
2018-01-20 02:11:25.080355
2018-01-20 04:55:08.642026
2018-01-20 04:25:17.747384
2018-01-20 03:55:58.381002
2018-01-20 03:26:42.437909
2018-01-20 02:27:01.170861
2018-01-20 09:19:23.099118
2018-01-20 08:49:15.677552
2018-01-20 04:27:44.073555
2018-01-20 03:58:23.698300
2018-01-20 03:29:09.856115
2018-01-20 02:58:51.857669
2018-01-20 09:26:49.192827
2018-01-20 08:56:51.634833
2018-01-20 03:36:34.087609
2018-01-20 03:06:36.191197
2018-01-20 02:36:48.341672
2018-01-20 09:21:55.728085
2018-01-20 08:51:54.746146
2018-01-20 05:00:01.220775
2018-01-20 04:30:10.214020
2018-01-20 03:01:24.882391
2018-01-20 02:31:55.081935
2018-01-20 09:36:31.229340
2018-01-20 08:36:39.292339
2018-01-20 03:46:13.408320
2018-01-20 03:16:47.440890
2018-01-20 02:46:30.736588
2018-01-20 02:17:03.484843
2018-01-20 08:39:10.284669
2018-01-20 04:47:29.296387
2018-01-20 04:17:52.559773
2018-01-20 03:48:37.598650
2018-01-20 02:49:03.057274
2018-01-20 02:19:35.642419
2018-01-20 09:11:39.260932
2018-01-20 04:50:10.299261
2018-01-20 04:20:18.203410
2018-01-20 03:51:03.004291
2018-01-20 08:54:18.116878
2018-01-20 08:24:22.639634
2018-01-20 04:32:30.443574
2018-01-20 03:03:45.949461
2018-01-20 02:34:15.994239
2018-01-20 09:14:25.959485
2018-01-20 08:43:56.725087
2018-01-20 03:53:27.247479
2018-01-20 03:24:08.350428
2018-01-20 02:53:52.098929
2018-01-20 02:24:22.168778
2018-01-20 09:33:59.419786
2018-01-20 04:42:31.189160
2018-01-20 04:12:55.067084
2018-01-20 03:43:42.795881
2018-01-20 03:13:50.780379
2018-01-20 02:14:37.070127
2018-01-20 09:29:00.711631
2018-01-20 08:58:59.950325
2018-01-20 04:37:31.444043
2018-01-20 04:07:56.017461
2018-01-20 03:38:45.236959
2018-01-20 03:08:52.084235
2018-01-20 09:31:33.612092
2018-01-20 09:01:53.348809
2018-01-20 08:31:40.424160
2018-01-20 04:39:58.001322
2018-01-20 03:11:24.154281
2018-01-20 02:41:30.841121
2018-01-20 02:11:19.269851
2018-01-20 08:46:35.024831
2018-01-20 04:55:03.199193
2018-01-20 04:25:12.149709
2018-01-20 03:55:52.695936
2018-01-20 02:56:24.542491
2018-01-20 02:26:55.437712
2018-01-20 09:19:17.583494
2018-01-20 04:57:29.276028
2018-01-20 04:27:38.567181
2018-01-20 03:58:18.082178
2018-01-20 03:29:04.011611
2018-01-20 09:26:43.723036
2018-01-20 08:56:45.813737
2018-01-20 04:35:17.000185
2018-01-20 04:05:40.705386
2018-01-20 03:36:29.035718
2018-01-20 03:06:30.547909
2018-01-20 09:21:50.111968
2018-01-20 08:51:48.890885
2018-01-20 04:59:55.376842
2018-01-20 03:31:35.989127
2018-01-20 03:01:19.282950
2018-01-20 02:31:49.399865
2018-01-20 09:36:26.559325
2018-01-20 09:06:43.188432
2018-01-20 08:36:33.768983
2018-01-20 04:15:21.283051
2018-01-20 03:46:07.692660
2018-01-20 03:16:41.611149
2018-01-20 02:46:25.136969
2018-01-20 09:09:13.827490
2018-01-20 08:39:04.485350
2018-01-20 04:47:23.681108
2018-01-20 04:17:47.644524
2018-01-20 02:48:57.595699
2018-01-20 02:19:29.950893
2018-01-20 04:50:04.992884
2018-01-20 04:20:12.394890
2018-01-20 03:50:57.037556
2018-01-20 03:21:35.870543
2018-01-20 02:21:56.227418
2018-01-20 09:24:10.730436
2018-01-20 08:54:12.913924
2018-01-20 08:24:17.022249
2018-01-20 02:34:10.311440
2018-01-20 09:14:20.892853
2018-01-20 08:43:51.234780
2018-01-20 04:22:38.175373
2018-01-20 03:53:21.743021
2018-01-20 03:24:03.126687
2018-01-20 02:53:46.684516
2018-01-20 08:34:07.744651
2018-01-20 04:42:26.062238
2018-01-20 04:12:49.284714
2018-01-20 03:43:37.062942
2018-01-20 02:43:57.872285
2018-01-20 02:14:31.039349
2018-01-20 09:28:55.146958
2018-01-20 04:37:25.985656
2018-01-20 04:07:50.534174
2018-01-20 03:38:39.705542
2018-01-20 03:08:46.681503
2018-01-20 09:31:27.809022
2018-01-20 09:01:49.113187
2018-01-20 08:31:34.662603
2018-01-20 03:41:11.330051
2018-01-20 03:11:18.669646
2018-01-20 02:41:25.097341
2018-01-20 02:11:13.349258
2018-01-20 09:16:51.825514
2018-01-20 08:46:28.893198
2018-01-20 04:54:57.196373
2018-01-20 04:25:06.776592
2018-01-20 02:56:18.799031
2018-01-20 02:26:49.596300
2018-01-20 04:57:23.670717
2018-01-20 04:27:33.185712
2018-01-20 03:58:12.339299
2018-01-20 03:28:58.378425
2018-01-20 02:29:16.673984
2018-01-20 09:26:40.091284
2018-01-20 08:26:47.801160
2018-01-20 04:35:11.319621
2018-01-20 04:05:35.559479
2018-01-20 03:36:22.773050
2018-01-20 09:21:44.330498
2018-01-20 08:51:43.116234
2018-01-20 04:00:43.150093
2018-01-20 03:31:30.541417
2018-01-20 03:01:13.652290
2018-01-20 02:31:43.860636
2018-01-20 09:36:19.945467
2018-01-20 09:06:37.806496
2018-01-20 04:44:51.960407
2018-01-20 04:15:15.548347
2018-01-20 03:46:02.239895
2018-01-20 03:16:36.355078
2018-01-20 09:09:08.215581
2018-01-20 08:38:58.744875
2018-01-20 04:47:18.327259
2018-01-20 03:19:08.455609
2018-01-20 02:48:52.186587
2018-01-20 02:19:24.150387
2018-01-20 08:41:26.319080
2018-01-20 04:20:06.879184
2018-01-20 03:50:51.526304
2018-01-20 02:51:19.335825
2018-01-20 02:21:50.639209
2018-01-20 09:24:04.765321
2018-01-20 08:54:06.448974
2018-01-20 08:24:10.951808
2018-01-20 08:23:10.519249
2018-01-20 03:33:51.678368
2018-01-20 03:03:34.888929
2018-01-20 02:34:04.467082
2018-01-20 04:22:32.671877
2018-01-20 03:53:16.085891
2018-01-20 03:23:56.889315
2018-01-20 09:04:12.378141
2018-01-20 08:34:02.756460
2018-01-20 04:42:20.200971
2018-01-20 04:12:43.468177
2018-01-20 02:43:52.124589
2018-01-20 02:14:25.339736
2018-01-20 04:37:20.278093
2018-01-20 04:07:44.825917
2018-01-20 03:38:34.189451
2018-01-20 02:38:52.492077
2018-01-20 09:31:21.883511
2018-01-20 08:31:29.181922
2018-01-20 04:10:16.603792
2018-01-20 03:41:05.940874
2018-01-20 03:11:12.672950
2018-01-20 02:41:19.488113
2018-01-20 09:16:46.058317
2018-01-20 08:46:23.648397
2018-01-20 04:54:51.785976
2018-01-20 03:26:31.115509
2018-01-20 02:56:13.226948
2018-01-20 02:26:43.970718
2018-01-20 08:49:04.488147
2018-01-20 04:57:18.187044
2018-01-20 04:27:27.171528
2018-01-20 03:58:06.799247
2018-01-20 02:58:40.611989
2018-01-20 08:26:42.305138
2018-01-20 04:35:05.562255
2018-01-20 04:05:29.400604
2018-01-20 03:36:17.367282
2018-01-20 02:36:37.170125
2018-01-20 09:21:38.476165
2018-01-20 08:51:37.176040
2018-01-20 04:29:59.166181
2018-01-20 04:00:37.610927
2018-01-20 03:31:25.071781
2018-01-20 03:01:07.878248
2018-01-20 09:36:14.372951
2018-01-20 04:44:46.294169
2018-01-20 04:15:09.963519
2018-01-20 03:45:56.771596
2018-01-20 03:16:30.341336
2018-01-20 02:16:52.315328
2018-01-20 09:38:49.429433
2018-01-20 09:09:02.720695
2018-01-20 08:38:53.288119
2018-01-20 03:48:26.541847
2018-01-20 03:19:03.656593
2018-01-20 02:48:46.416744
2018-01-20 09:11:28.339268
2018-01-20 08:41:20.997522
2018-01-20 04:49:53.672637
2018-01-20 04:20:01.606639
2018-01-20 02:51:13.610822
2018-01-20 02:21:46.525553
2018-01-20 09:23:59.592951
2018-01-20 08:54:00.689806
2018-01-20 04:02:58.029223
2018-01-20 03:33:45.772886
2018-01-20 03:03:29.186965
2018-01-20 02:33:58.653342
2018-01-20 04:52:19.789769
2018-01-20 04:22:26.977616
2018-01-20 03:53:10.655385
2018-01-20 03:23:51.208288
2018-01-20 02:24:10.871152
2018-01-20 09:33:47.565584
2018-01-20 09:04:06.712365
2018-01-20 08:33:55.843030
2018-01-20 04:42:14.565636
2018-01-20 03:13:39.390602
2018-01-20 02:43:46.499087
2018-01-20 02:14:19.504441
2018-01-20 08:58:49.008515
2018-01-20 08:28:59.217654
2018-01-20 04:37:14.747158
2018-01-20 04:07:39.194383
2018-01-20 02:38:46.979288
2018-01-20 09:31:16.215647
2018-01-20 09:01:36.708971
2018-01-20 04:39:46.921818
2018-01-20 04:10:11.136535
2018-01-20 03:41:00.052707
2018-01-20 03:11:06.977552
2018-01-20 09:16:40.405020
2018-01-20 08:46:17.401779
2018-01-20 03:55:41.317567
2018-01-20 03:26:25.345444
2018-01-20 02:56:07.128472
2018-01-20 02:26:38.738774
2018-01-20 09:19:06.365360
2018-01-20 08:48:58.651667
2018-01-20 04:57:12.401005
2018-01-20 04:27:22.695191
2018-01-20 02:58:35.112698
2018-01-20 02:29:05.026014
2018-01-20 08:56:34.460639
2018-01-20 08:26:36.773581
2018-01-20 04:35:00.287389
2018-01-20 04:05:23.646555
2018-01-20 03:06:19.853551
2018-01-20 02:36:31.493793
2018-01-20 09:21:33.045549
2018-01-20 04:59:44.677248
2018-01-20 04:29:53.273321
2018-01-20 04:00:32.748103
2018-01-20 03:31:19.144508
2018-01-20 08:36:22.796458
2018-01-20 04:44:40.999914
2018-01-20 04:15:04.052243
2018-01-20 03:45:51.103493
2018-01-20 02:46:13.834239
2018-01-20 02:16:46.601054
2018-01-20 09:38:43.946505
2018-01-20 09:08:57.413620
2018-01-20 08:38:48.096363
2018-01-20 04:17:35.827043
2018-01-20 03:48:21.063024
2018-01-20 03:18:57.342424
2018-01-20 02:48:40.458384
2018-01-20 09:11:22.643044
2018-01-20 08:41:15.208298
2018-01-20 04:49:48.193640
2018-01-20 03:21:24.065829
2018-01-20 02:51:07.980258
2018-01-20 02:21:39.646350
2018-01-20 09:23:53.761433
2018-01-20 04:32:13.570985
2018-01-20 04:02:52.259098
2018-01-20 03:33:40.321769
2018-01-20 03:03:23.604867
2018-01-20 08:43:40.210530
2018-01-20 04:52:14.186832
2018-01-20 04:22:21.857183
2018-01-20 03:53:05.289961
2018-01-20 02:53:35.278139
2018-01-20 02:24:05.313407
2018-01-20 09:33:41.856566
2018-01-20 09:04:00.979149
2018-01-20 08:33:49.679047
2018-01-20 03:43:26.062245
2018-01-20 03:13:33.757277
2018-01-20 02:43:41.063149
2018-01-20 02:14:14.430501
2018-01-20 09:28:43.773875
2018-01-20 08:58:43.390727
2018-01-20 08:28:53.523281
2018-01-20 04:37:08.812882
2018-01-20 03:08:35.013386
2018-01-20 02:38:41.178953
2018-01-20 09:31:10.416192
2018-01-20 04:39:41.060890
2018-01-20 04:10:05.300799
2018-01-20 03:40:54.392728
2018-01-20 03:11:01.707587
2018-01-20 09:16:34.886031
2018-01-20 08:46:12.084592
2018-01-20 04:24:55.507592
2018-01-20 03:55:35.695064
2018-01-20 03:26:19.567917
2018-01-20 02:56:01.412333
2018-01-20 09:19:00.595865
2018-01-20 08:48:52.992045
2018-01-20 04:57:07.087210
2018-01-20 03:28:47.749756
2018-01-20 02:58:29.520858
2018-01-20 02:28:59.570734
2018-01-20 09:26:25.732060
2018-01-20 08:56:28.646300
2018-01-20 08:26:31.190959
2018-01-20 04:34:54.407361
2018-01-20 04:05:18.056507
2018-01-20 03:06:13.750180
2018-01-20 02:36:25.798863
2018-01-20 04:59:38.612845
2018-01-20 04:29:47.584378
2018-01-20 04:00:26.691173
2018-01-20 03:31:13.728037
2018-01-20 02:31:32.530143
2018-01-20 09:06:26.699647
2018-01-20 08:36:16.771864
2018-01-20 04:44:35.132561
2018-01-20 04:14:58.618549
2018-01-20 02:46:08.113087
2018-01-20 02:16:41.107605
2018-01-20 09:38:37.928530
2018-01-20 09:08:51.665893
2018-01-20 04:47:06.616525
2018-01-20 04:17:30.246328
2018-01-20 03:48:15.740966
2018-01-20 09:11:17.145401
2018-01-20 08:41:09.559127
2018-01-20 03:50:40.619180
2018-01-20 03:21:18.982161
2018-01-20 02:51:02.248044
2018-01-20 02:21:34.066528
2018-01-20 09:23:48.200383
2018-01-20 05:04:18.209904
2018-01-20 04:32:07.900088
2018-01-20 04:02:46.816631
2018-01-20 03:33:34.808844
2018-01-20 09:13:50.431928
2018-01-20 08:43:34.577700
2018-01-20 04:52:08.671665
2018-01-20 04:22:16.281546
2018-01-20 02:53:29.500850
2018-01-20 02:23:59.654155
2018-01-20 09:33:36.327230
2018-01-20 09:03:55.614493
2018-01-20 08:33:44.821938
2018-01-20 04:12:32.073153
2018-01-20 03:43:20.544913
2018-01-20 03:13:28.123044
2018-01-20 02:43:35.210572
2018-01-20 09:28:38.360935
2018-01-20 08:58:37.852401
2018-01-20 08:28:47.222990
2018-01-20 03:38:23.380807
2018-01-20 03:08:29.268002
2018-01-20 02:38:35.695682
2018-01-20 08:31:18.142166
2018-01-20 04:39:35.350095
2018-01-20 04:09:59.901261
2018-01-20 03:40:48.638757
2018-01-20 02:41:08.103454
2018-01-20 09:16:29.217605
2018-01-20 04:54:40.799131
2018-01-20 04:24:49.609069
2018-01-20 03:55:30.324102
2018-01-20 03:26:14.017579
2018-01-20 09:18:54.883213
2018-01-20 08:48:47.199722
2018-01-20 03:57:56.087846
2018-01-20 03:28:41.700784
2018-01-20 02:58:23.678585
2018-01-20 02:28:55.477056
2018-01-20 09:26:20.792122
2018-01-20 08:56:23.073166
2018-01-20 08:26:25.561102
2018-01-20 03:36:06.571255
2018-01-20 03:06:08.116416
2018-01-20 02:36:20.175042
2018-01-20 08:51:25.849808
2018-01-20 04:59:33.060661
2018-01-20 04:29:41.741417
2018-01-20 04:00:20.874766
2018-01-20 03:00:56.769093
2018-01-20 02:31:26.807193
2018-01-20 09:36:02.894618
2018-01-20 09:06:21.097293
2018-01-20 08:36:10.724645
2018-01-20 04:44:29.225284
2018-01-20 03:16:19.395680
2018-01-20 02:46:02.438688
2018-01-20 02:16:35.271250
2018-01-20 09:38:32.502234
2018-01-20 04:47:01.537403
2018-01-20 04:17:24.897606
2018-01-20 03:48:09.792277
2018-01-20 03:18:45.961679
2018-01-20 02:19:08.299913
2018-01-20 09:11:11.391548
2018-01-20 08:41:04.032493
2018-01-20 04:19:49.679271
2018-01-20 03:50:34.686215
2018-01-20 03:21:12.770966

2018-01-20 02:48:07.069188
2018-01-20 09:10:49.063708
2018-01-20 08:40:41.581394
2018-01-20 04:48:59.432185
2018-01-20 03:20:50.477775
2018-01-20 02:50:33.683290
2018-01-20 02:21:05.954241
2018-01-20 09:23:20.192748
2018-01-20 08:53:20.714011
2018-01-20 04:31:39.838836
2018-01-20 04:02:18.652033
2018-01-20 03:33:06.784129
2018-01-20 03:02:49.467717
2018-01-20 08:43:07.375509
2018-01-20 04:51:40.235928
2018-01-20 04:21:47.765083
2018-01-20 02:53:02.390317
2018-01-20 02:23:31.564376
2018-01-20 09:33:08.486652
2018-01-20 09:03:27.397370
2018-01-20 08:33:16.139384
2018-01-20 03:42:52.620653
2018-01-20 03:13:00.045971
2018-01-20 02:43:07.086852
2018-01-20 02:13:40.306199
2018-01-20 08:28:18.735163
2018-01-20 03:08:00.960055
2018-01-20 09:30:38.261862
2018-01-20 04:39:07.334444
2018-01-20 04:09:31.650722
2018-01-20 03:40:20.573129
2018-01-20 03:10:27.959297
2018-01-20 09:16:01.560885
2018-01-20 08:45:36.960274
2018-01-20 04:24:21.756553
2018-01-20 03:25:45.446982
2018-01-20 02:55:27.714878
2018-01-20 09:18:26.308584
2018-01-20 08:48:18.941828
2018-01-20 04:56:32.694359
2018-01-20 03:28:13.037817
2018-01-20 02:57:55.206183
2018-01-20 02:28:25.922507
2018-01-20 09:25:52.189976
2018-01-20 08:55:54.434819
2018-01-20 08:25:57.801835
2018-01-20 03:05:39.921851
2018-01-20 02:35:51.559757
2018-01-20 04:59:04.555631
2018-01-20 04:29:13.749147
2018-01-20 03:59:53.204229
2018-01-20 03:30:40.586633
2018-01-20 02:30:58.441897
2018-01-20 09:05:53.214511
2018-01-20 08:35:42.501332
2018-01-20 04:44:01.167928
2018-01-20 04:14:25.079233
2018-01-20 02:45:34.490573
2018-01-20 02:16:06.739947
2018-01-20 09:38:01.367971
2018-01-20 09:08:18.210633
2018-01-20 04:46:33.084352
2018-01-20 04:16:56.648341
2018-01-20 03:47:42.220825
2018-01-20 03:18:17.605923
2018-01-20 09:10:43.267237
2018-01-20 08:40:35.313900
2018-01-20 03:50:07.108545
2018-01-20 03:20:44.715824
2018-01-20 02:50:28.071063
2018-01-20 02:21:00.243610
2018-01-20 09:23:15.128954
2018-01-20 05:01:25.688523
2018-01-20 04:31:34.709562
2018-01-20 04:02:12.656172
2018-01-20 03:33:01.376556
2018-01-20 09:13:12.017697
2018-01-20 08:43:01.386363
2018-01-20 04:51:34.773179
2018-01-20 04:21:42.120111
2018-01-20 02:52:55.790306
2018-01-20 02:23:25.739034
2018-01-20 09:33:03.271778
2018-01-20 09:03:21.752288
2018-01-20 08:33:10.247699
2018-01-20 04:11:58.548908
2018-01-20 03:42:47.184820
2018-01-20 03:12:54.820007
2018-01-20 02:43:01.336335
2018-01-20 08:30:44.400494
2018-01-20 04:39:01.418064
2018-01-20 04:09:25.883451
2018-01-20 03:40:14.819981
2018-01-20 02:40:34.662736
2018-01-20 09:15:56.151094
2018-01-20 04:54:06.920863
2018-01-20 04:24:16.197667
2018-01-20 03:54:57.127901
2018-01-20 03:25:39.427893
2018-01-20 09:18:20.841806
2018-01-20 03:57:22.314327
2018-01-20 03:28:07.243170
2018-01-20 02:57:49.513334
2018-01-20 02:28:20.320354
2018-01-20 09:25:46.591138
2018-01-20 08:55:48.697864
2018-01-20 08:25:52.356606
2018-01-20 03:35:32.364220
2018-01-20 03:05:34.383552
2018-01-20 02:35:45.904769
2018-01-20 08:50:51.501691
2018-01-20 04:58:58.820932
2018-01-20 04:29:08.220191
2018-01-20 03:59:47.705656
2018-01-20 03:00:23.125163
2018-01-20 02:30:52.670312
2018-01-20 09:35:29.744487
2018-01-20 09:05:47.640626
2018-01-20 08:35:36.830086
2018-01-20 04:43:55.769517
2018-01-20 03:15:45.487267
2018-01-20 02:45:28.732155
2018-01-20 02:16:01.012273
2018-01-20 09:37:56.169493
2018-01-20 04:46:27.242906
2018-01-20 04:16:51.041959
2018-01-20 03:47:36.637926
2018-01-20 03:18:12.215313
2018-01-20 02:18:33.708280
2018-01-20 09:10:37.626724
2018-01-20 08:40:28.586810
2018-01-20 04:19:16.641045
2018-01-20 03:50:01.192695
2018-01-20 03:20:39.050648
2018-01-20 02:50:22.349526
2018-01-20 09:13:06.127047
2018-01-20 04:51:29.288188
2018-01-20 03:23:06.194274
2018-01-20 02:52:50.115130
2018-01-20 02:23:20.449627
2018-01-20 09:32:57.432258
2018-01-20 09:03:16.862131
2018-01-20 04:41:29.496349
2018-01-20 04:11:52.676700
2018-01-20 03:42:41.689247
2018-01-20 03:12:48.856066
2018-01-20 09:00:51.506676
2018-01-20 08:30:39.097209
2018-01-20 04:38:55.749964
2018-01-20 04:09:20.297803
2018-01-20 02:40:28.591627
2018-01-20 04:54:01.110797
2018-01-20 04:24:10.448443
2018-01-20 03:54:51.528424
2018-01-20 03:25:33.677914
2018-01-20 02:25:52.656071
2018-01-20 09:25:41.076335
2018-01-20 08:55:42.867694
2018-01-20 04:04:38.614604
2018-01-20 03:35:27.828671
2018-01-20 03:05:10.509636
2018-01-20 02:35:40.322578
2018-01-20 09:20:46.917200
2018-01-20 08:50:45.584964
2018-01-20 04:58:53.073452
2018-01-20 04:29:02.349907
2018-01-20 03:00:17.194651
2018-01-20 02:30:47.907747
2018-01-20 08:38:03.155231
2018-01-20 04:46:21.820783
2018-01-20 04:16:45.579866
2018-01-20 03:47:31.134852
2018-01-20 02:18:28.345151