In [8]:
folder='D:/AI-ML/census/2817-Guntur/'
import os
import pandas as pd
dirlist=os.listdir(folder)

In [15]:
for file in dirlist:
    mydata= pd.read_excel(folder+file)
    break
#     print(file)

In [17]:
mydata.head(4)

,Appendix IA - village directory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Villages by number of primary schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,District: Guntur (548),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sr.No.,Name of C.D.Block,Total number of inhabited villages,Number of primary schools,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,None,One,Two,Three,Four +